[2018-12-26 02:26] hannesmcman commented on #3348
If we can find a fix that doesn't involve disabling sticky section headers I would prefer that as well..

[2018-12-26 02:32] hannesmcman commented on #3342
In addition to this, now that we are caching data I think we should always let the user know if the data that they are seeing is out-of-date...this could take shape as a small banner at the top or bottom of the screen that is red when the network connection is disconnected and becomes green and disappears when it reconnects (like Spotify's). Thoughts? @hawkrives @drewvolz @rye

[2018-12-26 02:42] rye commented on #3348
If we are to meet our release goal of January 1, I don't think there's any other way to fix this, since what we're seeing seems to be an internal issue with RN. (See upstream issues that Drew linked.)

N.b. a fix PR is up at facebook/react-native#22025 but given that PR has seen no review or anything from the upstreamers for the last 30 days, (classic) I'm willing to bet that it's probably not goi

[2018-12-26 02:51] rye commented on #3342
I like the idea of presenting a small alert that disappears automatically? Red is a good color.

[2018-12-26 03:04] hannesmcman commented on #3342
I'll make a separate issue for this..

[2018-12-26 03:07] hannesmcman opened #3356 "Add persistent notice to menu views when data update failed"
Now that we are caching data, we should let the user know when the data that they are viewing is out-of-date. This would be easy to do if we add a "network connection is offline" banner of some type to relevant views when the data was unable to update. Possible inspiration below:

Spotify | Slack
-- | --
![img_2300](https://user-images.githubusercontent.com/24640726/50430348-60462280-0891-11e9-8f6

[2018-12-26 03:36] drewvolz commented on #3348
What’re the risks of testing that patch ourselves and applying it to our repo? Do we feel like going with disabling sticky headers, testing the upstream patch, or something else?

[2018-12-26 04:09] drewvolz commented on #3348
I have two PRs out now:

- #3357 which applies the upstream patch @rye found within RN #22025
- #3353 which disables sticky headers for Menus and Course Search until further notice

I'm in favor of #3357 instead of #3353. After running it myself, it appears to fix what we were seeing.

[2018-12-26 05:20] hawkrives commented on #3356
I'm in favor of just doing the simple thing, which is show an Alert when the request fails due to network issues (which is what Mail &c on iOS do.)

[2018-12-26 05:20] hawkrives commented on #3342
I do not like that.

[2018-12-26 05:22] hawkrives commented on #3342
Network connectivity only matters when a request is being made.

When you're just looking at building hours, there's no reason to say "oh you're offline, oh you're back online, oh you're offline"

Messenger / Telegram / Spotify are less "transactional" and/or have a concept of presence, so it's valuable for them.

I do not like such an indicator for us, where we pretty much make one network reques

[2018-12-26 17:43] hannesmcman commented on #3342
The only problem that I have with just showing a dismissible alert is that the user will still see data when they dismiss it, so they might think that the alert was a bug and the data actually updated when in fact the data is out-of-date. Adding a banner of some type that disappears when the connection is online and the data has been updated would remind them that the data they’re looking at might

[2018-12-26 18:24] hawkrives commented on #3342
I would argue that the same is true for cached data; just because your request failed doesn't mean the data is useless now.

It's like if you archived a bunch of emails on your desktop and then looked at your phone offline - they're still there because the network failed.

I just don't like UIs that randomly slide new colored bars in and out while I'm using them.

I'd be more OK with something lik

[2018-12-26 19:49] drewvolz commented on #3348
Closed by #3357

[2018-12-26 19:49] #3348 closed, assigned to nobody

[2018-12-27 17:40] hawkrives commented on #3242
Closing this as the thing isn't public, so we'd have to figure out how to run our own instance.

[2018-12-27 17:40] #3242 closed, assigned to nobody

[2018-12-27 17:55] hawkrives commented on #3198
(I'm going to mark this as accepted.)

[2018-12-27 18:05] rye opened #3364 "Get rid of status/ labels?"
This is why we have things like Projects. I'd kinda like to revisit them, but at the same time, I don't think they're necessary.

Rather, I'd like to rename some of them.

I specifically want to delete:
- `status/in-progress`

[2018-12-27 18:12] rye opened #3365 "Re-design label structure?"
After looking around at a lot of projects, I've started seeing patterns:

- [kubernetes/kubernetes](/kubernetes/kubernetes) does the same thing we do. But they also have color coding for each label base, and _every_ label (excepting GitHub's labels and words like `accepted`) is nested in some structure.
  - [Moby](/moby/moby) does too.
- [facebook/react-native](/facebook/react-native) uses emoji.

[2018-12-27 18:19] hawkrives commented on #3364
I can't see project assignment from the PR overview screen, though.

Although we tend to just re-title with `[WIP]` in the title, which is enough for me.

I'm fine with removing `status/in-progress`, I suppose.

[2018-12-27 18:19] hawkrives commented on #3365
sure

[2018-12-27 18:21] rye commented on #3365
Here is what we have now, for the record:

- `RFC`, #1d76db
- `bug/accessibility`, #c2e0c6
- `bug/data`, #4534c9
- `bug/general`, #d93f0b
- `bug/layout`, #fef2c0
- `bug/notifications`, #d66524
- `bugsnag`, #ededed
- `ccc-server`, #92f44b
- `component/analytics`, #d4c5f9
- `component/filter`, #006b75
- `component/markdown`, #ba0371
- `component/nav-buttons`, #c2e0c6
- `data/bonapp`, #006b75
- `data

[2018-12-27 18:32] rye commented on #3365
Here's a basic overview of what I'd be proposing:

- [ ] Rename prefixes that don't make sense (`status/` can get removed from a lot of the `status/` labels, since "status" describes "state", and every issue has state)
- [ ] Add descriptions for each (and every) label.
- [x] Delete duplicate labels (`status/in-progress`, see #3364.)
- [ ] Add new labels to expand granularity.
- [ ] Unify colors of

[2018-12-27 18:33] rye commented on #3365
See also [rust-lang/rust](/rust-lang/rust) which does `A-` for area, `T-` for team, etc.

[2018-12-27 18:46] rye commented on #3364
I like the use of `[WIP]`.

I'd be fine with turning `status/in-progress` into `WIP` instead.

[2018-12-27 19:14] hawkrives commented on #3364
Sure, I'd be fine with that too.

[2018-12-27 19:37] #3198 closed, assigned to rye

[2018-12-27 19:39] rye commented on #3364
Done.

[2018-12-27 19:39] #3364 closed, assigned to nobody

[2018-12-28 16:26] drewvolz opened #3369 "Fix rendering of fill-columns on privacy policy"
The privacy policy is rendering with sudden newlines. I think this is due to the fill-columns.

<details>
<summary>📸Screenshot</summary>

![a1cc3716-7cb8-455d-acc0-1b5f6cd5b243](https://user-images.githubusercontent.com/5240843/50521811-be872700-0a84-11e9-8702-980bbe80078f.png)

<img src="https://user-images.githubusercontent.com/5240843/50521812-be872700-0a84-11e9-9e6c-7fb3ae4d5464.png" width=380

[2018-12-28 17:11] hawkrives commented on #3369
What is fill-columns

[2018-12-28 17:12] hawkrives commented on #3369
I agree that it seems like our markdown view preserves line breaks in the content, in which case we should go remove them all.

[2018-12-28 17:22] rye commented on #3369
…That's papering over the issue like we did with #3362.

I think our primary issue is lying within the `markdown` module, in how it invokes `ReactMarkdown`: https://github.com/StoDevX/AAO-React-Native/blob/57587ffbb48981f87eb304bf418367195d1f8177/modules/markdown/markdown.js#L51-L71

An assumption we should not be making is that `\n` means "new `<p>`"—that is not how Markdown works. I want to make

[2018-12-28 17:23] drewvolz commented on #3369
Fill-columns where the line length is a certain number of characters, I guess? I picked up on it from Kris https://github.com/StoDevX/AAO-React-Native/commit/1df860dc06b57bb38b05c5d330cdf292da6fbfa6

[2018-12-28 17:23] rye commented on #3369
Yes, `fill-column` is an Emacs variable that lets you tune the automatic line breaking.

[2018-12-29 20:48] hannesmcman commented on #3342
@hawkrives Any ideas for where such a notice would go on the menu view, for example? At the bottom or top?

[2018-12-29 21:14] hannesmcman commented on #3342
I think something like this looks pretty good...

<img width="328" alt="screen shot 2018-12-29 at 4 14 08 pm" src="https://user-images.githubusercontent.com/24640726/50542168-cf1ec680-0b84-11e9-9c46-c9806e66359c.png">

[2018-12-29 21:54] hannesmcman commented on #3340
I tested all the other PTR views and the only one that seems to have this issue is the BonApp menu view..

[2018-12-29 22:11] drewvolz commented on #3340
I still see it on both Menus and News

[2018-12-29 22:24] hannesmcman opened #3373 "Show BonApp special message for closed cafeterias"
Right now, if the menu retrieved is empty, we always return the vague message "No items found." Instead, we should see if BonApp has provided a special message, which is often more descriptive, and if so, show that instead, along with the date.

Current Behavior | Desired Behavior
-- | --
<img width="326" alt="screen shot 2018-12-29 at 5 02 21 pm" src="https://user-images.githubusercontent.com/246

[2018-12-29 22:45] drewvolz commented on #3373
I believe I might have introduced this bug in #3047 when making sure that the debug cafe picker wouldn’t try to parse cafe information if there were no menu items.

[2018-12-30 18:42] hannesmcman commented on #3340
Oops yep you're right!

[2018-12-30 19:53] rye opened #3375 "Jest is broken around New Year?"
Q.v. #3374.

Looking at our nightly from today, [Jest seems to be broken](https://circleci.com/workflow-run/c2d6bf2d-c722-46ee-a208-db5e2525aeb9) (read: it's not producing the correct results).

Initially, I thought I would blame #3363, but:
- #3363 was merged 3 days ago, and we've had a successful nightly since then.
- I remember something about us having issues around the New Year last year or t

[2018-12-30 20:01] rye commented on #3375
I'm thinking this boils down to (a) parsing of schedules or (b) between-ness?

[2018-12-30 20:16] rye commented on #3375
I think I'm closing in on the issue.

Adding a debugging print to `parseHours`, I'm getting the following (strange) console output:

<img width="718" alt="image" src="https://user-images.githubusercontent.com/1566689/50550822-81fe2b80-0c3c-11e9-8e46-aefffca8b356.png">

This definitely explains why the tests are failing.

Digging deeper, I get:

<img width="1282" alt="image" src="https://user-image

[2018-12-30 20:35] rye commented on #3375
Tried messing with this in a node console, got:
[code]

So `moment.tz` isn't wrong, I don't think.

[2018-12-30 20:57] hawkrives commented on #3375
Our building hours tests / code get really wonky around DST changes, I know - I wouldn't be surprised if New Years also broke stuff.

I wish you lots of luck in tracing down the issue.

[2018-12-30 21:00] rye commented on #3375
I think this has to do with `dayOfYear` wrapping around, which would make a lot of sense. In the "handles weird times › handles Friday at 4:30pm" test case, `m` is `2019-01-04T22:30:00.000Z`, which has `dayOfYear = 4`.  We have that `open` is `2018-12-30T16:00:00.000Z` (`10am` local) before calling `open.dayOfYear()` to change it, but after changing it, `open` goes back to `2018-01-04T16:00:00.000

[2018-12-30 21:09] rye commented on #3375
I have successfully "resolved" this down to just one failure, by checking if `open` or `close` is before six months before `m`, and if so adding a year to those dates. I don't claim that's right, but it makes the tests green again.

Now to deal with bus schedules.

[2018-12-31 03:11] #3373 closed, assigned to hannesmcman

[2019-01-01 13:55] rye commented on #3375
Saw the other side of this issue today.

Looks like the logic from #3376 should be duplicated in the other direction.  I'll do that right now.

[2019-01-01 16:20] hawkrives commented on #3375
@rye looking at the test failures… do you think this will wind up with failed snapshots in six months?

[2019-01-01 16:29] rye commented on #3375
@hawkrives, no I don't think so since those snapshots are based on a specific date? I think it might also make sense to do this handling in a loop too, so we are always no more than ±6mo away from the given context moment.

[2019-01-01 16:29] #3375 closed, assigned to rye

[2019-01-01 16:33] rye commented on #3375
I'll try setting my computer's date to some time in 2020 and see if jest dies

[2019-01-01 17:37] #3369 closed, assigned to nobody

[2019-01-02 16:37] rye opened #3381 "Building Hours Editor does not keep changes to hours"
[Screencap goes here]

1. Open Hours
1. Click a building
1. Tap "Suggest an Edit"
1. Make a change to one of the hours
1. Tap "Ok"
1. Notice that the time did not change, even if you tap back and tap back in

[2019-01-02 16:55] rye commented on #3381
Can't get the screencap in this issue—see Discord?

[2019-01-03 01:54] #2577 closed, assigned to nobody

[2019-01-03 04:57] #3381 closed, assigned to nobody

[2019-01-03 13:44] hawkrives commented on #3283
(alternately, https://count.ly/mobile-analytics / https://github.com/Countly/countly-sdk-react-native is an open-source product that we can self-host)

[2019-01-03 16:15] drewvolz opened #3386 "Dictionary editor broken in strange way"
The editing experience at least on iOS is tricky.

I am unable to type a space or a newline at the end of the content, but seem to be able to if I’m not at the end of the content.

The title is a single line so no spaces can be added there at the moment.

[2019-01-03 16:22] hawkrives commented on #3386
Probably calls .trim somewhere

[2019-01-03 16:24] drewvolz commented on #3386
That’s my thinking, too. This is the way the editor was broken for every part of the word and definition before. Removing gDSFP at least let’s us now edit most of the content...

[2019-01-03 16:25] drewvolz commented on #3386
Yes, trim is being called on both the title and definition after edits

[2019-01-03 16:31] hawkrives commented on #3386
We should only trim when we submit, then.

[2019-01-04 01:55] #3386 closed, assigned to nobody

[2019-01-05 01:43] rye commented on #3318
Have we made any further progress on this one?

[2019-01-05 01:48] rye opened #3393 "Make it clearer that "suggest an edit" ≠ "report an issue""
Maybe make a better way for people to send us an email saying they have an issue? Under "Report a Problem?"

Maybe move "Have an App Question?" up in the "Report a Problem" thing and link to it from detail views?

[2019-01-05 02:58] hawkrives commented on #3318
I have not.

[2019-01-05 08:15] drewvolz commented on #3393
This is issue #2468

[2019-01-10 19:02] hawkrives opened #3407 "Add Open Skate Hours"
OPEN SKATE
Sundays, 2 p.m. - 5 p.m.
Tuesdays, 11 a.m. - 12:30 p.m.
Wednesdays, 6:30 p.m. - 7:30 p.m.
Thursdays, 11 a.m. - 12:30 p.m.

[2019-01-14 19:01] hawkrives opened #3415 "Building hours update for The Pause Kitchen"
![71d5863a-c518-4a81-ae7e-48fe5061aae5](https://user-images.githubusercontent.com/464441/51134173-6da15d80-17fc-11e9-8045-8e6823ca1664.jpeg)

## Before:

[code]

## After:

[code]

[2019-02-03 20:41] rye opened #3455 "Re-Prioritize Cache Usage"
Relating to the initial implementation of #3163, I think we should think through our strategy for cache handling.

If a network request takes a long time to resolve, (≥ 1000 ms, but this bar can be lowered) we should resolve first with the cached information before trying again. This is helpful if clients are walking around or hopping between access points—in cases like these the OS may delay the

[2019-02-04 02:49] hawkrives opened #3461 "Followups for the rn-vector-icons@6 upgrade"
Regarding #3459:

These are the matches for `ios-` prefixed icons in our repo:

- [x] **modules/navigation-buttons/open-settings.js**
    `<Icon name="ios-settings" style={leftButtonStyles.icon} />`

- [x] **modules/lists/disclosure-arrow.js** – no action needed; Android short-circuits before rendering the icon

- [x] **source/views/home/edit/row.ios.js** – no action needed; Android will never run

[2019-02-04 04:06] rye commented on #3461
@hawkrives I have a branch with work done on almost all of these. I will work on that in the short-term.

[2019-02-10 20:47] #3311 closed, assigned to nobody

[2019-02-18 16:13] hannesmcman opened #3485 "stoPrint Jobs are not releasing"
I noticed this today when I was trying to use the stoPrint feature. Jobs are not releasing properly, and trigger the following error:
<img src="https://user-images.githubusercontent.com/24640726/57631425-153d5b00-7565-11e9-93b2-642b3ff13e94.PNG" width=300>

[2019-02-18 16:45] rye opened #3488 "ssb: Also consider changes in optionalDependencies"
See #3414, which is skipping because `detox` is one of our `optionalDependencies`.  We will need to add another set of logic that checks the `optionalDependencies` key.

[2019-02-18 18:23] #3488 closed, assigned to rye

[2019-02-20 13:57] rye opened #3495 "Sourcemaps failing to upload on nightly"
Has been occurring for a while now.  The build still succeeds and gets published, but sourcemaps aren't uploaded.

May be a wontfix, depending on how eager we are to move to Sentry.

[2019-02-20 15:55] drewvolz opened #3496 "Tableview simple editor issues"
- [ ] Login UI lost its width. Width of settings credentials editor is 2.5 characters wide.
- [ ] Building hours editor lacks text in editable text fields
- [ ] Dictionary editor lacks text in editable text fields

[2019-02-20 15:59] drewvolz opened #3497 "Edit home not scrollable via regular swipe"
I can only seem to trigger the scroll if I do one of the following
- grab the top empty area and flick down
- move a row below the bottom of the screen
- once at the bottom, grab the bottom and flick up

[2019-02-20 16:13] rye commented on #3497
Can't repro on android, for what that's worth.

[2019-02-20 16:17] rye commented on #3496
What do you mean by your first item?  I am not seeing the same issue. Could this be a SafeAreaView or platform related?

The Building Hours/Dictionary editors seem to lack text in editable text fields for me too. Perhaps this issue should take on one of the points and another could be opened for the second and third checkboxes?

[2019-02-20 16:34] drewvolz commented on #3496
I think these are all the same issue with a relation to the width of the editable text area.

[2019-02-20 16:49] rye commented on #3496
Okay, that makes sense. I have a similar issue on Android where the text input does not even show any action happening while I type my username and password, which seems identical to the video you sent me.

We are using our own custom layer of abstraction on top of TableView, which will probably need to get fixed to fix this issue.

FWIW, my approach to doing this would be to set a `placeholder` o

[2019-02-20 22:24] hawkrives commented on #3497
yeah but I can drag the items around really well now (iOS) lol

[2019-02-20 22:26] hawkrives commented on #3496
At the core, we're looking at this chunk of code for the first item on the list:

https://github.com/StoDevX/AAO-React-Native/blob/c2255d7b2f12b57a8042de9dd58360b3a0a4b139/source/views/settings/screens/overview/login-credentials.js#L87-L110

As such, the `placeholder` prop is passed _directly_ to the underlying `TextInput`, which is a component provided by RN itself.

https://github.com/StoDevX/AA

[2019-02-21 05:23] drewvolz commented on #3496
I think the culprit is here:

https://github.com/StoDevX/AAO-React-Native/blob/c2255d7b2f12b57a8042de9dd58360b3a0a4b139/modules/tableview/cells/textfield.js#L114-L116

where those styles look like

https://github.com/StoDevX/AAO-React-Native/blob/c2255d7b2f12b57a8042de9dd58360b3a0a4b139/modules/tableview/cells/textfield.js#L20-L30

<hr>

Things appear to look _normal_ (testing on iOS) when I reduc

[2019-02-21 17:31] hannesmcman commented on #3318
Can we make this a top priority? It's probably the most annoying and frequent bug in the app..

[2019-02-21 17:35] rye commented on #3318
I'm tempted to blame a few of the other network related issues on the same underlying issue.

Yes, this is top priority, but I'm not working on it atm.

[2019-02-22 00:36] hawkrives commented on #3318
It is a top priority for me as well, but I likely won't have the motivation to work on it for at least a month (Blame degree auditing and phone work - ie work-work is interesting enough that I don't have a lot of motivation when I get home.)

Just as an aside - the reason I haven't put a ton of work into this yet is because it only affects the dev versions, so worst case you could switch back to t

[2019-02-22 03:27] hawkrives commented on #3318
okay looks like I'm going to be working on this tonight. we'll see what happens.

[2019-02-22 03:56] #3496 closed, assigned to nobody

[2019-02-22 08:18] drewvolz opened #3504 "Share icon is missing"
The share button component’s icon is probably named in a way that a previous version of the package expected?

<img src="https://user-images.githubusercontent.com/5240843/53228747-f51d9000-3636-11e9-9b00-a271ea17083a.png" width="350" />

[2019-02-22 13:36] hawkrives commented on #3504
Part of https://github.com/StoDevX/AAO-React-Native/issues/3461, I believe

[2019-02-22 13:36] #3504 closed, assigned to nobody

[2019-02-22 13:38] rye commented on #3461
(I'll work on fixing this issue some more this weekend, for sure. It's on my shortlist now.)

[2019-02-22 13:43] rye commented on #3495
I think we're going to classify this as a wontfix. The "solution" will be to migrate off of bugsnag and onto Sentry?

I'm going to open a separate issue for that one.

[2019-02-22 13:43] #3495 closed, assigned to nobody

[2019-02-22 13:46] rye opened #3505 "Switch to Sentry"
We have a sentry instance set up, and we can use that for storing metrics instead of BugSnag.

Pros:
- Sentry consolidates similar errors which makes resolution quite easy.
- Sentry has a similar or identical featureset to BugSnag. (We can send breadcrumbs.)
- Sentry is very pretty.

Cons:
- May introduce a reliance upon our instance. (We want the app to function correctly if the server is down.)

[2019-02-22 13:53] hawkrives commented on #3495
SGTM

[2019-02-22 15:19] drewvolz opened #3506 "Balances logs-in when user has not agreed to terms"
Fallout from #3503.

If you have not agreed to our notice that BonApp is the source of truth, you’ll still be able to use this screen anyways as it’s now going through the motions of logging you in and refreshing.

I think we need to tie-in the redux value of that alert before auto-logging-in and refreshing.

[2019-02-22 15:28] drewvolz opened #3507 "Filter popover not anchored with many items"
Correct | Incorrect
--|--
<img src="https://user-images.githubusercontent.com/5240843/53252033-e5bc3800-3672-11e9-9c71-758f8a25e867.png" width="250" /> | <img src="https://user-images.githubusercontent.com/5240843/53252032-e5bc3800-3672-11e9-815a-1262e1aa0c7e.png" width="250" />

[2019-02-22 16:11] rye commented on #3507
I don't know if I'd call this a bug.

As a user, I would prefer it to show as much of the list as possible instead of anchoring. Am I alone in this feeling?

[2019-02-22 16:15] hawkrives commented on #3506
So this isn't actually fallout from #3503 – it pre-dates that.

The `getBalances` method will also perform a login; it just doesn't inform redux that the user has been logged in. So, if you took yesterday's build, didn't agree to the terms, but had logged in in Settings, you would also be able to see your balances.

I agree that we should check the approval status before fetching, but I just wante

[2019-02-22 16:15] hawkrives commented on #3507
I think this is intended on the underlying library's part, and I like what it's doing now.

[2019-02-22 16:17] drewvolz commented on #3506
Thanks for clarifying — my bad for incorrectly pointing.

[2019-02-22 16:19] drewvolz commented on #3507
It may or may not be intended (unsure that we can say it is) but it seems confusing to me to cover the toggle that enabled the filter. The triggering button is the way we close the other filter popovers, and I’d very much not like to break from that design.

[2019-02-22 16:21] drewvolz commented on #3507
The white space around where we can tap off is significantly reduced in this design (as the button argument is part of the white space but still being covered by an alpha layer) so I’d like to bring back that tap-off space

[2019-02-24 01:31] #3506 closed, assigned to nobody

[2019-02-27 16:22] rye opened #3520 "Hours not rendering on view open"
To reproduce:

1. Reset everything
1. Force quit app
1. Open app
1. Go to Building Hours
1. List is empty

[2019-02-27 16:23] rye commented on #3520
The network request is not fired off until the timer rolls over, it seems.

[2019-02-27 16:24] rye commented on #3520
(PTR doesn't work.)

[2019-02-27 18:26] drewvolz commented on #3520
I’ve noticed this intermittently. I would say it was a visual blip and the hours loaded after a second on my device.

[2019-02-27 18:26] drewvolz commented on #3520
But I think this is a symptom of our larger caching impl

[2019-02-27 18:35] hawkrives commented on #3520
It's not from caching

[2019-02-27 18:35] hawkrives commented on #3520
Caching always returns _some_ data

[2019-02-27 19:50] hawkrives opened #3521 "Building hours update for Wellness Center"
## Before:

[code]

## After:

[code]

Verified by @hawkrives, by way of a poster on the Wellness Center door.

[2019-03-01 19:25] hawkrives opened #3523 "Searchable menus"
From a user:

(This might fit under an existing issue; "Related Issues" didn't find anything.)

Thoughts?

[2019-03-01 20:43] drewvolz commented on #3523
The closest thing I can find is https://github.com/StoDevX/AAO-React-Native/issues/509

[2019-03-01 21:44] drewvolz commented on #3523
I am a big fan of searching on the menu. Quicker than parsing station > items with the eyes.

[2019-03-11 16:24] rye opened #3538 "Replace Android List components?"
@hawkrives says: (#3537)

(rn-paper added ListSubHeaders etc. in that PR.)

[2019-03-15 21:19] rye opened #3553 "Return Bus Schedules to Normal"
Q.v. email:

- [x] Find new hours on their website (official, or check brochure)
- [ ] Update them on 2019-03-18.

[2019-03-15 21:20] rye commented on #3553
Found [PDF](https://drive.google.com/file/d/1a5rwAcQruYbNilT-e9USqyNgJohwz6J3/view). [(archive)](https://github.com/StoDevX/AAO-React-Native/files/2972929/Hiawathaland.Express.Bus.schedule.updated.pdf)

[2019-03-15 21:22] rye commented on #3553
Looks to be identical schedule to what we had before? M-Sa schedule will just be copy-pasted, with `false` at ECC and ALDI on the 9p and 10p schedules, likely because they are closed at that time.  Su is 3-5, no C10 stop.

I'll make a Draft PR shortly to be published on Monday morning.

[2019-03-16 23:33] #3415 closed, assigned to nobody

[2019-03-16 23:33] hawkrives commented on #3415
(I'm sure the hours have changed again.)

[2019-03-16 23:34] hawkrives commented on #3497
This is still an issue on 0.59.

[2019-03-17 00:39] #3521 closed, assigned to nobody

[2019-03-17 10:41] drewvolz opened #3562 "Course search crashes"
Trying to open course search’s browse or search features crashes the iOS app.

[2019-03-17 13:57] hawkrives commented on #3562
I did tweak the logic in execute_search; that should probably be the first point of investigation.

[2019-03-17 17:59] hawkrives commented on #3562
Fixed by #3564

[2019-03-17 17:59] #3562 closed, assigned to nobody

[2019-03-17 19:30] #3553 closed, assigned to rye

[2019-03-17 20:49] drewvolz commented on #3507
Alright. Closing.

[2019-03-17 20:49] #3507 closed, assigned to nobody

[2019-03-17 20:50] drewvolz commented on #3355
Caching issue.

[2019-03-17 20:50] #3355 closed, assigned to nobody

[2019-03-17 20:51] drewvolz commented on #3168
Is this still an issue?

[2019-03-17 20:52] drewvolz commented on #3010
What’s the verdict on this, @hawkrives?

[2019-03-17 20:53] drewvolz commented on #2768
I think there are bigger issues. If we ever switch lists, it’ll probably self-resolve.

[2019-03-17 20:54] drewvolz commented on #2753
Eh. This would involve a larger refactor of the filters to be aware of what meals are. I don’t think this is harmful.

[2019-03-17 20:54] #2753 closed, assigned to nobody

[2019-03-17 20:55] drewvolz commented on #2629
Fixed in the upgrade to 0.59

[2019-03-17 20:55] #2629 closed, assigned to rye

[2019-03-17 20:57] drewvolz commented on #2537
Google analytics have been ripped out, and this line has been removed from gradle.properties.

[2019-03-17 20:57] #2537 closed, assigned to nobody

[2019-03-17 20:59] drewvolz commented on #2411
Closing due to... we’ll come back to this if we rehash it.

[2019-03-17 20:59] #2411 closed, assigned to nobody

[2019-03-17 21:01] drewvolz commented on #2210
Do you still want this @hawkrives?

[2019-03-17 21:01] drewvolz commented on #2159
Closing due to the fact that our bullets work fine.

[2019-03-17 21:05] drewvolz commented on #3120
Dup of #2412

[2019-03-17 21:33] hawkrives commented on #2159
Reopening because they still look strange

[2019-03-17 21:33] hawkrives commented on #2768
Re-opening because if we close it, it'll never get fixed

[2019-03-17 21:34] hawkrives commented on #3010
yes

[2019-03-17 21:35] hawkrives commented on #2210
Yes

[2019-03-17 21:35] hawkrives commented on #2210
I saw someone that requests push notification permissions on the 7th load of the app; we could ask for a review on the … 21st load or something

[2019-03-17 21:37] drewvolz commented on #2210
How does that work across reinstalls? I can imagine a few edges

[2019-03-17 21:59] hawkrives commented on #2210
You would be prompted again after 21 uses. SKReviewController won't re-prompt if you're on the same version, and it won't prompt more than three times a year.

[2019-03-17 22:00] drewvolz commented on #2210
Alright. I’m onboard.

[2019-03-21 00:25] drewvolz opened #3591 "Update screenshots and Xcode version"
We need to start building AAO with iOS 12.1 SDK or later, and provide XS Max and iPad Pro 3rd gen screenshots

https://developer.apple.com/news/?id=03202019a

- [x] update xcode (#3597)
- [ ] update screenshots

[2019-03-21 18:16] rye commented on #3318
I think we can call this one fixed by #3575, can't we. Closing for now.

[2019-03-21 18:16] #3318 closed, assigned to hawkrives

[2019-03-21 18:43] hawkrives commented on #3318
Both iOS and Android log in for me, now, and I haven't seen any login errors since merging #3503 and #3575, so I think so!

[2019-03-22 15:21] drewvolz opened #3593 "Internal alternative codepush"
Internal branch build testing: What this would look like is a listview on each platform with rows for branches that were built and have active jsbundles that we can download and launch on the device. These would get uploaded from CI/CD as artifacts on a per-branch basis signified by a pr label.

- Fetch list of branches and their jsbundles
- Display list in developer/debug listview
- Select a row

[2019-03-25 04:10] #3407 closed, assigned to nobody

[2019-03-25 04:15] hawkrives commented on #3283
We wound up just removing in-app analytics entirely, in favor of just using session counts from the store fronts and potentially in-person user testing in the future.

[2019-03-25 04:15] #3283 closed, assigned to nobody

[2019-03-25 04:17] hawkrives commented on #3168
@drewvolz yes.

However! I think I know what's causing it now – React Navigation sets a default background color on the views that it manages, and I think that's causing the slight-but-distinct color shift.

I haven't checked this yet, but I think that we can just set `{backgroundColor: transparent}` on Section for Android. (I haven't just PR'd it, either, because it could well force them to be bl

[2019-03-25 04:19] hawkrives commented on #3072
I removed the `:simulator`/`:emulator` scripts in #3557.

`installRelease` should not require a signing key for local development; however, I still question if we need it, since there are buttons to do so in Android Studio / Xcode (and those work, unlike the scripts).

[2019-03-25 04:21] hawkrives commented on #3140
I think this has been accidentally resolved; part of #3557 included moving more variables into the top-level `android/build.gradle` file, and both the `subprojects{}` rule and the `android/app/build.gradle` rules now use the same constants.

https://github.com/StoDevX/AAO-React-Native/blob/eff397900799962cee598ac00e9b30f167ec9945/android/build.gradle#L3-L10

@rye, do you think that suffices to clo

[2019-03-25 04:23] hawkrives commented on #2847
I've edited this issue title to reflect the current state of things; Balances now shows a "log in here" (or whatever it says) button until the initial fetch request succeeds; I would like to hide that text until the request has failed.

[2019-03-25 04:24] hawkrives commented on #2442
@hannesmcman When you get back from break, I'd like us to keep an eye on this – it may have been resolved as part of the recent OleCard refactorings. I will also be keeping an eye out.

[2019-03-25 04:26] hawkrives commented on #183
I'd like to close this – it's not really actionable, as stands, and I think that as we slowly refactor things to take advantage of hooks we will cause this less often.

[2019-03-25 05:22] drewvolz commented on #3072
I'd like to close this particular issue because `"android:release"` has been removed.

[2019-03-25 05:24] drewvolz commented on #183
I still see this issue, and I think we could solve it.

[2019-03-25 05:25] drewvolz commented on #183
But alright. Closing.

[2019-03-25 05:25] #183 closed, assigned to nobody

[2019-03-25 12:34] hawkrives commented on #3072
Er, it hasn't? I'd like to remove it, though

[2019-03-25 14:35] drewvolz commented on #3072
I’ve had a change of mind since opening this, and think we should remove it, then.

[2019-03-26 05:11] #3072 closed, assigned to nobody

[2019-03-26 14:33] drewvolz commented on #3461
Closed by #3598

[2019-03-26 14:56] hawkrives commented on #3461
Every item in the checklist in the OP still needs to be updated to use the helper introduced in #3459.

[2019-03-26 18:50] drewvolz commented on #3461
My bad. Thanks for reopening. @rye I've merged your PR and updated the checkboxes above 👍

[2019-03-30 03:09] hawkrives commented on #3591
Given that the App Store won't let us submit the new build without the screenshots, I think we can close this (since we don't store the screenshots in the repo).

(ie i'm arguing that we won't forget to do the screenshots if we close the issue)

(plus it looks like we'll have some new things to take screenshots of anyway so)

[2019-03-30 03:15] #3591 closed, assigned to nobody

[2019-04-05 19:27] hawkrives opened #3631 "switch to presence for student org stuff"
to follow up on #932…

SA _is_ moving to Presence. The move is now far enough along that Olaf has begun importing Presence events into the Master Calendar ([calendar](https://wp.stolaf.edu/calendar/event/debunking-sexual-health-myths/), [presence](https://stolaf.presence.io/event/debunking-sexual-health-myths)).

We should start putting stuff in to make the switch back to Presence from stolaf.edu/

[2019-04-05 19:46] drewvolz commented on #3631
I have a local branch that works on this but I’m not sure it’s worth using. I’ll check later

[2019-04-05 20:13] hawkrives commented on #3631
I just found https://stolaf.presence.io/Error/Forbidden/ … bah.

[2019-04-05 20:18] hawkrives commented on #3631
![image](https://user-images.githubusercontent.com/464441/55654080-015c4780-57b6-11e9-8549-d080a4a8a720.png)

this one's even better.

yes, I love blurry 404 pages.

[2019-04-08 15:29] rye opened #3638 "Adopt danger.git.fileMatch"
See #3633, which added Danger 7.1.0.

[2019-04-09 17:07] hawkrives opened #3643 "Switch to react-native-community packages"
https://github.com/react-native-community/react-native-webview

At some point soon, RN will deprecate and then remove the WebView component from core.

I _think_ the only thing that uses WebView is the radio player.

---

- [x] [Async Storage](https://github.com/StoDevX/AAO-React-Native/pull/3565) (not merged)
- [x] [NetInfo](https://github.com/StoDevX/AAO-React-Native/pull/3566) (merged into Asyn

[2019-04-09 18:33] drewvolz commented on #3643
`modules/HtmlContent` imports `WebView` but I do not think we use `HtmlContent` anywhere?

[2019-04-10 02:38] rye commented on #3643
@drewvolz moodle… and such use `trackedOpenUrl`/`openUrlInBrowser`… I suppose that must be different from a `WebView` because `git grep WebView` only gives—as you say—`modules/html-content/index.js` and `source/views/streaming/radio/player.js`.  As you say, `HtmlContent` is not used anywhere. (The only occurrence of that text is the export.)

[2019-04-10 03:44] hawkrives commented on #3643
Yeah, openUrl/etc use SFViewController or Chrome Custom Tabs - completely different native implementations from the WebViews.

[2019-04-10 15:21] rye opened #3646 "App crashes on boot (2019-04-10 nightly)"
Furthermore, it does not send a report to Sentry.

[2019-04-10 15:31] rye commented on #3646
Attempted to reproduce on a Pixel 2 API 28 build, didn't get anywhere.

[2019-04-13 22:22] hawkrives opened #3659 "Listen for backgrounding and foregrounding events in Timer"
And fire the timer if it's time has come while we were in the background.

I think setTimeout doesn't fire while in the background, but we should be able to store the current time when we background/foreground by listening to the AppState module, and then calculate if the timer should have fired while we were backgrounded.

(I noticed this while watching the Bus view and switching between it and m

[2019-04-14 21:40] rye commented on #3646
This has been confirmed on both platforms, and occurs when running in Release mode only. Kris suspects something changed that we ignored. Bisect in progress!

[2019-04-14 22:00] rye commented on #3646
Bisect logs:

[code]

[2019-04-14 22:01] rye commented on #3646
It appears that 62183cf21a045d3aa43814462fb267f0a9c67498 (#3573) is to blame.

[2019-04-14 22:46] hawkrives opened #3660 "Building hours update for Holland Hall"
(Oops, Holland is open from 8 in the morning on Sundays.)

## Before:

[code]

## After:

[code]

[2019-04-15 00:48] rye commented on #3660
Oops!

[2019-04-15 01:02] rye opened #3662 "authorize_ci_for_keys inappropriately writes to ~/.netrc"
Troubleshot not being able to log into GitHub only to find that… in the default mode of operation, it just appends to `~/.netrc` with very little regard.

Consider using the `netrc` gem, i.e.:

[code]

[2019-04-15 02:52] #3646 closed, assigned to rye

[2019-04-15 02:54] #3660 closed, assigned to rye

[2019-04-15 15:13] #3662 closed, assigned to rye

[2019-04-19 20:48] #3010 closed, assigned to nobody

[2019-05-01 15:19] rye commented on #3505
This is done, but I will open another tracking issue for some follow-ups.

[2019-05-01 15:19] #3505 closed, assigned to nobody

[2019-05-01 15:37] rye opened #3705 "Sentry Follow-Ups 🤖"
There are a few things we should do before rolling out the adoption of Sentry, which I believe is going to happen in v2.8.0.

- [ ] Set up release reporting!<sup>[1](#user-content-l1)</sup>
- [ ] Set up commits!
  - [ ] Create a GitHub App<sup>[2](#user-content-l2)</sup>
  - [ ] Reconfigure the Sentry instance with the generated `GITHUB_APP_ID` and `GITHUB_APP_SECRET`.
  - [ ] Verify that `sentry/

[2019-05-13 19:46] #3485 closed, assigned to hannesmcman

[2019-05-13 20:09] hannesmcman opened #3731 "StoPrint view shows "Not Logged In" message if opened before settings view"
The StoPrint view never calls `performLogin`, and so the credentials loaded from storage are never verified against the Olecard server, which they probably should be. Thus, if you open the stoprint view before accessing Settings or Balances (the other views that trigger a login), the "Not Logged In" message appears.

[2019-05-14 14:04] #3731 closed, assigned to hannesmcman

[2019-05-14 17:55] hannesmcman commented on #3643
This also applies to Async Storage, NetInfo, and MaskedViewIOS...is there anything else?

[2019-05-14 18:18] drewvolz commented on #3643
Keeping this updated, I think this is the current state:
- [x] [Async Storage](https://github.com/StoDevX/AAO-React-Native/pull/3565) (not merged)
- [x] [NetInfo](https://github.com/StoDevX/AAO-React-Native/pull/3566) (merged into Async PR)
- [ ] MaskedViewIOS
- [ ] WebView

[2019-05-14 18:43] hawkrives commented on #3643
I updated the OP with a checklist

[2019-05-17 14:54] rye commented on #3705
I noticed that we do still have breadcrumbs. I will locally test out a debug button.

[2019-05-23 23:16] hawkrives opened #3757 "Switch to Dependabot"
Since GitHub acquired them… and they have Ruby support.

I essentially flipped a coin to pick between Rennovate and Dependabot when we moved from Greenkeeper.

I can work on this, or someone else can take it on.

[2019-06-11 18:12] hawkrives opened #3788 "Building hours update for Post Office"
this looks correct to me

## Before:

[code]

## After:

[code]

[2019-06-11 18:22] rye commented on #3788
![image](https://user-images.githubusercontent.com/1566689/59296595-f7d6dc00-8c4b-11e9-8cb9-348b0fc0affa.png)

Need to blitz the Saturday hours and change the Friday hours.

[2019-07-15 23:35] drewvolz commented on #3354
Do we want open cache issues like this to remain open now that our caching strategy has been reverted? @hawkrives

[2019-07-15 23:39] drewvolz commented on #3168
Was this not closed by https://github.com/StoDevX/AAO-React-Native/pull/3462?

[2019-07-15 23:42] drewvolz commented on #2573
Tracking https://github.com/StoDevX/AAO-React-Native/pull/3613

[2019-07-15 23:44] drewvolz commented on #2702
@hawkrives any update on this?

[2019-07-16 11:50] hawkrives commented on #3168
Nope…

[2019-07-18 14:08] rye commented on #3757
I'll do it.

- [x] Add an installation of Dependabot on `StoDevX/AAO-React-Native` only
- [x] Remove installation (webhooks) of Renovate
- [x] Delete Renovate files

[2019-07-18 14:17] rye commented on #3757
Installed. I will let it generate some PRs, and if all looks good I will then delete the Renovate installation.

[2019-07-31 18:36] hawkrives opened #3907 "sentry crash when uploading sourcemaps"
https://app.circleci.com/jobs/github/StoDevX/AAO-React-Native/61963

![image](https://user-images.githubusercontent.com/464441/62238102-e8e0f000-b397-11e9-9b9e-032448532f1a.png)

[code]

I think we just need double quotes around the `PRODUCT_BUNDLE_IDENTIFIER` part.

[2019-08-01 16:33] rye commented on #3907
Yeah, this is an issue preventing nightlies from being successful.

`$(PRODUCT_BUNDLE_IDENTIFIER)` is coming from `fastlane`… this command is built as https://github.com/StoDevX/AAO-React-Native/blob/282b34db58c210eea30e5bab087ee94a69535124/fastlane/lib/sourcemaps.rb#L61-L71 which specifically calls out to the `bundle_identifier` method. And this method is defined as https://github.com/StoDevX/AAO

[2019-08-01 18:13] hawkrives commented on #3907
Xcode does the substitution of $() variables in the Info.plist…

[2019-08-01 18:15] rye commented on #3907
Okay, so how do we get the value it substitutes?

[2019-08-08 16:33] rye opened #3921 "Fix regression in HTML parser"
Introduced by #3912, likely, we're getting exceptions like:

[code]

Nightly 2.8.0-pre+65526 on Android works fine, +65786 does not. If it's not #3912, it's something else in that range.

[2019-08-09 02:26] #3921 closed, assigned to nobody

[2019-08-09 02:26] hawkrives commented on #3921
Thanks all

[2019-08-09 15:44] rye commented on #3921
Resolution confirmed in Android 2019-08-09 nightly.

[2019-08-15 00:43] hawkrives opened #3933 "Replace Markdown component with HTML renderer"
I found https://github.com/jsdf/react-native-htmlview/ today; I would like to replace our custom-ish Markdown component with a combination of a normal Markdown-to-HTML converter, which is then piped to react-native-htmlview to be rendered.

[2019-08-15 21:27] hawkrives commented on #3757
I think we can go ahead and remove the renovate config file.

[2019-08-15 21:28] hawkrives commented on #3638
Now planning to move away from danger. Closing.

[2019-08-15 21:28] #3638 closed, assigned to rye

[2019-08-15 21:53] #3757 closed, assigned to rye

[2019-09-07 14:52] rye commented on #3705
There are potential improvements we can make to ensure that sourcemaps are uploaded, but personally I think it might be best to just ship what we have for the Sentry integration. For now I will close this and we can bring up individual issues instead of having a todo list.

[2019-09-07 14:52] #3705 closed, assigned to rye

[2019-09-07 14:55] rye commented on #3631
Triage: what do we need to do to land this for v2.8? Does existing functionality need to be replaced somewhere with this API call, and/or does this API call need to be proxied?

[2019-09-07 14:56] hawkrives commented on #3631
We should just need to adapt the old code we had for Presence onto CCC-server; the apps should be able to continue using the same endpoint (/v1/orgs, I think), at least initially

[2019-09-07 14:56] rye commented on #3497
Triage: I cannot verify without an iOS device. Can someone check and upload a screencap?

[2019-09-07 14:57] rye commented on #3455
I'm not sure where I was going with this issue. I think this was taken care of elsewhere.

[2019-09-07 14:57] #3455 closed, assigned to nobody

[2019-09-07 14:58] rye commented on #3356
Triage: The caching that would necessitate this has been reverted, right? Now requests just seem to hang.

[2019-09-07 14:59] rye commented on #3354
Since our persistent caching strategy has been reverted, I'm going to close this, @drewvolz.

[2019-09-07 14:59] #3354 closed, assigned to nobody

[2019-09-07 15:04] rye commented on #3325
Re-triaging.

So, I'm going to close this issue, especially since the last hit on any endpoint with the UA including  CFNetwork was on 2019-04-19T23:41:10Z:

[code]

[2019-09-07 15:05] #3325 closed, assigned to nobody

[2019-09-07 15:08] rye commented on #3168
This has since been resolved, so I'm closing this issue.
<img src="https://user-images.githubusercontent.com/1566689/64476663-677b3b00-d157-11e9-9043-54a9adeaef1b.jpg" width=400 />

[2019-09-07 15:18] rye commented on #3059
Triaging. We have since switched to Sentry. Explicit network error reporting occurs in two locations—not everywhere.

- `source/views/help/wifi.js`
- `source/views/menus/menu-bonapp.js`

Personally, I think it's far more valuable to have Sentry just receiving actual errors, which include unhandled promise rejections. We should gracefully handle these things through UI and handle network errors eit

[2019-09-07 15:20] rye commented on #3168
<img src="https://user-images.githubusercontent.com/1566689/64476801-0b191b00-d159-11e9-90b0-03abab7d1e12.jpg" width=400 />

[2019-09-07 15:21] rye commented on #807
Triage: Can someone please find #that-other-issue and update what needs to happen here, or remove this from the v2.8.0 milestone?

[2019-09-07 15:23] rye commented on #2702
I don't think this _needs_ to land in v2.8.0.

[2019-09-07 15:23] rye commented on #2245
Triaging. @hawkrives, can you still reproduce this issue on the nightlies?

[2019-09-07 15:24] rye commented on #2442
Triaging. As I recall, since removing the extra caching layer, we have not seen this anymore. (I _definitely_ have not had this issue in recent memory.)

[2019-09-07 15:28] rye commented on #2847
Triaging. @hawkrives, this doesn't _seem_ to happen for me anymore. I think this is because we removed the authentication layer and the caching layer. Shall we close this issue?

[2019-09-07 16:13] hawkrives commented on #2847
I think this issue can be closed. Thanks!

[2019-09-07 16:13] #2847 closed, assigned to nobody

[2019-09-07 16:13] hawkrives commented on #2442
Agreed.

[2019-09-07 16:13] #2442 closed, assigned to nobody

[2019-09-07 16:14] hawkrives commented on #2245
Yep. The indicators are also the wrong color for iOS 12/13.

[2019-09-07 16:15] hawkrives commented on #3168
gah. thanks.

[2019-09-07 16:17] hawkrives commented on #3059
Agreed.

For the menus, specifically, we built a "retry" button interface that shows up after ~3 failed fetches.

I think that qualifies as "handling the error", as far as the network goes. Any JSON-parsing errors should still be reported to Sentry (which is what currently happens.)

My proposal, then, would be to remove the network error reporting from `source/views/menus/menu-bonapp.js`.

[2019-09-07 16:18] hawkrives commented on #3356
Yeah. I think we can close this… if/when we do caching again, we will open a new issue.

[2019-09-07 16:18] #3356 closed, assigned to nobody

[2019-09-07 16:20] hawkrives commented on #2245
however, this doesn't need to be in 2.8

[2019-09-07 16:22] hawkrives commented on #3497
https://gfycat.com/badshockedcranefly

[edit] Note that I am never grabbing the dragger thing on the right; that's just from me attempting to scroll.

@drewvolz I want to replace the iOS edit view with the Android one, which has the explicit up/down arrows.

[2019-09-07 17:53] rye commented on #3059
@hawkrives should I remove the network error reporting from `source/views/help/wifi.js`? This view also makes a report whenever it encounters errors loading the thing.

[2019-09-07 18:35] hawkrives commented on #3059
Sure

[2019-09-07 18:39] hawkrives commented on #3788
we can close this, as it's no longer summertime.

[2019-09-07 18:39] #3788 closed, assigned to nobody

[2019-09-07 18:39] hawkrives commented on #3520
I just had this happen to me this morning.

[2019-09-07 18:40] hawkrives commented on #3340
Closing due to removal of caching

[2019-09-07 18:40] hawkrives commented on #3251
Closing this as we're slowly moving away from Circle anyway.

[2019-09-07 18:40] #3251 closed, assigned to rye

[2019-09-07 18:42] hawkrives commented on #3187
Update 2: No, this is not feasible; Detox requires an app built for the simulator, (an x86 target), while testflight and the app store require ARM targets.

So unfortunately, we can't share the build artifacts between them.

[2019-09-07 18:42] #3187 closed, assigned to nobody

[2019-09-07 18:43] hawkrives commented on #3014
closing~

[2019-09-07 18:43] #3014 closed, assigned to nobody

[2019-09-07 18:44] hawkrives commented on #2747
I still think we should just make this open in an SFWebView/Custom Tab, _purely_ because it's proven so touchy and breakable in the past.

[2019-09-07 18:45] hawkrives commented on #2244
closing due to lack of interest in push notifications :)

[2019-09-07 18:45] #2244 closed, assigned to nobody

[2019-09-07 18:46] hawkrives commented on #1141
@drewvolz Is this still an issue?

[2019-09-07 19:09] drewvolz commented on #3497
@hawkrives I'd decently opposed to that idea

[2019-09-07 19:10] drewvolz commented on #3497
The android arrows were a stopgap to get it _working_ on the android platform and not meant to be a replacement for this behavior IIRC.

[2019-09-07 19:18] drewvolz commented on #3520
I've noticed a few of our listviews have logic that very briefly shows "list is empty" logic or text before the actual view loads.

[2019-09-07 19:19] drewvolz commented on #3340
This isn't just a caching issue so the issue should be renamed.

[2019-09-07 19:22] #3059 closed, assigned to nobody

[2019-09-07 19:25] hawkrives commented on #3340
This is not applicable to any view anymore.

[2019-09-07 19:36] drewvolz commented on #2747
Okay. Let's do this and move my proposal to a new issue?

[2019-09-07 19:39] drewvolz commented on #1141
Yes

[2019-09-07 19:43] drewvolz commented on #1141
If I manually dismiss the keyboard before visiting the 2 detail views, this issue goes away.

[2019-09-07 19:45] drewvolz commented on #3340
Reopening since it still is on Menu, News, FAQs, Orgs, and Dictionary

[2019-09-07 20:29] hawkrives commented on #2747
Sure. I will make a PR set to close this issue, and I'll watch for your new one 😺

[2019-09-07 20:41] drewvolz opened #3979 "RFC: Radio Streaming strategy"
# Premise

Our current radio streaming capabilities do not start up reliably or quickly. It appears to take several starts and stops to enable a stream, sometimes taking more than a minute or two to begin playing audio. The current implementation involves webviews and web browsers.

## What are the radio streams?

We tap into both St. Olaf's `KSTO` and Carleton's `KRLX` internet radio broadcasts.

[2019-09-07 22:46] rye commented on #490
No longer needs this. Closing.

[2019-09-07 22:46] #490 closed, assigned to rye

[2019-09-07 22:53] rye commented on #889
Re-triaging into v2.8 since we redesigned the main icon and it needs to get borders from the launcher. Android currently is missing the `foreground` and `background` things, which are required. Since I committed an SVG, I'm going to look at scripting some way to extract just the fg and the bg—these are, after all, in separate groups, so I should be able to slice just the fg and the bg and export t

[2019-09-07 23:07] rye commented on #3979
I wholeheartedly support the investigation, if nothing less, of a native streaming client. HLS and M3U can be difficult beasts to tame, but if there is some way of doing the native stream, I'd prefer that to using a web browser.

Any native streaming client should use the appropriate UA for any HTTP traffic, which partly solves the upstream analytics story. If the analytics API (i) is stable, and

[2019-09-07 23:27] rye commented on #3497
Resolved by #3977, which removed the Home view editor entirely.

[2019-09-07 23:27] #3497 closed, assigned to nobody

[2019-09-08 01:14] drewvolz commented on #3979
Investigative work now lives at https://github.com/frog-pond/react-native-audio-stream

[2019-09-08 06:54] hawkrives commented on #889
@rye There's a thing in Android Studio that can convert an SVG into an Android "vector drawable", which can then be fed into the Android Studio icon editor - might help.

[2019-09-08 18:23] drewvolz commented on #3340
Handled partially in #3984

[2019-09-08 22:02] #2747 closed, assigned to nobody

[2019-09-08 23:51] drewvolz opened #3986 "Failed login in stoPrint spams invalid prompt ad infinitum"
I'm hitting infinite loading / spamming of the "invalid login" prompt.

1. Open Settings, enter bogus credentials, press login
2. Open Home > stoPrint

_Originally posted by @drewvolz in https://github.com/StoDevX/AAO-React-Native/pull/3985#issuecomment-529255724_

[2019-09-09 03:52] drewvolz commented on #3986
<details>
<summary>📓 Abridged logs</summary>

[code]

</details>

[2019-09-09 04:31] drewvolz commented on #1393
Closed by #3987

[2019-09-09 04:31] #1393 closed, assigned to hawkrives

[2019-09-11 17:43] rye opened #3997 "Add vertical space beneath the search bar and "No results found" message"
They're right next to each other, and needn't be.

[2019-09-11 18:38] hawkrives commented on #3997
Which page? Orgs/dictionary, I assume?

[2019-09-11 19:21] rye opened #3998 "Upload dSYMs"
This is part of #3705 that I didn't complete before closing that issue. This needs to happen on all (iOS) deploys.

[2019-09-11 19:24] rye commented on #3997
Yeah, and anywhere else where they're right next to each other.

[2019-09-12 12:37] hawkrives opened #4000 "Remove WLC from hours"
It’s been merged into the library/DiSCO

[2019-09-12 23:17] #4000 closed, assigned to rye

[2019-09-13 03:37] drewvolz opened #4005 "Tapping on radio tabs is crashing at the moment"
We suspected the `parser` (#3996) and/or `buffer` (#3999) upgrades.

I've gone thru the steps of reverting both of these changes locally on iOS but the crash remains.

[2019-09-13 14:34] hawkrives commented on #4005
If you install build 179569561 from TestFlight, does it crash?

[2019-09-13 14:46] drewvolz commented on #4005
Both 179569561 and 179655893 function correctly.

[2019-09-13 23:53] #3997 closed, assigned to nobody

[2019-09-14 17:46] #4005 closed, assigned to nobody

[2019-09-18 23:01] hawkrives opened #4020 "Building hours update for Wellness Center"
From their website:

[code]

---

## Before:

[code]

## After:

[code]

[2019-09-18 23:29] #4020 closed, assigned to nobody

[2019-09-20 23:31] rye opened #4026 "Cannot highlight links"
This was a very interesting find by the Google Pre-Launch tests this morning. The app crashes unexpectedly when a link is selected via long-press.

# Steps to reproduce

1. Launch the app on Android
1. Navigate to Important Contacts
1. Select a contact with a link in the text
1. Long-press a link

[2019-09-20 23:32] rye commented on #4026
The error from Sentry: `TypeError: null is not an object (evaluating 'c.showActionSheetWithOptions')`

[2019-09-21 00:29] drewvolz commented on #3933
@hawkrives what do you mean "combination of a normal Markdown-to-HTML converter" -- meaning something that's not currently in the app?

[2019-09-21 00:33] rye commented on #3933
I can't speak for @hawkrives, but I imagine the idea is to have something JS-y that converts from Markdown to HTML, and then having something React-Native-y that renders HTML instead of Markdown. Technically, it's an additional step, but the two legs in this new approach seem like far more likely places to find well-maintained packages rather than one full markdown-to-native renderer, if that make

[2019-09-21 02:46] hawkrives commented on #3933
Yep

[2019-09-21 23:30] #4026 closed, assigned to rye

[2019-09-22 02:36] drewvolz commented on #3933
I'd think [showdown](https://github.com/showdownjs/showdown) might give us what we'd want.

[2019-09-22 03:01] drewvolz commented on #3933
Experimenting with showdown and react-native-htmlview.

I tweaked `modules/markdown/markdown.js` to look more like this:

[code]

it doesn't look too bad. This is without any additional custom styles!

<details>
<summary>📸 Screenshots</summary>

~ | ~
--|--
<img width="486" alt="Screen Shot 2019-09-21 at 7 52 41 PM" src="https://user-images.githubusercontent.com/5240843/65381642-81199800-dcaa-11e9

[2019-09-22 04:43] hawkrives commented on #3933
I'd like to request `marked` (https://marked.js.org/#/README.md#README.md, https://github.com/markedjs/marked) as our Markdown parsing library.

Marked has more contributors and has had more development (and is faster), even though Showdown is a bit older. https://npm-stat.com/charts.html?package=marked&package=showdown&from=2015-09-20&to=2019-09-20

We should be able to do something like this to

[2019-09-29 14:12] rye commented on #889
I have now set up two new exports in the Sketch project for the foreground ("Old Main" visual) and the background. (yellow to black gradient background)

I will run these through the converter, since it doesn't appear we can directly reference an SVG.

[2019-09-29 15:30] rye commented on #889
Work in progress over at #4059.

[2019-09-29 17:57] #889 closed, assigned to rye

[2019-09-29 20:10] drewvolz commented on #3933
Thanks @hawkrives. I've swapped out `showdown` for `marked` and progress has started on the [`better-markdown`](https://github.com/StoDevX/AAO-React-Native/tree/better-markdown) branch.

[2019-09-29 20:42] #1141 closed, assigned to nobody

[2019-09-29 22:23] drewvolz opened #4062 "Replace iOS beta onboarding link with testflight"
Swap out the defunct heroku/fastlane signup with testflight's link. This is a note so that we are aware that it's broken and that we should correct the link once we promote our next beta build.

[2019-09-30 12:44] rye opened #4063 "Fix up sentry-cli invocation"
It appears that the properties file is not getting loaded.

[code]

[2019-10-01 14:14] hawkrives opened #4075 "Building hours update for The Pause Kitchen"
## Before:

[code]

## After:

[code]

[2019-10-01 14:56] drewvolz opened #4076 "Search results appear offscreen if previously scrolled"
I’m noticing this behavior post-removal of the alphabet sectionlist section indexes since I’m unable to reproduce on something like Carls.

1. Load orgs or dictionary
2. Scroll the list down a few swipes past whatever word your searching for
3. Search for that word
4. Notice it renders offscreen and you must scroll to get to it

[2019-10-01 17:27] #4075 closed, assigned to nobody

[2019-10-06 14:54] rye opened #4096 "Migrate Nightlies to GitHub Actions"
As the last part of the GitHub Actions migration, we need to migrate nightlies to GitHub Actions. This will involve

- Adding a "schedule" to the `on` block.
- Re-tooling Fastlane configs so that they understand schedule builds.
- Removing the CircleCI configuration and disabling Circle's integration with our repository.

[2019-10-07 00:41] #4096 closed, assigned to nobody

[2019-10-07 12:38] rye commented on #4063
After migrating to GitHub Actions, this is still in place.

[2019-10-29 13:23] rye commented on #4063
Furthermore, I don't even seem to be successfully writing in the `SENTRY_AUTH_TOKEN` value… perhaps that's the underlying problem?

I'll be taking a look at this today.

[2019-10-29 13:25] rye commented on #4063
I have added a `SENTRY_AUTH_TOKEN` secret.

[2019-10-29 13:32] rye commented on #4063
So, I will PR a modification that uses environment variables instead of this file, which apparently doesn't work.

The only other explanation I can think of is that `yarn run` is eating the environment variable, or that the current working directory of a fastlane subcommand is somehow different on GitHub Actions than elsewhere. Using environment variables will alleviate this problem.

[2019-10-29 17:50] #4063 closed, assigned to rye

[2019-10-31 21:45] hawkrives commented on #3907
This is closed by #4155 … even if sentry still fails to upload, this particular issue has been fixed.

[2019-10-31 21:45] #3907 closed, assigned to nobody

[2019-11-23 20:32] drewvolz opened #4234 "Building hours view is missing its VC title"

[2020-02-28 03:49] hawkrives opened #4464 "Building hours update for Skoglund Pool"
## Before:

[code]

## After:

[code]

[2020-02-29 15:31] rye commented on #4464
Completed in #4466.

[2020-02-29 15:31] #4464 closed, assigned to nobody

[2020-04-16 15:12] rye commented on #3520
I can no longer reproduce this on my device; should we close?

[2020-04-16 15:14] rye commented on #3631
Where does that old code live?

[2020-04-20 14:00] hawkrives commented on #3631
https://github.com/frog-pond/ccc-server/pull/291 I think, so I think this issue can be closed.

[2020-04-21 14:33] rye commented on #3631
Sounds good. Closing.

[2020-04-21 14:33] #3631 closed, assigned to nobody

[2020-04-22 22:04] rye opened #4648 "Tracking: Manitou Messenger is being renamed"
See also frog-pond/ccc-server#377.

According to Senate Resolution 06/2020,

See also: [Resolution 06_2020.pdf](https://github.com/StoDevX/AAO-React-Native/files/4519208/Resolution.06_2020.pdf)

It sounds as though the newspaper is going to be renamed to "The Olaf Messenger."

We will need to update references accordingly as the transition happens.

[2020-04-27 13:54] hawkrives commented on #4234
@drewvolz Is this still an issue? I feel like we thought this vanished on its own.

[2020-04-27 17:57] drewvolz commented on #4234
This is still an issue.

[2020-05-02 15:43] rye commented on #4062
Triaging this… is there any place besides the README that we need to change?

[2020-05-02 15:46] rye commented on #4062
Oh, also—do we know who controls the boarding-aao Heroku app? Apparently it's throwing errors, and while we're [changing to a public TestFlight link](https://developer.apple.com/testflight/) I think we should also deactivate that app.

[2020-05-02 15:48] hawkrives commented on #4062
Me. I'll try to remember to do that.

[2020-05-02 15:55] rye commented on #4062
@hawkrives I can't seem to find the login password for TF so you might have to take care of changing the link.

[2020-05-21 00:09] drewvolz opened #4699 "Turn off wifi reporting in help tools"
An out of band conversation with @hawkrives revealed that the backend for wifi reporting no longer collects the reports and the db entry for aao has been nixed

(a) So we can disable this view from the backend by changing the enabled value here to false. https://github.com/StoDevX/AAO-React-Native/blob/master/data/help/0-wifi.yaml

(b) Additionally, we should remove the location collection logic,

[2020-05-21 01:11] rye commented on #4699
Pity to see it go, but it does mean that the privacy policy, location permissions, and such can all get removed.

That should happen, and we should aim to publish a new release in short order.

[2020-05-30 20:31] rye commented on #4062
I cannot generate the TestFlight link, however I have confirmed that I do have control over the boarding-aao Heroku app.

[2020-06-01 20:09] hawkrives commented on #4699
Oh, that's true, we can remove location permissions. Excellent point.

[2020-07-12 20:50] rye opened #4774 "Release v2.8.0"
[📆  Corresponding Milestone](https://github.com/StoDevX/AAO-React-Native/milestones/v2.8.0)

[🔍 v2.7.0...release/v2.8.0 comparison](https://github.com/StoDevX/AAO-React-Native/compare/v2.7.0...release/v2.8.0)

It's been nearly 2 years since [our last release, v2.7.0](https://github.com/StoDevX/AAO-React-Native/releases/tag/v2.7.0), and it's nearly time for a new one.

This checklist briefly outlin

[2020-07-16 19:14] rye commented on #3190
We no longer use Circle, so I am going to close this issue.

[2020-07-16 19:14] #3190 closed, assigned to rye

[2020-08-22 16:37] willjad opened #4841 "Add dorm-specific dining hours info"
Dining hours are posted to https://wp.stolaf.edu/reslife/dining-hours/ each day to inform students of when their dorm can get food. It would be nice of AAO could display this information in-app. I'm not sure where this information would be best displayed, but probably under the Stav Hall building hours? Alternatively, each housing location could have its own panel so a student could favorite their

[2020-08-23 21:27] rye commented on #4841
Thanks for the feedback and kicking off an issue here! I think this is definitely worth exploring, and I've spent this morning/afternoon hacking on a tool to build this for us, now proposed in #4843.

There are two ways to do this with our system, each with their own tradeoffs.

- Currently, spaces can have multiple schedules. For example, Stav (currently) has a "Breakfast", "Lunch", and "Dinner"

[2020-08-23 21:32] rye opened #4844 "GitHub Actions not validating data on PRs"
I just realized, on #4843, that I pushed invalid data but the "JavaScript Checks" are green. We don't seem to run `yarn run validate-data`, but I think we probably should, just to make sure valid data gets merged (and eventually deployed).

[2020-08-23 22:15] #4844 closed, assigned to rye

[2020-08-24 01:05] rye commented on #4841
A brief update to keep #4843 in sync.

The appearance of the changes made there was… <details><summary>less than ideal</summary><img src="https://user-images.githubusercontent.com/1566689/90992616-906a2b00-e576-11ea-9848-5af095a32fa9.png"> (thanks @drewvolz for checking this before it was merged)</details>

So I pushed changes and we are now splitting each of the dorms into their own individual ve

[2020-08-24 01:46] #4841 closed, assigned to nobody

[2020-08-26 13:36] willjad commented on #4841
NB we're now switching to individual sign-ups for each meal slot, so it may be good to wait on pushing those changes to app/play store. If things go well, we resume normal dining on September 3. Otherwise I think it'll be back to scheduling by dorm.

[2020-08-26 18:42] hawkrives commented on #4841
@willjad Do you see the changes I made last night/this morning, where I just marked Stav as being reservation-only?

[2020-08-26 19:59] willjad commented on #4841
Ah I do now. Just FYI, it seems to break the ability to see any other building hours info.
![Screenshot_20200826-145621](https://user-images.githubusercontent.com/9014216/91350539-73b73880-e7ac-11ea-9f22-2c48cbeefd77.png)
Pixel 3 running latest Android public beta version

[2020-11-12 20:13] hawkrives opened #4917 "Relicense to AGPL3?"
Hi all,

@drewvolz, @drewthor, @StoDevX/all-about-olaf, @rye, @mattk410, @hannesmcman, @erichkauffman, @elijahverdoorn

Does anyone have any objections to relicensing this project from MIT to AGPLv3?

The main difference is that under the AGPL, any institution who wants to use the app has to make their source code available upon request.

I, personally, think that's a fine requirement. I like open

[2020-11-13 15:25] hawkrives opened #4918 "Android meal switcher popup has two popups"
The first one, which is the only level on iOS, and then you have to tap "Breakfast" to get the Android system popup to pick Lunch.

[2020-11-18 13:30] rye opened #4931 "💥 Android crash on boot: disable native pointer tagging, upgrade to react-native-sentry v2.0"
On app start on Android for a while now, we've been getting a crash with the following output appearing in logcat:

[code]

Searching for `"Pointer tag for" "was truncated"` on the `sentry-react-native` repository brought up [#1087](https://github.com/getsentry/sentry-react-native/issues/1087) which references [#904](https://github.com/getsentry/sentry-java/issues/904) on their Java SDK.

Tagged p

[2020-11-19 00:22] #4699 closed, assigned to nobody

[2020-11-19 22:19] rye commented on #4931
Closed by #4932 and #4933, when taken together.

[2020-11-19 22:19] #4931 closed, assigned to rye

[2021-01-23 23:21] rye opened #5030 "Add Ole Avenue Construction camera"
Just spot-checked the [webcams](https://www.stolaf.edu/multimedia/webcams/) page, and found a new one:

https://www.stolaf.edu/multimedia/webcams/?cam=oleave

(This is probably a temporary one, but it's going to stick around for a while?)

[2021-01-24 05:01] hawkrives commented on #5030
I talked to Joshua last week; it'll be up for the duration of the Ole Ave project, at least.

[2021-01-24 05:02] drewvolz opened #5031 "Link to transportation covid page?"
I found https://wp.stolaf.edu/transportation/covid/ which points out which services are unavailable.

1. Is it work updating the individual items we have as this page changes? This is dynamic and changing whenever?
2. Do we want to provide this as a link on a page or every page in transportation? Maybe via a button or link in the `InfoHeader`?

[2021-01-24 05:06] drewvolz opened #5032 "Update Transportation and Contacts links"
**Important Contacts**
- [ ] College pastors

**Transportation**
- [x] Enterprise carshare
- [x] Hiawathaland transit (due to #5031)

[2021-01-24 21:54] #5030 closed, assigned to nobody

[2021-01-27 01:13] drewvolz commented on #5031
Also found a nice ["subscribe for text message updates"](https://wp.stolaf.edu/transportation/subscribe/)

[2021-02-09 16:58] rye opened #5050 "Dictionary update for DCC (→ DISC?)"
From a user submission:

## Before:

[code]

## After:

[code]

(I've edited the text in the After section slightly to correct two flagged typos.)

[2021-02-09 16:59] rye commented on #5050
Marking as a High-Priority Maintenance Item as this may involve a dangling reference to a no-longer-existent organization.

[2021-02-09 17:01] rye commented on #5050
See also: https://oleville.com/disc/

[2021-02-09 18:05] #5050 closed, assigned to nobody

[2021-04-07 01:26] rye opened #5099 "Fix TypeScript errors and warnings"
So now that we're successfully on typescript and using it, there are a number of errors and warnings to clean up so that we can eventually force all typescript errors to stop the build.

I've collected the error codes by count here.  The fixes for each might be roughly the same, so that's why I am grouping these together.

- [ ] 111: `TS2322` (#5100)
- [ ] 93: `TS2339`
- [ ] 88: `TS2345`
- [ ] 64:

[2021-07-14 01:20] hawkrives opened #5230 "Integrate network logger into dev tools somewhere"
https://github.com/alexbrazier/react-native-network-logger

[2021-07-14 12:34] hawkrives opened #5232 "Package X has been ignored because it contains invalid configuration. Reason: Package subpath './package.json' is not defined by "exports" in /Users/rives/Projects/allaboutolaf/node_modules/p-props/package.json"
[code]

[2021-07-18 18:55] rye opened #5236 "Invocation of non-function in source/views/stoprint/print-jobs.tsx"
I'm going to need some help from @hawkrives on this one, I think!

LGTM found a "Callee is not a function: it has type `undefined`" correctness hole:

https://lgtm.com/projects/g/StoDevX/AAO-React-Native/snapshot/58f99f6ef922ebb9223429ccf424aa0bfdb491b3/files/source/views/stoprint/print-jobs.tsx

It seems to think I introduced this in 670c2cb47a79ddbb9e733563cdd267e1f1f976ad, but I think the under

[2021-07-18 18:56] hawkrives commented on #5236
Just to check, you're connected to the Stolaf VPN?

[2021-07-18 18:57] rye commented on #5236
Nope, lol... maybe I should be!

[2021-07-18 18:59] rye commented on #5236
In Settings > Debug, `login` > `status` is `"logged-in"`, FWIW.

[2021-07-18 19:03] rye commented on #5236
This also just came through on Sentry:

![Screenshot from 2021-07-18 14-02-25](https://user-images.githubusercontent.com/1566689/126079255-9b9b16b7-c85e-469e-b475-2249ab43238d.png)

[2021-07-18 19:27] rye commented on #5232
I believe these might be because of ESM upgrades?

See: https://github.com/sindresorhus/p-props/releases/tag/v5.0.0 and https://github.com/chalk/strip-ansi/releases/tag/v7.0.0.

Both link to: https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c.

[2021-07-18 22:13] hawkrives commented on #5232
Yeah, I expect so.

We may need to roll back those two upgrades until ??? (maybe a new version of metro, which means a new version of rn?)

[2021-07-20 00:26] drewvolz commented on #5236
@rye do you see the same outcome after resetting the app and then connecting when on the VPN?

[2021-07-20 00:31] rye commented on #5236
I do get a Connection Issue screen instead of a Fetching screen if I first open settings.

If I reset the app, I'm prompted to log in. If I log in and then go to the stoPrint screen, I get Connection Issue.  It's only after the app restarts that this fails, it seems. Force stopping, my login state isn't preserved, but I guess I'd kinda expect the stoPrint screen to do that for me

[2021-10-09 15:50] rye opened #5386 "Android builds produce non-`.gitignore`d content"
More of a note to self.  After `yarn bundle:android`, I get:

[code]

I think we could probably stand to ignore these, since they appear to be copied in during the build process.

[2021-10-09 15:59] #5386 closed, assigned to rye

[2021-10-09 16:00] rye commented on #5386
Closed — I don't think the intended behavior is for us to ignore files that the bundler produces...

But, I did find some cleanup tasks to accomplish from #3978 :grin:

[2021-10-12 00:50] drewvolz opened #5394 "Upgrading react-native-paper?"
There's a nicety I'd like to use in the later versions of `react-native-paper`'s [<List.Item />](https://callstack.github.io/react-native-paper/list-item.html#descriptionNumberOfLines) that [v2 lacks](https://callstack.github.io/react-native-paper/2.0/list-item.html).

I'd like to be able to set `descriptionNumberOfLines`. The equivalent for iOS allows for us to override a max number of lines, but

[2021-10-27 13:24] hawkrives opened #5483 "Investigate line wrapping in calendar location field"
<img src="https://user-images.githubusercontent.com/464441/139074342-f4e7f8be-4f70-4a92-814e-542bef981c7d.png" width=350 alt="calendar screenshot" />

Some events use Zoom links in their descriptions now.

[2021-10-27 17:24] drewvolz commented on #5483
Separately, would it make sense to show the description field as the second line in the calendar row instead of the location if location starts with a link?

[2021-10-29 01:31] hawkrives opened #5501 "Use SF Symbols"
https://www.npmjs.com/package/react-native-sfsymbols

[2021-10-29 11:24] rye opened #5502 "Upgrade macOS CI runner environment"
We're a few versions behind, and Apple is rejecting our builds on an "outdated" SDK version of 13.7.

Ideally, we'd like to get up to the latest:

- macOS 11
- Xcode 13
- iOS 15.0 SDK

[2021-10-30 02:37] hawkrives commented on #5502
Closed by #5511

[2021-10-30 02:37] #5502 closed, assigned to nobody

[2021-10-30 13:16] hawkrives opened #5515 "Missing iOS icons for iPad Pro"
ITMS-90892: Missing recommended icon - The bundle does not contain an alternate app icon for iPad of exactly '167x167' pixels, in .png format for iOS versions supporting iPad Pro. To support older operating systems, the icon may be required in the bundle outside of an asset catalog. Make sure the Info.plist file includes appropriate entries referencing the file. See https://developer.apple.com/doc

[2021-10-30 16:53] drewvolz opened #5516 "Write tests for text parsing"
Following-up #5514, we should add tests to validate the functionality behind the `innerTextWithSpaces` function.

[2021-10-31 05:24] hawkrives opened #5517 "Building Hours view is missing the title"
![image](https://user-images.githubusercontent.com/464441/139569249-64c9f955-706d-4e73-b238-8a369e24da32.png)

[2021-10-31 06:07] drewvolz commented on #5517
Dup of #4234 😄

[2021-10-31 13:45] hawkrives commented on #4234
This is indeed still an issue:

<img src=https://user-images.githubusercontent.com/464441/139586607-f19f6039-736d-43fc-92d8-e0a0a3e6d541.jpeg width=480 />

[2021-10-31 13:45] hawkrives commented on #5517
Closing as duplicate!

[2021-10-31 13:45] #5517 closed, assigned to nobody

[2021-11-02 10:36] hawkrives commented on #5515
iTunes connect was not satisfied - same messages

[2021-11-02 16:25] drewvolz commented on #5515
Okay. I will revert the first attempt and read through the article linked.

[2021-11-02 18:10] drewvolz opened #5528 "Resetting the app only works after restarting the app"
The setting to reset the app's local copy of state isn't applying until force-quitting the app and launching again. Previously the call to reload the bundle would apply immediately afterwards while in the app.

[2021-11-02 21:48] hawkrives commented on #5528
blocked on #5067 or equivalent, I think

[2021-11-03 18:19] drewvolz opened #5535 "iOS certificate expired"
We need to nuke and re-run match to update the certificates.

[code]

[2021-11-03 18:34] hawkrives commented on #5535
Done!

[2021-11-03 18:34] #5535 closed, assigned to nobody

[2021-11-03 21:46] #5515 closed, assigned to nobody

[2021-11-04 21:10] #2243 closed, assigned to nobody

[2021-11-04 21:13] #3365 closed, assigned to nobody

[2021-11-04 21:17] #2945 closed, assigned to nobody

[2021-11-04 21:17] #2944 closed, assigned to nobody

[2021-11-04 21:18] #2412 closed, assigned to nobody

[2021-11-04 21:20] #2946 closed, assigned to nobody

[2021-11-04 21:22] drewvolz commented on #3093
Is this still an issue? I'm seeing hours and transportation update appropriately.

[2021-11-04 21:26] #2388 closed, assigned to nobody

[2021-11-04 21:28] #1650 closed, assigned to hawkrives

[2021-11-04 21:30] #1521 closed, assigned to nobody

[2021-11-04 21:31] #2791 closed, assigned to nobody

[2021-11-04 21:31] #2048 closed, assigned to nobody

[2021-11-04 21:33] #5031 closed, assigned to nobody

[2021-11-04 21:39] #3120 closed, assigned to nobody

[2021-11-04 21:40] #2468 closed, assigned to nobody

[2021-11-04 21:41] drewvolz commented on #2059
Closing as this has been removed from the app.

[2021-11-04 21:41] #2059 closed, assigned to nobody

[2021-11-04 21:42] #2414 closed, assigned to nobody

[2021-11-04 21:43] #1467 closed, assigned to nobody

[2021-11-04 21:44] #1199 closed, assigned to nobody

[2021-11-04 21:56] hawkrives commented on #3093
I was noticing it sporadically, at least on prod, when the hours got updated

[2021-11-04 21:59] #3202 closed, assigned to nobody

[2021-11-04 22:00] #4917 closed, assigned to nobody

[2021-11-04 22:00] #3979 closed, assigned to nobody

[2021-11-10 14:30] hawkrives opened #5573 "Utilize UIMenu popups on iOS in some spots"
See https://github.com/dominicstop/react-native-ios-context-menu

[2021-11-10 14:32] hawkrives commented on #5573
We may need to maintain our own fork, as this one seems to have stalled ~10 months ago.

[2021-11-10 22:13] drewvolz commented on #5573
Until we're ready to tackle this, would it make sense to move this to discussions and out of issues?

[2021-11-12 01:03] hawkrives commented on #5573
Sure, that sounds good! (GH mobile doesn't have that button yet. Do you mind switching it?)

[2021-11-12 01:36] #5573 closed, assigned to nobody

[2021-11-19 21:31] drewvolz opened #5601 "Update contributing docs"
Noticed things are out of date such as our choice of CI.

[2022-04-13 00:43] drewvolz commented on #5528
rn-restart has been superseded a few times -- I think this is at #5720 now.

[2022-04-13 00:46] drewvolz opened #5883 "Replace jcenter with mavenCentral"
jcenter was deprecated in March. We should swap it with mavenCentral as that appears to be the most widely accepted replacement that is well-maintained.

[2022-04-13 11:19] rye opened #5885 "Fix Peer Dependencies"
I can't install from just `package.json`:

[code]

[2022-04-14 00:05] drewvolz opened #5887 "Fix circular dependencies"
The project has:

amount | about | assessment
--|--|--
8 erroring require cycles | redux | we must do something about these
35 warning cycles | image exports | we can do something about these
95 skipped cycles | dependencies from node_modules  | not necessarily up to us to change

We can find these with the [dpdm](https://github.com/acrazing/dpdm) package.

[code]

<details>
<summary>📝 Full output

[2022-04-14 22:08] drewvolz commented on #1156
Partially implemented via https://github.com/StoDevX/AAO-React-Native/pull/1175

[2022-04-15 00:14] hawkrives commented on #5885
This should be fixed now. @rye Can you try again to be sure?

[2022-04-15 00:17] rye commented on #5885
I now get (after the `rm`s in the above command):

[code]

[2022-04-15 01:05] drewvolz commented on #5885
I can replicate this issue following the steps Kris outlined.

[2022-04-15 02:35] hawkrives commented on #5885
Oh yes, I remember that message now. We'll keep this open, then.

The problem has gone from `ERR` to `WARN`, though, which is nice 😄

[2022-04-15 20:47] drewvolz commented on #5887
https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-cycle.md

We should add to our rules:
- import/no-cycle: `error`
- import/no-self-import: `error`

[2022-04-16 04:23] hawkrives commented on #5883
I think this is done; `trunk` says:

[code]

[2022-04-16 04:24] hawkrives commented on #5528
This appears to have been fixed, at least for me.

[2022-04-16 05:18] drewvolz commented on #5883
Nice, closing this!

[2022-04-16 05:18] #5883 closed, assigned to nobody

[2022-04-16 08:39] drewvolz commented on #5528
Looks fixed. Closing!

[2022-04-16 08:39] #5528 closed, assigned to nobody

[2022-04-16 14:31] rye commented on #5885
I no longer get these package installation warnings after I `rm package-lock.json` and `rm -rf node_modules/`. Closing for now.

[2022-04-16 14:31] #5885 closed, assigned to nobody

[2022-04-16 14:44] hawkrives commented on #5885
Sweet!

[2022-04-16 21:45] hawkrives commented on #5394
@drewvolz Is this complete? Should we repurpose it?

[2022-04-16 21:57] drewvolz commented on #5394
This looks to be done. Closing!

[2022-04-16 21:57] #5394 closed, assigned to nobody

[2022-04-16 22:02] drewvolz opened #5921 "Scrolling behavior is acting strange on building hours edit view"
The rubberband scrolling isn't behaving quite right here.

Scrolling horizontally a few times causes even more jittery behavior when returning to vertical scrolling.

[2022-04-18 03:44] drewvolz opened #5927 "Reduce duplication of shared code in hours editor"
_Originally posted by @drewvolz in https://github.com/StoDevX/AAO-React-Native/pull/5926#discussion_r851837107_

[2022-04-18 11:31] #5927 closed, assigned to nobody

[2022-04-19 15:37] drewvolz opened #5939 "Swipe to dismiss navigation"
This seems to be missing (on iOS). Was RN gesturehandler handling this for us?

[2022-04-19 16:26] hawkrives commented on #5939
I think it was just react-navigation… gesture-handler was for the map bottom slider thing, IIRC?

[2022-04-19 22:17] #5939 closed, assigned to nobody

[2022-04-19 23:39] drewvolz opened #5943 "Fix metro resolving custom module exports"
[code]

---

Option 1:

A quick solution that _only_ fixes this one issue but not the larger problem would be to change `@frogpond/titlecase`:

1. Rename `to-title-case.mjs` -> `index.mjs`
1. Change the entrypoint's location in `package.json`:

[code]

Option 2:

Bigger changes to`metro.config.js` that change `resolverMainFields`, `sourceExts`,  `blockList`, `extraNodeModules`, `watchFolders` ...

[2022-04-20 00:35] hawkrives commented on #5943
I vote ① - we should expect our dependencies being correct, especially ones we control.

[2022-04-20 00:58] hawkrives commented on #5943
Excuse me, Metro - do you not respect the "module" key?

<img src="https://user-images.githubusercontent.com/464441/164125835-e38e6de0-67f1-43ce-a7f3-621ceb57bf67.png" width=340 alt="excuse me, metro" />

[2022-04-20 01:07] drewvolz commented on #5943
That's what option 2 is –– we would have to write a bunch of resolver configuration to fix this.

[2022-04-20 02:18] #5921 closed, assigned to nobody

[2022-04-20 02:19] hawkrives commented on #5943
If titlecase switched to a common js module, would that fix this? If it used the "main" key instead of "module"?

Probably.

I'll switch it to TS tomorrow and make it be CJS instead of ESM.

[2022-04-20 02:19] hawkrives commented on #5943
or "in addition to"

[2022-04-20 02:22] hawkrives commented on #5943
Unless, of course, just renaming the entrypoint to "index.mjs" works.

[2022-04-20 04:08] drewvolz opened #5946 "Fix pod installation"
We need to look into resolving our CI woes with pod changes. Current issue to resolve is around our forked copy of react native custom (chrome) tabs failing the build as the podfile needs an update.

[2022-04-20 04:13] drewvolz commented on #5099
@rye thoughts on this issue?

[2022-04-20 04:14] drewvolz commented on #3643
Is this one done as of #5513

[2022-04-20 06:51] drewvolz opened #5949 "Investigate autolinking for packages that should be auto linked"
Our metro config is pretty vanilla, and that is a good thing. But we have hit a corner case where we thought we were auto linked yet we had to manually link to see the results.

I believe this is because of how we are resolving our dependencies at the moment.

We should be able to adopt a metro config that has some of these elements (not necessarily these exactly) to achieve this. In particular, t

[2022-04-20 11:02] rye commented on #5099
I should update the counts. We still have outstanding TypeScript errors and warnings, I thought, so ideally we could just use this for tracking.

[2022-04-20 12:22] hawkrives commented on #3643
Yes, although RN removed `Picker` recently, so I'll need to add that to the checklist.

[2022-04-20 12:39] #5946 closed, assigned to nobody

[2022-04-20 12:40] rye commented on #5946
Should we also look into getting caching back?

[2022-04-20 14:28] hawkrives opened #5957 "Re-enable iOS CI caching"
It takes ~45 minutes to build + test currently.

[2022-04-20 14:29] hawkrives commented on #5957
Prompted by https://github.com/StoDevX/AAO-React-Native/issues/5946#issuecomment-1103885756

[2022-04-20 14:31] hawkrives commented on #5099
If you have a script for it, I was thinking that we could commit the results of this (and the results of the error diff) to master, so we'd automatically see them in our PRs (if we remember to run them, which I think the three of us would).

[2022-04-20 20:23] hawkrives commented on #3643
I think this is done!

[2022-04-20 20:23] #3643 closed, assigned to nobody

[2022-04-20 20:24] hawkrives opened #5959 "Remove "ignore" list from LogBox (source/root.tsx)"
- [ ] Failed prop type: Invalid prop `containerTagName` of type `object` supplied to `ReactMarkdown`, expected `function`
- [ ] Failed prop type: Invalid prop `containerTagName` of type `string` supplied to `ReactMarkdown`, expected `function`.
- [ ] MaskedViewIOS has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from `@react-na

[2022-04-20 23:16] rye commented on #5099
Well, the "script" here is just a pretty straightforward pipeline:

[code]

As far as output — do you mean the full output of `tsc`? That way we would essentially get the `npx tsc` diffs for free.

[2022-04-20 23:53] hawkrives commented on #5099
Yep, that's what I was thinking. I'll write up some stuff in the Makefile, and we can start watching those diffs in git!

[2022-04-21 01:10] hawkrives opened #5960 "Create new CI step to verify that metro compiles"
If we run the "npm run bundle:ios" step early, we'll get faster feedback!

[2022-04-21 01:13] hawkrives commented on #5501
Related: https://github.com/StoDevX/AAO-React-Native/pull/5956

[2022-04-21 06:15] hawkrives commented on #5943
Closed by https://github.com/StoDevX/AAO-React-Native/pull/5951

[2022-04-21 06:15] #5943 closed, assigned to nobody

[2022-04-21 06:40] hawkrives commented on #5099
See #5961 for a PR wth the output of the two scripts

[2022-04-21 06:42] #5960 closed, assigned to nobody

[2022-04-22 16:21] drewvolz opened #5972 "Fix detox smoke test"
The testID cannot be found because the testID for the settings back button is no longer defined.

---

Learnings from looking into fixing the detox smoke test: if we add a custom left back button component (imported from native navigation) we can pass in props for testID and the smoke test then passes.

What seems to be happening is that passing a testID to the vanilla NavigationOptions for a <Sta

[2022-04-22 16:35] drewvolz commented on #5972
Alternatively we could target the back button (temporarily?) by looking for the text "Back" and tapping on the first that appears. This also fixed the test.

[2022-04-22 16:37] hawkrives commented on #5972
(I think I like the second option)

[2022-04-22 18:54] #5972 closed, assigned to nobody

[2022-04-22 21:39] hawkrives opened #5974 "Make CI step to verify that "pod install" works"
Then, make the build iOS step depend on it.

[2022-04-22 23:12] rye commented on #5974
Isn't that `pod install --deployment`?

[2022-04-23 01:00] drewvolz commented on #3520
I think this is still happening. A fresh install will show "no hours" as the loading state until we've fetched. It's accurate but not ideal.

[2022-04-23 05:38] hawkrives commented on #5974
Yep. But we're currently not running that (except on nightlies), so there's actually another pod.lock error on main right now 😅

I'd like to have a macOS build step that just installs npm and cocoapods, to make sure that the lockfile works. At least temporarily, until the builds are passing again.

[2022-04-23 17:21] #5974 closed, assigned to nobody

[2022-04-24 22:30] drewvolz commented on #3168
With the addition of #5947, this now also impacts iOS.

[2022-04-25 00:19] drewvolz opened #5984 "Implement useWindowDimensions to replace ViewPort component"
Tracking the scope of #5983

---

Refactoring to functional component:
- [x] #5987
- [x] #5988

Inlining useWindowDimensions hook:
- [x] #5987
- [x] #5988
- [x] #5986
- [x] #5985

Cleanup
- [x] remove modules/viewport | #5983
- [x] #6024

[2022-04-26 17:31] drewvolz opened #6007 "[Tracking] Navigation"
Adding the new navigator APIs to the views.

iOS audit
- [x] SIS
  - [x] Balances
  - [x] Course search
  - [x] TES
  - [x] Open jobs
- [x] stoPrint
  - [x] Print jobs
  - [x] Release
  - [x] Printer list
  - [x] Error views
- [x] Menus
- [x] News
- [x] Building hours
  - [x] List
  - [x] Detail
  - [x] Favorite
  - [x] Report a problem
  - [x] Edit schedule
- [x] Calendar
  - [x] St Olaf
  - [x]

[2022-04-27 02:22] hawkrives opened #6008 "Color fixup for iOS"
| Settings | AAO | 50/50 |
| --- | --- | --- |
| ![image](https://user-images.githubusercontent.com/464441/165426111-9b50f609-f909-439f-99df-70e9494fcca1.png) | ![image](https://user-images.githubusercontent.com/464441/165426126-233efb9c-95a2-4895-b000-82c56305ad5d.png) | ![image](https://user-images.githubusercontent.com/464441/165426137-b57255a1-0808-47cc-842f-06d6a3b7c2ed.png) |

- [ ] Backgrou

[2022-04-27 15:30] drewvolz commented on #6008
This is a sibling issue to #3168

[2022-04-27 21:06] hawkrives commented on #6008
We may be able to use https://reactnative.dev/docs/platformcolor to extract the platform's colors, I'm not sure yet.

[2022-05-02 02:05] drewvolz opened #6024 "Use react-navigation searchbars"
- [x] #6025
- [x] #6026
- [x] #6087
- [x] #3558
- [x] #6110

[2022-05-04 17:18] drewvolz opened #6035 "Investigate searchbar jitteriness on PTR"
Continuing #6024, we could improve the UX of the new native searchbar.

Ideas:
- Look to see if safearea is causing the flicker like we saw with the tableview
- Is this just PTR?
- Are we refreshing our loading/refreshing variables too quickly?
- Is this caused by the warning that we see on load?

[code]

[2022-05-04 18:19] hawkrives commented on #6035
I'm game to remove SafeAreaView - I'm thinking that it'd be nice to put a small toolbar at the bottom, like Mail.app has, on any view without a tab bar. I think it would show the last-updates time and maybe an (i) icon to tell you where we get the data from (IE it would replace the current ListFooterComponent).

[2022-05-05 19:38] drewvolz opened #6036 "Change back button title to default value"
We are overriding what back should be as we apply the new navigator APIs. I think leaving it up to the navigator to choose what the value should be might make more sense than us deciding if it should be read as Back, Home, or a custom view title.

[2022-05-07 18:41] #6035 closed, assigned to nobody

[2022-05-08 23:00] drewvolz opened #6044 "Add strict navigation return types to all screens"
This would move us away from returning `JSX.Element` for the majority of our functional screens.

The documentation on organizing types from react navigation shows that we can strongly type the return for our screens. Are we interested in refactoring every screen to be checked in this way?

[code]

[code]

[code]

[2022-05-08 23:07] drewvolz commented on #6044
We can also annotate [`useNavigation`](https://reactnavigation.org/docs/typescript/#annotating-usenavigation) and [`useRoute`](https://reactnavigation.org/docs/typescript/#annotating-useroute) with these patterns.

They do provide one warning about type safety, though.

[2022-05-16 04:36] #6036 closed, assigned to nobody

[2022-05-26 07:27] drewvolz opened #6093 "Pull to refresh feels broken on the bonapp menu"
Definitely something I introduced in
- #6070

Maybe this is worth looking at

https://github.com/StoDevX/AAO-React-Native/blob/9b2c284303e6a729636dc671dfdf37bd8d225a0a/source/views/menus/menu-bonapp.tsx#L233-L234

[2022-05-28 02:00] drewvolz commented on #6024
We may have to refactor course search's recent search page (the index/entry into course search) for a few reasons.

First, we do not have a list that the searchbar can attach and insert itself into through the navigation hooks. The current list displays list items without being wrapped by a traditional list.

Second, the searchbar automatically hides itself. There is a prop for android to focus it

[2022-05-28 14:22] hawkrives commented on #6024
I vote we make it work like the bottom of Photos' search page

Bar in the toolbar, then just the list of recent search terms.

We can do other fancy stuff in the future

[2022-05-28 19:56] drewvolz commented on #6024
Okay so that means to me that we
- [x] ~Add a SectionList (or two FlatList) to the course-search's recent item list component (it's not currently wrapped)~
  - Update: Issue was with tab navigator. Explanation below in "Challenge 1" as to why we don't need a List to search.
- [x] Add searchbar hook

I can try to see what initialization looks like. I think with no recent searches it may show us the

[2022-05-29 01:13] drewvolz commented on #6024
Making this work for nested tab navigators was a bit confusing at first but the documentation has been helpful in figuring some of this out.

## Challenge 1
SIS top-level recent searches tab has this setup.

✅ When we are one-level deep in a tab navigator, attaching a search bar to the view will work fine.
See: Recent course search --> Search results

⚠️  When we are top-level inside a tab navigat

[2022-05-29 03:11] drewvolz commented on #6024
I do have a solution idea for challenge 2. It uses lodash's `debounce` and not our own `useDebounce` hook. I'm seeing `useDebounce` be called on every new character that's typed.

[code]

[2022-05-30 00:34] drewvolz commented on #3168
I think we can point to `sectionTintColor` just from[ a cursory search](https://cs.github.com/?scopeName=stodevx%2Faao-react-native&scope=org%3Astodevx+repo%3Aaao-react-native&q=sectionTintColor%3D)

https://github.com/StoDevX/AAO-React-Native/blob/be76795620386279ecd48422840da039829eae35/modules/tableview/index.tsx#L11-L19

In most cases we've assigned this to a platform color

https://github.com

[2022-06-02 03:38] drewvolz opened #6109 "Tab navigator will not work with searchbar if it is an embedded navigator"
We've [encountered an issue](https://github.com/StoDevX/AAO-React-Native/pull/6087#discussion_r884324824) with our paradigm of nested tab navigators.

While we are many apps in a trench coat (said hawken), and we like this pattern, it does not play well with react navigation. The top level course search cannot exist in this pattern -- we've tried and got weird results. Weird meaning we were given

[2022-06-02 16:21] drewvolz commented on #3986
Reproduction steps:
- Sign-in with an invalid account in Settings
- Dismiss the invalid login alert
- Go to the homescreen
- Tap stoPrint
- Notice the alert is created infinitely

[2022-06-03 00:30] #6024 closed, assigned to nobody

[2022-06-06 04:22] drewvolz opened #6119 "Make rows that open elsewhere more button-like"
A fair criticism since the visuals don't align with what they do when pushed.

One potential solution could be coloring the row text info blue and hide the chevron if it opens elsewhere. So contact us and reset everything would visually be seen as actions instead of as part of navigation.

[2022-06-18 06:37] #6119 closed, assigned to nobody

[2022-06-20 22:54] drewvolz opened #6153 "All test suites are failing"
Do we need to update our jest config? Did one of our upgrades cause our tests to break?

I am seeing the following for all test suites:

[code]

[2022-06-20 23:52] drewvolz commented on #6153
I think part of this may be needing to exclude `@react-native` from the `transformIgnorePatterns`

[code]

Which then presents a different but less clear error. For example, running an isolated test...

[code]

...results in the following:

[code]

This one makes less sense to me because of how we've defined the `tsconfig`. What do we need to change in our module resolution strategy?

- https://ww

[2022-06-27 00:38] hawkrives opened #6171 "Color fixup for iOS"
| Settings | AAO | 50/50 |
| --- | --- | --- |
| ![image](https://user-images.githubusercontent.com/464441/165426111-9b50f609-f909-439f-99df-70e9494fcca1.png) | ![image](https://user-images.githubusercontent.com/464441/165426126-233efb9c-95a2-4895-b000-82c56305ad5d.png) | ![image](https://user-images.githubusercontent.com/464441/165426137-b57255a1-0808-47cc-842f-06d6a3b7c2ed.png) |

- [ ] Backgrou

[2022-06-27 00:38] hawkrives commented on #6171
This may be a duplicate issue…

[2022-06-27 00:38] hawkrives opened #6172 "Report a Problem view has a sentence-case screen title"
![image](https://user-images.githubusercontent.com/464441/175840721-5b9809c5-357f-407d-b7b4-a084a5e696df.png)

[2022-06-27 01:19] drewvolz commented on #6171
Related / duplicates of:
- #3168
- #6008

[2022-06-27 05:25] hawkrives commented on #6171
Duplicates #6008

[2022-06-27 05:25] #6171 closed, assigned to nobody

[2022-06-27 05:26] hawkrives commented on #6171
(My GitHub mobile loaded the OP into the editor when I opened it, so I posted it rather than risk losing it. Thanks for finding the dup, @drewvolz!)

[2022-07-03 17:05] drewvolz commented on #6172
Closing as this view was removed in #6205

[2022-07-03 17:05] #6172 closed, assigned to nobody

[2022-07-03 17:07] drewvolz commented on #6109
Closed by #6205

[2022-07-03 17:07] #6109 closed, assigned to nobody

[2022-07-03 17:08] drewvolz commented on #5984
Checklist complete. Closing this out.

[2022-07-03 17:08] #5984 closed, assigned to nobody

[2022-07-03 17:12] drewvolz commented on #5032
Adding additional information:

- https://wp.stolaf.edu/transportation/twincities-airport/
- https://drive.google.com/file/d/1Al0eM1KvVkrzZpyjZV9vBQJvTgOrg36J/view

<img width="664" alt="Screen Shot 2022-07-03 at 10 11 15 AM" src="https://user-images.githubusercontent.com/5240843/177050212-ec5236ff-a751-496c-8870-0eb95511914f.png">

[2022-07-03 17:19] drewvolz commented on #4234
Fixed
- https://github.com/StoDevX/AAO-React-Native/commit/e2df00be3d8783bdace67700bf203db68ac60640 withn #5513

[2022-07-03 17:19] #4234 closed, assigned to nobody

[2022-07-03 17:20] drewvolz commented on #3393
Report a problem was removed in #6205

[2022-07-03 17:20] #3393 closed, assigned to nobody

[2022-07-03 17:23] drewvolz commented on #2827
This now opens an email and was fixed via #6205

[2022-07-03 17:23] #2827 closed, assigned to nobody

[2022-07-03 17:24] #3153 closed, assigned to nobody

[2022-07-03 17:27] #1595 closed, assigned to nobody

[2022-07-03 17:28] #2349 closed, assigned to nobody

[2022-07-03 17:28] #1155 closed, assigned to nobody

[2022-07-03 17:30] drewvolz commented on #2820
Mock data implemented via #6078

[2022-07-03 17:30] #2820 closed, assigned to nobody

[2022-08-07 02:10] drewvolz opened #6287 "Android native search bar does not search"
The native search bar for Android does not appear to filter lists.

[2022-08-07 02:11] drewvolz opened #6288 "Android course catalog does not download data"
The course catalog does not appear to download courses on android. iOS works fine.

[2022-08-07 02:20] drewvolz opened #6289 "Android Credits view looks strange"
<img src="https://user-images.githubusercontent.com/5240843/183272297-6caed8b9-5ee9-476a-9999-d085c5c8ed8b.png" width=340 />

[2022-08-07 19:15] drewvolz commented on #6287
Checking again, it does function, albeit slowly.

[2022-08-07 19:15] #6287 closed, assigned to nobody

[2022-08-07 21:47] drewvolz commented on #6288
I have an answer as to what is going on. Requests to `stolaf.github.io` redirect to `stolaf.dev`.

We are returned a `301 Moved Permanently` response.

iOS is able to follow it, Android is not following the redirect.

[2022-08-07 22:25] drewvolz commented on #6288
So maybe it is not a redirect issue?

I am able to fix this locally by changing `urls.ts`

[code]

[2022-08-08 00:03] hawkrives commented on #6288
Is it an RN 0.68 issue? Since they ship the fetch-to-native shim…

[2022-08-08 00:31] drewvolz commented on #6288
Here are [the networking issues for 0.68]( https://reactnative.dev/docs/0.68/network#known-issues-with-fetch-and-cookie-based-authentication)

[2022-08-08 03:20] #6153 closed, assigned to nobody

[2022-08-10 02:00] #6289 closed, assigned to nobody

[2022-08-10 02:01] #6288 closed, assigned to nobody

[2022-08-15 02:22] drewvolz commented on #6153
This may be complete as of:
- adding `@react-native` to `transformIgnorePatterns` via https://github.com/StoDevX/AAO-React-Native/pull/6292
- adding `@frogpond` to `transformIgnorePatterns` via https://github.com/StoDevX/AAO-React-Native/pull/6152/commits/1ff97cf3e106e98656ec88a2a071487f9b877e32

[2022-08-18 03:20] drewvolz opened #6318 "Android prelaunch report"
Google play console has a few notes for us on the android app's stability:

First issue x10
[code]

Second issue

[code]

[2022-08-18 05:33] drewvolz opened #6320 "Investigate platform specific build steps"
We should look into whether our build steps that run / skip platform-specific code are configured correctly.

For #6319 (an Android `build.gradle` change)
- `iOS Cocoapods (push)` (running)
- `Build for Android` (skipped)

<img width="535" alt="Screen Shot 2022-08-17 at 10 28 45 PM" src="https://user-images.githubusercontent.com/5240843/185301789-f6ec7d4d-f8d5-4680-9ea3-a43e4f81d4ef.png">

[2022-08-18 19:56] drewvolz commented on #6318
The PR downgrading gradle versions resolved 10 of the 11 issue instances (first issue).

The second issue "failed to finalize session" is still being reported in one instance.

[2022-08-23 15:36] drewvolz opened #6332 "News filters are not filtering"
Need to look into the last few commits from the news filtering pull request -- the deps array that causes things to re-render or the memoize/caching logic.

[2022-08-24 09:03] #6332 closed, assigned to nobody

[2022-09-03 23:35] drewvolz opened #6368 "Button module tap target is only the height of the text"
At least for Android, we should refactor `modules/button` away from the `react-native-button` dependency.

`BasicButton` has a small tap target equal to the height of the text. We should allow for the button to be part of the tap target (which this component's styles enable for iOS).

We could replace this on Android with react-native-paper's Button for a much more material look/feel.

Android | i

[2022-09-05 00:22] drewvolz opened #6369 "Email app is not opening on android"
Pixel 6 does not open the email app when tapping:
- Settings > contact us
- Building hours > suggest an edit > report a problem > submit report
- SIS > open jobs > job detail > email
- Probably more I am not thinking of e.g. native directory (not presently merged)

From debugging I have experimented with:
- replacing `react-native-community/email` with `@frogpond/openUrl`.

The email app will open

[2022-09-09 19:16] drewvolz opened #6387 "Android data fetch and experience is highly unstable"
On a physical Pixel 6a on android 12 and 13 I am experiencing extreme delays, practically infinite loading screens or no data found messages for most if not all views.

~~I am wondering if this has to do with #6294 (https://github.com/StoDevX/AAO-React-Native/commit/f3ee8f2e9247342a5de382af214f089b4a8e97c9) where the base url for some of our data was changed out from Github pages domain to a stola

[2022-09-10 01:34] drewvolz commented on #6387
Debugging this:

I got the [Proxyman](https://proxyman.io) client up and running on my Mac and configured the proxy settings on my android phone to pass traffic from phone to mac for inspection.

I successfully saw all network traffic behaving normally when connected to Proxyman. This makes me question why traffic is behaving normally on the proxy but failing to connect to frogpond.tech on-device?

[2022-09-10 07:57] drewvolz commented on #6369
We can avoid calling `encodeURIComponent` because `Linking` should automatically handle uri encoding for us.

[2022-09-11 18:14] drewvolz commented on #6387
I'm going to blame proxy settings and close this out.

[2022-09-13 05:44] #6369 closed, assigned to nobody

[2022-09-15 14:43] drewvolz commented on #6387
User report to corroborate

[2022-09-20 16:58] drewvolz opened #6429 "Open department links in directory search"
They open a url at the moment. This is a search where we could intercept into a new directory search.

[2022-09-21 16:52] #6429 closed, assigned to nobody

[2022-09-24 01:36] drewvolz commented on #6387
More testing documentation. This test may answer if we need changes which add `frogpond.tech` to Android's  `clearTextTrafficPermitted` located in the `react_native_config.xml`.

## Replication steps

1. `adb reverse tcp:8081 tcp:8081` to connect my android phone.
2. Set up the following invariants

    resource | location
    --|--
    computer ip | `192.168.0.xyz`
    ccc-server | `localhost:300

[2022-09-25 22:18] drewvolz opened #6435 "Rework exported type names in @frogpond/filter"

[2022-09-25 23:50] rye opened #6436 "Jest test suite snapshot format changed"
Jest should be required for PRs to merge. It is currently not.

We have tests that are failing due to snapshot format changes, e.g.:

[code]

The snapshots should be updated.

[2022-09-25 23:51] rye commented on #6436
Appears to have been caused by #6394.

[2022-09-25 23:53] rye opened #6437 "Jest test suite failing due to `AsyncStorage is null` error"
Similar to #6436, Jest recently degraded with new dependencies. We should make Jest required for PRs to merge.

I see errors like:

[code]

locally. Apparently there are guides to this.

[2022-09-26 04:00] #6436 closed, assigned to rye

[2022-09-26 04:00] #6437 closed, assigned to rye

[2022-10-11 02:51] drewvolz opened #6497 "Student work endpoint has been removed"
The [student work remote endpoint](https://www.stolaf.edu/apps/stuwork/index.cfm?fuseaction=getall&noformat=1) is no more -- it only returns structured html now.

The top-level page equivalent looks to live here, returning structured HTML that gets rendered in page body:
- https://wp.stolaf.edu/student-jobs/wp-json/wp/v2/pages/80

The post equivalent:

- https://wp.stolaf.edu/student-jobs/wp-json/

[2022-10-22 16:51] #6497 closed, assigned to nobody

[2022-10-24 19:19] drewvolz opened #6530 "Prepare demo mode for App Store review"
[Updated guidelines](https://developer.apple.com/app-store/review/guidelines/) as of 10/24/2022.

- For stoPrint we have a toggleable demo mode.
- For SIS balances we may want to perform the same set of demo wrapping (data, navigation, state value)

[2022-11-02 02:48] drewvolz opened #6546 "android app build process is broken"
[code]

[2022-11-03 02:03] #6546 closed, assigned to nobody

[2022-11-04 00:42] drewvolz commented on #6387
Proxying the traffic and making changes for our domain in-app was a red herring.

The two minute timeouts looked to be caused by ipv6 and looks to be solved upstream [in okhttp v5 via RFC happy eyeballs](https://reddit.com/r/RedditEng/comments/v1upr8/ipv6_support_on_android/).

We weren't responding to traffic on our public ipv6 address and Android refused to fallback to ipv4.

Android tries to us

[2022-11-04 00:43] #6387 closed, assigned to nobody

[2022-11-12 01:28] drewvolz commented on #5099
Updated list of counts
[code]

[2022-11-13 21:27] drewvolz opened #6574 "Renew iOS certificates"
Deployment pipeline is blocked until we renew certs with fastlane.

[2022-11-17 22:53] drewvolz commented on #6574
Renewed.

[2022-11-17 22:53] #6574 closed, assigned to nobody

[2022-11-20 16:35] rye opened #6592 "TypeScript errors are not guaranteed to have 4 digits"
The RegEx used to splice out TypeScript error codes in the Makefile as implemented in db87bbb95c669e4c44c25ae73e4db5af8f0273fc is missing a (newly-introduced?) 5-digit error code with the TypeScript v4.9.3 upgrade. We should not depend on the number of digits following the TS prefix.

When adjusting #6586 to work, I noticed the following changes:

[code]

An error code like `TS18046` is missed by

[2022-11-20 16:36] rye commented on #6592
A suitable replacement for the regex seems to be `/error \b(TS\d+)\b/`

[2022-11-20 16:58] #6592 closed, assigned to rye

[2022-11-24 20:02] drewvolz commented on #3093
I'm still seeing this happening. Hours list status badges are roughly a minute behind the hour detail status badge.

[2022-11-24 20:12] #5032 closed, assigned to nobody

[2022-11-24 20:12] #5601 closed, assigned to nobody

[2022-11-24 20:16] drewvolz commented on #3342
A bottom toolbar is probably a more powerful design pattern. While I do like the look of the menu example, it may be of more help if we collocated this info in a single part of the view.

[2022-11-24 20:17] drewvolz commented on #3140
@rye

[2022-11-24 20:19] drewvolz commented on #1955
Do we still want this?

[2022-11-26 02:49] rye commented on #3140
I'll be honest, I haven't actually had a chance to build Android at all and likely won't until I get my next Mac. I'm fine with closing for now — can always reopen. :-)

[2022-11-26 02:49] #3140 closed, assigned to rye