[2018-01-13 05:35] #2079 closed, assigned to nobody

[2018-01-13 16:44] hawkrives commented on #2115
Never mind. They're going to have to give us more documentation than https://github.com/bugsnag/bugsnag-dsym-upload/commit/ae283afa5f1d846e31d7dc181f15bf1e8ecb9158 before we use it.

[2018-01-13 16:44] #2115 closed, assigned to nobody

[2018-01-13 16:46] hawkrives commented on #2120
Looks like I already have one. Next step: add it to iTC and configure Travis / fastlane to use _it_ to log in, instead of me.

[2018-01-13 17:19] #2116 closed, assigned to nobody

[2018-01-13 20:32] hannesmcman opened #2124 "Add TouchID/Face ID for login to SIS and SIS module"
This would make the login process easier and add an additional layer of protection for the SIS module for those who desire it. Check out https://github.com/naoufal/react-native-touch-id

[2018-01-13 20:41] hawkrives commented on #2124
@hannesmcman While you're in SIS-land, there are several feature ideas in https://github.com/StoDevX/AAO-React-Native/issues/13 that we haven't gotten back around to (mainly course search, since that doesn't require any server-side changes; all the course data dating back to 1994-fall lives at https://github.com/stodevx/course-data/tree/gh-pages, updated once a day.)

[2018-01-13 20:45] hawkrives commented on #2043
https://github.com/StoDevX/AAO-React-Native/blob/3f7cd088481b13ab93b0f85bba79e8df659fdc41/source/lib/login.js#L49-L56

This `try {} catch {}` block is catching an error:

[code]

I'm trying to figure out why we're getting an error here, since I've confirmed that we do have network access.

[2018-01-13 21:01] hawkrives commented on #2043
TIL: https://stackoverflow.com/questions/33997443/how-can-i-view-network-requests-for-debugging-in-react-native

[code]

you can apparently hook React Native into the Chrome Debugger's Network tab with that bit.

problem is, then you have CORS and whatnot – and OleCard doesn't specify Access-Control-Allow-Origin headers, so Chrome won't make the request.

I set the headers on the server, and now I

[2018-01-14 00:51] hawkrives commented on #1637
Closing this. I have some partial code in the Dangerfile, but it's prone to breaking. I'll revisit it in the future.

[2018-01-14 00:51] #1637 closed, assigned to nobody

[2018-01-14 00:51] hawkrives commented on #1617
Don't know what more docs it needs.

[2018-01-14 00:51] #1617 closed, assigned to nobody

[2018-01-14 00:52] hawkrives commented on #1477
This is no longer an issue. I assume that react navigation b22 or something fixed it.

[2018-01-14 00:52] #1477 closed, assigned to nobody

[2018-01-14 00:54] hawkrives commented on #1193
The letter of this issue is now complete; we serve two different sizes of image based off of the device dpi.

[2018-01-14 00:54] #1193 closed, assigned to nobody

[2018-01-14 06:14] hawkrives commented on #2048
I've put off my working on the stoprint feature until post-2.5.

[2018-01-14 06:50] #2060 closed, assigned to nobody

[2018-01-14 06:56] #2054 closed, assigned to nobody

[2018-01-14 07:03] #2120 closed, assigned to hawkrives

[2018-01-14 07:04] hawkrives commented on #2059
Explore cherry-picking https://github.com/gitim/react-native-sortable-list/commit/83133563da84e9d3fbfbad83f499cbde836b03c1 onto my fork, and see if we can manually activate the row hover state when touching either the title or the drag handle, but not the switch.

[2018-01-14 21:40] #1651 closed, assigned to nobody

[2018-01-14 22:04] hawkrives commented on #1652
By adding `alignItems="baseline"` to the ListItem class, I've achieved the following:

<img width="319" alt="screen shot 2018-01-14 at 4 03 28 pm" src="https://user-images.githubusercontent.com/464441/34921197-848e5ef8-f944-11e7-891a-bebceb47ed4e.png">

[2018-01-14 22:49] hawkrives commented on #1652
@drewvolz How's this look?

<img width="320" alt="screen shot 2018-01-14 at 4 48 53 pm" src="https://user-images.githubusercontent.com/464441/34921625-d9145a3a-f94a-11e7-8333-d6e607208797.png">

[2018-01-15 03:43] hawkrives commented on #2059
I'm moving this to 2.6 because I now believe that both of the issues mentioned by @drewvolz in the OP are caused by the underlying library, and I don't have the energy to fix them.

[2018-01-15 03:47] hawkrives commented on #2044
I think that we'll need to add `<SafeAreaView/>` and `contentInsetAdjustmentBehavior="automatic"` pretty much everywhere. I don't know of a better way to handle it.

as to why `contentInsetAdjustmentBehavior` is "never" by default when iOS defaults to "automatic"… well, you'll have to ask React Native.

[2018-01-15 03:54] hawkrives commented on #1835
We may be able to use https://github.com/negativetwelve/jest-plugins/tree/master/packages/jest-plugin-clock to mock the entire date thing, if we wanted.

[2018-01-15 03:54] hawkrives commented on #1575
I think this is fixed.

[2018-01-15 03:54] #1575 closed, assigned to nobody

[2018-01-15 12:43] drewvolz opened #2136 "Make card headers great again"
A previous commit reversed these changes and mentioned work should be done to apply them app-wide.

[2018-01-15 13:03] hawkrives commented on #1652
Closed by #2132

[2018-01-15 13:03] #1652 closed, assigned to nobody

[2018-01-15 13:18] #1799 closed, assigned to nobody

[2018-01-15 15:48] hawkrives opened #2139 "Change duplicated home button gradients"
- `yellowToGoldDark` -> Moodle and SIS
- `lightBlueToBlueDark` -> Building Hours and Student Orgs
- `purpleToIndigo` -> News and Help

We should also add these hex values to the colors payload, too:

![sto colors](https://user-images.githubusercontent.com/464441/34950584-2d59d7b2-f9d9-11e7-8e74-f169e4a68fe6.png)

[2018-01-15 15:50] drewvolz commented on #2139
Thanks 🙏

[2018-01-16 02:48] #2136 closed, assigned to nobody

[2018-01-16 03:31] hawkrives opened #2145 "Edit Home view should use new gradient colors in some fashion"
otherwise the colors are probably confusing

[2018-01-16 03:35] hawkrives commented on #2145
<img width="320" alt="screen shot 2018-01-15 at 9 35 10 pm" src="https://user-images.githubusercontent.com/464441/34970794-f8c0adc4-fa3b-11e7-96f0-54ccfe53fa76.png">

using the first color of the gradient seems to work

[2018-01-16 03:51] #2139 closed, assigned to nobody

[2018-01-16 03:51] #2145 closed, assigned to nobody

[2018-01-16 23:22] rye commented on #1805
@hawkrives and I poked around with this just now.  Seems like a good solution for the long term is just going to be to load the player in the background and forward events on through to the `<audio>` element that that player holds.  Should be minimal overhead.

[2018-01-17 03:41] #1805 closed, assigned to nobody

[2018-01-17 04:40] hawkrives commented on #1335
… meh. Gonna close this.

[2018-01-17 04:40] #1335 closed, assigned to nobody

[2018-01-17 04:40] hawkrives commented on #1334
Flow is now working on this officially, probably as a `[silence]` section in the flowconfig.

[2018-01-17 04:40] #1334 closed, assigned to nobody

[2018-01-17 04:41] hawkrives commented on #1201
hmm. I don't see any screenshots.

@drewvolz What do you think?

[2018-01-17 04:41] rye commented on #1601
Seems like this is no longer the case on 2.5.0 β2.  (If this was an RN bug, it's fixed in the latest.)

[2018-01-17 04:41] #1601 closed, assigned to hawkrives

[2018-01-17 04:42] hawkrives commented on #1106
:whistles merrily as he closes things:

I think we can learn from calendars and how they do things, but I keep waffling on whether we should straight-up use ICS or not.

It'd certainly be a big internals change.

[2018-01-17 04:42] #1106 closed, assigned to nobody

[2018-01-17 04:44] hawkrives commented on #1601
woot.

[2018-01-17 04:44] hawkrives commented on #1535
Closing due to lack of reproducibility.

[2018-01-17 04:44] #1535 closed, assigned to nobody

[2018-01-17 04:45] hawkrives commented on #524
I'd like this to be automated, and to probably automatically add itself to the bottom of the Credits or Legal views.

We'll think about this more in the future.

[2018-01-17 04:48] hawkrives commented on #803
This seems better now.

Also the off-centeredness might have been because it was leaving room for descenders

[2018-01-17 04:48] #803 closed, assigned to nobody

[2018-01-17 11:41] drewvolz commented on #524
I’d be happy with automation. I want to suggest a Legal tab which would contain privacy policy, legal, and credits as rows within a view pushes from a Legal row.

This is attempting to copy the way that Apple does it.

[2018-01-17 13:52] hawkrives commented on #524
Meh. We already have the list items top-level; I don't particularly feel a need to make a screen with just three table cells.

We can discuss the interface more when the plumbing is done?

[2018-01-17 14:04] drewvolz commented on #524
Yeah. I’m not too concerned on the implementation.

[2018-01-18 04:58] hawkrives opened #2157 "Be sure that the Help screen looks good when all tools are hidden"
I've a nagging fear that I left it with a little message with no margin/padding.

[2018-01-18 10:39] drewvolz opened #2158 "Homescreen buttons have incorrect highlight onpress"
Push any of the front facing colorful component buttons on the first screen. The highlight is bigger than the button on the left, right, and bottom sides.

[2018-01-18 10:43] drewvolz opened #2159 "Centered bullets look strange for large paragraphs"
Head to FAQs to see an example. The bullet is positioning itself in the middle of the paragraph rather than at the top.

I would like to kill the bullets on FAQs altogether but that’s beyond the scope of this issue.

[2018-01-18 10:46] drewvolz opened #2160 "Credits view lacks bottom padding"
The view cuts off the bottom on a smaller sceeen size (6s for instance) and I am unable to scroll and stay down at the bottom of the page. It will rubber band back up.

I think we need to add more padding to the bottom of that view (again).

[2018-01-18 10:50] drewvolz commented on #2159
And on other views like 2-line sentence bullets on privacy policy

[2018-01-18 10:51] drewvolz commented on #2160
Perhaps this is a result of the font size changes around the app

[2018-01-18 10:55] drewvolz commented on #2157
The IT Helpdesk Card has an interesting flow to it right now. All buttons are disabled, and the disabled reason reads “disabled because reason”

[2018-01-18 13:43] hawkrives commented on #2158
Sigh

[2018-01-18 13:44] hawkrives commented on #2159
Yes. But they look better imho than being stuck at the very top of the list item.

[2018-01-18 13:44] hawkrives commented on #2160
No. It's because of the safe area view things.

[2018-01-18 13:45] hawkrives commented on #2157
Yes. That's because I have disabled them, to show off what the remote configuration is capable of.

[2018-01-18 13:59] drewvolz commented on #2159
We think differently. I feel that in the middle looks out of place for a large list item.

[2018-01-18 13:59] drewvolz commented on #2160
Ah, okay...

[2018-01-18 14:00] drewvolz commented on #2157
I'm more commenting that we should change the reason being "reason"

[2018-01-18 14:22] hawkrives commented on #2157
It will be enabled before release, but that's a separate issue that needs to be filed.

It's all remotely configurable from GitHub pages, that screen is. Card titles, card hidden or just disabled, why it's disabled, the card body, the url / phone number that the button triggers, the email address / subject / body template, button state, and button text.

[2018-01-18 14:22] hawkrives commented on #2159
I agree.

I think you've forgotten what it used to look like.

[2018-01-18 14:31] rye commented on #2159
2-line bullets look fine to me.  Really, 2–4 lines is good.  Beyond that, we'd be missing the point of using bullets.

As long as there's a visual break between bullets, (i.e. after the bulleted paragraph, there is a short break not more than one line-height's worth) I don't think it's misleading to have the bullet on the side.  Screenshots of overtly offensive examples would be appreciated, but I

[2018-01-18 14:44] hawkrives commented on #2159
I would love to have the bullet alighted with baseline of the top line, as you'd expect it to be.

However, the only way I could come up with to accomplish that feat was absolute positioning, which breaks when the user has a different font size.

[2018-01-18 15:09] drewvolz commented on #2157
Yeah. I just thought it was relevant because this issue was about making sure it looked good, and I thought that message, being that it is disabled, would apply to this issue.

[2018-01-18 16:11] hawkrives commented on #2157
Ah sorry, let me update this title.

[2018-01-18 16:11] hawkrives commented on #2157
A tool can be _disabled_, or it can be flat-out _hidden_. The latter case is what I'm concerned with here.

[2018-01-18 23:14] hawkrives opened #2164 "Building hours update for STORP"
As noted in an email.

## Before:

[code]

## After:

[code]

[2018-01-18 23:52] #2164 closed, assigned to hawkrives

[2018-01-19 14:06] hawkrives opened #2174 "Fix circleci logic for deploying nightlies"
The stage:

1. Circle doesn't provide the name or trigger of the running workflow, but they do provide a UUID.
2. That UUID seems to change, maybe?
3. I encoded an uuid into fastlane last night, but there's a different one today.
4. I'd like to update to today's uuid and see that fixes the nightly.
5. I submitted a feature request to expose the workflow name; we'll have to see where that goes.

[2018-01-19 14:09] rye commented on #2174
If that doesn't solve it, we should probably use an env variable until the Workflows API gets more solidified.  I doubt they'll expose the workflow name by this evening.

Also, we should try releasing a new beta and make sure that that works.  (We can use that in lieu of working nightlies.)

[2018-01-19 14:46] rye commented on #2174
Closed by #2175.

[2018-01-19 14:46] #2174 closed, assigned to nobody

[2018-01-19 21:38] hannesmcman opened #2178 "Add course search functionality to SIS module"
I know this has been on the backburner for a while, so any and all input on what people think this should look like is very welcome!

[2018-01-19 22:01] hawkrives commented on #2178
So the canonical course search interface is https://www.stolaf.edu/sis/public-aclasslab.cfm.

I've got another search interface in Gobbldygook: https://gobbldygook.site/ (there may be an infinite redirection bug, beware.)

Gobbldygook's is primarily a keyword search of course descriptions / notes / titles / names, which I think is helpful.

I almost think that we want two primary interfaces, "sear

[2018-01-20 17:47] hawkrives opened #2182 "Fix Manitou Messenger news tab loading"
Part of 2.5

[2018-01-20 18:55] drewvolz commented on #2182
The error that appears:

[2018-01-20 19:03] hawkrives commented on #2160
Folding this into #2044

[2018-01-20 19:03] #2160 closed, assigned to nobody

[2018-01-20 19:12] hawkrives commented on #2157
Current appearance:

<img width="320" alt="screen shot 2018-01-20 at 1 09 22 pm" src="https://user-images.githubusercontent.com/464441/35187032-24a427ea-fde3-11e7-9d10-cef6be6fd10e.png">

[2018-01-20 20:47] #2157 closed, assigned to nobody

[2018-01-20 20:48] #2158 closed, assigned to nobody

[2018-01-21 04:04] hawkrives commented on #2182
I believe this is https://github.com/Leonidas-from-XIV/node-xml2js/issues/411; our stack trace looks similar, at least:

[code]

Additionally, I can only replicate this in release mode, which minifies the js bundle.

I will attempt to see where the code is minified and try to change the version of the minifier used.

[2018-01-21 13:58] hawkrives opened #2185 "Fix helpview with tools enabled"
It's, er, broken on today's nightly.

[2018-01-21 18:43] drewvolz commented on #2185
The simulator reveals an issue with that view

<img width="333" alt="screen shot 2018-01-21 at 11 42 11 am" src="https://user-images.githubusercontent.com/5240843/35197694-50b02556-fea0-11e7-900b-6aa76b3131fc.png">

[2018-01-21 18:47] hawkrives commented on #2182
(Edited the title because it's not a problem with the featured images, but with the xml parser)

[2018-01-21 18:54] hawkrives commented on #2185
lol @ myself

or cry

😭

[2018-01-21 19:08] #2185 closed, assigned to nobody

[2018-01-21 19:16] #2182 closed, assigned to nobody

[2018-01-22 01:31] hawkrives commented on #2044
I need to learn more about how iOS proper handles `contentInsetAdjustmentBehavior` before I can understand how this works, because it doesn't make sense to me.

I can get the bottom padding easily enough, but I've only managed to get the side padding with "always"... which somehow manages to put padding around the view and yet *not* resize it to fit, so we manage to scroll left and right in additi

[2018-01-22 01:47] hawkrives opened #2194 "Icon changing doesn't work on iPad"
![6b755499-1a2c-4e99-a30f-eb3b478b8a86](https://user-images.githubusercontent.com/464441/35201805-ece108f8-fee3-11e7-8740-204875de7b1e.jpeg)

[2018-01-22 02:25] drewvolz commented on #2194
Shoot

[2018-01-22 02:35] hawkrives opened #2195 "Username/password fields are missing the middle divider"
I think that if we switch out the `<View>` that wraps them for a `<React.Fragment>`, our line will come back.

Because if we do that, the interfering View won't be there anymore – fragments aren't actually anything.

[2018-01-22 15:13] hawkrives commented on #2044
After discussing this with @drewvolz, we've decided that (given that neither of us really has any idea how to fix this right now) 2.5 is in enough of a better place than 2.4 with-regards-to-iPhone-X-support that we can push this back and ship without it.

We don't _want_ to, but we're not going to make an Interim Break release if we don't push it back.

[2018-01-22 16:56] drewvolz commented on #2044
That all sounds correct :+1:

[2018-01-22 17:25] #2195 closed, assigned to hawkrives

[2018-01-22 20:13] drewvolz opened #2199 "Discussion about "help" view"
I feel that we should open up the discussion on where "help" things live.

The help section contains Wi-Fi Reporting, Help Desk, and Facilities. I've noticed that we include other help-like resources embedded into other views. Settings contains a Contact Us and FAQ section. Building Hours has Suggest an Edit as an option.

Should they be peppered in throughout the app, in one location, or in some

[2018-01-22 20:42] hawkrives commented on #2199
I don't think that it makes sense to move "suggest an edit" out of the contextual location that it lives now.

I could see adding a card to Help to email us.

[2018-01-22 20:47] drewvolz commented on #2199
I would be ecstatic if we made a Help card to email us. I think that would supplant the help row in Settings.

Would you be open to also listing FAQs in there, too?

[2018-01-22 21:04] hawkrives commented on #2199
I suppose we could, although we should potentially rename it to "Known Issues"

[2018-01-22 21:04] hawkrives commented on #2199
They're all configured via YAML files in /data/help.

[2018-01-22 22:21] drewvolz commented on #1650
This seems more relevant these days with our constant hours switching and closing of things due to snow.

[2018-01-23 01:03] #2199 closed, assigned to nobody

[2018-01-23 03:38] drewvolz opened #2206 "Radio streams can be played at the same time"
I’m guessing we don’t want this to be a feature... probably should limit playing of KSTO and KRLX to one or the other.

[2018-01-23 04:01] drewvolz opened #2207 "KSTO radio stuck on starting until paused/played again"
I’m having an issue where I must start the KSTO stream twice for the stream to play.

[2018-01-23 04:38] hawkrives commented on #2206
I don't not want this to be a feature

[2018-01-23 04:38] hawkrives commented on #2207
I am not having this issue, fwiw

[2018-01-23 05:06] drewvolz commented on #2206
It feels broken.

[2018-01-23 05:07] drewvolz commented on #2207
I've tried restarting, reinstalling, rebooting. It's definitely an issue for me.

[2018-01-23 05:16] hawkrives commented on #2206
It feels like a lot of trouble to "fix"

[2018-01-23 05:19] hawkrives commented on #2207
I can now replicate this.

It only occurs on a fresh launch, and not after unloading the Streaming module and reopening it.

[2018-01-23 13:00] hawkrives opened #2209 "Add analytics for "play stream""
I think we can just add an "event".

I do want to distinguish between "user pushes play" and "stream started itself", however.

[2018-01-23 13:05] hawkrives commented on #2207
I'm just not looking forward to attempting to fix this. There's nothing obvious in the logic that could be failing the _first_ time you push the button.

[2018-01-23 13:28] hawkrives opened #2210 "Request reviews of the app (iOS)?"
https://github.com/oblador/react-native-store-review

iOS has this neat API to prompt the user to rate and optionally review the app, without having to leave - it takes like three seconds.

The api enforces that you can only ask a given user for a review like three times in a year or something.

Should we track how many times the app is opened and show a prompt after, like, the 10th time?

[2018-01-23 13:29] hawkrives opened #2211 "Add analytics event for "app resume""
We track app launches, but I'm curious how many times the app gets resumed from the background, instead of relaunching.

[2018-01-23 13:30] hawkrives commented on #2210
I don't think there's an equivalent api for android, and I don't especially like the typical solution of pushing the user out to the store.

[2018-01-23 13:45] hawkrives opened #2212 "Support "one off" days in the building hours schedules"
I'm thinking something like

[code]

That `breakSchedules` key would solve my problems with my current breakSchedules stuff (namely, that they don't keep the same hours across the entire break; some early/late days are different [think the caf closing at 6:30 on the last day of finals, and being completely closed during break – although I guess that's not really a break schedule then... {more thou

[2018-01-23 13:49] hawkrives opened #2213 "Add documentation about the data files"
Probably belongs in a `/data/_docs` folder?

I'm thinking a data doc would have examples of how to use the data format for that type, as well as descriptions of all of the keys that it supports.

- [ ] breaks?
- [ ] building hours
- [ ] bus schedules
- [ ] contacts
- [ ] credits
- [ ] dictionary
- [ ] faqs
- [ ] help
- [ ] legal
- [ ] news-styles.css
- [ ] pause-menu.yaml
- [ ] privacy
- [ ] trans

[2018-01-23 14:30] drewvolz commented on #2210
I’m not entirely sold on bothering the user for a review

[2018-01-23 14:34] hawkrives commented on #2212
Or, what if breakSchedules and overrides got combined?

Let's say that there's a break from Jan. 1 to Jan. 10, but the library is operating differently on the first two days.

[code]

And then both `dateRange` and `break` overrides would use "schedules", and "date" would use "hours" to indicate that it can only specify hours since you already have it a date.

[2018-01-23 14:35] hawkrives commented on #2210
I'll just note that I'm very bothered by prompts that kick me to the App Store, since it takes so long to load, but I'll happily rate apps that give me the in-app prompt that Apple provides, since it's so fast.

[2018-01-23 14:47] hawkrives commented on #2212
I've whipped up some examples:

[code]

[code]

[code]

Thoughts?

[2018-01-23 15:28] drewvolz opened #2214 "Shared events are missing description"
Would it be helpful to add description to the events we’re sharing from the share sheet?

[2018-01-23 15:43] drewvolz commented on #2214
They’re also missing when they’re added to the device calendar

[2018-01-23 15:58] hawkrives commented on #2214
Yeah, we probably should

[2018-01-23 15:59] hawkrives commented on #2214
The relevant file is `source/views/calendar/calendar-utils.js`, namely the `shareEvent` and `saveEventToCalendar` functions.

[2018-01-23 18:33] rye opened #2216 "Investigate why Play Store is eating ARM builds"
From my chat with support, it seems like it might be due to out-of-order Android build numbers.  Maybe we should change the ordering?

[2018-01-23 18:52] hawkrives commented on #2216
I'd actually be down to remove the Intel builds for a while. We could see if it solves the problem.

[2018-01-23 18:53] hawkrives commented on #2216
From my research last year when I set this up, it wasn't clear how else to run two APKs for different archs. This seemed to be best practice then; I believe I took it directly from some set of android docs.

[2018-01-23 18:57] drewvolz commented on #2159
Here’s how Apple did theirs
<img src="https://user-images.githubusercontent.com/5240843/35294632-48260df2-0034-11e8-9021-ab0aa063813b.png" width=340 />

[2018-01-23 19:41] hawkrives commented on #2216
We have agreed to disable x86 builds on nightlies for now, to see if the ARM builds stop disabling themselves.

[2018-01-23 23:17] hawkrives opened #2220 "Enable ripple effect on Android homescreen buttons"
currently, the touchable renders behind the gradient, so you can't see the ripple.

if we move the touchable in front, and set it to absoluteFill, it'll fit, cover the whole button, and show the ripple

[2018-01-23 23:51] #2214 closed, assigned to nobody

[2018-01-24 00:00] #2029 closed, assigned to nobody

[2018-01-24 00:04] hawkrives commented on #2216
Here's an interesting thing: I'm playing around the Android Studio 3.1-alpha something, and it says

[2018-01-24 00:07] hawkrives commented on #2216
For reference, this is the doc I was read to get our current versioning on Android: https://developer.android.com/studio/build/configure-apk-splits.html#configure-APK-versions

[2018-01-24 03:06] #2194 closed, assigned to nobody

[2018-01-24 12:18] rye commented on #2216
Got the nightly just fine this morning.  We can try doing a beta sometime today to see if it works.

[2018-01-24 13:08] hawkrives opened #2229 "Use Wordpress mode on the Mess news"
So that we get the featured images.

[2018-01-24 14:04] hawkrives opened #2232 "Remove embedFeaturedImage prop from News"
It's no longer used.

It used to embed the featured image at the top of the article, but now we just show the website.

[2018-01-24 15:12] #2229 closed, assigned to nobody

[2018-01-24 16:25] #2232 closed, assigned to nobody

[2018-01-24 16:31] drewvolz commented on #2220
The `<Touchable />` looks to be in front of the `<LinearGradient />` as the code stands

[2018-01-24 16:58] hawkrives commented on #2220
It's behind, because the Gradient is rendered within the Touchable. We need to reverse them.

[2018-01-24 17:22] rye opened #2237 "Extra space at top of SettingsView"
This is on `2.5.0-beta.5+7505`

<details>
<summary>Screenshot</summary>
<img src="https://user-images.githubusercontent.com/1566689/35346676-7c8c9812-00f8-11e8-9467-98980c19e130.jpg" width=350 />
</details>

Not sure if it's an issue produced by recent changes to that view or not.  Just opening this for tracking.  Mind you, this is on my phone with ultra-high non-standard DPI settings.

[2018-01-24 17:26] hawkrives commented on #2237
That's been there since v2.0.0. It's present on every Android phone.

The problem is that TableviewSimple imposes a custom background color.

[2018-01-24 17:27] hawkrives commented on #2237
Thank you for filing an issue so that it's logged …

[2018-01-24 17:30] rye commented on #2216
Beta just installed fine, so if it was an issue with ISSUE_DOWNGRADE getting thrown on installation, that's definitely fixed.  I'll still wait for 24 hours + after 2.5 gets released and rolled out without Play Store gobbling it up to call this one resolved.

[2018-01-24 17:38] rye opened #2239 "App Screenshots in CI"
This is another tracking issue and should definitely _not_ be prioritized for 2.5 or 2.6.

Previously we had `react-native-view-shot` as a dependency, (added by #843, removed by #1859) which sounds capable of running this.  The biggest con was that Android screenshots required an emulator, and I don't think this ever got used.  We also found [Loki](https://loki.js.org/) which runs headless in a Ch

[2018-01-24 17:46] hawkrives commented on #2239
Loki also requires an emulator, fwiw.

My current plans include running Loki with storybooks on CI, which means we'll need simulators and emulators.

I'm leaning towards storybook because it + Loki handle the navigation between areas and screenshot saving to an accessible location for us.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-24 17:51] drewvolz commented on #2239
You wouldn't necessarily need CV to tell if they changed. We can explore using ImageMagick's `compare` tool, or find a way to grab the pixel data in two images and see if they are identical?

[2018-01-24 17:59] rye commented on #2239
This is true about ImageMagick's compare thing, I think I've seen projects that use that rather than opencv.  If we could figure out how to overlay and use red tint to denote HEAD and green to denote proposed changes, and then keep common colors the same as they are, that'd be interesting to see.

[2018-01-24 17:59] rye commented on #2239
I know that GitHub can do image diffs nicely, but we aren't uploading screenshots back to the repo

[2018-01-24 18:01] drewvolz commented on #2239
http://www.imagemagick.org/Usage/compare/

[2018-01-24 19:07] hawkrives commented on #2239
I'd rather just post both screenshots side-by-side, I think.

Maybe along with the automated detection of which code paths need to be screenshotted, we can use compare to only post screenshots that changed?

[2018-01-24 20:02] rye commented on #2239
That would be ideal. We might even consider mapping that out explicitly in some kind of manifest form.

[2018-01-24 20:12] hawkrives commented on #490
hi @rye

i'm testing on android again today, and the lack of a drop shadow bugs me

so i'm assigning to you

you can reassign as you see fit

[2018-01-24 20:41] rye commented on #490
I'll do it :)

[2018-01-24 22:35] hawkrives commented on #2237
Apparently Section accepts a `sectionTintColor` prop to change the background:

https://github.com/Purii/react-native-tableview-simple/blob/06cc426f5a92133589cfd7a1ace125bc7c4ccd1b/components/Section.js#L202

[2018-01-24 23:28] #2237 closed, assigned to nobody

[2018-01-25 00:03] hawkrives commented on #2206
I actually really like this.

I don't want to remove it.

[2018-01-25 00:15] drewvolz commented on #2206
I will say that undefined behavior is not a desirable feature, but if you want to keep it, okay. I will note that we are able to only pause the last active stream from the lock screen... but I guess we're going to ship it. :shipit:

[2018-01-25 00:15] #2206 closed, assigned to nobody

[2018-01-25 00:15] hawkrives commented on #2206
yolo

[2018-01-25 02:02] hawkrives opened #2243 "Tracking: Alternate Icon Ideas"
This is a tracking issue for the second push on alternate icons. The first set of two icons is going out in v2.5.

## Iconographical Ideas
- [x] Windmill
- [ ] MGM Lion (@hawkrives)
- [ ] Squirrel (@drewvolz)
- [ ] Pizza (@drewvolz)
- [ ] Water tower (lion silhouette on tower top) (@hawkrives)
- [ ] Circuit lion (@drewvolz)
- [ ] Boe Chapel structure (@hawkrives)
- [ ] "O" for Olaf (@drewvolz)
- [

[2018-01-25 02:16] hawkrives opened #2244 "Tracking: Push Notification Ideas"
## Use cases

- get the cage to post the after dark special somewhere and then notify students what it is
- SGA election time
- pause specials
- pause order ready (requires pause online ordering system, oh odt)
- building closure
- bus arrival time
- bus schedule change (no buses, f.ex.)
- class starting (if we add a full calendar [see JWZ's law])

## Feature Requirements
- in-app "channels" of no

[2018-01-25 04:17] hawkrives opened #2245 "ListRow arrows are too close to the right side on iPhone X"
I haven't checked anything else, but comparing to Mail (which is how I got the original spacing) we have this:

Mail | News | Events
--- | --- | ---
![GitHawk Upload by hawkrives](https://i.imgur.com/Rurv7qe.jpg) | ![GitHawk Upload by hawkrives](https://i.imgur.com/CHXShNn.jpg) | ![GitHawk Upload by hawkrives](https://i.imgur.com/dFeJKtT.jpg)

[2018-01-25 04:18] hawkrives commented on #2245
We'll want to check this on the 5s too - if they still match there, then this is a percentage or something of spacing.

[2018-01-25 05:08] drewvolz opened #2246 "Reset everything not working on android"
Seems to work on iOS.

[2018-01-25 05:11] drewvolz commented on #2246
@rye noticed that restarting the app shows the reset changes

[2018-01-25 13:23] hawkrives commented on #2246
This was fixed by https://github.com/StoDevX/AAO-React-Native/pull/2240

[2018-01-25 13:23] #2246 closed, assigned to nobody

[2018-01-25 13:25] hawkrives commented on #2246
The reset process goes like this:

1. Clear all data
2. Reset the app icon
3. Restart the app

The last version of the icons library would throw an error when you reset the icon on Android; #2240 fixed that.

[2018-01-25 13:59] hawkrives opened #2252 "Change iOS tab bar tint color"
I personally find it difficult to read during the day, and neigh-impossible to read when Night Shift kicks on.

I think I want to try the new St. Olaf gold / dark gold…

[2018-01-25 14:01] hawkrives opened #2253 "Set black text on appropriate homescreen buttons"
One | Two
--- | ---
![GitHawk Upload by hawkrives](https://i.imgur.com/AeAhQRh.jpg) | ![GitHawk Upload by hawkrives](https://i.imgur.com/OiUmDC3.jpg)

iOS is pushing us to use black text on the SIS, Orgs, and Moodle buttons.

[2018-01-25 14:08] hawkrives commented on #2239
We could also use Fastlane's "snap" tool + UIKit's app automation to take the screenshots on iOS (there's an equivalent combo on android).

That would have the added advantage of telling us where our app isn't as accessible as it should be, since assistive tech and automation tech both rely on buttons being buttons and whatnot.

Downsides: speed? Flakiness? Maybe they've gotten better.

[2018-01-25 17:05] drewvolz commented on #2243
<details>
<summary>Circuit lion</summary>
<br>
<img src="https://avatars3.githubusercontent.com/u/29408373?s=200&v=4" />
</details>

[2018-01-25 17:10] drewvolz commented on #2243
I really enjoy [The Noun Project](https://thenounproject.com/)'s set of icons. We can even use them freely if we credit.

- [Water tower](https://thenounproject.com/search/?q=water%20tower)
- [Chapel](https://thenounproject.com/search/?q=chapel)
- [Pizza](https://thenounproject.com/search/?q=pizza)
- [Squirrel](https://thenounproject.com/search/?q=squirrel)

[2018-01-25 18:29] drewvolz commented on #2244
[gitreports](https://github.com/schneidmaster/gitreports.com) might be close to what we're looking for. A form hosted on Heroku that submits a github issue.

[2018-01-25 18:45] hawkrives commented on #2244
We don't want an issue for this IMHO; for minimum friction, which we want here, we'll need to submit a PR

[2018-01-25 18:46] drewvolz commented on #2244
I'm not saying use gitreports verbatim. It could be a place to start, unless we'd rather do it from scratch.

[2018-01-25 19:24] hawkrives commented on #2244
I'm just thinking that it won't be that helpful as a base, since creating an issue can just use the API, while making a PR effectively requires a copy of git or libgit2.

[2018-01-26 14:31] hawkrives commented on #889
I've made a vector of the background of the main icon, but I don't particularly want to recreate the foreground.

@rye Could you ask around at SGA to see if anyone has the original assets?

[2018-01-27 04:28] #2043 closed, assigned to nobody

[2018-01-27 04:37] #2253 closed, assigned to nobody

[2018-01-27 05:29] hawkrives commented on #2252
I can't find any colors that I like that work better than `mandarin` (the current one)…

[2018-01-27 05:29] #2252 closed, assigned to nobody

[2018-01-27 05:48] hawkrives commented on #2211
So I filed this, but after some digging I've discovered that we aren't collecting the `launch` event anymore.

I can't figure out where we removed it, but it used to be in app.js, in componentDidMount.

Do we want to track app resumes?

[2018-01-27 17:23] #2209 closed, assigned to nobody

[2018-01-27 17:24] #2211 closed, assigned to hawkrives

[2018-01-27 17:33] hawkrives commented on #2207
I cannot replicate this on my simulator; I got it the first time I launched it, but I haven't been able to since. (I even relaunched the simulator entirely.)

Edit: I think I can now reproduce this.

[2018-01-27 18:46] hawkrives commented on #1867
@rye I wonder if we could do this now that we've upgraded our targetSdkVersion?

[2018-01-27 18:49] hawkrives commented on #1795
Closing…

[2018-01-27 18:49] #1795 closed, assigned to nobody

[2018-01-27 20:28] rye commented on #1867
@hawkrives, good thought.  It's worth experimenting with that.

[2018-01-28 01:26] hawkrives commented on #1299
I'm going to close this; we'll run into it again when we actually enable a map somewhere.

[2018-01-28 01:26] #1299 closed, assigned to nobody

[2018-01-28 01:27] #1201 closed, assigned to nobody

[2018-01-28 01:27] hawkrives commented on #1201
This may have resurfaced in https://github.com/StoDevX/AAO-React-Native/issues/2245

[2018-01-28 01:28] hawkrives commented on #1568
What do we actually need to do here, @drewvolz ?

[2018-01-28 01:42] drewvolz commented on #1568
I will take charge of updating these

[2018-01-28 02:31] #2220 closed, assigned to hawkrives

[2018-01-28 02:34] rye commented on #2216
Okay, so it seems as though we are pretty close to confident that this thing is no longer happening.  Closing this issue.

[2018-01-28 02:34] #2216 closed, assigned to nobody

[2018-01-31 18:36] drewvolz commented on #2212
I want this

[2018-01-31 19:14] hawkrives commented on #2212
lol

[2018-02-10 23:55] hawkrives commented on #524
@rye / @drewvolz: Do we want to collect every dependency in our tree, or only our direct dependencies?

[2018-02-11 00:37] rye commented on #524
What would you prefer, @hawkrives? I think just our direct, level-1 dependencies would be sufficient

[2018-02-11 02:03] hawkrives commented on #524
I also think that's fine.

[2018-02-11 04:20] hawkrives commented on #2243
https://bl.ocks.org/hawkrives/raw/52076be27ca1bde0c0b83524ed8cd7bf/

I've got part of a skeleton for generating colorized versions of our icons; this will be even nicer when we have them as vectors, but this POC shows that we needen't always impose that restriction. :)

<details><summary>For longevity:</summary>

![result-oldmain](https://user-images.githubusercontent.com/464441/36069493-87e13338-

[2018-02-13 06:00] #2178 closed, assigned to nobody

[2018-02-13 13:24] hawkrives opened #2332 "Course Search: initial loading screen should have paragraphs not line breaks"
By the title, I mean that the no-network case should use two newlines instead of one to further distinguish the two paragraphs.

[2018-02-13 15:28] hannesmcman commented on #2332
As simple as just adding another new line?
[code]
to
[code]

[2018-02-13 16:43] hawkrives commented on #2332
Yup

[2018-02-13 17:23] rye commented on #2332
I was thinking that when I saw the screenshots.  This would be a good addition.

[2018-02-13 18:10] #2332 closed, assigned to nobody

[2018-02-13 19:06] drewvolz opened #2337 "Add rotation listeners for NoticeVIew"
They do not redraw to the specified width

[2018-02-13 19:07] drewvolz opened #2338 "Add rotation listener for course search view"
Searchbar does not expand

[2018-02-13 21:19] hawkrives commented on #2338
Now that we're at five-ish components, I want to make a higher-order component that encapsulates this logic for us.

[2018-02-13 22:39] hannesmcman opened #2339 "Speed up course-search loading"
Right now the courses are loaded from AsyncStorage every time the course-search tab is opened, which is unnecessary. We should only load the data from storage if it needs to be updated. This will shorten the loading period when course data has already been loaded into Redux State.

[2018-02-14 03:15] drewvolz opened #2341 "Search courses by short/long title, description"
I think we’re only searching by short title right now. Use:

Algorithms and Data Structures reveals that “Algorithms/Data Struc” is searchable but the long title containing “Structures” is not

[2018-02-14 05:12] #2339 closed, assigned to nobody

[2018-02-14 05:12] hannesmcman commented on #2339
resolved by #2340

[2018-02-14 05:13] hannesmcman commented on #2341
Should we add "search by course description" to this as well?

[2018-02-14 05:17] hannesmcman opened #2342 "Add filters to Course Search View"
This would involve adding a filter feature similar to that in the menus section of the app that would allow users to filter by:

- Term
- GEs
- Department
- Lab
- Open
- Time blocks?

Any more?

[2018-02-14 19:04] drewvolz commented on #2341
Sure

[2018-02-15 15:13] drewvolz opened #2345 "Course search vertical scroll bar retains location"
I’d expect the scroll position to reset to the top of the search results upon a new search. It currently retains its previous location. I think this can cause confusion.

[2018-02-15 15:19] drewvolz opened #2346 "Balances sits on loading for longer than usual"
While logged out (I cannot test another way) I am noticing SIS balances sitting on the loading view while the UI is seemingly frozen. Is this due to loading course data?

[2018-02-15 15:27] drewvolz commented on #2346
This feels memory related. Appears to happen only if we’ve loaded course data.

[2018-02-15 15:38] drewvolz opened #2347 "Event location issue on the calendar"
We should either reach out the party responsible or figure out a way to fix the extra “MN” added to addresses that are not in MN. We should also look into the double addresses that appear for St. Olaf locations.

1 | 2
--|--
<img src="https://i.imgur.com/yYNh8YS.jpg" /> | <img src="https://i.imgur.com/zo0mA06.jpg" />

[2018-02-15 19:15] hawkrives opened #2349 "Add list of transactions to Balances view"
I'm imagining

[code]

It would only show recent transactions, at least in the first iteration, so I'm limiting it to ten rows.

I'm envisioning a UIToggleButton to switch between funding sources, and I deliberately left off Printing from here – that data would come from a different source that I don't  necessarily have access to from the OleCard endpoint.

[2018-02-15 19:47] drewvolz commented on #2349
Could even get fancy with pie charts from Victory

[2018-02-15 19:48] drewvolz commented on #2349
I think the transaction history would be useful to display. Good thinking!

[2018-02-15 19:52] hawkrives commented on #2349
Let's push off pie charts to v2 of the transactions list, just for simplicity

[2018-02-16 13:28] hawkrives commented on #2346
Closed by #2351

[2018-02-16 13:28] #2346 closed, assigned to nobody

[2018-02-16 14:38] drewvolz commented on #2341
Professor name causes me a problem. Searching for “Olaf Hall-Holt” does not return anything because it matches on “Olaf A. Hall-Holt”

[2018-02-16 15:02] hawkrives commented on #2341
Pull up a node repl and see if https://github.com/bevacqua/fuzzysearch handles that match

[2018-02-16 20:22] hannesmcman commented on #2338
Were you thinking something like this? How would we get this to re-render the children on a state change?
[code]

[2018-02-16 20:31] drewvolz commented on #2341
Ran
[code]
Returns
[code]

https://runkit.com/drewvolz/5a873ff54612ac00128e7682

[2018-02-16 22:35] rye commented on #2341
Fuzzy is probably better, IMHO.  People are more likely to make mistakes or be lazy on mobile.

[2018-02-17 01:32] hawkrives commented on #2338
@hannesmcman I'm thinking something more along these lines - https://cdb.reacttraining.com/use-a-render-prop-50de598f11ce

(So, I misspoke when I said "a HOC"; apologies).

I'll see if I make an example tonight.

[2018-02-17 03:54] #2337 closed, assigned to nobody

[2018-02-19 00:26] drewvolz commented on #2338
Appears to still be an issue on the `<NoticeView />` within course search

[2018-02-19 00:31] drewvolz commented on #2338
I'll eat my words. Looks like it's sim-only.

[2018-02-19 00:31] #2338 closed, assigned to nobody

[2018-02-19 00:32] #1568 closed, assigned to drewvolz

[2018-02-19 03:29] hawkrives commented on #2347
To follow up on this: It makes no sense.

Take this event:

<img width=320 src=https://user-images.githubusercontent.com/464441/36361500-05d1ea34-14f2-11e8-94de-274df86eba5d.PNG />

In Google, it looks like this:

<img width="320" alt="screen shot 2018-02-18 at 9 21 41 pm" src="https://user-images.githubusercontent.com/464441/36361502-0f4e596c-14f2-11e8-8285-9fe7bf93572e.png">

On the calendar, th

[2018-02-22 20:31] drewvolz opened #2379 "Remove buildsize until further notice"
As of now, it is not possible "to only report the build sizes when the entire workflow has completed, or to progressively update the comment as the jobs complete"

I would like to disable it until that is solved.

[2018-02-22 21:16] hawkrives commented on #2379
Disagree :p

[2018-02-26 14:24] hawkrives opened #2386 "Add react-markdown to list of greenkeeper-ignored packages"
It's an array in package.json

[2018-02-26 19:00] #2341 closed, assigned to nobody

[2018-02-26 19:38] hawkrives opened #2388 "Search courses by description?"
Followup from #2341 and #2383

@hawkrives:

[2018-02-26 19:40] drewvolz commented on #2388
I would ask that it would be implemented with _non_ fuzzy search.

[2018-02-26 19:42] hawkrives commented on #2388
I think that the description is one of the places that would benefit from a fuzzy search, though. Maybe not the same lib, but it's going to have the longest words of any field (and thus the ones most likely to be mistyped).

I will ask, though; do we want this? Is this actually going to be useful? Why?

[2018-02-26 19:53] drewvolz commented on #2388
I'll still debate against using fuzzy here. The likeliness of running into misspellings is, IMHO, not significant enough to take the risk of returning an exorbitant amount of false matches. Descriptions really are one case where I see it as unhelpful to return fuzzied matches.

As for its usefulness, I can go either way on it. I've run into cases where it has been only possible to locate a course

[2018-02-26 20:19] hawkrives commented on #2388
what if we analyzed notes/description on the server and made a `keywords` array oout of them

removing things like "the" and "a"

sorted alphabetically

then we could maybe do a `keywords.some(kw => fuzzy(query, kw))`? or `keywords.some(kw => query.startsWith(kw))` or something

[2018-02-26 20:38] drewvolz commented on #2388
`startsWith` would be much preferred, and you're going to run into issues with fuzzy even on keywords. I'm okay with your second suggestion.

But I really cannot justify fuzzy here when searching for Kent matches on **K**ar**en** Cherewa**t**uk

[2018-02-26 20:40] hawkrives commented on #2388
A keyword would be a single word, never a phrase (that would be a keyphrase instead :p)

And that's how fuzzy matching is supposed to work. Which is why I think it might work well on a keyword array.

[2018-02-26 20:41] drewvolz commented on #2388
I get keywords aren't phrases in this example. But `startsWith` sounds like the tool for the job.

[2018-03-05 17:33] #2386 closed, assigned to nobody

[2018-03-05 19:37] hawkrives opened #2404 "Enable IT help card"
We should fix the wording, but I just got Heather's approval to enable the widget.

[2018-03-05 21:46] drewvolz commented on #2345
https://github.com/facebook/react-native/commit/cae7179

[2018-03-07 05:25] #2342 closed, assigned to nobody

[2018-03-07 05:38] hannesmcman commented on #2388
For what it's worth, when I was testing this I got the most reasonable results by doing `description.includes(query)`. I like the `startsWith` on keywords idea best.

[2018-03-07 05:53] hannesmcman opened #2407 "Ideas for bottom 3/4 of course search view"
I have a few ideas for what to put under the search bar when there isn't a search in progress, but I can't decide which one is best/most useful...help me!

- [x] "Recent Searches" (similar to Apple Music type thing, which was the inspiration for the style of the search bar in the first place) (see #2427)
- [ ] "Saved Courses" section. This could be a list of saved courses or a way to navigate to a

[2018-03-07 05:56] hannesmcman commented on #1609
Whoah how many of them have the ingredients listed? As someone who is allergic to dairy,  that would be a game changer...

[2018-03-07 06:31] hawkrives commented on #1609
… some of them? I don't know offhand

[2018-03-07 06:59] hawkrives commented on #1609
`curl 'http://legacy.cafebonappetit.com/api/2/menus?cafe=261'` will get you the list of menu items; you can pass individual item IDs to `http://legacy.cafebonappetit.com/api/2/items?item=` to see the full nutrition info.

[2018-03-08 16:41] hawkrives opened #2410 "SGA integration idea: senate agendas / notes"
I don't know what happens in senate or what anything does in there, but I just passed a board with a thick agenda tacked onto it.

I think this should be a new top-level module.

[2018-03-08 19:33] drewvolz commented on #2379
No use doing this if it behaves correctly behind the scenes.

[2018-03-08 19:33] #2379 closed, assigned to nobody

[2018-03-08 19:38] drewvolz commented on #2407
These sound good. I'd advocate for recent searches, or a top-level way of searching by department.

[2018-03-08 19:40] drewvolz commented on #2410
Might as well go all-in.

* Calendar
* Link to[ live stream](https://oleville.com/senate/live/) of meetings
* Link to [archive](https://oleville.com/senate/video-archive/) of meetings
* Agenda
* Minutes
* News
* Directory (find your senator)
* Ask-a-senator(?)
* Contact SGA
* Surveys
* Elections(?)

[2018-03-08 19:41] hawkrives commented on #2410
For news: does that live in News or in SGA? Isn't that the Oleville feed?

[2018-03-08 19:42] drewvolz commented on #2410
I've been wanting to move news tidbits either out of the "news" tab and into the associated tab the news is related to. I guess that's where that stems from.

[2018-03-08 19:43] drewvolz commented on #2410
And good question. I want to separate out "branch" news (oleville feed) from SGA?

[2018-03-08 19:45] drewvolz commented on #2045
Is there anything still needed to be done here?

[2018-03-08 19:46] drewvolz commented on #1867
Should we close this issue until we're ready to tackle this at another time?

[2018-03-08 19:47] drewvolz commented on #1653
Closed by #2401

[2018-03-08 19:47] #1653 closed, assigned to nobody

[2018-03-08 19:49] drewvolz commented on #1639
This would definitely help with branding and image. Thoughts on what that image should be?

[2018-03-08 19:55] drewvolz commented on #807
I'm not sure why we decided to define that more than once.

[2018-03-08 20:04] drewvolz opened #2411 "Handle errors across the app"
We are flying dangerously and being negligent of crashes and errors within the app. We've been crashing due to string manipulation within student orgs. If outside data is our downfall, we should change that. Short of rewriting things, the very least we can do is handle potential errors from causing a crash.

We should pay attention to error boundaries
https://reactjs.org/docs/error-boundaries.html

[2018-03-08 20:12] hawkrives commented on #2410
How are those different? I know nearly nothing about SGA.

[2018-03-08 20:14] #2045 closed, assigned to nobody

[2018-03-08 20:14] hawkrives commented on #1867
No

[2018-03-08 20:15] hawkrives commented on #1639
I don't even remember what it's used for.

[2018-03-08 20:16] hawkrives commented on #807
I know that we're not using the default time zone because we decided that only some views should use Central time; others should use the device time. We could revisit that.

[2018-03-08 20:16] hawkrives commented on #2411
You linked to the same link twice, FYI

[2018-03-08 20:17] drewvolz commented on #1639
iOS App Store header image. Big banner at the top of the page.

[2018-03-08 20:18] drewvolz commented on #807
We should revisit that.

[2018-03-08 20:27] drewvolz commented on #2410
**Branches:** ADC, BORSC, DCC MEC, Pause, PAC, SAC, SOC, VN
**SGA:** made up of various branches

I'll change what I meant and say I'd like Senate news to be different than SGA branch news.

[2018-03-08 20:40] drewvolz commented on #2411
Fixed

[2018-03-08 20:41] hawkrives commented on #807
Let's revisit that.

[2018-03-08 20:42] hawkrives commented on #2410
So is this a Senate module or an SGA module? I guess my initial idea was just for Student Senate.

[2018-03-08 20:42] drewvolz commented on #2410
Let's make it just for senate.

[2018-03-08 20:44] hawkrives commented on #2411
For some reason, I think that Wix's react-native-navigation … er, sandboxes each screen? I think that it's impossible for a JS exception to bring down the whole app with RNN.

Something something because the routing / navigation is done with native code and separate "applications" are started for each screen, which is why we register them all at startup. Something something.

[2018-03-08 20:45] hawkrives commented on #2410
I'm going to close this one, then, so we can revisit it if we ever want to think about adding an Oleville module.

I'ma open a new issue for Senate integration.

[2018-03-08 20:45] #2410 closed, assigned to nobody

[2018-03-08 20:46] hawkrives opened #2412 "Feature: Student Senate integration"
I don't know what happens in senate or what anything does in there, but I just passed a board with a thick agenda tacked onto it.

I think this should be a new top-level module.

Split from #2410

To pull from @drewvolz' list of feature ideas:

- Link to live stream of meetings
- Link to archive of meetings
- Agenda
- Minutes
- Directory (find your senator)
- Ask-a-senator(?)

[2018-03-08 21:12] hawkrives commented on #2412
I think that if we have a Meetings tab, for example, each Meeting can have an Agenda, a link to the stream, and then the minutes / recap after the meeting

Then we can have a Directory and an Ask You Senator tab too?

[2018-03-09 14:04] hawkrives opened #2414 "Organization: Extract KSTO from Streaming tab"
If we pull the radio stations out of Streaming, then we have plenty of room to add the archived streams list, which would be nice.

Then we'd have [ Upcoming | Archived | Webcams ] in Streaming, which I feel makes much more sense than if you have KSTO/KRLX in there too.

I don't know what this would mean for the movie view; maybe that goes top-level too? ~~That would solve our question of how you

[2018-03-09 14:23] hawkrives opened #2415 "Remove meal-in-day selection from Redux"
People sometimes get confused that the meal says selected when they leave and come back to the menu screen.

Opposition?

[2018-03-09 15:11] drewvolz commented on #2414
I’m not sure I want to show off the past movies

[2018-03-09 15:16] drewvolz commented on #2415
We have an open issue for this #1672

[2018-03-09 16:01] hawkrives commented on #2414
I've removed that from the proposal.

[2018-03-09 16:02] hawkrives commented on #2415
Duplicate of #1672

[2018-03-09 16:02] #2415 closed, assigned to nobody

[2018-03-09 18:55] drewvolz opened #2416 "Disable logging of course data on development"
We would prefer not to log the entire course database twice for every action.

This should speed up the app in development like #2351 did for production.

@hawkrives made a few out of band comments:

[2018-03-10 22:15] #2416 closed, assigned to hawkrives

[2018-03-10 22:16] #1672 closed, assigned to nobody

[2018-03-12 14:00] drewvolz opened #2420 "Filter view is empty on android course search"
1 | 2
--|--
<img width="447" alt="android-filter-course" src="https://user-images.githubusercontent.com/5240843/37287864-6980df88-25cb-11e8-9d1c-5116df2b493f.png"> | <img width="447" alt="android-course-search" src="https://user-images.githubusercontent.com/5240843/37287934-985672dc-25cb-11e8-8721-f524770eff28.png">

[2018-03-12 15:05] hawkrives commented on #2420
The second is the cause of the first

[2018-03-12 19:45] hannesmcman opened #2422 "Change Departments filter in Course Search to "OR""
I realized that it probably makes more sense for the departments filter to be an "OR" filter instead of "AND", so that you can select `MATH` and `CSCI` and get all the courses in either of those departments that match your query, rather than all the courses in both of those of those departments that match the query.

[2018-03-13 04:49] #2422 closed, assigned to nobody

[2018-03-13 22:20] rye opened #2425 "Building hours update for Rølvaag Library"
I will verify this later on tonight…

## Before:

[code]

## After:

[code]

[2018-03-13 23:14] hawkrives opened #2426 "Building hours update for Rølvaag Library"
## Before:

[code]

## After:

[code]

[2018-03-13 23:16] drewvolz commented on #2426
Dup of #2425?

[2018-03-13 23:19] #2426 closed, assigned to nobody

[2018-03-14 01:39] hannesmcman commented on #2420
Do you always get that? Works fine on my android emulator..

[2018-03-14 01:49] hawkrives commented on #2426
Yep

[2018-03-14 01:58] drewvolz commented on #2420
I always receive it on my emu and physical phone

[2018-03-14 06:04] hawkrives opened #2430 "fix react@16.2.0 deprecations"
thanks #2396

[2018-03-14 06:13] hawkrives opened #2431 "Change nightly time to 4am"
Gives us more time to work on things ;)

[2018-03-14 15:39] hannesmcman opened #2432 "Course Search: results are sometimes not displayed on search"
I think we just need to debounce `performSearch` like in the student org view

[2018-03-14 20:21] #2432 closed, assigned to nobody

[2018-03-16 00:20] hannesmcman opened #2442 "Balances View loads ad infinitum sometimes"
Every once in a while the balances view gets stuck in a refreshing state forever, which can only be stopped by leaving the SIS component and coming back.

[2018-03-16 00:41] hawkrives commented on #2442
or rather, it never times out 🤔

[2018-03-16 03:59] drewvolz commented on #2093
https://github.com/react-navigation/react-navigation/pull/3538

[2018-03-16 14:52] drewvolz opened #2445 "Disable vertical scrolling on TextInputs"
The view listens to a swipe/scroll and it catches me off guard when the cell scrolls but the view didn’t.

[2018-03-16 17:11] drewvolz commented on #2445
#### `maxHeight`

If `autogrow` is `true`, limits the height that the `TextInput` box can grow to. Once it reaches this height, the `TextInput` becomes scrollable.

TYPE | REQUIRED
-- | --
number | No

[2018-03-16 17:18] hawkrives commented on #2445
Hmm. That might be a major strike against using them.

[2018-03-16 17:19] hawkrives commented on #2445
What if we just set autogrow=true and don't set maxHeight?

[2018-03-19 22:40] #2425 closed, assigned to nobody

[2018-03-20 14:44] drewvolz commented on #2404
Closed by #2405

[2018-03-20 14:44] #2404 closed, assigned to nobody

[2018-03-21 00:00] drewvolz opened #2458 "Building hours update for The Cage"
## Before:

[code]

## After:

[code]

[2018-03-21 01:25] drewvolz opened #2461 "Tracking: Update hours for spring break"
Something something Mar 24 - Apr 1 or close to that

[2018-03-21 01:26] drewvolz commented on #2461
[Meal plan not in effect:](https://wp.stolaf.edu/reslife/breaks-and-housingmeal-options/)
Saturday, March 24 – Monday, April 2 (classes begin Tuesday, April 3)

<hr>

# Cage and Stav
![cage-stav](https://user-images.githubusercontent.com/5240843/37691024-8f145de2-2c74-11e8-8e64-38e815e69e25.png)

[2018-03-21 01:27] drewvolz commented on #2461
# Pause

![29511021_1750329208353163_6073221985771454464_o](https://user-images.githubusercontent.com/5240843/37691047-bf218a0a-2c74-11e8-8ac6-41abfd1c7370.jpg)

[2018-03-21 01:35] drewvolz commented on #2461
# Recreation

Adjustment to noon swim hours for these dates only:
Wed., 3/21  12 – 1:30 p.m.
Fri., 3/16 and 3/23  12:45 – 2 p.m.

[Spring Break building hours](https://wp.stolaf.edu/recreation/facility-hours/):
March 23-April 2, 2018
Regular building hours resume Tuesday, April 3.

Date | Hours
-- | --
Fri., March 23  |  6:30 a.m. – 6:00 p.m.
Sat., March 24 |  Noon – 6:00 p.m.
Sun., March 25 | CLO

[2018-03-21 01:39] drewvolz commented on #2461
# Libraries

[Rolvaag Library Spring Break Hours:](https://www.stolaf.edu/library/libinfo/hours.cfm)

Date | Hours
-- | --
Friday, March 23, 2018 | 7:45am - 5pm
Saturday, March 24, 2018 | CLOSED
Sunday, March 25, 2018 | CLOSED
Monday, March 26, 2018 | 8am - 5pm
Tuesday, March 27, 2018 | 8am - 5pm
Wednesday, March 28, 2018 | 8am - 5pm
Thursday, March 29, 2018 | 8am - 5pm
Friday, March 30, 2018 | 8a

[2018-03-21 01:42] drewvolz commented on #2461
# Center for Art and Dance

[Spring & Easter Break Hours](https://wp.stolaf.edu/art/hours/)

Date | hours
--|--
Fri., 3/23: | 7 am – 8 pm
Sat., 3/24: | 10 am – 6 pm
Sun., 3/25: | CLOSED
Mon.-Fri., 3/26-30: | 7 am – 8 pm
Sat., 3/31: | CLOSED
Sun., 4/1: | CLOSED
Mon., 4/2: | 10 am – midnight

[2018-03-21 01:51] drewvolz commented on #2461
# WLC

[SPRING BREAK 2018](https://wp.stolaf.edu/wlc/staffhours/)

Dates | Hours
--|--
Sat 24 – Sun 25 |  CLOSED
Mon 26 – Wed 28 |  10 a.m. – 12 p.m.
Thurs 29 – Fri 30 |  9 a.m. – 4 p.m.
Sat 31 – Sun 1  |  CLOSED
Mon 2 |  8 a.m. – 4 p.m

[2018-03-21 02:21] #2458 closed, assigned to nobody

[2018-03-21 02:22] hawkrives commented on #2458
Closed for the same reason as #2460

[2018-03-21 17:02] hannesmcman opened #2465 "CircleCi Android Builds Failing"
All of the android builds seem to be failing due to this error:
[code]

[2018-03-24 16:05] hawkrives commented on #2465
@hannesmcman Can you reproduce this locally? I'm currently installing Android Studio so I can try, but it sounds like we've got … er, two things that both add Google Maps to the android project, so it should be reproducible locally (I hope…)

Edit: `gms` may be part of Google Play, not Google Maps

[2018-03-24 16:20] hawkrives commented on #2465
Further investigation: I was going to blame a Circle Android image update, but picking two builds where once worked and one didn't revealed that they shared the same docker image hash.

[last good android nightly](https://circleci.com/gh/StoDevX/AAO-React-Native/10523):
[code]

[first bad android nightly](https://circleci.com/gh/StoDevX/AAO-React-Native/10584)
[code]

[2018-03-24 16:54] drewvolz opened #2468 "Move app question to top of help view?"
I feel that it should take precedence so that it isn’t missed.

[2018-03-24 17:35] hawkrives commented on #2468
I like having wifi reporting at the top, personally

[2018-03-24 19:10] drewvolz commented on #2468
I’ll play around with layouts in the near future.

[2018-03-24 19:10] drewvolz commented on #2468
Thinking about a grid of buttons and icons

[2018-03-24 19:12] hawkrives commented on #2468
Or a two-column Pinterest-like thing with less text + smaller / bigger / changed buttons…?

[2018-03-24 19:13] hawkrives commented on #2465
How much do we care about understanding this vs. just fixing it? //cc @hannesmcman @rye @drewvolz

[2018-03-25 16:34] #2465 closed, assigned to nobody

[2018-03-28 03:37] hawkrives opened #2474 "Add space to bottom of homescreen notice"
<img width="504" alt="screen shot 2018-03-27 at 10 37 34 pm" src="https://user-images.githubusercontent.com/464441/38007526-75a659aa-320f-11e8-88f0-b2ee5d26e652.png">

Just needs some `marginBottom`, I think

[2018-03-28 17:51] drewvolz commented on #2474
A CARLS screenshot on AAO??

[2018-03-28 19:29] #2461 closed, assigned to nobody

[2018-03-28 21:29] hawkrives commented on #2474
It's what I had open, so yes

[2018-03-30 16:18] #2430 closed, assigned to nobody

[2018-03-31 15:18] drewvolz opened #2483 "Navigation buttons are cutoff in landscape"
<img src="https://user-images.githubusercontent.com/5240843/38164589-17b17dcc-34c4-11e8-9d35-b1f11e92ed67.png" width=450 />

[2018-03-31 22:58] rye commented on #2483
I can't reproduce on Android.  Could it be something iPhone X-related?

[2018-04-01 01:37] hawkrives commented on #2483
@drewvolz Would you please bisect based on react-navigation updates? My padding things from when we first ported to react-navigation may be unnecessary now, ~50-odd versions later.

[2018-04-01 04:52] #2431 closed, assigned to nobody

[2018-04-01 16:31] drewvolz commented on #2483
Let's look at this. `buttonStyle` is `undefined` for both the `EditHomeButton` and `OpenSettingsButton` functions. We could pass in a style there but we do not. It is an optional prop, which means that's fine.

Look at `commonStyles` which is only used by `EditHomeButton`.

https://github.com/StoDevX/AAO-React-Native/blob/45daa8fc0590a7bbe9d74bc9708cea2d1d7c775b/source/views/components/nav-buttons

[2018-04-02 14:05] hawkrives commented on #2159
Yes, well, I detest Apple's design there, so I am absolutely not going to follow it. :-1:

[2018-04-02 17:08] hannesmcman opened #2491 "Course search: sort results by department/number"
Instead of sorting courses by name, let's do it by department/number (i.e. `MATH 252`)

[2018-04-02 17:10] hannesmcman opened #2492 "Course Search: Search results sometimes don't update"
After some testing, it seems that if the user presses enter too quickly after finishing typing their search, the results do not update. This probably has something to do with nesting the `executeSearch` function within the `setState` call. This only happens when there are active filters.

[2018-04-02 21:29] drewvolz commented on #2159
@rye and I feel differently. I think we need to have a continued discussion about this.

[2018-04-02 21:32] hawkrives commented on #2159
IIRC, you disliked the centered bullets. I also dislike the centered bullets, but I prefer them to first-line-indent-only bullets.

I believe that you would prefer

- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type sp

[2018-04-02 21:32] rye commented on #2159
Backing @hawkrives up on that one. It completely defeats the purpose of a bullet point if you wrap back past the indentation on the bullet point.

[2018-04-02 21:55] drewvolz commented on #2159
Apple’s design is bad here, yeah. But our current impl is not an improvement.

[2018-04-02 21:56] drewvolz commented on #2159
And you’re correct that I prefer the first example

[2018-04-03 15:25] hawkrives opened #2497 "[feature request] Optionally persist item type filters on menus between sessions"
From a student:

[2018-04-03 15:33] hawkrives commented on #2497
I definitely think that this should only apply to certain filters, though. I don't want the "meal selection" filter, for instance, but I'm maybe OK with having the food categories?

[2018-04-03 22:31] #2483 closed, assigned to nobody

[2018-04-03 23:37] drewvolz opened #2501 "Fix deprecations for RN v55"
**componentWillMount** is deprecated and will be removed in the next major version. Use componentDidMount instead. As a temporary workaround, you can rename to UNSAFE_componentWillMount.

Please update the following components: **Container, Transitioner, glamorous.Text, glamorous.View**

<hr>

**componentWillReceiveProps** is deprecated and will be removed in the next major version. Use static get

[2018-04-03 23:43] drewvolz opened #2502 "Course search promise rejection"
Happens when the course search data for Android is loaded.

<img src="https://user-images.githubusercontent.com/5240843/38281133-5ba1e478-3766-11e8-9b8d-e79c63e4e6f0.png" width=420 />

[2018-04-04 01:14] hawkrives commented on #2501
None of those are in things that we control. I fixed the depredations in things we control.

[2018-04-04 01:16] hawkrives commented on #2502
Can you give us the stack trace from the devtools? That'll have the actual file paths in it

[2018-04-04 01:39] drewvolz commented on #2501
This issue is to track it. It’s a known issue until they’re fixed, even if they’re out of our control.

[2018-04-04 01:40] drewvolz commented on #2502
I could not. I spent an hour trying to get RN debugger to launch but it was freezing and stalling out. My devtools would not successfully launch.

[2018-04-05 21:53] #2124 closed, assigned to nobody

[2018-04-05 22:26] #2491 closed, assigned to nobody

[2018-04-08 19:54] drewvolz commented on #2501
Alright. If they're out of our control, there's not use in tracking it.

[2018-04-08 19:54] #2501 closed, assigned to nobody

[2018-04-08 20:14] drewvolz commented on #2407
I think we can close this?

[2018-04-08 20:17] drewvolz commented on #2502
Weirdly enough, the error happens when I do not have a debugger enabled. I cannot replicate with the debugger, but I see the rejection when using as normal.

[2018-04-08 20:19] drewvolz commented on #2502
Bugsnag has this to say:

<img width="770" alt="screen shot 2018-04-08 at 2 18 12 pm" src="https://user-images.githubusercontent.com/5240843/38472078-b311dea0-3b37-11e8-9f36-a60f0d643fa1.png">

[2018-04-08 20:39] drewvolz commented on #2502
Relevant: https://github.com/facebook/react-native/issues/15902

[2018-04-08 20:42] hawkrives commented on #2502
Try

[code]

The reason it works with a debugger is that remote debugging uses Chrome's js engine, instead of the bundled js engine.

[2018-04-08 21:03] drewvolz commented on #2502
Getting a runtime error to the effect of `Incompatible receiver, Set required!` which that thread is hinting at `core-js` being the culprit.

[2018-04-08 23:00] drewvolz commented on #2445
Tracking this inside https://github.com/facebook/react-native/issues/18653

[2018-04-11 21:38] hannesmcman commented on #2407
Closing this until we get around to creating some sort of scheduling assistant.

[2018-04-11 21:38] #2407 closed, assigned to nobody

[2018-04-11 21:51] hawkrives commented on #2407
I think that such a thing belongs in a new issue, anyway. 👍

[2018-04-14 22:05] drewvolz opened #2526 "[Tracking] Detox"
What sorts of e2e tests would we like to see? I'd like to start brainstorming.

I've just integrated Detox for iOS and will hold off on Android until compatibility issues are fixed with RN > 0.50.

[2018-04-15 01:24] drewvolz commented on #2526
We'll hold off while we build out the app. We'll focus on more jest tests and then think about e2e again.

[2018-04-15 01:24] #2526 closed, assigned to nobody

[2018-04-23 01:17] drewvolz opened #2537 "Find a better solution to fix google play services"
In #2536 I added a non-ideal way to get android back up and building. I set google play services version to 12.0.1. If we can accomplish this inside `build.gradle` instead of `gradle.properties`, we would be much happier.

[2018-04-23 01:19] drewvolz opened #2538 "Find a better solution to fixing the scrolling textinputs"
Reminder to check on react-native often to see if we can revert #2535.

[2018-04-23 01:36] #2445 closed, assigned to nobody

[2018-04-24 13:37] drewvolz opened #2544 "Radio streams stuck on “starting”"
Both streams will not play.

[2018-04-24 13:40] drewvolz commented on #2544
KRLX finally resolved. Still waiting for KSTO.

[2018-04-24 13:48] drewvolz commented on #2544
~Where is KSTO's stream defined? The source looks blank to me.~

Edit: I remember now that we load the webpage in the background as to forward on analytics to streaming media.

[2018-04-24 13:56] drewvolz opened #2545 "Remove entries and exceptions from Info.plist"
Looking at iOS' `Info.plist`, I am wondering if we can remove two items:

- [x] KSTO scheme (app is no longer published, answer is _yes_)

https://github.com/StoDevX/AAO-React-Native/blob/89009eef5adc993ac50aad363ca9c0e856ab9e88/ios/AllAboutOlaf/Info.plist#L72-L75

- [x] Oleville insecure resource? ~The site is `https` now but do we have it listed because it loads insecure content?~

https://githu

[2018-04-24 16:47] hawkrives commented on #2545
We should remove oleville.com from the `NSTemporaryExceptionAllowsInsecureHTTPLoads` block. The mixed content is only when the site loads, which we do in an SFViewController, which isn't subject to our `NSTemporaryExceptionAllowsInsecureHTTPLoads` rules.

[2018-04-24 16:48] hawkrives commented on #2544
uh. If one is fixed, so is the other. The issue is in how the WebView handles "user initiated actions" to start the audio, since you're required to interact with the element that starts the audio.

Edit: by 'required' I mean Safari and other web browsers won't play any media until the user has interacted with the page to start the audio playing. And because we're programmatically starting the audi

[2018-04-24 17:13] drewvolz commented on #2544
Closing as we're tracking this in #2207

[2018-04-24 17:13] #2544 closed, assigned to nobody

[2018-04-24 18:25] #2545 closed, assigned to nobody

[2018-04-26 16:21] rye opened #2556 "Add NSLocationAlwaysUsageDescription key to Info.plist"
From iTunes Connect:

[code]

This might be causing our backlog issues on Circle.

[2018-04-26 16:24] rye commented on #2556
We could just… copy the existing one from [`NSLocationWhenInUseUsageDescription`](https://github.com/StoDevX/AAO-React-Native/blob/4fd758a988237e40365afe8619c12974b831e207/ios/AllAboutOlaf/Info.plist#L89-L90)?  Seeing as I don't think we have any instances where we constantly use one's location?  Someone else should make sure I understand that right.

[2018-04-26 16:30] hawkrives commented on #2556
I think that should work.

[2018-04-26 16:33] drewvolz commented on #2556
It’s just asking for the key with an English description of what we’ll use your location “all the time” for. So, copying and tweaking should work.

[2018-04-26 16:35] rye commented on #2556
I'm pretty sure our description,

is probably just about perfect.  (PR: #2557.)

[2018-04-26 17:17] #2556 closed, assigned to nobody

[2018-04-29 03:19] #2474 closed, assigned to nobody

[2018-05-04 14:14] hawkrives opened #2569 "Drop Android 4.4 and 5 support in September (and update OS support policy)"
I propose that we drop support for old OSes approximately four years after their release.

Android 4.4 was released in October 2013, so it's already 5 years old; Android 5 was released in November 2014, so it'll be coming up on its 4th anniversary.

Over the past week alone, we have had 5 users on Android 4.4/4.4.1, and 9 across 5/5.1/5.1.1.

On the iOS side, iOS 8 is approaching the four-year dat

[2018-05-04 16:09] drewvolz opened #2570 "Add share button to job posting detail"
If someone knows someone or wants to save the posting elsewhere, we should make it easy to access the job posting url.

[2018-05-07 19:33] hannesmcman commented on #2420
@drewvolz How's the debugging of this issue going? I have still not been able to reproduce it..

[2018-05-07 19:36] drewvolz commented on #2420
Looking at the screenshots, it's the same error as https://github.com/StoDevX/AAO-React-Native/issues/2502

[2018-05-07 19:40] hannesmcman commented on #2420
Oh, ok. I'm going to close this issue as a duplicate of #2502 if that's ok.

[2018-05-07 19:40] #2420 closed, assigned to nobody

[2018-05-07 19:40] hannesmcman commented on #2502
So is there nothing we can do about this one besides wait?

[2018-05-07 19:49] drewvolz opened #2573 "Submit weekly movie view as-is"
It works well enough. We can tweak it in the near future.

[2018-05-07 22:27] hawkrives commented on #2502
I'll try to dig into this. Assigning to me.

[2018-05-09 13:58] drewvolz opened #2577 "Dictionary definition problem-reporter is editable but reverts all changes"
This is for Android. I blame TextInput being multiline and already having text in the field.

[2018-05-09 14:00] drewvolz opened #2578 "Search crashes when moving focus"
This is on android. After a search on orgs or dictionary, we crash. It looks like the Android searchbar is trying to call methods that only exist on iOS?

[2018-05-09 14:13] drewvolz opened #2579 "Calendar tab bar differs from the rest"
Android only. Honestly I like it better at the moment

[2018-05-09 14:37] rye opened #2580 "Android Recent Apps color value not set"
It looks kinda weird.

![Hawken's Screenshot](https://user-images.githubusercontent.com/1566689/39820791-3c191ca8-536c-11e8-8263-73c90e159f70.jpg)

We can apparently fix this by adding to a new file `android/app/src/main/res/values/colors.xml` the following XML,

[code]

then also adding the following XML to `android/app/src/main/res/values/styles.xml`

[code]

[2018-05-09 16:21] hawkrives commented on #2579
I believe that there are two types of bottom tabs; one where the labels are always visible ("fixed"; this has a gray background, like Google Photos), and one where the labels shift ("shifting"; this seems to always have a colored background, from the examples I've seen, and the tab bar can actually change color based on the active tab.)

Here are the Material docs on how to use it: https://materia

[2018-05-09 20:09] drewvolz commented on #2579
Right. But right now, android calendar is the only one that is inconsistent

[2018-05-09 20:44] hawkrives commented on #2579
Yes. It should be the same as the others. That is to say, it should be colored.

[2018-05-10 00:17] hawkrives opened #2582 "Update "android" and "ios" to skip native builds on data/ changes"
If the only changes are in data/, we should skip running the "native" builds (`bundle exec fastlane`) to speed up PR times.

We'll still have queue the VMs, but that's a non-issue on Circle.

~Should we extend that to the jest and flow jobs too?~

[2018-05-11 13:14] hawkrives opened #2584 "Check if any commits were made in the last day, and skip deploys if not"
This should close (issue), because it should stop us uploading things to iTC when nothing has changed.

[2018-05-28 07:29] drewvolz opened #2615 "Building hours update for Registrar"
## Before:

[code]

## After:

[code]

[2018-05-28 13:56] hawkrives commented on #2615
I don't think summer hours actually start until after Reunion. I'll have to check.

[2018-05-28 14:31] hawkrives opened #2616 "Allow Android to move the app to an SD card"
https://developer.android.com/guide/topics/data/install-location:

We have no reasons not to allow this, and I saw someone try to do this yesterday.

[2018-06-06 15:29] rye opened #2626 "Update Fastlane"
At @hawkrives' request.  Doesn't seem to be getting done by our automata, so needs to be done by hand.

[2018-06-06 16:12] rye opened #2629 "AAPT Deprecation"
From a local build:

[code]

[2018-06-06 16:20] #2626 closed, assigned to rye

[2018-06-06 16:58] hawkrives commented on #2629
There may be another issue / PR / chat with the information about why I disabled that.

IIRC something something RN's asset pipeline didn't work with aapt2.

[2018-06-06 19:28] rye commented on #2629
We should keep an eye on this, then.  Eventually it'll be the ~default~ only option?  Or something like that.

[2018-06-06 21:18] hawkrives commented on #2629
Yup.

[2018-06-10 03:02] hawkrives commented on #2502
Having looked at the code again, I think it's the Promise#finally:

https://github.com/StoDevX/AAO-React-Native/blob/f74db946946ef9dfa0eeb3c9b49d07c2430f2da9/source/views/sis/course-search/search.js#L233

Promise.prototype.finally is not yet standardized. I have now made a local branch that replaces the Promise chain here with an async function, which should have the same results.

[2018-06-10 15:23] #2616 closed, assigned to nobody

[2018-06-10 16:07] rye opened #2647 "Update Privacy Policy"
Our Privacy Policy seems to have just been… taken from the Oleville Privacy Policy, and the things that that Policy describes are not isomorphic to what we do.

I'd like to update the Privacy Policy, especially to address GDPR concerns, but also to prune down the language and make it actually useful.  I'd like users to be able to read about their privacy and actually understand where their data is

[2018-06-10 16:10] hawkrives commented on #2647
👍

[2018-06-10 16:20] drewvolz commented on #2647
👍

[2018-06-10 16:23] drewvolz commented on #2582
We can close this?

[2018-06-10 16:54] hawkrives commented on #2582
No

[2018-06-10 17:30] hawkrives commented on #2502
Not fixed yet.

[2018-06-11 22:42] hannesmcman commented on #2502
@hawkrives Should this be reopened?

[2018-06-13 13:25] hawkrives opened #2653 "Upgrade to API level 28"
https://github.com/facebook/react-native/issues/18095#issuecomment-396925300

[2018-06-13 20:20] hawkrives commented on #2653
A [later comment](https://github.com/facebook/react-native/issues/18095#issuecomment-395596130) added this:

---

If anyone is upgrading to SDK 28, you'll need to add

[code]

to the `<application>` element in your `AndroidManifest.xml` file, and

[code]

to your `app/build.gradle` file

[2018-07-06 22:42] #2492 closed, assigned to nobody

[2018-07-20 15:45] rye commented on #1313
Superseded by #2584.  (This issue is older, but the new issue doesn't concern Travis—it's a separate more philosophical issue.)

[2018-07-20 15:45] #1313 closed, assigned to hawkrives

[2018-07-24 13:03] rye opened #2702 "Fetch a continually growing list of streams"
@hawkrives this morning:

After checking, it looks like the feed we use for our listing, [stolaf.edu/multimedia/api/collection](https://www.stolaf.edu/multimedia/api/collection) is fine, but for some reason clients aren't rendering any of the contents of that JSON slug.  Did something change?

[2018-07-24 13:12] drewvolz commented on #2702
We’re filtering by date so nothing is broken 👍 but this is impetus to change the date range that we filter if we want to list everything.

[2018-08-03 00:17] hannesmcman opened #2720 "Course Search: Filter buttons lagging/causing app crash"
Adding filters to course search is almost impossible, with how much it is lagging. It sometimes even causes the app to crash.

[2018-08-03 00:25] hawkrives commented on #2720
I've got a branch where I was working on making a FilterView handle its own state, then passing that changed state back out when the view is dismissed, instead of making the state be handled entirely in Redux.

Theoretically, that'd ensure that we only do the heavy data work once per filter adjustment.

I don't know if it'll _solve_ this, but it should help somewhat.

[2018-08-03 00:31] hannesmcman commented on #2720
<img width="504" alt="screen shot 2018-08-02 at 7 30 00 pm" src="https://user-images.githubusercontent.com/24640726/43617851-8ce92824-968a-11e8-8794-7478c19d1185.png">

Check out the CPU usage when the "Show All" button is pressed.

Also Memory usage is ridiculous.

<img width="362" alt="screen shot 2018-08-02 at 7 31 55 pm" src="https://user-images.githubusercontent.com/24640726/43617891-c84709b8

[2018-08-03 00:35] hawkrives commented on #2720
impressive…

[2018-08-03 12:51] #2720 closed, assigned to nobody

[2018-08-04 19:04] #2502 closed, assigned to hawkrives

[2018-08-04 20:30] #2579 closed, assigned to nobody

[2018-08-04 20:30] #2580 closed, assigned to hawkrives, rye

[2018-08-04 22:19] rye opened #2735 "New data fetching strategy"
# Premise

Our current data entry style for data _sucks_. (Okay, it's not that bad, but I have a love-hate relationship with it which is leaning more towards the "hate" side of that spectrum.) Other contributors have voiced their opinions about it, which have ranged from [neutral responses](https://www.youtube.com/watch?v=ussCHoQttyQ) to fiery contempt.

## What is "data"?

Our data is broken down

[2018-08-05 01:43] hawkrives commented on #2735
Before we get into the technical discussions, I’d like to outline what I’d like in a server solution (ignoring how the data is actually stored on said server; it could just as easily be SQLite, Postgres, or flat yaml files in a git repo).

- Web-based editor for the data, with structured data input (text fields, repeatable chunks of forms [e.g., building schedules])
- Historical archive of all cha

[2018-08-05 15:28] drewvolz opened #2738 "Sliding to pop navigation causes issue on willBlur"
When I navigate in the app, I sometimes use the back button in the nav bar and sometimes pull on the side of the view to return back to the previous screen. They accomplish the same thing.

Within course filters, changes to the filter lists only apply if you tap the back button in the nav bar (on iOS only? Not sure). Do we want to have both back actions apply changes, or should they be considered

[2018-08-05 16:10] rye commented on #2735
Any one of these backing storage media sound fine to me.

This is a must-have for any solution, since I think that's the biggest problem with our existing solution. We have no easy way of turning "table of hours" into "yaml file that is ready to ship." Once we solve that, everything else is just implementation details.

I do see merits to this. I wonder if we could export these from whatever stora

[2018-08-05 21:36] hawkrives commented on #2735
I do think we should distinguish, real quick (I think we're on the same page, but I just want to say it anyway) to distinguish between "owned" data and "proxied" data.

That is, this is our Owned data:

- hours
- contacts
- dictionary
- webcams list
- radio urls
- map data (maybe?)
- bus schedules
- help tools

This is our Proxied data:

- menus
- calendar
- streams
- orgs
- news
- directory (if w

[2018-08-06 02:01] drewvolz opened #2742 "Make selected tab more apparent"
Either add a color highlight to it, make it darker, or something. I can hardly tell on most views which tab is active.

The problem becomes even worse with Night Shift.

[2018-08-06 04:26] drewvolz commented on #2742
I will revisit this if it truly becomes a problem.

[2018-08-07 14:26] drewvolz commented on #2647
@rye If you’d like assistance on the [update-privacy](https://github.com/StoDevX/AAO-React-Native/tree/update-privacy) branch, let me know.

[2018-08-07 14:28] drewvolz commented on #2578
Fixed by #2725

[2018-08-07 14:28] #2578 closed, assigned to nobody

[2018-08-07 14:45] hawkrives commented on #2578
dang, I thought I had everything set up to close this automatically. Oh well. Oops. Thanks!

[2018-08-07 15:46] hawkrives opened #2747 "Open Radio streams in an in-app browser, instead of attempting to play it inline"
Radio streams are tricky.

The current state is:
- sometimes iOS will start on the first tap; sometimes it won't.
- Android always opens the stream in a web browser.

I propose that we change iOS to also open in a web browser.

[2018-08-07 16:02] drewvolz commented on #2747
We can and should make this work natively. I’ll flesh out my proposal in a bit.

[2018-08-07 22:55] drewvolz commented on #2747
# Premise

Our current radio streaming capabilities do not start up reliably or quickly. It appears to take several starts and stops to enable a stream, sometimes taking more than a minute or two to begin playing audio. The current implementation involves webviews and web browsers.

## What are the radio streams?

We tap into both St. Olaf's `KSTO` and Carleton's `KRLX` internet radio broadcasts.

[2018-08-08 13:31] drewvolz commented on #2388
@hawkrives does `startsWith` on keywords sound good to you?

[2018-08-08 15:00] hannesmcman commented on #2738
When #2744 is merged, we will no longer experience this problem with FilterView, so we can maybe remove the shipping hold? Do we still want to investigate looking into modals?

[2018-08-08 15:13] drewvolz commented on #2738
Modals would be better to present Settings and EditHome, but that could come with a switch to react native navigation. I would think we could close when merging #2744.

[2018-08-08 16:00] hawkrives commented on #2738
Yeah, I'm good with closing when FilterViews no longer have this issue, through whatever means (including removal of them, lol)

[2018-08-09 00:34] hawkrives commented on #2702
Copying from #2748…

@rye:

[2018-08-09 00:35] hawkrives commented on #2702
@rye To whit, for your comments, it's a lot easier to filter Streams than it is to filter Calendar, because we actually have the Streams metadata.

[2018-08-09 00:52] rye commented on #2702
Because we actually have an API? Wow, it's amazing what those can do.

[2018-08-09 01:13] hawkrives commented on #2702
We have an API for the calendar, too. We just don't have any metadata, because no one enters it. (I hear that may be changing, stay tuned!)

[2018-08-09 01:16] hawkrives commented on #2702
For instance, events with categories:

[code]

[code]

<details><summary>body</summary>
[code]
</details>

[2018-08-09 14:36] drewvolz opened #2753 "Meal Selection + Stations can be confusing"
I was messing with the menu and found that meal selection didn’t make sense with some of the stations. For example, select lunch as the meal type, but dinner specials is a filterable station.

[2018-08-10 15:36] #2738 closed, assigned to nobody

[2018-08-10 19:40] rye commented on #2735
As it turns out, `ccc-server` has endpoints which proxy data requests, which solves the initial AC of getting data fetching untied from this repository. The near term step is going to be to rewrite all of our URLs to match this new scheme, then we can look into splitting this data out into a separate server.

[2018-08-11 02:14] hawkrives opened #2763 "Changing a filter resets the ScrollView's horizontal position"
If I am in Courses, for example, which goes <kbd>Enrollment</kbd> <kbd>GEs</kbd> <kbd>Departments</kbd> <kbd>Level</kbd> <kbd>Status</kbd> <kbd>Lab</kbd>, and I change the <kbd>Lab</kbd> status, which I have to scroll over to see, my scroll position is reset to the left side when the view closes.

I think this will require some PureComponent/shouldComponentUpdate usage on the Toolbar, if not somet

[2018-08-11 02:14] rye opened #2764 "Filter Popover not aligned on Android"
Any ideas?

<img src="https://user-images.githubusercontent.com/1566689/43987143-095f52cc-9ce2-11e8-9e21-8cf5c0c92ebc.jpg" width="345" />

[2018-08-11 03:47] drewvolz opened #2767 "Calendar detail title runs into back button"
1 | 2
--|--
<img width="530" alt="screen shot 2018-08-10 at 4 37 29 pm" src="https://user-images.githubusercontent.com/5240843/43987921-c11d15f8-9ce6-11e8-8304-cb3542612b76.png"> | <img width="530" alt="screen shot 2018-08-10 at 4 37 25 pm" src="https://user-images.githubusercontent.com/5240843/43987922-c14760f6-9ce6-11e8-845d-289f942363a4.png">

[2018-08-11 18:35] drewvolz opened #2768 "Course search rows sometimes lack row divider"
As I scroll through the course listings, I’m seeing rows that lack a horizontal separator.

[2018-08-11 18:44] hawkrives commented on #2768
Can you get a screenshot, please?

Also, simulator or device?

[2018-08-11 18:48] drewvolz opened #2769 "Recent filter combinations are not saving or loading"
I am not seeing any filter combos being loaded onto the front page of course search. I am unsure if they’re having difficulty saving, loading, or both.

[2018-08-11 18:52] hawkrives commented on #2769
I … don't know in what fashion I'd expect them to work anymore.

Since I can't build up multiple filters before having it persist anymore.

Should we think about a way to "save" a filter combo, instead?

[2018-08-11 18:53] drewvolz commented on #2768
Simulator and device

[2018-08-11 18:56] hawkrives commented on #2768
Would you grab a screenshot next time you see it, please?

[2018-08-11 18:59] hawkrives opened #2770 "There is no way to return to the overview of the Course Search tab"
When you start the Course Search tab, there's a search box, a list of recent searches, and a list of recent filter combos.

There is no way to get back to this screen, except by returning to the homescreen and coming back.

There should be some other way of returning to this screen.

[2018-08-11 19:02] drewvolz commented on #2768
<img src=https://i.imgur.com/X7svBn5.jpg width=320>

[2018-08-11 19:04] hawkrives commented on #2768
@drewvolz Do you have to scroll quickly to see that? Is it always reproducible at that spot?

… because I can't get it to happen for me :| grr bugs

[2018-08-11 19:20] drewvolz commented on #2768
It happens on a largish search for me

[2018-08-11 19:21] drewvolz commented on #2770
Hitting cancel on the search returns you to it

[2018-08-11 19:22] hawkrives commented on #2770
… which I apparently forgot about.

[2018-08-11 19:22] #2770 closed, assigned to nobody

[2018-08-11 19:24] hawkrives opened #2771 "[course search] Cancel button in search bar only visible when focused"
Follow-up to #2770

- If you hit Cancel, which isn't always available (you have to have the search box focused first), you are returned to the overview
- If you dismiss the keyboard by scrolling, the cancel buttons goes away (because you aren't focused in the search box anymore)
- ~If you clear the search query, you do not enter "browse" mode (should this be a different issue?)~ (Resolved in #2781

[2018-08-11 20:00] hawkrives opened #2772 "FilterToolbar's minimum width is not 100% of the screen width"
See the border below the Specials Only button.

<img src="https://i.imgur.com/50YRAJs.jpg" width=435 />

[2018-08-11 20:05] drewvolz opened #2773 "Filter popovers do not resize on rotation"
![8fc23ce8-36d3-43a4-b235-480bcb23d380](https://user-images.githubusercontent.com/5240843/43995663-64d6f0dc-9d6f-11e8-83c1-cd4bc81ad8bc.gif)

Can we fix this the way we’ve fixed other rotation views?

[2018-08-12 21:34] #2772 closed, assigned to nobody

[2018-08-12 23:44] hannesmcman commented on #2769
Currently, filter combinations are only saved when a user is in "browsing" mode (pressed the `Browse All` button or a recent filter combination) and presses the cancel button of the search bar...
https://github.com/StoDevX/AAO-React-Native/blob/c59c12856e1ef728160beaa2c53fef5ec7a599f9/source/views/sis/course-search/search.js#L124-L130

[2018-08-12 23:47] hannesmcman commented on #2764
Could fork a copy of https://github.com/SteffeyDev/react-native-popover-view and fix there? Only a problem on android.

[2018-08-12 23:48] hannesmcman commented on #2763
iPhone X? Not seeing this on iPhone 8 Plus..

[2018-08-12 23:48] hannesmcman commented on #2763
@rye does this happen on android?

[2018-08-12 23:51] hannesmcman commented on #2773
I think, similar to #2764, this calls for a PR to https://github.com/SteffeyDev/react-native-popover-view. The anchor point needs to be recalculated on the rotation event, which seems like a problem for the library itself. Thoughts?

[2018-08-12 23:58] hawkrives commented on #2773
I concur that this should be solved in the library.

[2018-08-12 23:59] hawkrives commented on #2763
Huh. I can also no longer reproduce this.

[2018-08-12 23:59] #2763 closed, assigned to hawkrives

[2018-08-13 00:26] hannesmcman commented on #2771
I think the third one could be a separate issue... especially since the absence of the cancel button when the search bar isn't focused is only an issue on iOS.

[2018-08-13 00:29] hannesmcman commented on #2771
Fixing the "cancel button not always visible" issue might have to go upstream to https://github.com/umhan35/react-native-search-bar

[2018-08-13 00:31] hawkrives commented on #2771
so stream of consciousness

what if

- the content area is the welcome screen
- no big title (aw; saves us needing to hide it)
- if you start searching, results show up and hide the welcome content
- if no results, say so – don't show welcome content if search is active
- implement "browse" via special "match all" filter to avoid a separate mode?

thoughts? elaboration requests?

[2018-08-13 01:04] hannesmcman commented on #2771
@hawkrives Not quite sure if I can picture what you're describing...could you elaborate?

[2018-08-13 02:58] hannesmcman commented on #2764
PR made: https://github.com/SteffeyDev/react-native-popover-view/pull/13

[2018-08-13 03:10] hawkrives commented on #2764
Nice

[2018-08-13 03:58] hannesmcman commented on #2773
Looks like there's a related issue in the repo already: https://github.com/SteffeyDev/react-native-popover-view/issues/2

[2018-08-13 18:00] hannesmcman commented on #2771
@hawkrives Can we rename this to: "Cancel button in search bar only visible when focused"?

[2018-08-13 18:02] hannesmcman commented on #2769
@drewvolz @hawkrives Do we want the filter combination to be saved at a point other than when the `Cancel` button is pressed? If so, when?

[2018-08-13 18:04] hawkrives commented on #2769
@hannesmcman Idk. I was trying to envision some way for the user to "save" a filter combo, but I haven't come up with anything yet.

[2018-08-13 18:10] hannesmcman commented on #2769
@hawkrives The only problem I see with the current code is that a filter combination will not be saved if a user leaves the SIS view without pressing the `Cancel` button within the Course Search tab. Could we just add
[code]
to `CourseSearchView`?

[2018-08-13 20:24] #2769 closed, assigned to nobody

[2018-08-13 22:13] hannesmcman commented on #2771
I've done some digging on this..and the `showsCancelButton` prop of `react-native-search-bar` does not help us here...my guess is that there is a native prop that needs to be bridged to in order to access the functionality we want. After looking at the [docs](https://developer.apple.com/documentation/uikit/uisearchbar) for `UISearchBar`, it's not clear what this prop may be. However, it must be po

[2018-08-13 22:14] hawkrives commented on #2771
Mail.app does, as well, fwiw

[2018-08-13 22:15] hannesmcman commented on #2771
Anybody got a friend at Apple?

[2018-08-13 23:19] hannesmcman commented on #2773
@hawkrives @drewvolz Orrr we could just wrap the `FilterPopover` component with `Viewport`

[2018-08-14 03:04] #2773 closed, assigned to nobody

[2018-08-14 05:07] hannesmcman commented on #2771
Not a problem anymore, thanks to #2790.

[2018-08-14 05:07] #2771 closed, assigned to nobody

[2018-08-14 12:28] drewvolz opened #2791 "Combine recent course searches and recent filters"
...to reduce confusion amongst maintainers. As of now, it becomes confusing to determine if you’re searching or if you’re browsing. Text cannot be in the search bar in order to browse.

@hawkrives has an idea to clear this up.

[2018-08-14 17:16] drewvolz commented on #2742
@hawkrives and I compared the blacks and grays of the icons in the tab bars for iBooks vs AAO. We still think this is an "indistinguishable-in-low-light" problem.

App | State | Color
--|--|--
St Olaf | active | rgb(26,25,26)
iBooks | active | rgb(0,0,0)
St Olaf | inactive | rgb(128,128,128)
iBooks | inactive | rgb(144,144,144)

St. Olaf | iBooks
--|--
![photo_2018-08-14_11-15-13](https://user-ima

[2018-08-14 17:17] hawkrives commented on #2742
I'm planning to put make the inactive color configurable, and then change the colors on iOS to match iBooks.

[2018-08-16 03:37] hannesmcman commented on #2044
Is this still an issue? @hawkrives @drewvolz

[2018-08-16 04:17] hawkrives commented on #2044
Yeah… for example, the Dictionary list doesn't respect the safe area at the bottom of the view / bottom of the screen.

[2018-08-16 04:17] hawkrives commented on #2044
I've just updated the OP's checklist with what I know works (two items). A number of others "work", but only because they're in tab views.

[2018-08-16 19:44] #2345 closed, assigned to nobody

[2018-08-16 21:02] hannesmcman commented on #741
Is this still a problem? @hawkrives

[2018-08-16 21:07] hawkrives commented on #741
Yes.

To summarize, the app only decides whether or not to enable the Specials filter once, and it uses the default menu to do that (whichever one is closed to being open at the time you open the screen).

So, when you change your menu, if there aren't any specials, it'd be nice if it could automatically disable or enable tie specials filter, as needed.

---

With that said, I'd rather get rid of

[2018-08-17 20:40] hannesmcman opened #2808 "Create all-white icon for push notifications on Android"
From OneSignal's documentation:

Directions from OneSignal's documentation can be found [in their docs](https://documentation.onesignal.com/docs/customize-notification-icons).

[2018-08-18 00:34] hawkrives opened #2811 "Delay iOS Push Notifications prompt"
I don't know how long we want to delay the project, but I don't think that it's a good thing to prompt immediately after installation. I think that we will have a large number of people deny access, either on purpose or accidentally, and then not be sure how to grant it again.

[2018-08-18 02:05] hawkrives commented on #1522
I think this can be closed, now that we have a very fancy Filter toolbar! (Introduced in #2744)

[2018-08-18 02:05] #1522 closed, assigned to nobody

[2018-08-18 02:14] hawkrives opened #2812 "Move Student Orgs to ccc-server"
Looks like I missed one:

https://github.com/StoDevX/AAO-React-Native/blob/b06648687c64b0a9f9fa999e5ca90053b8eb2f75/source/views/student-orgs/list.js#L29-L30

I think there's already an endpoint on the server for orgs.

[2018-08-18 02:17] hawkrives commented on #2812
ccc-server endpoint: `https://stolaf.api.frogpond.tech/v1/orgs`

[2018-08-18 02:53] #2812 closed, assigned to nobody

[2018-08-20 04:05] hannesmcman opened #2820 "Write script to retrieve test data from stoPrint API"
If we're gonna test the stoPrint feature, we need some mock data. And what better way to mock data then to use actual data? That way we'll know if stoPrint's API changes and breaks everything!

[2018-08-20 04:08] hannesmcman commented on #2808
@rye Wanna take this android guy?

[2018-08-20 04:11] rye commented on #2808
Sure, I can take a stab at it.

[2018-08-20 11:22] hawkrives opened #2822 "Only list merge commits in automated nightly changelogs"
I really just want to see what PRs were merged, and doing this would remove a lot of the noise from the message.

[2018-08-20 12:35] hawkrives opened #2823 "[stoPrint] Allow Pull-To-Refresh on "Nothing to Print!" screen"
… I want it to moooove.

[2018-08-20 12:37] hawkrives opened #2824 "[stoPrint] Include a paragraph on how to print things on the Nothing to Print screen"
Something like, "We can't print anything because you haven't sent anything to the printer. You can print from a computer, or by (iOS ? "using the Print option in the Share sheet" : "however Android manages to print")".

IE, don't do any stoPrint-specific instructions, but just the minimal set for the current platform.

I think this could go under the "info" button.

[2018-08-20 12:43] hawkrives opened #2825 "[stoPrint] "Are you sure" prompt should enclose print job name in “” quotes"
<img src=https://user-images.githubusercontent.com/464441/44341070-7b6cd580-a44c-11e8-8fdd-2c8fed273e3e.PNG width=320>

(I like quoting external strings. Especially user-provided ones.)

[2018-08-20 12:45] hawkrives commented on #2825
Same with the Cancel dialog:

Also, the Cancel dialog's buttons should be reworded… maybe <kbd>Keep Job</kbd> and <kbd>Cancel Job</kbd>, where Keep is the default/bold option, and Cancel is red/dangerous.

[2018-08-20 12:47] hawkrives commented on #2825
For that matter, I'd like to update the buttons for Print to read, maybe, <kbd>Keep</kbd> and <kbd>Print</kbd>?

We're accidentally overloading the word "Cancel" here, is my point. I'm open to naming them something else, but we need to get rid of Cancel/OK in these dialogs IMO.

[2018-08-20 12:54] hawkrives opened #2826 "[stoPrint] Visual bug in pull-to-refresh on Print Jobs screen"
When I pull-to-refresh, as soon as the refresh vibration happens, my screen jumps down about twice as far as it was right before the refresh started.

![screenrecording_08-20-2018 07-48-56 min](https://user-images.githubusercontent.com/464441/44341633-1619e400-a44e-11e8-9cf3-0736c82e6f76.gif)

(Apologies for the gigantic gif.)

[2018-08-20 12:56] hawkrives opened #2827 "[stoPrint] "Not Connected" screen's Help button should not link to the Help screen"
since the Help screen's Contact option is at the very bottom, and I'd rather not send people to the Helpdesk for app support.

Ideas (not mutually exclusive):

- Somehow link to eduroam / VPN connection instructions
- Include a Contact Us-ish button to email allaboutolaf@stolaf

[2018-08-20 13:06] hawkrives opened #2829 "[stoPrint] Show time remaining instead of time printed?"
Idk.

We could also rework that bar to label the items, IE "Expires: 8:00 PM • Cost: $0.56 • Pages: 14"?

Idk.

[2018-08-20 15:00] rye commented on #2823
I'd like it to automatically run PTR as well

[2018-08-20 15:10] hannesmcman commented on #2468
This would be one way of resolving #2827. I would also suggest we change the title of that section to “Have an app question? Found a bug?”

[2018-08-20 16:46] hannesmcman commented on #2823
I think we should add this to the "Network Error" screen as well!

[2018-08-20 17:49] #2653 closed, assigned to nobody

[2018-08-20 17:57] hannesmcman commented on #2826
This seems to only be a problem with `SectionList` components when the `onRefresh` callback affects Redux state.

[2018-08-20 18:17] hannesmcman commented on #2468
@hawkrives

[2018-08-20 18:28] hannesmcman opened #2833 "[stoPrint]: Add LoadingViews to print jobs and printers views"
There should be two loading views for the print jobs list:

1. If the app is still logging the user in.
    - "Logging in..."
2. If the app is fetching the list of print jobs from the API and the SectionList is empty.
    - "Fetching stoPrint Jobs"

And one for the printers list, if the SectionList is empty: "Fetching Available Printers"

[2018-08-20 20:40] #2833 closed, assigned to hannesmcman

[2018-08-20 20:41] #2825 closed, assigned to nobody

[2018-08-20 20:54] #2823 closed, assigned to nobody

[2018-08-20 21:21] hannesmcman commented on #2829
@hawkrives Is it sufficient to just put
[code]
or do you think we need to specify that it expires at that time *tomorrow*? (or today for that matter)

[2018-08-20 21:33] hawkrives commented on #2829
Can you give me an example of what that field contains?

[2018-08-20 21:40] hannesmcman commented on #2829
4:11:31 PM @hawkrives

[2018-08-20 22:30] hannesmcman opened #2836 "[stoPrint] Only list stoPrint-color printers for color jobs"
## Current behavior: ##
When you select a print job destined for stoPrint-color, you are able to choose from any of the printers. If you happen to choose one that can't print in color (most of them), an error alert is triggered and you are redirected to the print jobs list.
## Desired behavior: ##
When you select a stoPrint-color job, the only printers that should be listed are those that are able

[2018-08-21 01:41] #2764 closed, assigned to rye

[2018-08-21 05:07] #2824 closed, assigned to nobody

[2018-08-21 12:07] #2569 closed, assigned to nobody

[2018-08-21 12:44] rye opened #2842 "detox postinstall script failure"
[code]

I'm suspicious of the line

Does this mean I can't successfully install dependencies now?  (Note: **I do not have XCode installed, nor will I. Just the command-line tools.**)

[2018-08-21 13:28] rye commented on #2842
Reported upstream at wix/detox#897.

[2018-08-21 13:49] #2842 closed, assigned to rye

[2018-08-21 14:26] drewvolz opened #2845 "Change homescreen color of stoPrint button"
Student orgs and stoPrint are too similar in color

![Orgs and stoPrint](https://i.imgur.com/Jj1f9x2.jpg)

[code]

[2018-08-21 17:20] hawkrives opened #2847 "Balances should hide "login needed" text until the login fails"
It's really odd … a lot of the time, when I open the app and go into SIS, it fetches my updated balances but also says I need to log in.

The auto-login-at-app-launch seems to be failing.

[2018-08-21 17:20] hawkrives commented on #2845
`tint` is no longer used, so they're currently exactly the same color. Whee.

[2018-08-21 17:21] #2836 closed, assigned to nobody

[2018-08-21 17:21] #2845 closed, assigned to nobody

[2018-08-21 17:32] drewvolz commented on #2847
If you're logged-out, it always says "not logged in!" at the bottom of the "Log in with St. Olaf" row.

Relevant:
https://github.com/StoDevX/AAO-React-Native/pull/1613
https://github.com/StoDevX/AAO-React-Native/issues/1633
https://github.com/StoDevX/AAO-React-Native/pull/1634

[2018-08-21 17:34] drewvolz commented on #2845
@hawkrives we should strip out `tint` from the view definitions

[2018-08-21 17:42] hawkrives commented on #2847
Yes. But I'm logged in.

[2018-08-21 17:43] hawkrives commented on #2845
File a new issue, please.

[2018-08-21 17:45] drewvolz commented on #2847
Simply trying to point to things that have changed that might affect the behavior you're noticing.

[2018-08-21 17:59] hannesmcman commented on #2845
lol I didn't even see this issue when I made the PR

[2018-08-21 20:54] hannesmcman opened #2849 "Course Search: ScrollToLocation causes exception if SectionList is empty"
Within Course Search, ScrollToLocation is called when a new query is made, or when the search bar is cleared. In both of these cases, if the course results list is empty we get the following exception:

<img width="308" alt="screen shot 2018-08-21 at 3 52 02 pm" src="https://user-images.githubusercontent.com/24640726/44428624-86159080-a55a-11e8-991f-f71c2f6c31ca.png">

This will cause the app to c

[2018-08-21 21:07] hannesmcman commented on #2849
I mean we could just put it in a try-catch block and do nothing if it throws an error...but that's probably not best practice

[2018-08-21 21:10] hawkrives commented on #2849
Can't we just check to see if the number of results is >= 1?

[2018-08-21 21:20] hannesmcman commented on #2849
nah since we don't have access to the results list in the component which is calling `scrollToLocation` (CourseSearchResultsView). Is there a way to pass this info up from a child to a parent?

[2018-08-21 21:39] hawkrives commented on #2849
We should expose an instance method on CourseSearchResultsList and call that, instead of passing the ref up, so that the internal method can check for the size of the list before scrolling.

Essentially we need to get a ref of the CourseResultsList itself, rather than the SectionList within in; to do so, change the getRef on Results to just a ref={}, and then you can just call any methods that we

[2018-08-22 02:04] hannesmcman commented on #2849
@hawkrives That makes sense, but we'd have to move the search function out of the render() of CourseResultsList and move the results to state to be able to access that right?

[2018-08-22 11:45] hawkrives commented on #2849
I don't _think_ so…

I can do a PR today so show you what I mean (or prove myself wrong, we'll see)

[2018-08-22 17:33] hannesmcman commented on #2827
@hawkrives How do you feel about #2468 as a solution to this issue?

[2018-08-22 19:30] hawkrives commented on #2827
I have never liked that solution.

The Help view was never intended, by me, to act as an App help section. It was supposed to be more of campus help, hence WiFi reporting and Helpdesk contact information.

*I* would prefer a solution that allows us to remove the app contact from help entirely. However, that may confuse people about the Helpdesk vs App Help.

Perhaps having a row (instead of a card

[2018-08-22 21:27] hannesmcman opened #2855 "[stoPrint]: LoadingView being shown on pull-to-refresh"
The `<LoadingView/>` should only be shown on the initial data load of the print jobs and printers lists, not when pull-to-refresh is triggered. It looks buggy..

![before](https://user-images.githubusercontent.com/24640726/44491887-34d3d280-a628-11e8-80d8-9b69573698b8.gif)

[2018-08-22 22:22] hannesmcman commented on #2827
I think having a row at the top of the Help View for app help is a good idea... @drewvolz what are your thoughts?

[2018-08-22 22:28] drewvolz commented on #2827
That's worth exploring. I can't imagine it from any of these comments, though.

[2018-08-22 22:47] hannesmcman commented on #2827
Fair enough. I'll spin up a prototype.

[2018-08-22 23:01] hannesmcman commented on #2827
@drewvolz @hawkrives Should it be something that comes from the frogpond server like the other tools in the Help View?

[2018-08-22 23:52] hawkrives commented on #2827
Maybe just add a `compact: true` key to the tool spec and render it smaller then?

[2018-08-22 23:54] #2826 closed, assigned to nobody

[2018-08-23 04:50] hannesmcman commented on #2855
Closed via #2854

[2018-08-23 04:50] #2855 closed, assigned to nobody

[2018-08-23 15:34] drewvolz opened #2859 "Course search saved browse filters not applying"
This is happening intermittently and I’m trying to figure out what the root is. My test involves selecting a single term and a single GE (18/19: Spr, AQR) and then switching back and forth between the browse button on the search home view and the filter itself, as well as selecting new filters and switching between the old and newly saved filter combos.

I’m observing the filters not being applied

[2018-08-23 15:41] drewvolz commented on #2859
Well one thing I’m noticing is that if you clear away your saved filter’s settings on the bar, go back to the home, and try using it again, they no longer apply yet the filter is still listed.

[2018-08-24 13:05] #2859 closed, assigned to nobody

[2018-08-25 00:25] #2849 closed, assigned to nobody

[2018-08-26 00:04] hawkrives opened #2883 "Menu filters are not being tracked anymore"
Probably since we switched to the new filterview.

The function `trackMenuFilters` in lib/analytics is not used anywhere anymore.

I'd still like to track filter combinations, I think.

[2018-08-26 00:04] hawkrives commented on #2883
@hannesmcman Can you take a look at this?

[2018-08-26 19:01] #2570 closed, assigned to nobody

[2018-08-27 13:41] drewvolz opened #2909 "All proxied network requests are broken"
Nightly is unable to fetch proxied server data

[2018-08-27 15:03] #2909 closed, assigned to nobody

[2018-08-27 17:13] drewvolz opened #2911 "Module mapping issues"

[2018-08-27 17:50] drewvolz commented on #2911
I believe this involves more than just the analytics module. It can't find `api` either.

[2018-08-27 18:27] drewvolz commented on #2911
This is probably due to the `module-resolver` plugin. Do we need to have a `root` defined?

[2018-08-27 18:28] hawkrives commented on #2911
No. Plus, it works on CI.

[2018-08-27 18:29] hawkrives commented on #2911
We don't need a `root` defined because we use the `alias` key, and reference all of our modules via those aliases.

[2018-08-27 18:34] hawkrives commented on #2911
I would do more debugging, but my system isn't liking React-Native's c++ dependencies again, so I can't even get the native build to finish.

However, running `yarn ios:bundle` passes successfully for me on `master` (903f210885509135e64527406c6bb0807f46e22e)

[2018-08-27 18:41] rye commented on #2911
I can confirm that `yarn run bundle:android` works fine for me too.

[2018-08-27 19:11] drewvolz commented on #2911
`yarn run bundle:ios` and `yarn run bundle:android` work for me, too.

[2018-08-27 19:16] drewvolz commented on #2911
Solved with `yarn start -- --reset-cache`

[2018-08-27 21:44] hannesmcman commented on #2911
I'm still having this issue...tried `yarn start -- --reset-cache`, re-cloning,  and removing node_modules/ to no avail.

[2018-08-27 21:47] hawkrives commented on #2911
Ok.

I have an alternate idea that doesn't require the babel plugin; I'll work on that later this week.

[2018-08-27 22:50] drewvolz commented on #2911
@hannesmcman have you tried `watchman watch-del-all`

[2018-08-27 23:45] hawkrives commented on #2911
I should have a new PR up later tonight. I'm moving to either lerna or Yarn's workspaces, I haven't quite decided which yet. Lerna would be nice for publishing these separately, but we may just hold off on that until we split up this repo, so I'm going to play with workspaces some more.

First I'm adding `package.json` files to the modules, and enumerating any interdependencies / fixing the few pl

[2018-08-28 00:26] rye commented on #2911
I don't really know if we need to switch away from our current solution. Since it builds in CI, which is a clean environment, and runs perfectly fine for me and @hawkrives locally, I think the broader question is why it's not working for @drewvolz or @hannesmcman.

`watchman watch-del-all` deletes a watcher for my AAO-React-Native directory for me. This should be tested in an environment where the

[2018-08-28 01:00] drewvolz commented on #2911
(for what it's worth, @rye, I'm back on track after resetting yarn's cache)

[2018-08-28 01:46] hawkrives commented on #2911
I think the yarn workspace solution is cleaner, technically speaking, since it doesn't rewrite our import paths dynamically. It's much more statically analyzable, without having to reconfigure things to understand another module resolution scheme.

Plus, it gets us another step closer to having independent packages that we can publish and consume from the app.

[2018-08-28 14:05] hannesmcman commented on #2911
@drewvolz @rye Yeah I tried resetting yarn's cache and `watchman watch-del-all` and neither worked..

[2018-08-28 15:46] hawkrives commented on #2911
Closed by #2920

[2018-08-28 15:46] #2911 closed, assigned to hawkrives

[2018-08-28 15:47] hawkrives commented on #2911
I hope

[2018-08-29 17:48] drewvolz opened #2926 "Searchbar background color is missing"
From an earlier discussion

[2018-08-29 18:36] hannesmcman commented on #2829
@hawkrives I think having time to expiration (e.g. "Expires: 6 hours") would be ideal

[2018-08-29 18:45] drewvolz commented on #2829
I’d like for that time to become “live” so that we do not mislead anyone who locked their device and came back to screen. Think building hours times, bus view times, etc

[2018-09-01 15:51] hawkrives commented on #2742
Closed by #2929, I hope.

[2018-09-01 15:51] #2742 closed, assigned to drewvolz

[2018-09-01 16:15] hawkrives commented on #2883
Actually, I don't think I care – I've never figured out how best to look at these in GA anyway.

I wouldn't mind revisiting this sometime, through a server/service that we control, but I'm going to close this and file a PR to remove the tracker code.

[2018-09-01 16:41] #2883 closed, assigned to nobody

[2018-09-01 16:41] #2926 closed, assigned to hawkrives

[2018-09-02 02:18] #1609 closed, assigned to nobody

[2018-09-02 02:46] hawkrives opened #2937 "Disable Greenkeeper?"
Impetus: Greenkeeper doesn't understand Yarn workspaces.

[code]

There may be a way to configure Greenkeeper to accept that; there may not. I don't particularly care to investigate anymore; I think I've reached my breaking point.

To add to that, ESLint is currently at 5.5.0 – we're at 5.0.1, and I haven't seen an ESLint update PR in a while. `react-native-onesignal` is at 3.2.6, and we're at 3.1

[2018-09-02 02:50] hawkrives opened #2938 "Replace Van-GO with Oles-Go"
https://wp.stolaf.edu/sa/oles-go/

I can't decide if we should do a new transit tab, or just leave it in the Other Modes tab. Thoughts?

It does have an actual schedule, so I'd like to put it on a tab, but we'd need to put a disclaimer on it then:

## Schedule
<table>
<tbody>
<tr>
<td width="253">Buntrock</td>
<td width="71">7:30 AM</td>
<td width="71">8:30 AM</td>
<td width="81">9:30 AM</td>
<td

[2018-09-02 03:09] rye commented on #2937
I like this idea. Here's why.

I'm becoming more and more aware after outages like the one we had today that introducing dependencies on 3rd party services is dangerous. See: [npm outage on 2018-09-01](https://status.npmjs.org/incidents/v22ffls5cd6h), but also smaller projects like Greenkeeper and Danger which in our experience we have found to work from time to time, when they feel like it.  Part

[2018-09-02 03:23] hawkrives commented on #2937
there's some words, indeed. thanks. I'll ponder them over the next $timeperiod.

[2018-09-02 15:02] hawkrives opened #2939 "Disable zalgo messages on release"
The zalgo-ified messages on the home screen footer, I mean.

[2018-09-02 23:50] hawkrives commented on #2939
This should be fairly simple – I'm thinking it's pretty much "take the isBeta* constants from #2884, change `const messages` to `let messages` in `home/notices`, and add a boolean check `if (isBeta*) { messages = [...messages, <the zalgo messages>] }` so that the production apps never even see the zalgo messages

[2018-09-02 23:52] hawkrives commented on #2939
IOW, change https://github.com/StoDevX/AAO-React-Native/blob/2f391b99aaf249738823f0ff9f93cdabdc8702b8/source/views/home/notice.js#L9-L22

to

[code]

[2018-09-02 23:57] hawkrives commented on #2811
I'm working on this as part of the [`push-notification-settings`](https://github.com/StoDevX/AAO-React-Native/tree/push-notifications-settings) branch

[2018-09-03 03:47] hawkrives commented on #2829
@hannesmcman I agree. I like that idea. Especially if we wrap it in a timer thing so that it's live.

[2018-09-03 04:57] #2938 closed, assigned to hannesmcman

[2018-09-03 13:56] #2939 closed, assigned to nobody

[2018-09-03 14:01] hawkrives opened #2944 "Idea: Athletics view"
I know, I know, Athletics… but there are people who would like to be better able to see what's going on in the athletics department, even if we ourselves never go to any games.

Especially parents. Parents really like the Athletics things.

Drew once had a branch that started this work; we'll have to see where he left off.

[2018-09-03 14:13] hawkrives opened #2945 "Idea: Integrate ENVST's campus map features into a MapBox view"
I don't know where this would live in the app, but it should be possible to take the custom layers from a Google My Map and render them as features on a MapBox map.

Campus Sustainability Map (https://drive.google.com/open?id=1lKNYHPLmSOAxJI-gyXWJFhywX9D0q23O)

[2018-09-03 16:38] hawkrives opened #2946 "Idea: Library Status module"
I'm not looking for a full replacement for the library website; I'd find it really useful to see what books I have checked out, though.

- ~~Search the catalog~~
- ~~Check out books~~
- ~~Check out bicycles~~
- See what books I have checked out and when they're due

I really only want the last feature, as a first take.

The others will all take significantly more engineering, I believe.

[2018-09-03 19:33] drewvolz commented on #2946
Something something long laundry list of notes I have

Library curl  All Results? curl 'https://stolaf-primo.hosted.exlibrisgroup.com/primo_library/libweb/webservices/rest/primo-explore/v1/pnxs?q=any,contains,bikes&qExclude=&qInclude=&rtaLinks=true&scope=default_scope&sort=rank&tab=library_collections&vid=01BRC_SOC&inst=01BRC_SOC' -H 'X-From-ExL-API-Gateway: 1' --compressed | pbcopy
 Resource Reco

[2018-09-03 19:47] hawkrives opened #2947 "Bug: home screen gradients are not diagonal"
The update to rn-linear-gradient yesterday broke the angle of the gradients.

Horizontal | Diagonal
--- | ---
![Horizontal by hawkrives](https://i.imgur.com/CiSDA5k.jpg) | ![Diagonal gradients by hawkrives](https://i.imgur.com/wBnACmH.jpg)

[2018-09-03 20:47] drewvolz commented on #2944
I had the games and their statuses. It would be neat to parse things like current team rosters, and allow you to drill down into a sport’s games, history, roster, etc.

[2018-09-03 21:49] hawkrives opened #2948 "[course search] Course notes should be shown on the list view"
![GitHawk Upload by hawkrives](https://i.imgur.com/8AhedTS.jpg)

Notes are the italic bits in the screenshot above.

[2018-09-03 21:56] hawkrives opened #2949 "[course search] Allow filtering by professor"
I've wanted to search by professor three times this weekend lol.

I'd just like an alphabetical list of professors in a filter.

[2018-09-04 12:20] #2829 closed, assigned to nobody

[2018-09-04 13:47] hannesmcman commented on #2949
There are 1,376 instructors listed right now....I've tested adding this as a filter and it's suuuuper slow and the list is suuuper long...adding this won't be as easy as just loading the list of instructors and adding a filter option for it. @hawkrives

[2018-09-04 13:48] #2948 closed, assigned to hannesmcman

[2018-09-04 13:49] hannesmcman commented on #2808
@rye Are you done with this?

[2018-09-04 15:08] rye commented on #2808
Nope.

[2018-09-04 16:49] hawkrives commented on #2949
Oof. Ok. Never mind. Let's leave this open, but push it back past 2.6.

[2018-09-05 02:31] hawkrives commented on #2947
Reopening because they're still not properly diagonal, but I'm not putting this as part of 2.6 because it's probably good enough.

<details><summary>My local attempt at diagonal gradients</summary>

![image](https://user-images.githubusercontent.com/464441/45067707-d841d000-b089-11e8-8f42-0a2c3944bba4.png)

</details>

[2018-09-05 14:00] hawkrives commented on #2847
I won't block release on this, as it's not a regression from 2.5, and it's only broken-ish. It works most of the time.

I'll continue to work on it, but I won't target 2.6.0.

[2018-09-05 15:45] drewvolz opened #2960 "Show course notes in course detail"
Stemming from #2952, course list notes were added to the list rows. We should show them in the detail view as well.

[2018-09-05 15:48] drewvolz opened #2961 "Course notes are lengthy on list rows"
Also stemming from #2952, course list notes were added to the list rows. They can get kind of lengthy.

<details>
<summary>Screenshots of long course notes</summary>

~ | ~
--|--
![telegram-cloud-file-3-831937890-90711-7770742396837060420](https://user-images.githubusercontent.com/5240843/45101298-677dd080-b0e8-11e8-83d2-7233b85eec55.jpg) | ![telegram-cloud-file-3-830932384-97183-18219231870314044

[2018-09-05 16:06] hawkrives commented on #2961
I would also argue that the notes should be below the deptnum/professor line.

[2018-09-05 17:50] rye opened #2963 "Run end-to-end tests before deploying?"
Currently we run end-to-end tests after we have uploaded from Fastlane.

Do we want to run those tests before that?

[2018-09-05 18:02] drewvolz commented on #2963
Good catch. Yes.

[2018-09-05 18:31] rye opened #2964 "Changelog?"
I like changelogs. Okay, that's a lie. I used to hate changelogs. I have a love/hate relationship with them. Every big project has a changelog, though. And they make the release procedure _much_ easier, because everything that needs to go in the tag body is right there.

Here's a proposal: use a variant of the format/style of: https://keepachangelog.com/en/1.0.0/.

I think that if we put this in a

[2018-09-05 19:54] drewvolz opened #2967 "Course rows reference old course prop"
Need to update to `course.offerings` (I think).

But it's slightly more complicated because `sis-timestring-parser` uses the old prop as well. Tracking that here https://github.com/StoDevX/sis-timestring-parser/issues/33.

https://github.com/StoDevX/AAO-React-Native/blob/586d744f443597c4f0c9cc01af2e01932a7072c4/source/views/sis/course-search/row.js#L69

[2018-09-05 20:49] hannesmcman commented on #2967
Wow I can't believe I didn't even notice this!

[2018-09-05 21:04] hawkrives commented on #2967
In that case, I really want to put notes at the bottom of the list row.

[2018-09-05 22:08] drewvolz commented on #2967
Your comment is now addressed in #2966.

[2018-09-05 22:34] #2960 closed, assigned to nobody

[2018-09-05 22:36] #2961 closed, assigned to nobody

[2018-09-06 11:49] #2808 closed, assigned to rye

[2018-09-06 14:20] drewvolz opened #2972 "Pause menu needs an audit"
[This is a newer menu](https://oleville.com/pause/menu/) than [the old one](https://oleville.com/pause/wp-content/uploads/sites/12/2014/08/Pause-Kitchen-Menu.pdf). I see one thing that needs changing, which makes me want to check them all.

![pizza-menu1](https://user-images.githubusercontent.com/5240843/45163307-66fb3d80-b1ad-11e8-8019-d573b5ccb29c.jpg)

![menu-not-pizza-or-sweets](https://user-i

[2018-09-06 16:08] drewvolz opened #2974 "Timer component refresh is too slow"
The new timer component introduced a delayed refresh that is not as quick as it used to be. Watching the transportation schedules, the bus stop updates with a delay of 25+ seconds, giving the impression the bus has not moved.

Is this intended? Does this impact other views that use this component?

[2018-09-06 16:12] drewvolz commented on #2974
I’m also noticing that if I manually refresh the bus stop view, I can get a delay of 60 seconds on updating the current stop. By the time the current stop had changed, it was 2 minutes past when the bus first arrived, and 1 minute past when it left the stop.

[2018-09-06 16:44] drewvolz commented on #2974
~Possible solution is changing back to an interval of 1000 instead of 60000.~

That's papering over the issue.

[2018-09-06 19:21] drewvolz opened #2977 "Last row in transportation schedule is skipped over"
The schedule appears to skip over the last row. Not the last stop, but the last row in a list.

[2018-09-06 23:25] hawkrives commented on #2977
See the current time and the last row, here, for an example

<img width=350 alt="See the current time and the last row, here, for an example by hawkrives" src="https://i.imgur.com/uyRct7D.jpg" />

[2018-09-08 15:23] rye opened #2980 "Wrong icon for unfavorited places"
Unsure if this is Android-only or not, but shouldn't this be an empty heart outline? Just an idle thought.

![screenshot_20180908-101944](https://user-images.githubusercontent.com/1566689/45255748-f68d2180-b350-11e8-8647-ce82f5481e30.jpg)

[2018-09-08 15:39] hawkrives commented on #2980
Yeah, it should. We should check the ionicons site to make sure they still have the empty heart icon.

I may be about to work on a branch to let us use the old version of ionicons, because we still need some of the outline icons they removed. (Namely "share" for iOS.$

[2018-09-09 01:39] #2980 closed, assigned to nobody

[2018-09-09 01:45] hawkrives commented on #2964
I like this idea.

[2018-09-09 02:04] drewvolz commented on #2964
I’m a fan

[2018-09-09 03:03] #2811 closed, assigned to hawkrives

[2018-09-09 03:15] drewvolz commented on #2244
Closed by #2988

[2018-09-09 03:25] hawkrives commented on #2244
Is it? I think we could add a checklist to the OP, but I feel that this is a valuable list that we will forget about if it's closed.

Perhaps the list should move to the wiki? Idk. But I'd completely forgotten about, say, the classes starting soon local notification.

[2018-09-09 12:49] rye opened #2993 "Prettier and Danger are not reporting code style issues where they should"
See #2992 which includes complaint about new lines of code from #2990.

Something needs to be revisited.

[2018-09-09 12:50] hawkrives opened #2994 "iOS push extension and app have different minimum OS versions"
![GitHawk Upload by hawkrives](https://i.imgur.com/NLEpyCh.jpg)

[2018-09-09 12:51] hawkrives opened #2995 "Things that cause Danger to comment should fail the build"
Agreed?

I think this is the best way to fix the issue where Prettier or ESLint run before a PR is open.

[2018-09-09 12:52] rye commented on #2995
Duplicate of #2993.

[2018-09-09 12:52] #2995 closed, assigned to nobody

[2018-09-09 12:52] rye commented on #2993
I agree that

as @hawkrives says.

[2018-09-09 12:53] rye commented on #2993
Except for things like… iOS slowness reports.

[2018-09-09 12:54] hawkrives commented on #2993
Yeah.

[2018-09-09 13:14] hawkrives commented on #2993
Okay. Got it.

https://circleci.com/workflow-run/27e1cbad-4a67-4c6b-8b78-07e1cc59c6ef

![image](https://user-images.githubusercontent.com/464441/45264832-5e527380-b408-11e8-9d0f-393301257233.png)

[2018-09-09 13:55] drewvolz commented on #2244
Would you prefer this be reopened or moved?

[2018-09-09 14:00] hawkrives commented on #2244
Either.

[2018-09-09 14:41] #2993 closed, assigned to nobody

[2018-09-09 18:33] hawkrives opened #3002 "Experiment with "ram bundles""
I've been seeing things about this for a few months now, and there's a bit of a description of them in this issue: https://github.com/react-native-community/discussions-and-proposals/pull/25

I'm just filing this so I can close the browser tab, really. I'd like to play with them once 0.57 is out and we've upgraded.

[2018-09-09 19:42] #2994 closed, assigned to nobody

[2018-09-09 21:52] elicwhite commented on #3002
RAMBundles aren't a new feature in 0.57 and you should be able to use them without upgrading (I'm not sure what version you are on.) You can find more information about RAMBundles and Inline Requires from the performance page in the RN docs: https://facebook.github.io/react-native/docs/0.56/performance#unbundling-inline-requires

[2018-09-09 22:00] #2615 closed, assigned to nobody

[2018-09-09 22:11] hawkrives commented on #3002
@TheSavior thanks! We're on 0.55 currently, which called them "unbundles" IIRC (or just didn't have them; I've been meaning to poke at this for a while now.)

I really appreciate the comment 😄 and I really like working with React Native, as well.

[2018-09-10 14:51] drewvolz opened #3010 "Change ASC to CAAS"
ASC is now known as CAAS according to this [news article](https://wp.stolaf.edu/news/padula-family-supports-new-center-for-advising-and-academic-support. ). This means we need to change:
- [x] Dictionary term and definition?
  - the new one is [pretty sparse](https://wp.stolaf.edu/academic-support/) comparatively
  - but we could detail the "portfolio of services" provided in the webpage sidebar
-

[2018-09-10 14:57] hawkrives commented on #3010
CAAS is, as I understand it, a new umbrella organization. I don't know that it replaces either the ASC or the AAC, both of which are now located under it in the internal hierarchy.

I can ask around.

[2018-09-10 15:00] hawkrives commented on #3010
Fair. I think that the leadership of the ASC is the leadership of the CAAS, but I don't remember how the AAC fits into it, aside from the fact that it's also merged into CAAS.

[2018-09-10 15:43] drewvolz opened #3012 "Onesignal is out-of-date and has a few issues"
1. Underlying iOS OneSignal library hasn't been updated for the past two patch versions (https://github.com/geektimecoil/react-native-onesignal/issues/616), so that may be part of our issue
2. There's a giant, easy to hit race condition around setting tags and they don't give us a way to know when a tag has been reset
    - Turn off or turn on a channel.
    - Go home.
    - Reopen the app. See th

[2018-09-10 15:55] drewvolz commented on #2974
The simple reproduction of this issue is to:

1. Load any of building hours, red route, blue route, or oles go
2. Wait to see the current stop update
3. Notice that it updates after the minute mark (anywhere from a few seconds, to over a minute)

I have a hunch this happens depending on the time the Timer component was initially loaded or manually refreshed.

[2018-09-10 17:07] drewvolz opened #3013 "Add new student work fields to open jobs listings"
- The api doesn't seem to expose them yet
- We need to add the new fields to our app when they become exposed

[2018-09-10 18:57] hawkrives commented on #3013
What fields would we like that aren't exposed? I don't need names, but some sort of list of what's on the website that you can't find in the response would be great :-)

[2018-09-10 19:02] hawkrives opened #3014 "How to hide notes from non-WRI111/REL121 courses"
Adapted from #3011

We need notes on these two types of courses, because they show the actual name of the course.

[2018-09-10 19:09] hawkrives commented on #3014
Actually, @hannesmcman, do we show name or title in the list view currently? I could just tweak the scraper to set the title to the actual name from notes, and then we can hide them completely.

[2018-09-10 19:22] drewvolz commented on #3013
Sure. I'm noticing these fields, although you should check the db or the add page to confirm:

* Appropriate for incoming/first-year students
* How to Apply
* Hiring Time Line
* Job Year
* Positions Available

[2018-09-10 19:47] hawkrives commented on #3013
Should be available on the server now.

<details>
<summary>Example</summary>

Should be available on the server now.

[code]

[code]

</details>

[2018-09-10 19:53] drewvolz commented on #3013
Thanks!

[2018-09-10 19:54] hawkrives commented on #3013
I have now updated the response to ensure that phone numbers are strings, and goodForIncomingStudents is a boolean.

[2018-09-10 20:38] #2967 closed, assigned to nobody

[2018-09-11 02:14] #3013 closed, assigned to nobody

[2018-09-11 02:21] hawkrives opened #3019 "iOS 9 SyntaxError"
on startup: "RCTFatalException: Unhandled JS Exception: Unexpected token '.' (/var/containers/Bundle/Application/0AD4135D-47CA-4934-9EFC-020B5EE82433/AllAboutOlaf.app/main.jsbundle:411)"

[2018-09-11 02:52] hawkrives commented on #3019
Somewhere deep in the bowels of our dependencies, something says this:

[code]

This is the problem line:

[code]

`new` changed status, I suppose, sometime in ES6, allowing … well, I don't even know what this does, tbh. Now I shall try to track down which dependency did this, and see if Babel can fix it during compilation somehow.

[2018-09-11 02:52] drewvolz commented on #2974
Closed by #3018.

[2018-09-11 02:52] #2974 closed, assigned to nobody

[2018-09-11 04:01] #3019 closed, assigned to hawkrives

[2018-09-11 12:41] rye opened #3027 "Sleep randomly for up to an hour before beginning nightly"
This is a common practice, especially when doing things e.g. certbot renewals, to cause the build to begin at a different time each day. Not only is this good practice, but it's also better for us, because it may allow us to avoid intermittent failures on remote servers due to large spikes of load on the hour.

[2018-09-11 12:44] hawkrives commented on #3027
That's a range of minutes from 0..60 inclusive after the start time, right?

I don't doubt that it's good practice, but generally the CI services don't like you just idling on their boxes, and the Cron syntaxes generally run as close to the allotted time as possible.

[2018-09-11 12:54] rye commented on #3027
If I were a CI provider, I wouldn't care.

Why? Sleeping is _really_ easy to run on my infrastructure. If a process is sleeping for 367 seconds, I _know_, for a fact, the Linux CFS can just ignore my process for 367 seconds. The process doesn't have to get scheduled unless it gets an interrupt or something, which it shouldn't unless Circle is doing some strange stuff that we don't know about.

The

[2018-09-11 13:14] hawkrives commented on #3027
I believe that both Travis and Circle will terminate jobs that haven't output anything in 10 minutes, to terminate stuck jobs.

[2018-09-11 13:20] hawkrives opened #3028 "[iOS 9] Popovers never appear and the app freezes"
I've tested with "Specials Only" and "Today's Menus".

I'll work on this and we can do a 2.6.1 hotfix soon.

[2018-09-11 13:24] rye commented on #3027
Yes, but we can up that limit.

[2018-09-11 15:19] drewvolz opened #3029 "Transportation timers are not updating"
Unsure of what’s going on but the view is not receiving updates.

[2018-09-11 15:29] hawkrives commented on #3029
Update: They only quit updating if you manually pull to refresh.

[2018-09-11 15:32] hawkrives commented on #2767
Closed by #3025

[2018-09-11 15:32] #2767 closed, assigned to nobody

[2018-09-11 15:34] hawkrives commented on #1867
This has been fixed; we're now on `bugsnag-react-native@2.11`.

[2018-09-11 15:34] #1867 closed, assigned to rye

[2018-09-11 15:36] hawkrives commented on #1588
Most of this has been solved by moving to ccc-server (in v2.6).

The rest of the _title_ of this issue is tracked in https://github.com/frog-pond/ccc-server/issues/46.

[2018-09-11 15:36] #1588 closed, assigned to nobody

[2018-09-11 15:36] hawkrives commented on #1383
Closing, since our API data now comes through ccc-server (as of v2.6), which is versioned.

[2018-09-11 15:36] #1383 closed, assigned to nobody

[2018-09-11 15:42] hawkrives commented on #3029
Update 2: The entire transportation views are not updating, regardless of pull-to-refresh. The time isn't even updating in the tableview section header. (@drewvolz)

[2018-09-11 16:31] #3029 closed, assigned to hawkrives

[2018-09-12 01:05] Nightsd01 commented on #3012
Noticed a reference to this issue in one of the issues on our repo:

1. Just released 3.2.7 today to fix this. It also includes a new iOS SDK update that fixes a bunch of stuff.
2. I am not entirely sure what you mean here. Could you post an issue on our repo with some details as well?
3. A lot of apps/developers deeply misuse tags functionality in our SDK and call it _way_ too often, which would

[2018-09-12 01:16] hawkrives commented on #3012
@Nightsd01 Hi! Thanks! We'll get ourselves updated soon.

Regarding our issues: sure, I'll write something up this week and post it.

Thanks again!

[2018-09-12 01:39] hawkrives commented on #3012
… Thinking about it more, and thinking through / playing with the app again, it seems like all we need to do is just _not call getTags on app resume_. (in the settings screen, which is the only place we were doing this.)

1. All we're trying to do on app resume is check the push status
2. The tag does get applied eventually (try toggling one on, going home, resuming about 10s later, then going hom

[2018-09-12 12:31] rye commented on #3012
OneSignal upgrade PR: #3042, which is green.

[2018-09-12 12:34] hawkrives commented on #3012
Closed by #3042

[2018-09-12 12:34] #3012 closed, assigned to nobody

[2018-09-12 12:40] hawkrives opened #3043 "[circle] update Prettier job to diff all tracked files, instead of certain folders"
Something like `git diff --no-untracked`, idk, instead of `git diff source/ scripts/`

[2018-09-13 17:00] drewvolz commented on #2347
@hawkrives thanks for fixing.

[2018-09-13 17:00] #2347 closed, assigned to nobody

[2018-09-13 17:52] hawkrives opened #3049 "Import fancy map from CARLS"
<img src=https://i.imgur.com/pqou2OW.jpg width=320>

It would require some data collection on our part.

For each building, we'd need:
- [x] centerpoint coordinates
- [ ] offices contained inside
- [ ] departments inside
- [ ] photo(s)
- [ ] handicapped accessible status
- [ ] street/911 address
- [ ] outlines?

I could host a database for this at Olaf, but we might want to prototype this outside

[2018-09-13 17:53] hawkrives commented on #3049
See also the Carls-app/map-data repo

[2018-09-14 00:20] #2972 closed, assigned to nobody

[2018-09-14 17:54] drewvolz commented on #2538
As soon as we update to RN v0.57, we can set the prop `scrollEnabled={true}` on our `SelectableCell`.

[2018-09-14 19:21] hannesmcman commented on #3014
@hawkrives We currently show name, since title is not always given.

[2018-09-14 19:42] drewvolz commented on #3028
Closed by #3053

[2018-09-14 19:42] #3028 closed, assigned to hawkrives

[2018-09-15 14:17] hawkrives opened #3059 "[discuss] Remove bugsnag from network errors"
Idk. I'm split 50/50.

- There's not really anything we can do about them
- They aren't "bugs" or "crashes", so they don't really belong in Bugsnag
- Yeah?

[2018-09-15 14:32] drewvolz commented on #3059
I see it as valuable to know if the urls have gone bad — as we’re the only ones updating these at the moment. We don’t have any other health check setup right now.

[2018-09-15 14:35] hawkrives commented on #3059
But it doesn't tell us that, currently. And all of the errors we have atm are from bonapp, anyway.

Plus, it wouldn't report errors from URLs in, say, Student Work - it just reports fetch() errors.

[2018-09-15 14:35] hawkrives commented on #3059
Besides which, I would argue that those don't belong in Bugsnag either.

[2018-09-15 14:39] drewvolz commented on #3059
Belong is a funny way to put it. How do you suppose we make sure our network errors are caught then?

[2018-09-15 14:55] hawkrives commented on #3059
I don't have an answer for that, either.

However, the current app won't catch incorrect content urls - it really only reports when someone opens the Caf view and switches networks at the same time.

[2018-09-15 15:00] hawkrives opened #3060 "Only list merge commits in TestFlight changelog"
Since we never commit to master directly, it's more useful as long as we have descriptive branch names.

[2018-09-15 15:02] hawkrives commented on #3059
Also, I say "belong" because they're not app bugs. They're content bugs. Which may be a silly distinction, but I'd rather track content problems separately from code issues.

[2018-09-15 15:08] drewvolz commented on #3060
Dup of #2822

[2018-09-15 15:24] hawkrives commented on #3060
Closing as duplicate of #2822

[2018-09-15 15:24] #3060 closed, assigned to nobody

[2018-09-15 15:24] hawkrives commented on #3060
Thanks @drewvolz

[2018-09-15 17:56] drewvolz commented on #3059
Okay. If you don't feel we gain anything from them and write them off as menu errors, we can nix them.

[2018-09-15 18:29] #3043 closed, assigned to nobody

[2018-09-15 21:36] rye commented on #3059
I see it as valuable to monitor network errors. They should at least be logged. I will only agree that these shouldn't be logged once we have something built to handle failed network requests—namely offline cache updating and exponential backoff queues.

However, the current way we get them is not the most optimal. They could use a bit more verbosity in the short term, although if we do plan on do

[2018-09-15 21:51] hawkrives commented on #3059
I just don't see the point in having them, even before we build that stuff.

[2018-09-17 17:43] drewvolz opened #3069 "Ship new build without debug menu?"
#3068 points to the `settings/debug` view always being exposed...

If this is the case and it is _always_ showing up, do we want to tag a new build for release? I don't know how I feel about including the debug view in the release build for end-users. It shows off **a lot** of information.

[2018-09-17 18:39] hawkrives commented on #3069
Yes. We should tag and ship 2.6.3.

[2018-09-17 20:28] hawkrives commented on #3069
2.6.3 has been tagged and uploaded

[2018-09-17 20:28] #3069 closed, assigned to nobody

[2018-09-17 21:48] drewvolz opened #3072 "Build script for android:release is broken"
`yarn run android:release` runs the `react-native` equivalent for building a release android app:

https://github.com/StoDevX/AAO-React-Native/blob/479add9f1ab9cd1caf79a848afaf9d6ae09c59c3/package.json#L7

but the console returns:

[code]

[2018-09-17 21:55] rye commented on #3072
Where is this? Locally, or in CI?

[2018-09-17 21:55] rye commented on #3072
(assuming local since it's a `react-native` command)

[2018-09-17 22:06] drewvolz commented on #3072
This is meant to be run locally to test out the release build. We're missing some setup according to [this](https://facebook.github.io/react-native/docs/signed-apk-android#testing-the-release-build-of-your-app).

[2018-09-17 23:06] hawkrives commented on #3072
We should remove it. If you want to build the release app locally, you should use fastlane.

[2018-09-18 02:37] hawkrives commented on #3072
update:

[2018-09-18 23:27] drewvolz commented on #3072
Do we have access today to the signing key that was used to publish AAO on the playstore? I'm in favor of closing this and coming back to it when we're ready to create a new signing key if we do not have access.

[2018-09-18 23:31] hawkrives commented on #3072
Yes

[2018-09-18 23:32] hawkrives commented on #3072
We have to use it for every android release. Explore the "matchesque" lane to see how it's used.

[2018-09-18 23:33] hawkrives commented on #3072
I will somewhat question why we need it, though. Since it obviously hasn't been used in 1+ years.

[2018-09-19 18:11] drewvolz commented on #2964
Anyone see the need to have this open any longer?

[2018-09-19 18:15] rye commented on #2964
No, I don't really see a need.

[2018-09-19 18:15] #2964 closed, assigned to nobody

[2018-09-27 16:42] #3027 closed, assigned to rye

[2018-09-28 01:13] rye opened #3093 "Timer component not refreshing immediately at first"
I'm not sure what the exact problem is, but I think it's causing our issues with building hours not refreshing immediately when their View gets opened, and similar issues with things like stoPrint job listings not refreshing at first.

I've noticed that these things start refreshing on the next minute.

This is more of a note to self than anything else, but if anyone has ideas for a fix they're we

[2018-09-28 03:21] hawkrives commented on #3093
I have also noticed this, but I'd also look into the lists themselves - it's like they don't always rerender when we update the data source.

I won't be looking into this for a week or so, so I'm not assigning it to myself.

[2018-10-01 04:15] hawkrives opened #3097 "[needs verification] Building hours update for RNS"
From an email; we should verify this.

## Before:

[code]

## After:

[code]

[2018-10-01 13:21] drewvolz commented on #3097
I would think we’d have different weekday vs weekend hours

[2018-10-01 14:18] hawkrives commented on #3097
According to my copy of Tim's Building Door Lock Schedule™, last updated 2017/09/15, RNS is indeed open from 8am-12am every day of the week, including weekends.

[2018-10-01 14:23] drewvolz commented on #3097
Then the first thing to pop up when I google “what are regents hall hours” is incorrect. Thanks for checking Tim’s schedule. ![GitHawk Upload by drewvolz](https://i.imgur.com/aim3k5G.jpg)

[2018-10-01 14:24] hawkrives commented on #3097
… actually, Tim's schedule doesn't make sense then – how are you supposed to get to your 8am if the doors are locked before 8?

[2018-10-01 14:24] hawkrives commented on #3097
I'ma go ask.

[2018-10-01 14:26] hawkrives commented on #3097
Okay, hang on. I found more tabs in the spreadsheet.

- <kbd>Acad. Yr. Posted Bldg Hrs</kbd> says 8am-12am.
- <kbd>Acad. Yr. Published Bldg Hrs</kbd> says 7am-12am.
- <kbd>Acad. Yr. Elec. Bldg Hrs</kbd> says 7am-11:59pm.

I'm going to go inquire about the difference between "Posted" and "Published".

---

I think the correct time is 7am-12pm, 7 days a week, as that's what's listed on my Published

[2018-10-01 15:00] hawkrives commented on #3097
Okay. I've talked with Tim.

My "Posted Hours" tab should have been hidden; I guess Gmail ignored that. It hasn't been updated since 2017 September.

The "Published Hours" tab has been updated since the last hours email was sent out; it is now 8am-12am.

It's set to 8am so that "if something goes funky [with the auto-unlock at 7am], we have an hour to fix it before people start pounding on the doo

[2018-10-01 18:36] #3097 closed, assigned to nobody

[2018-10-02 13:26] PSG2019 opened #3104 "Detox Version 9.0.4 test: App not launching and getting ps|grep issue"
Hi Team,

Facing issue while launching the app for detox test.. getting error as below.

detox[12168] INFO:  [DetoxServer.js] server listening on localhost:60341...
detox[12168] ERROR: [exec.js/EXEC_FAIL, #15] "C:\AndriodSDK\sdk\platform-tools\adb -s emulator-5554 shell "ps | grep \"com\.fourtest$\""" failed with code = 1,stdout and stderr:

Pacakage.json :
{
  "name": "FourTest",
  "version": "0.

[2018-10-03 15:16] rye commented on #3104
We do not maintain Detox, and your provided examples make it clear that this issue doesn't even relate to this project.

[2018-10-03 15:16] #3104 closed, assigned to nobody

[2018-10-12 12:49] hawkrives opened #3118 "Upgrade Yarn on Travis"
I think if we "npm i -g yarn@latest" on Travis, we'll avoid this greenkeeper problem of it removing the `integrity` lines.

Help wanted!

[2018-10-12 14:15] hawkrives commented on #3118
hmm. https://travis-ci.org/StoDevX/AAO-React-Native/builds/440642405#L460 – we _are_ installing the new version of Yarn.

[2018-10-12 19:42] hannesmcman opened #3120 "Make SGA/Oleville Top Level View"
After talking to a few SGA members, it looks like there is significant interest in having a top-level view for SGA-related news/actions. To start, I think it would be good to extract the "Oleville" tab from the News view, and make a new top-level view with two tabs: "Senate" and "News". Thoughts?

[2018-10-14 20:33] rye commented on #3120
This would be fine, but I don't think having multiple top-level views for SGA is necessary.

"SGA" as a top-level view? With "Senate", "News", "Events" as tabs? This way we have more than two…

[2018-10-14 20:37] rye commented on #3120
I would also like this kind of a view to read any data directly from oleville.com, be that through ccc-server or directly from the phones.

[2018-10-14 21:02] hawkrives commented on #3120
I agree with only one top-level view, which I think is what @hannesmcman proposed.

I also agree with wanting oleville.com to source the data.

[2018-10-14 21:05] rye opened #3124 "Investigate iOS nightly failure to post changelog"
q.v. Circle [J31823](https://circleci.com/gh/StoDevX/AAO-React-Native/31823).

The build succeeds, gets uploaded to Testflight and whatnot, but then the changelog fails to get updated:

[code]

[2018-10-15 21:45] hawkrives commented on #2937
I would really like to disable Greenkeeper on _this_ repository.

For me, it really boils down to this: I would rather go look for updates based on a pull model, rather than a push one.

That is, I would prefer to go check for updates when I am in the mood to find and integrate package updates, rather than have them show up in my GitHub notifications constantly.

We would, of course, want to look

[2018-10-15 21:52] drewvolz commented on #2937
Sounds reasonable.

[2018-10-15 23:59] rye commented on #2937
I like getting notifications, but only when it's a "review and merge" on my part.

I would much rather have these show up as issues, rather than not show up at all.

Since no such solution exists, a near-term choice would be to disable greenkeeper.

Also, since GitHub is doing dependency graphing for us, I don't think it's an issue.

Once we split this out into multiple modules, there'll hopefully

[2018-10-16 10:56] rye commented on #3124
[Latest nightly](https://circleci.com/workflow-run/c60c2100-76d3-4e78-a9d4-044126306270) looks clear. #3125 (and #3129) may have fixed this…

[2018-10-16 10:56] #3124 closed, assigned to nobody

[2018-10-16 13:58] hawkrives commented on #2937
I have now disabled Greenkeeper on this repository.

[2018-10-16 13:58] #2937 closed, assigned to nobody

[2018-10-16 14:00] hawkrives commented on #3118
This will now be closed, due to #2937

[2018-10-16 14:00] #3118 closed, assigned to nobody

[2018-10-21 02:17] rye opened #3140 "Consolidate variables in Android gradle configuration"
From #3138:

I think this would be beneficial. I wanted to also explore consolidating our _VERSION constants from the two into perhaps the `build.properties` file or something equally suited.

[2018-10-21 03:58] hawkrives opened #3141 "Update ccc-calendar's delay peerDep to a range"
I try to make all peerDeps in the packages ^-based ranges, so we don't have to update them all the time as we update the root.

Delay should become ^4.1.0

[2018-10-21 14:51] rye commented on #3141
It looks like the only modules that need to get changed are `ccc-calendar` and `add-to-device-calendar`:

[code]

[2018-10-21 18:33] #3141 closed, assigned to nobody

[2018-10-25 14:15] hawkrives opened #3148 "Building hours update for Center for Arts and Dance"
## Before:

[code]

## After:

[code]

[2018-10-25 14:16] hawkrives commented on #3148
(Change: M-F closing went from 5pm to 10:30pm)

[2018-10-25 14:31] rye commented on #3148
Is this validated?

[2018-10-25 18:05] hawkrives commented on #3148
Actually, according to https://wp.stolaf.edu/art/hours/, the building is open from 7-midnight every day of the week.

[2018-10-25 18:07] hawkrives commented on #3148
According to the last emailed hours schedule, the hours are

M-Sa, 7-midnight
Su, 10-midnight

[2018-10-25 18:08] hawkrives commented on #3148
I trust the emailed hours more, since they're the actual electronic lock hours.

[2018-10-26 20:27] #3148 closed, assigned to nobody

[2018-10-29 13:01] hawkrives opened #3153 "Add a Departure Time picker to Transportation"
To allow you to shuffle the times around.

[2018-10-29 13:44] drewvolz commented on #3153
Add an Arrival Time picker while we’re at it.

[2018-11-01 16:52] rye opened #3160 "Check that yarn lockfile is deduplicated, and fail builds that introduce duplication"
Now that [atlassian/yarn-deduplicate](https://github.com/atlassian/yarn-deduplicate) is 1.0.0, we should verify that yarn lockfiles are not duplicated and then fail builds that introduce duplication.

We can do this in a similar way to how we do prettier.

Also, we should do this in a command so that people can dedupe their lockfile to resolve the build failures.  This may involve adding `yarn-ded

[2018-11-01 22:38] rye commented on #3160
Resolved by #3161.

[2018-11-01 22:38] #3160 closed, assigned to hawkrives, rye

[2018-11-02 02:50] rye opened #3163 "Local Data Caching"
We should really design and implement a way of locally storing data.

Our current strategy of storing hours in a bundle that comes with the app means we have no control over that. I'd like to use a bundle as a starting point, but when the client makes subsequent requests for the latest hours, they should really have the new hours overwriting their old hours. This prevents a large number of edge ca

[2018-11-02 03:13] drewvolz commented on #3163
SQLite, anyone?

[2018-11-02 03:17] rye commented on #3163
@drewvolz I like where you're going, but from that documentation,

Plus, it's RN-native and wouldn't require additional deps, to my understanding.

[2018-11-02 03:41] drewvolz commented on #3163
@hawkrives didn’t you have a PoC SQLite storage branch?

[2018-11-02 03:52] hawkrives commented on #3163
The main downfall with AsyncStorage is that it can only store strings, so you have to serialize and deserialize everything all the time.

Which isn't that much of a change from current, actually.

So… let's see. What if we

- edit the networked views to read from AsyncStorage;
- edit the networking to cache and overwrite in AsyncStorage;
- and add a fallback thing to the app startup to copy data f

[2018-11-02 04:05] rye commented on #3163
@hawkrives that sounds great.

Especially if we use granular keys (e.g. thingID or something) we can reduce the reading and parsing overhead quite a bit.

Would this AsyncStorage get overwritten if the user clears their data or cache? Androids like to do that.

I am definitely on board with having one data fetching strategy, and abstracting out the smarts into its own module sounds like a good ide

[2018-11-02 04:11] hawkrives commented on #3163
@drewvolz I have a not-working SQLite branch that needs much much more thought before it's even a POC

[2018-11-02 04:12] drewvolz commented on #3163
@rye One Data Fetching Strategy to Rule Them All

[2018-11-02 04:27] hawkrives commented on #3163
As a first pass, I was thinking that we could just cache the entire contents of each file in AsyncStorage, to reduce the amount of changes we need to make.

I'd like to store some metadata, as well, but I think I'd like to use a separate key for that - like `fp:cache:building-hours:response` and `fp:cache:building-hours:meta`, and wed store the things like cache timeouts and whatnot in the meta ke

[2018-11-02 04:42] rye commented on #3163
Shall we pick this one for v2.7? I think so.

Another question to ask/answer is whether or not/how we want to handle upgrading.  I.e., if a User upgrades from v2.X to v2.Y, and we change the schema, do we use different keys to break things out?

Ideally, we would also have a very-close-to-one-to-one mapping between our API schema and the key scheme in the DB.

E.g. `fp:v1:hours:boe` would contain

[2018-11-02 04:43] rye commented on #3163
This kind of talk would go nicely with our idea of setting up a data server too, haha.

[2018-11-06 21:05] hawkrives opened #3164 "Release v2.6.4"
It's about time.

I want to do two things: #3108 and an as-yet unfiled issue to disable state restoration (because I have managed to, once again, completely break my app by suspending on a calendar detail view, and while we can fix that bug, IMO we should disable state restoration until we've audited the rest of the app for this sort of problem.)

[2018-11-06 21:07] hawkrives opened #3165 "Transfer Android app away from sgawebmaster account"
As part of the divorcing from SGA.

I'll look into how to do this.

[2018-11-06 23:45] #2647 closed, assigned to rye

[2018-11-08 00:14] rye commented on #3165
@hawkrives made the request just minutes ago.

[2018-11-08 00:15] rye opened #3168 "TableView's Section background color is not set properly per platform"
Sad.

<img src=https://user-images.githubusercontent.com/1566689/48169481-1b523680-e2b9-11e8-9ccb-07116155f8dc.jpg width=360>

[2018-11-08 00:21] drewvolz commented on #3168
I guess we didn't fix that in https://github.com/StoDevX/AAO-React-Native/pull/2987?

[2018-11-08 03:26] drewvolz opened #3169 "Add “open webpage” row to student work detail"
Rather than make someone hit the share button, it might be helpful to provide the original webpage as part of the detail listing

[2018-11-08 13:43] hawkrives commented on #3169
Probably just put a row like Add To Calendar has at the bottom, except called like "Open Webpage Posting" or something?

[2018-11-08 19:11] hawkrives opened #3170 "Update Travis builds to Xenial"
http://blog.travis-ci.com/2018-11-08-xenial-release

[2018-11-12 14:12] rye commented on #3165
From discord:

[paraphrased a bit]

[2018-11-13 03:48] rye opened #3173 "Fix Android Deployment API keys"
Since the rollover to deployments under the new Google Play identity, we have had failing Android nightlies because the old credentials do not support the new namespace.

@hawkrives, can you please follow the following documentation and update the keys repository?

https://docs.fastlane.tools/getting-started/android/setup/#collect-your-google-credentials

Thanks.

(I would myself, but apparently "

[2018-11-13 03:49] rye commented on #3173
(The generated JSON file should go into `[keys repository]/android/play-private-key.json`)

[2018-11-13 04:35] #3170 closed, assigned to rye

[2018-11-13 05:11] hawkrives commented on #3173
Oh, it's in the other google developer console settings. Of course it is.

Sure.

[2018-11-13 14:23] hawkrives opened #3175 "Building hours update for The Pause Kitchen"
## Before:

[code]

## After:

[code]

[2018-11-13 14:24] hawkrives commented on #3175
(Filed by me; verified against the Pause's posted hours by me.)

[2018-11-13 16:24] #3175 closed, assigned to nobody

[2018-11-14 15:05] rye commented on #3173
A new error:

[code]

I followed that link and enabled it.

[2018-11-14 16:16] hawkrives commented on #3165
This has been done. Tracking fallout in #3173.

[2018-11-14 16:16] #3165 closed, assigned to hawkrives

[2018-11-14 19:29] rye commented on #3173
Latest [deployment job](https://circleci.com/gh/StoDevX/AAO-React-Native/33997) passed and a build was uploaded to Google Play.  Done for now.

[2018-11-14 19:29] #3173 closed, assigned to hawkrives

[2018-11-18 03:34] rye opened #3186 "Detox: Suppress build output"
Since we build the app in the `Run Fastlane` step, can't we ignore the build output (at least to stdout) when running `yarn detox build --configuration ios.sim.release`? It's basically the same output, but unprettified.

[2018-11-18 03:39] rye opened #3187 "Detox: Re-use Fastlane build output?"
I wonder, is there any way for us to reuse the Fastlane built targets in Detox?

This would shave nearly half of the "build" part of the iOS build off, which I think is not insignificant. Just a question.

[2018-11-18 03:41] hawkrives commented on #3187
I don't think so; I think Detox links extra things into the native binary, for debugging hooks.

[2018-11-18 03:41] hawkrives commented on #3186
Go for it, as long as it prints the errors if it errors during build

[2018-11-18 03:44] rye commented on #3186
I would assume that they're properly using stderr and stdout, but I guess we'll find out.

[2018-11-18 03:48] hawkrives commented on #3186
I mean, I want all of the test output too

[2018-11-18 03:50] rye commented on #3186
@hawkrives, that's the plan. I just want to suppress stdout during the detox build step.

[2018-11-24 17:20] rye commented on #3059
Now that I've had more time to think about it, I kinda agree.  If a client fails to connect to something, we don't really care.

My main thing is that this gives us insight into whether or not clients are actually getting data rendered on their screens… if we nix network errors, how will we know if e.g. menus are broken for everyone?

What if we were to remove the general case and instead just add

[2018-11-24 17:21] rye commented on #2945
Would we consider this part of the "better campus map" story?

[2018-11-24 17:23] rye commented on #2946
I like the "currently checked out" as a good first thing to build.

[2018-11-24 17:25] rye commented on #1556
This will go into maintainer documentation instead—this is specifically for people who have credentials to actually deploy.

[2018-11-24 17:28] hawkrives commented on #3059
I like that idea

[2018-11-24 17:28] hawkrives commented on #2945
Yep!

[2018-11-24 19:52] #1556 closed, assigned to rye

[2018-11-26 02:28] hawkrives commented on #2538
As of 0.57.5, setting `scrollEnabled={false}` _crashes the app_ (good work RN).

<img width="487" alt="image" src="https://user-images.githubusercontent.com/464441/48989200-d159b500-f0ee-11e8-99c4-6fb547af5cfd.png">

[2018-11-26 02:33] rye opened #3190 "Investigate Ruby version consolidation"
Apparently, `2.5.3` is "unrecognized":

<img src=https://user-images.githubusercontent.com/1566689/48989759-4928df00-f0f1-11e8-8dfa-6fa76a00cf6b.png width=400>

Is it wrong?

I need to consult docs, but I'll take this one.

[2018-11-26 02:56] hawkrives opened #3191 "Remove rn-cli.config.js"
added in https://github.com/StoDevX/AAO-React-Native/commit/c6e8008b4f6069122f4db61bbe9d8bbd1a8b1bd8

local testing seems to show that it's no longer needed

requires #3045

[2018-11-26 13:49] rye opened #3197 "Adjust Renovate schedule for time zone correction"
From [the docs](https://renovatebot.com/docs/configuration-options/#timezone) and [the FAQ](https://renovatebot.com/docs/faq/#control-renovates-schedule) it certainly seems like Renovate is using the time zone of their machines, which is likely UTC.  This will mean that 10pm (4pm CST) and 5am (11pm CST) are offset from what we want.

All we need to do is add something like:
[code]

[2018-11-26 14:04] rye opened #3198 "Migrate to America/Chicago"
According to the [(unofficial) table of IANA time zones](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), `US/Central` is deprecated.

In fact, if you download an unofficial copy of the [time zone database](https://timezonedb.com/download), you will not find a mention to `US/Central` at all.

If you prefer "official" sources, IANA's [tzdb download](https://www.iana.org/time-zones) (c

[2018-11-26 16:18] #3197 closed, assigned to nobody

[2018-11-26 17:09] #3191 closed, assigned to nobody

[2018-11-26 18:28] #2822 closed, assigned to nobody

[2018-11-26 21:06] #3186 closed, assigned to rye

[2018-11-27 01:50] hawkrives opened #3202 "[android] Investigate FABs"
Android uses FABs (floating action buttons) to draw the eye / finger to certain "primary actions" on a screen.

I'd like to use this issue to discuss what views should use FABs, and which actions should be promoted to FABiness.

We should maintain a checklist in this OP with the current decisions.

---

- [ ] Student Work: "Open Posting", as a centered, full-width FAB
- [x] Directory detail view:

[2018-11-27 02:41] #3169 closed, assigned to nobody

[2018-11-27 03:22] rye commented on #3202
`react-native-paper` was one thing that has FABs nicely-implemented.

[2018-11-27 06:32] #2582 closed, assigned to rye

[2018-11-27 13:51] rye opened #3214 "Native build skipping confuses Danger"
Danger claims that "Android" or "iOS" fails whenever the builds get skipped by the nascent build skipper in #3209.

This is because we aren't calling any of our `build` actions, which means we don't trigger any code that writes into the file.

Should be as easy as just manually writing `0` when we skip.

[2018-11-27 14:31] #3214 closed, assigned to rye

[2018-11-28 14:58] hawkrives opened #3242 "[github] Investigate an "auto-merge" github app"
https://github.com/SvanBoxel/auto-merge

It has an option to auto-merge approved and green PRs with the `auto-merge` label -

[code]

I think it'd be really nice 😸

Thoughts?

[2018-11-28 15:05] rye opened #3243 ""Network Failure" (incorrect) after RN 0.57 upgrade"
Not sure what's triggering this—this might be a `react-native-device-info` thing? No clue.

<img width=320 src="https://user-images.githubusercontent.com/1566689/49160594-b5236700-f2ec-11e8-8528-6fdeb6c8adc1.png" />

[2018-11-28 15:09] hawkrives opened #3244 "Hide "ios slow build times" report if empty"
Currently, it posts even if it's empty. It should not post if there's no content.

[2018-11-28 16:32] rye opened #3248 "Danger: Fix double-negative in changelogSync exclusion logic"

[2018-11-28 16:46] rye opened #3250 "Centralize logic for build skipping into reusable scripts"
I can think of a few possible use cases here, but the main thing would be the creation of a few scripts called something like `script/ci-should-continue`, taking one of three arguments: `native`, `ios`, or `android` and exiting with `0` if the build should not be skipped or `1` if the build should be skipped.

This way, we run things as follows:
[code]

These should be Ruby-based? Ideally, we'll c

[2018-11-28 16:47] rye commented on #3250
We should only call this on "expensive" operations, such as `fastlane`, `detox`, and the like.  Obviously, it should run as fast as possible.

[2018-11-28 16:49] rye commented on #3250
We could build this as a Ruby Gem, if we wanted to! ~(Under `frogpond` namespace?)~ (RubyGems doesn't have namespaces)

This would make it _very_ easy to test and distribute.

[2018-11-28 17:15] #3248 closed, assigned to rye

[2018-11-28 17:34] rye opened #3251 "circle: Ignore gh-pages"
It appears that our automated pushes to `gh-pages` are triggering builds, which freaks Circle out because they (_really_) want us to upgrade to 2.0.

![image](https://user-images.githubusercontent.com/1566689/49169980-b2cb0800-f300-11e8-8d37-73a91c55d3cc.png)

For workflows that apply to all branches currently, we could just add an `ignore`. Or maybe use a negative lookahead to ignore anything tha

[2018-11-28 17:44] rye opened #3253 "circle: Stop building native builds on master unless merged branch touched native files"
We can reduce our CI footprint significantly by doing this.

One issue is, how do we know which is our "source" and which is our "to" when doing this? Is there a general case we can apply to all commits to figure out the previous mainline point in history?  Or do we need to have special handling for `master`?

If we want, merge commits into master have `2` parents, and we can just do something lik

[2018-11-28 17:48] rye commented on #3253
Here's a thingy:

https://stackoverflow.com/questions/1527234/finding-a-branch-point-with-git

[2018-11-28 18:41] rye commented on #3253
Here's the suggestion from that StackOverflow on `skip-native-builds-part-2` a bit ago:
[code]
produces `ba8708a66358dfc2b49fc4fa649c95a45df9494e`, which is exactly what we would want.

What about on `master`?

With a little bit of magic, here's what I came up with:

[code]

But, on a single-commit branch, that might cause problems.  Needs another test in that case.

Also, diffs could get massive.

[2018-11-28 18:43] rye commented on #3253
So, if my understanding is correct, we just need to add a couple of things: `git merge-base master HEAD^1` to find the start of our log range, and then use `HEAD` as the end to make this general.

[2018-11-28 18:44] rye commented on #3253
Let's separate this one from #3252, since this is more of a logical change than an implementation change.

[2018-11-28 18:46] rye commented on #3253
And I'll gladly implement this.

[2018-11-28 18:48] hawkrives commented on #3253
Yeah, #3252 is more of "let's make build skipping possible", while this is "let's make it more effficient". Thanks for taking this on!

[2018-11-28 19:36] hawkrives commented on #3251
I'll be honest – I don't know if we _can_ ignore `gh-pages`.

My understanding is that Circle subscribes to all `push` events; they then fetch the config file from the pushed branch (this is in contrast to Travis, who always uses `master`'s config).

So unless we put a config file on gh-pages, I don't think we can disable it.

---

I do want to note, though, that we can just _ignore_ this warning.

[2018-11-28 20:13] hawkrives commented on #3242
(cc @rye @drewvolz)

[2018-11-28 22:25] rye commented on #3242
I think it'd be… nice…

As long as it only happens on PR's with a given label.

[2018-11-28 22:25] rye commented on #3242
And maybe can we customize which label to check? E.g. `merge-me-when-green`

[2018-11-28 22:43] hawkrives commented on #3242
I didn't see anything about customizing the label, but it is open source, so we might be able to contribute that.

[2018-11-29 00:13] #3253 closed, assigned to rye

[2018-11-29 03:25] rye commented on #3243
Has anyone been experiencing this on iOS? @hawkrives?

[2018-11-29 03:25] rye commented on #3243
I'm going to try to replicate in a simulator.

[2018-11-29 03:35] rye commented on #3243
Yes, I was just able to replicate this on a fresh build of `master`:

![screenshot_1543462227](https://user-images.githubusercontent.com/1566689/49197623-1c750180-f355-11e8-92af-974cc49e6852.png) | ![screenshot_1543462232](https://user-images.githubusercontent.com/1566689/49197622-1c750180-f355-11e8-8f0c-623bd0556f41.png) | ![screenshot_1543462248](https://user-images.githubusercontent.com/1566689

[2018-11-29 04:18] rye commented on #3243
After much debugging, it seems like this is a server-side issue.

Worth checking if clients that don't have the beta also get this issue.

[2018-11-29 15:49] drewvolz opened #3260 "<Markdown/> component crashes on nested lists"
<img src="https://user-images.githubusercontent.com/5240843/49233534-114cc080-f3ab-11e8-81e4-77794137a7a8.jpg" width=350 />

<details>

<summary>[full error] Invariant Violation: Nesting of <View> within <Text> is not currently supported</summary>

[code]
</details>

[2018-11-29 18:44] #3244 closed, assigned to hawkrives

[2018-11-29 18:46] hawkrives commented on #3260
Somehow it's trying to render a View inside a ListItem, which is a piece of text

I think it's broken on stable too

[2018-12-03 05:52] drewvolz commented on #3260
Another markdown related issue on contacts, dictionary, faqs, help, legal, privacy, and other-modes...

<img width="358" alt="image" src="https://user-images.githubusercontent.com/5240843/49355452-7e4aa980-f67c-11e8-8c51-016d33896b2c.png">

[2018-12-03 14:24] hawkrives commented on #3260
That one's expected. The PropType is incorrect.

[2018-12-03 14:58] drewvolz commented on #3260
Yep, one we need to fix on our end, correct?

[2018-12-03 17:51] hawkrives commented on #3260
The PropType we just have to ignore.

[2018-12-03 17:53] drewvolz commented on #3260
Okay 👍

[2018-12-04 03:13] drewvolz commented on #3164
- [x] Privacy policy
- [x] State restoration

...is the state restoration actually _state_ or _navigation_?

[2018-12-04 05:01] hawkrives commented on #3164
Navigation state restoration.

It's done.

[2018-12-04 05:02] hawkrives commented on #3164
I need to fix login before 2.6.4 I think (only because I told someone it would be fixed in the "next release")

[2018-12-04 06:32] drewvolz commented on #3164
Oof. We do need to fix that.

[2018-12-05 01:06] rye commented on #3164
We need to fix all of the crashes that were introduced by RN 0.57 as well.

[2018-12-05 01:11] hawkrives commented on #3164
Do those have issues? We should make sure that all of the crashes have associated issues.

[2018-12-05 01:44] rye commented on #3164
I'm specifically concerned about #3260 and #3243 (which isn't a crash so much as login being broken)

We should also have something filed for popovers crashing the app.

[2018-12-05 01:44] rye commented on #3164
Given that we've stepped forward with RN I think it's also v2.7 rather than v2.6.4.

[2018-12-08 01:50] hawkrives commented on #1693
No - yes to testing, no to enzyme.

[2018-12-08 01:50] #1693 closed, assigned to nobody

[2018-12-08 01:51] hawkrives commented on #333
@drewvolz Can we close this? We not have components to allow text selection.

I'd like to file follow-up issues for any other areas that we want to tweak text selection on.

[2018-12-08 17:28] rye commented on #1693
Yes, `react-test-renderer` works for this?

[2018-12-08 18:01] drewvolz commented on #333
Why close this and file follow-up issues? I think this issue fits as we're trying to accomplish this still?

I'd like us to look into https://github.com/chirag04/react-native-tooltip together with the Clipboard-API.

[2018-12-08 18:24] hawkrives commented on #1693
Yeah

[2018-12-08 18:25] hawkrives commented on #333
Because it's not a single issue? We've accomplished it on the majority of the views, and I don't think the list in the OP is up to date.

There's no need that I can see for a custom popup, either - `selectable={true}` gives you a [Copy] option on tap+hold.

[2018-12-08 18:29] drewvolz commented on #333
That's not the type of selection I'd like to continue to implement. Looking for native drag and select for individual words and characters.

Then we should perform a new audit and update the list here

[2018-12-08 18:49] drewvolz commented on #333
...but okay, let's go with your suggestion.

[2018-12-08 18:49] #333 closed, assigned to nobody

[2018-12-09 02:28] hawkrives opened #3274 "Nightlies are not being published"
Despite us having merged many a renovate PR in the past few days, there hasn't been a new nightly in about three / four days.

@rye says:

Assigning issue to @rye.

[2018-12-09 03:10] #3274 closed, assigned to rye

[2018-12-09 11:44] renovate[bot] opened #3276 "Dependency deprecation warning: titlecase (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v1.1.2) of dependency `titlecase` has the following deprecation notice:

`no longer maintained`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Affected package file(s): `package.json`

If you don't care a

[2018-12-09 15:04] hawkrives commented on #3276
Hmm.

I think we should just fork the package and republish under our namespace - it's just a title-casing library.

[2018-12-09 15:48] hawkrives commented on #3276
I have published a fork of the `titlecase` package as https://www.npmjs.com/package/@frogpond/titlecase.

[2018-12-10 02:14] drewvolz opened #3281 "Filters are not applying"
To do:
- [x] Toggles, lists, pickers not applying their new values to the UI or data
- [x] Calculation issue that prevents filters from rendering -- the view also freezes

<hr>

* A blocker on our release PR #3164
* Partly addressed by fixing the crash on interaction in #3279

[2018-12-10 03:08] hawkrives commented on #3250
is this done‽‽?!

[2018-12-10 03:14] hawkrives opened #3282 "Allow "add to Google Calendar"?"
Especially on Android, I'm pretty sure that most people don't use the stock Calendar app.

We should … allow people to add it directly to the Google Calendar app.

[2018-12-10 03:37] hawkrives opened #3283 "Replace Google Analytics with a simple, custom server"
I have designs for exposing the Analytics information inside the app (my thought process being something like "we collect the data from people, so we ought to share it back with them" – and also we have no reason to keep it private).

Google's also shutting down Google Analytics for Apps next year-ish. They want us to move to Firebase (yeah no).

But really all we need are app launches, screen ope

[2018-12-10 03:52] drewvolz commented on #3283
Why the opposition to Firebase?

[2018-12-10 04:06] hawkrives commented on #3283
Google developer tool. (Also has a mental connotation in my head of being a large monolithic library, but that may not be true.)

I would prefer to move away from Google, all things considered, rather than just switch which services we're feeding data within them, and I don't trust most smaller companies to not wind up selling user data at some future point.

[2018-12-10 05:11] rye commented on #3250
Yea

[2018-12-10 05:11] #3250 closed, assigned to nobody

[2018-12-10 16:06] rye commented on #3282
More importantly, the feature as-is adds to whatever calendar it pleases (which I think is the first one it finds) so I have events on my "Birthdays" calendar that I can't delete because they're there.  It'd be nice to make this integration better.

[2018-12-10 16:07] rye commented on #3283
We also can fine tune our privacy policy around this.

I'm on board.

[2018-12-10 16:15] drewvolz commented on #3282
Something I’ve wanted as a UI was for the calendar event to populate a form that could be tweaked and customized before adding. I’d be in favor of looking at something like this https://github.com/vonovak/react-native-add-calendar-event

[2018-12-12 00:09] hawkrives opened #3287 "Express Bus starts at 6 on $weekdays"
Currently the app says it starts at 5.

We should update that.

Apparently the schedule PDF has updated, as well.

h/t @rye.

[2018-12-13 13:39] hawkrives opened #3290 "iOS builds need to switch target SDK versions"

[2018-12-13 15:25] drewvolz commented on #3290
So Xcode 10.1.

[2018-12-13 17:05] hawkrives commented on #3290
Or Xcode 10.1, sure

[2018-12-15 18:25] #3287 closed, assigned to nobody

[2018-12-16 03:27] #3290 closed, assigned to nobody

[2018-12-16 04:42] rye opened #3311 "Use tabs in Ruby code?"
This is my default, and it's our default in JS-land.

Either this, or I'd like to propose adding an `.editorconfig` to support this.

Thoughts?

[2018-12-16 04:49] hawkrives commented on #3311
Sure

[2018-12-16 04:49] rye commented on #3311
Sure to which, tabs?

[2018-12-16 04:51] hawkrives commented on #3311
Hawken's vote: yes to tabs

[2018-12-16 04:53] rye commented on #3311
Kris' vote: yes to tabs

[2018-12-16 05:19] rye opened #3313 "Update Fastlane support_url"
This is the last part of the divorce from SGA:

[code]

We need to remove our reference to this, and perhaps request that that page not exist anymore once this gets released to the general public.

[2018-12-16 05:40] #3276 closed, assigned to nobody

[2018-12-16 06:05] #3313 closed, assigned to rye

[2018-12-16 06:08] hawkrives commented on #3243
Closed by #3308

[2018-12-16 06:08] #3243 closed, assigned to nobody

[2018-12-16 06:08] hawkrives commented on #3187
Update: Detox does not link extra things in, afaict. It does build a release-mode binary, but then again so does the main build.

So this may be feasible after all.

[2018-12-17 14:02] hawkrives opened #3318 "OleCard login is still iffy"
- [ ] on fresh app launch, it doesn't trigger the actual "log in" process until you open settings (I remember this now)
- [ ] the first attempt at logging in always seems to trigger "invalid username or password"
- [ ] @rye doesn't get any balances even after logging in (android)

see also https://github.com/StoDevX/AAO-React-Native/issues/2847

[2018-12-17 14:15] rye commented on #3318
Spitballing: could https://github.com/StoDevX/AAO-React-Native/blob/c43e5a16f87202961a788a2f74789a359d8740d7/source/lib/financials/balances.js#L21-L24
be the issue? This is a fetch which doesn't have `credentials: 'include'` on it.

[2018-12-17 14:21] rye commented on #3318
That was the only such instance.

To the other two issues, I'd also point to views not refreshing on open too—things like hours presenting stale information until the next tick of the update timer, for example.

[2018-12-17 15:23] hawkrives commented on #3318
I get that feeling, but I think those are two separate underlying issues – one being how FlatList doesn't sometimes like to update unless you set things up just right, and the other (balances) being … well, something else, because it's just raw Views all the way down.

[2018-12-17 15:23] hawkrives commented on #3318
words.

[2018-12-18 16:56] hawkrives commented on #2497
I think we should add a new key to the filter spec, `persist: boolean` or something, which will automatically persist that filter's value into AsyncStorage.

[2018-12-18 16:59] hawkrives commented on #3163
@rye Closed by #3310 and #3320?

I think those pretty much addressed every point in here!

[2018-12-18 17:02] hawkrives commented on #2584
@rye done?

[2018-12-18 17:10] rye commented on #3163
For sure!

@hawkrives gets the epic points. 💯

I'll close it.

[2018-12-18 17:10] #3163 closed, assigned to hawkrives

[2018-12-18 17:14] rye commented on #2584
Taken care of, yep. #3209 et al. took care of that.

Closing.

[2018-12-18 17:14] #2584 closed, assigned to rye

[2018-12-18 18:57] #3164 closed, assigned to hawkrives

[2018-12-18 20:13] hawkrives commented on #3164
(skipping 2.6.4 and going straight to 2.7)

[2018-12-18 20:36] hawkrives commented on #2577
@drewvolz @rye Can you try to reproduce this on `v2.7.0-beta.2`, please?

[2018-12-18 20:39] rye commented on #2577
Yes. When I open the Dictionary editor, the keyboard does show up (Android) but whenever I try to modify the text it quickly reverts back.

[2018-12-18 20:56] hawkrives opened #3325 "Force-ish iOS user-agent to our string"
as of 2.7.0-beta.2, the user-agent for the app (on iOS, at least) is as follows:

[code]

It should look more like

[code]

Need to look into #3310 more and see why our UA isn't being set.

[2018-12-18 20:59] hawkrives commented on #3325
update: the same IP (which I think is my phone) is also sometimes sending this UA:

[code]

which is what it should be sending.

[2018-12-18 20:59] hawkrives commented on #3325
is there a difference between our fetch-layer caching and the CFNetworking cache?

[2018-12-18 21:00] hawkrives commented on #3325
yes?

[code]

where the first two are the first time I've opened the Burton screen, and the second two are when it's cached.

[2018-12-18 22:40] hawkrives commented on #2577
@rye ok, thanks. I've updated the issue.

[2018-12-19 09:04] drewvolz commented on #3260
Debugging this a bit and starting to understand how it works. Looks like I can filter out types that _seem_ to generate underlying `view` components.

I'm pointing my finger at the list items now because I can filter them out and see _most_ of the view.

I am using `disallowedTypes={['item']}` or `disallowedTypes={['list']}` to generate the below screenshot. It's not pretty without the list format

[2018-12-19 15:49] hawkrives commented on #3260
Looking at the markdown file again, I think that our issue is the nested lists.

I wonder how to represent `<ul><li><ul><li></li></ul></li></ul>` in a View/Text world.

[2018-12-19 16:07] hawkrives opened #3328 "Ignore specific PropTypes warning in YellowBox"
there's way to have YellowBox ignore specific warnings by way of string matching.

we should ignore the following warning:

[code]

derived from #3260

[2018-12-19 17:00] #3328 closed, assigned to nobody

[2018-12-21 21:27] rye opened #3335 "Add Safety Committee tile"
The original request: (important bits bolded)

See the email for the link.

This feature was requested for delivery by January 18th. Our 2.7.0 milestone says 2019-01-01.

---

- @hawkrives says he wants to maybe make the "Help" menu on the bottom, and that may be a place for this to go to. For now, @rye thinks it goes into Home screen, or gets a card in Help.
- Since the big part of the flow is a

[2018-12-21 21:42] rye commented on #3325
It seems like this is because `CFNetwork`-y requests (I guess) are bypassing our Fetch logic, or have their own UA set?  (Our `modules/fetch/init.js` skips setting the `User-Agent` header if one is already set, from what I'm seeing) https://github.com/StoDevX/AAO-React-Native/blob/bc81dddccad40e6f1c7b20b6c820f187243782d7/modules/fetch/index.js#L74-L76

Do we need to do some thinking on this? Or ar

[2018-12-21 23:28] hawkrives commented on #3325
I think we need to think on this more.

1. The UA-setting-skipping logic only applies to `fetch()` requests, by way of doing `fetch(url, {headers: {'User-agent': 'blah'}})`
2. We don't do that anywhere
3. So we _should_ be setting the UA header on every request
4. So what is allowing CFNetworking to set its own header? I have to assume that those requests are still being triggered through this fet

[2018-12-21 23:31] hawkrives commented on #3335
a simple first PR could be to

1. add a new type of homescreen tile, `browser-url`
1. add a new openUrl function that calls `Linking.openUrl` called `openUrlInBrowser`
1. add a homescreen handler such that `type: external-url` tiles trigger the new `openUrlInBrowser` function
1. add a new homescreen tile with `{type: browser-url, name: Safety Concerns, icon: [xyz], url: https:…}`

and then I can s

[2018-12-21 23:46] drewvolz commented on #3335
I feel jarred when something kicks me out of the app and into the OS browser. Can we kick around the idea of prompting the user on a `browser-url` whether they want to leave the app or not? I feel like that would be a more polite way for this to flow.

[2018-12-21 23:48] hawkrives commented on #3335
No one will report things if they have to log in to google in the in-app browser IMO, since they'll have to do the 2fa dance.

[2018-12-21 23:49] hawkrives commented on #3335
@rye The safety committee has responded and said that we can go live whenever.

[2018-12-21 23:58] drewvolz commented on #3335
??? I'm not saying keep them in-app. I'm saying let them know they're leaving the app.

[2018-12-22 00:59] hawkrives commented on #3335
Ah

[2018-12-22 02:36] #2538 closed, assigned to nobody

[2018-12-22 06:10] hawkrives commented on #3325
I did some digging on related topics, wondering if we could get away with just … not having my caching layer at all, and concluded that we likely do need a manual caching layer in order to handle the stale-but-offline case.

Using http://petersteinberger.com/blog/2012/nsurlcache-uses-a-disk-cache-as-of-ios5/ and https://developer.apple.com/documentation/foundation/url_loading_system/accessing_cach

[2018-12-22 06:49] hawkrives commented on #3283
Relevant: https://github.com/18F/analytics-reporter/blob/master/README.md

[2018-12-22 06:50] hawkrives commented on #3283
Also, I'd like to be able to pull some of the data out of GA for whatever we decide to track in our own tool - ie, screens, session counts, etc. so that we can load them into our app.

[2018-12-22 19:18] rye commented on #3190
CircleCI's android images repository `https://github.com/CircleCI-Public/circleci-dockerfiles/tree/master/android/images` is doing frightening things like, installing `ruby-2.4.3`…

[2018-12-22 19:19] drewvolz opened #3340 "Ensure pull to refresh delay is visible on Orgs and Dictionary"
1. Pull to refresh on news in an out-of-cached state
2. and then pull again.

Noticing the artificial delay isn’t there for the spinner?

---
Todo:
- [ ] Orgs
- [ ] Dictionary
- [x] Menus
- [x] News
- [x] FAQs

[2018-12-22 19:52] hawkrives commented on #3340
I think this is applicable to any pull-to-refresh view, not just with cached data.

[2018-12-22 19:54] drewvolz commented on #3340
I’ll agree with that

[2018-12-22 22:34] hawkrives opened #3342 "Alert the user when a network request fails due to network error"
1. The user's app makes a network request
1. It fails
1. If the retries parameter is true || a positive non-zero integer, retry with exponential back off that many times (defaults to 5? 3?)
1. If retries is false|0, proceed
1. The app shows an alert saying "Cannot get X", "No internet connection available", "OK"
1. The caching layer returns cached data

That's my proposal (spawned from something @

[2018-12-23 22:04] drewvolz commented on #3260
Yes, it's with nested lists. Thoughts on if we should solve this particular crash by not nesting the elements in the privacy policy? _I get that's papering over the issue._

We can change this

[code]

to this

[code]

[2018-12-23 22:06] drewvolz commented on #3260
I do understand that the problem is within here, though. https://github.com/StoDevX/AAO-React-Native/blob/master/modules/markdown/list.js

[2018-12-23 23:03] hawkrives commented on #3260
I think we should remove the nested lists for now, at least, especially since we are probably crashing every released version of the app that uses our policy, currently. At least 2.5 and 2.6.

[2018-12-24 00:07] hannesmcman commented on #3342
@hawkrives Is this where you are imagining putting this? Or at a lower level?

https://github.com/StoDevX/AAO-React-Native/blob/bf8655d56c0d5213fe78d2c8b97bf941dde818ef/modules/fetch/index.js#L95-L110

[2018-12-24 02:52] #3281 closed, assigned to hannesmcman

[2018-12-24 02:58] hannesmcman opened #3346 "Select, rather than deselect, OR filter option when "Show All" is active"
After showing the new filter toolbar feature to a few friends that use the app, I received the following suggestion, which will make the selection of filters more intuitive.

Setting:

When an OR filter is disabled, all of its options are selected.

Current behavior:

When the user selects an option, that option is deselected, while all other options remain selected.

Desired behavior:

When the u

[2018-12-24 03:31] drewvolz opened #3348 "List items are misbehaving"
I think something is mutating? When I scroll the menu list, it sort of... jitters. After that strange UI animation, it inserts a whole bunch of duplicate items in the list each time it loads. It continues to do so when I continue to scroll. Could you help debug this, please, @hannesmcman?

[2018-12-24 03:31] #3335 closed, assigned to hannesmcman

[2018-12-24 03:32] drewvolz commented on #3348
Another thing I'm noticing that we might turn into a separate issue:

Pull to Refresh when filters are applied -- the button does not change colors nor are the filters listed on the popup, nor are they applied to the list after PTR-ing. It takes tapping the button again for the filters to be applied.

Is that FAD / desired behavior?

[2018-12-24 03:39] hannesmcman commented on #3348
@drewvolz Can I see a gif of the bug? What do you mean by the menu list?

[2018-12-24 03:48] drewvolz commented on #3348
The menu list is the list of menu items (sorry!)

[2018-12-24 04:36] hawkrives commented on #3342
Yeah, somewhere around there.

It's going to take some tweaks to fetch/cachable, too, since that hides network errors.

First off, I'd look at [sindresorhus/ky](/sindresorhus/ky) for reference, since they have a retry handler.

I'm thinking something like, change Cachable to throw a NetworkError (where `class NetworkError extends Error`), and then we catch NetworkError and only NetworkError in fet

[2018-12-24 04:40] hawkrives commented on #3346
See, I disagree. Then my only way to exclude a single station is to manually check all of them.

[2018-12-24 04:43] hawkrives commented on #3348
@drewvolz your issue in the first comment (not the OP, afaik) is cause by the removal of deriveStateFromProps. Without that, we never update the internal state of the filter popup's container.

Another approach, and the way I was kinda thinking about exploring, would be to add a "key" to the FilterToolbarButton based around the values in the filter, such that changing a filter from outside would u

[2018-12-24 04:47] drewvolz commented on #3348
+1

[2018-12-24 04:48] hawkrives commented on #3348
The problem is that a good key is a hash of the object identity in this case, which is not something JS exposes.

And that's where I left off.

I started going down the rabbit hole of a UUID that changes when the object is changed, and abandoned it there in my local branch, but I think there's potential in that direction still. Maybe.

[2018-12-24 05:37] hannesmcman commented on #3348
#3350 addresses the issue mentioned in the first comment, but not the OP

[2018-12-24 12:43] hawkrives commented on #3348
@drewvolz could we get a screen recording of the OP?

[2018-12-24 15:28] #3346 closed, assigned to hannesmcman

[2018-12-24 17:51] drewvolz commented on #3348
Sure. Here is what I am seeing.

<img src="https://user-images.githubusercontent.com/5240843/50404802-8a042a00-0769-11e9-97d4-d66549b6947a.gif" width=280 />

[2018-12-24 18:25] hannesmcman commented on #3348
@drewvolz Can we rename this issue to reflect the OP? I don't think it has anything to do with filters..

[2018-12-24 18:30] drewvolz commented on #3348
FWIW I'm seeing this same issue on Course Search.

[2018-12-24 18:30] drewvolz commented on #3348
Please rename it to what seems right. I've renamed it to "List items are misbehaving"

[2018-12-24 18:31] hannesmcman commented on #3348
@drewvolz LGTM. I am going to create a separate issue for clearing of filters with PTR.

[2018-12-24 18:35] hannesmcman opened #3351 "PTR clears filters"
Problem first stated in #3348 by @drewvolz:

Desired behavior: On PTR, filters should not be cleared. I think it is safe to assume that the filter categories will not change after a PTR, so we should be fine just preventing the rebuilding of fresh filters in `getDerivedStateFromProps`.

[2018-12-24 18:56] #3351 closed, assigned to nobody

[2018-12-24 19:18] hannesmcman commented on #3348
Updated gif with `debug={true}`:

![scrollbug](https://user-images.githubusercontent.com/24640726/50405692-8337e000-0786-11e9-8bad-e559a905cbcb.gif)

[2018-12-24 20:26] hawkrives commented on #3348
Can we `git bisect` to find the offending merge? (Can bisect be configured to bisect only merge commits?)

[2018-12-24 20:48] rye commented on #3348
@hawkrives without specifying all merge commits that you want to test, I don't think so.

[2018-12-24 21:02] hannesmcman commented on #3348
I'm not entirely sure this isn't a bug with SectionList's rendering itself...look how in debug mode the weird behavior happens when the render window is resizing itself..

[2018-12-24 22:59] hawkrives commented on #3348
It may be, but it seems really odd that this suddenly showed up in the past few days.

[2018-12-25 02:05] drewvolz commented on #3348
I've played a little with the `props` that `<SectionList />` takes.

Passing `stickySectionHeadersEnabled={false}` into the `<SectionList />` seems to prevent the "jumping" and insertion of duplicate rows. I think this might be an overall upgrade issue.

https://github.com/facebook/react-native/issues/20956
https://github.com/facebook/react-native/issues/21468
https://github.com/facebook/react-nat

[2018-12-25 06:05] drewvolz commented on #3348
Would anyone be opposed to adding `stickySectionHeadersEnabled={false}` to our `<SectionList />` components?

[2018-12-25 14:20] hawkrives commented on #3348
Yes

[2018-12-25 14:57] hawkrives opened #3354 "Clear cache after updating the app"
In order to facilitate us being able to change the way things are cached in the future.

Everything starts with a common prefix, although I don't remember it offhand.

We should be able to store the "last known app version" in AsyncStorage, then compare it to the running app.

If they're different, we should call AsyncStorage.getAllKeys, and filter that list to just the ones matching the prefix, t

[2018-12-25 16:03] drewvolz opened #3355 "Filter with no items is showing a closed message"
When I tap a filter that appears to have no menu items to show, a closed status is appearing instead. I am seeing “closed today” when I select the “breakfast” station for the meal time of lunch or dinner.

<img src="https://user-images.githubusercontent.com/5240843/50424641-ad3fdf80-0824-11e9-9862-cf31ba57dd4d.gif" width=280 />

[2018-12-25 16:19] drewvolz commented on #3355
Relevant lines

https://github.com/StoDevX/AAO-React-Native/blob/7a7c4f23789f55110d86476d6c2c5b7e2cea739a/source/views/menus/menu-bonapp.js#L142-L155

[2018-12-25 16:23] drewvolz commented on #3355
Related to https://github.com/StoDevX/AAO-React-Native/issues/741?

[2018-12-25 18:17] hawkrives commented on #3355
The "menu" should be not-null no matter which station you choose, because the station is extracted from the found menu.