[2017-02-23 14:19] drewvolz opened #744 "Crash caused by submitting form in news"
Hitting submit on a form that rendered in a KSTO news story view causes the application to crash.

[2017-02-23 14:29] hawkrives commented on #744
We could ... um. Hide `<form>` elements in the rendered story? Check for `<form>` elements in the article contents and remove them from the list?

[2017-02-23 15:48] drewvolz commented on #744
I am okay with that idea. I cannot imagine another scenario where a submit button exists outside of a form.

[2017-02-23 22:14] #744 closed, assigned to nobody

[2017-02-23 22:24] hawkrives commented on #741
So this is a bit trickier than it first appeared, now that we can switch between meals.

The filters apply to one menu source at a time, but the meals share the menu source (Stav, Cage, Pause, etc.)

So the "disable specials filter" logic will only look at whatever meal is the "current" meal, when the screen is opened, and won't reevaluate showing "specials only" when you change meals.

I'm thinki

[2017-02-24 00:18] hawkrives opened #755 "Northfield Lines store has moved"
It's now at https://northfield.betterez.com/cart/5787e3b01f39300a1a000085

[2017-02-24 04:25] #743 closed, assigned to hawkrives

[2017-02-24 05:44] #755 closed, assigned to nobody

[2017-02-24 12:37] #717 closed, assigned to hawkrives

[2017-02-24 12:46] hawkrives commented on #739
Closed by #754

[2017-02-24 12:46] #739 closed, assigned to nobody

[2017-02-24 13:45] hawkrives opened #760 "Danger should check for new camelCase filenames"
And it should ask you to make them kebab-case.

IMHO, anyway.

[2017-02-24 13:53] hawkrives opened #761 "Propogate exit statuses so travis builds can fail again"
Currently, travis JS builds will have a really hard time being marked as "failed".

All the commands whose output we collect with tee? So that Danger can report it? Tee changes the exit code (or rather, that's how pipes work.)

Anyway, a quick google search says that calling `set -o pipefail` (http://stackoverflow.com/a/6872163/2347774) will probably propogate the exit status so travis can see whi

[2017-02-25 02:19] #760 closed, assigned to nobody

[2017-02-25 02:36] #761 closed, assigned to nobody

[2017-02-25 05:17] #742 closed, assigned to nobody

[2017-02-27 20:53] hawkrives commented on #588
This is "fixed" by using the Degree Audit page.

[2017-02-27 20:53] #588 closed, assigned to nobody

[2017-02-27 23:08] #715 closed, assigned to nobody

[2017-02-28 02:18] #507 closed, assigned to nobody

[2017-03-01 13:51] #680 closed, assigned to nobody

[2017-03-01 18:54] drewvolz opened #798 "[RFC] Revisit location permissions"
[Let's revisit this](https://github.com/StoDevX/AAO-React-Native/commit/e0f24df2eeee4d7871ca307da9fc6a2f6abb153f#diff-020edf1fd6d483b0e2c8f5a5734ea1f2R6). Notifications are not being utilized, so we should remove access to fine location. I am unsure if Google Analytics uses location data (coarse or fine) or if it gathers the information from the network itself. In the case it is not being used, le

[2017-03-02 14:22] hawkrives opened #801 "iOS Building Hours view lays out incorrectly"
Maybe because of RN 0.42?

<img src=https://shipusercontent.com/9ad82eb2c41646765b1512dd67dd5542/831935880_2574347230264037576.jpg width=320>

[2017-03-02 14:23] hawkrives opened #802 "Presence has two "Anime Club" entries"
The second is a "new" org, and has contact information.

The first is almost entirely blank.

We should contact the new person and ask them ... idk. To remove the old entry?

[2017-03-02 14:24] hawkrives opened #803 "iOS Section headers in AlphabetListViews are off-vertical-center"
Maybe we can rework them to use Flexbox for centering.

<img src=https://shipusercontent.com/ed2163d3a089e6a6400e386096ea3ebd/830928116_12906851615323048589.jpg width=320>

[2017-03-02 14:25] hawkrives opened #804 "iOS News share button needs visual tweaks"
Notes | AAO
----- | ---
<img src=https://shipusercontent.com/81389018db5c73fefd9a22ea10f42b4e/831936057_1737551656468518021.jpg width=320> | <img src='https://shipusercontent.com/42495bce6907161568e3ae1f2b2d9330/Pasted%20Image%201.png' title='Pasted Image 1.png' width=320>

[2017-03-02 14:26] hawkrives opened #805 "BonApp's Seafood Watch entry has an HTML entity"
We'll need to run the entities tool on the corsIcons stuff.

![830925974_11715855090534463339.jpg](https://shipusercontent.com/787b3445625b60f3b3a1dddf505e9ac1/830925974_11715855090534463339.jpg)

[2017-03-02 14:28] hawkrives opened #806 "Changelog creation fails when prior build wasn't on the same branch"
We should edit it to find the previous build on the same branch, if any, with a fallback to the most recent "master" build.

[2017-03-02 15:12] hawkrives opened #807 "Investigate use of Moment's `default` options"
We should look into using [`Moment.relativeTimeRounding`][rounding] and [`Moment.relativeTimeThreshold`][threshold] to control the global rounding needs expressed in #that-other-issue. (see also: http://stackoverflow.com/a/42520227/2347774)

[rounding]: http://momentjs.com/docs/#/customization/relative-time-rounding/
[threshold]: http://momentjs.com/docs/#/customization/relative-time-threshold/

A

[2017-03-02 15:28] drewvolz commented on #807
Great idea, @hawkrives

[2017-03-03 04:44] #805 closed, assigned to nobody

[2017-03-05 20:41] #804 closed, assigned to nobody

[2017-03-06 14:28] drewvolz commented on #532
@hawkrives discovered this is not a visible issue any longer on v0.42

[2017-03-06 14:28] #532 closed, assigned to nobody

[2017-03-07 15:48] #801 closed, assigned to nobody

[2017-03-07 17:15] #709 closed, assigned to nobody

[2017-03-07 19:08] hawkrives commented on #333
@drewvolz Could you please add a checklist to the OP of what screens have been done? Thanks!

[2017-03-07 19:46] drewvolz commented on #333
Updated.

[2017-03-07 21:11] hawkrives commented on #333
The orgs android detail view doesn't use `<Cell/>`, fyi

[2017-03-07 21:13] drewvolz commented on #333
I count 3 instances of `<Cell/>` being used in [Android's detail view for orgs](https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/student-orgs/detail.android.js).

[2017-03-07 21:14] hawkrives commented on #333
… or maybe they are. Really, past me? I see them… hmm.

[2017-03-08 12:58] drewvolz opened #831 "Building hours fails to automatically update"
The building hours ListView does not update the status badges. The detail view updates fine.

[2017-03-08 13:03] drewvolz opened #832 "New org badge applied to all rows"
In a last second effort to **optimize** labeling a student org as new or not, we slipped-in a way to label orgs in a more efficient way. Testing the app now reveals that every org was labeled as new... the correct behavior would be to only label new orgs as new. Additionally, the style for the new dots are not being applied.

[2017-03-08 13:47] drewvolz commented on #832
The second issue concerning the dot style results from this error:

[code]

[2017-03-08 13:51] drewvolz commented on #832
This is fixed by changing the badge `<View/>` to a `<Text/>`

[code]

[2017-03-08 16:56] hawkrives commented on #832
I introduced this while I was fixing linter errors in #830.

[2017-03-08 17:34] hawkrives commented on #831
If I had to guess, I'd guess that this is related to SimpleListView, and we just haven't noticed it.

[2017-03-08 18:01] hawkrives commented on #831
It is.

It's in `rowHasChanged`, in SimpleListView's DataSource.

I still don't know _why_ DataSource was re-rendering the rows before? Assuming that was its job? (TBH, I still don't understand DataSource at all. [and rn@0.42 will let us remove it, I think; both FlatList and SectionedList have docs now.])

Anyway. If I change rowHasChanged to `return true`, every row renders, every time. Which mak

[2017-03-09 01:04] #832 closed, assigned to nobody

[2017-03-09 01:04] #831 closed, assigned to nobody

[2017-03-12 23:13] hawkrives opened #853 "Investigate a solution to getDetailedBuildingStatus test failing"
in `source/views/building-hours/__tests__/get-detailed-building-status.test.js:53:16`

[code]

see also https://travis-ci.org/StoDevX/AAO-React-Native/jobs/210368527#L1781-L1789

something something dst? will it start working tomorrow? who knows.

[2017-03-12 23:25] drewvolz commented on #853
It does smell like a DST issue

[2017-03-13 13:12] drewvolz commented on #853
I've noticed that from 12:00am - 1:59am CT, any building that closes at 2am (pause, library) will display a closing time of 3:00am. After the time strikes 2:00am, the closing time reverts back to 2:00am.

[2017-03-13 13:34] hawkrives commented on #853
Is that any day, or just yesterday / this morning?

If it says just yesterday/this morning, I'm still going to lump it under "DST", because 3am this morning is ~24 hours after the jump

[2017-03-13 15:50] drewvolz commented on #853
This was from this morning.

[2017-03-13 22:50] drewvolz opened #864 "Handle broken links"
An Oleville post located here http://oleville.com/blog/2017-spring-elections-voting-day/ contains a URL that crashes AAO. We should handle this situation.

`<a href="www.oleville.com/elections/vote">here</a>` lacks the protocol `http://` or `https://`

The error is:

[code]

[2017-03-14 01:27] hawkrives commented on #864
So. Browsers (including WebView) handle links without a protocol by simply appending the link's href to the current location (so, on http://web.site if you click a link to http://stolaf.edu, you'll go to stolaf.edu; but if the link is just to stolaf.edu, you'd be going to http://web.site/stolaf.edu.)

That doesn't work for us... because we have no location for the news articles, since we're just l

[2017-03-14 01:33] drewvolz opened #866 "Fix presence calendar sort order"
March 14th
March 31st
March 16th

<img src="https://cloud.githubusercontent.com/assets/5240843/23882026/7b8bb7f8-0834-11e7-8a29-89dc315a3fc8.jpg" height="400" />

[2017-03-14 01:43] hawkrives commented on #866
Huh.

I guess it's sorting by org, then date.

[2017-03-14 01:59] hawkrives commented on #866
https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/calendar/calendar-presence.js

See convertEvents.

The question is, does Array#sort return `this` or `undefined`? If "this", then we can just chain the sort() call into the end after the filter(); otherwise, we'd need to change the function from purely returning to do a "const events =; events.sort(stuff); return events" sort of

[2017-03-14 03:00] drewvolz commented on #866
Chaining the `sort()` after does not do the trick.

[2017-03-14 04:06] drewvolz commented on #853
I think this is fixed just as you predicted.

[2017-03-14 12:22] hawkrives commented on #853
I'd like to keep the issue open to remind me about it.

[2017-03-14 18:43] #864 closed, assigned to nobody

[2017-03-14 18:43] #866 closed, assigned to nobody

[2017-03-21 21:00] hawkrives opened #889 "Support Android O's "Adaptive Icon" feature"
Docs: https://developer.android.com/preview/features/adaptive-icons.html.

&nbsp; | &nbsp;
--- | ---
![](https://developer.android.com/preview/images/adaptive-icons/NB_Icon_Layers_3D_03_ext.gif) | ![](https://developer.android.com/preview/images/adaptive-icons/Single_Icon_Parallax_Demo_01_2x_ext.gif)

See the [Creating Adaptive Icons](https://developer.android.com/preview/features/adaptive-icons.h

[2017-04-02 00:52] drewvolz opened #908 "Menu filters are broken"
Cannot filter menu content by station.

[2017-04-02 02:13] hawkrives commented on #908
The behavior is different between release and `master` when you tap on a filter option while "Show All" is checked. I saw the difference earlier today, but I don't recall the exact changes atm.

I don't think that the behavior should have changed since the last release.

[2017-04-10 20:11] elijahverdoorn opened #932 "Moving away from presence"
I was informed recently by Kris Vatter that St. Olaf will not be renewing their contract with presence for another year. The contract expires in May, and due to issues with the company not keeping some of their promises it is looking like we will not be continuing with them. Given this, we will have to refactor or remove the student orgs view (and anything else that uses presence)

[2017-04-11 00:10] hawkrives commented on #932
Duly noted :-)

Let's go ahead and remove the Student Orgs calendar from the next release, then. I'll ask Dan about adding a simple API to stolaf.edu/orgs/list, but it won't be ready for a bit.

[2017-04-11 00:13] hawkrives opened #933 "Remove "Student Orgs" from Calendar"
As seen in #932, St. Olaf is moving away from Presence.

To remove the student orgs calendar view:
- [x] Delete [`/source/views/calendar/calendar-presence.js`](https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/calendar/calendar-presence.js)
- [x] Remove the Student Orgs tabdef from [`/source/views/calendar/index.js`](https://github.com/StoDevX/AAO-React-Native/blob/master/source

[2017-04-11 00:14] hawkrives commented on #506
Is this fixed on master? I feel like I did something about this…

[2017-04-11 00:20] hawkrives opened #934 "Add a "Report a WiFi Problem" quick-access button"
I'm envisioning a FAB on the homescreen, in the bottom-right, that gives you two options when you tap it:

- Report a WiFi Problem
- [and maybe] Make a Helpdesk Ticket

This issue is about the framework of the button and the Report WiFi button, though.

---

I think that when you tap the Wifi option, it should pop open the modal and say "Collecting data…".

We need to submit the user's device info

[2017-04-11 00:29] hawkrives opened #935 "v2.2 Tracking Issue"
Things we want to do before we release v2.2 [[milestone](https://github.com/StoDevX/AAO-React-Native/milestone/6)]:

- [x] Remove Presence calendar (#933)
- [x] Call codePush.sync in the root component (#966)
- [x] Merge the "link rn-maps" PR (#897)
- [x] Fix menu filters (#908)
- [x] Disable the Courses tab (#978)
- [x] Add quick wifi-reporting feature (https://github.com/StoDevX/AAO-React-Native

[2017-04-11 00:31] hawkrives commented on #802
Closing as we're removing Presence.

[2017-04-11 00:31] #802 closed, assigned to nobody

[2017-04-11 00:31] hawkrives commented on #798
I will need fine location data for the wifi reporting. In light of that, I'd like to close this issue.

[2017-04-11 00:31] #798 closed, assigned to nobody

[2017-04-11 00:33] hawkrives commented on #935
Skimming old issues, I found https://github.com/StoDevX/AAO-React-Native/issues/401 (the "we can't log into SIS after April 17th" issue.)

`master` no longer uses the SIS for financial info, but we won't be able to fill out the Courses tab once Google disables the in-app browser OAuth login.

So I'd like to figure out what to do about the Courses tab before v2.2.

[2017-04-11 18:26] elijahverdoorn commented on #935
If there was ever a time that it would be convenient to remove the courses view (temporarily, of course), now is the time as registration just closed and most students have their schedule memorized. If we get an update out by the 17th, we can avoid confusing users by just hiding the screen, then add it back if/when we get a data source again.

I'm going to do a run-through of the building hours da

[2017-04-11 18:31] elijahverdoorn commented on #934
I had a chat with Kurtis (IT Network Manager) regarding this too, and I'm looking forward to getting this in the app.
I'm wondering if a FAB is the right way to go about this - FABs are not really in the iOS pattern, and material design says that "A floating action button represents the primary action in an application." (A floating action button represents the primary action in an application.),

[2017-04-11 18:43] hawkrives commented on #934
So I had that thought too, but I came back to the FAB as the fastest / lowest-friction way to submit a wifi problem report…

Here's what I have so far, UI-wise:

iOS | Android
--- | ---
![ios](https://cloud.githubusercontent.com/assets/464441/24925087/c080f5e6-1ebc-11e7-83d7-c30edd9ce526.jpg) | ![android](https://cloud.githubusercontent.com/assets/464441/24925093/c58f9038-1ebc-11e7-99e2-6eb72ea492

[2017-04-11 19:17] drewvolz commented on #935
I've added the issue related to Presence orgs to the list.

[2017-04-12 19:00] #933 closed, assigned to nobody

[2017-04-14 00:36] hawkrives commented on #935
I'm going to take presence's orgs back off the list – I've got a _goal_ of being able to replace it with an /orgs/list endpoint, before they shut us down, but even if I can't there's no reason to remove it _now_ vs later via codepush?

[2017-04-14 00:43] hawkrives commented on #934
After talking with Eli, I'm going to take a different tack here: I'm going to try adding a 13th button to the homescreen, which takes you to a screen with the three options.

[2017-04-14 00:44] hawkrives opened #948 "Move /docs to the gh-pages branch"
By moving the generated docs folder to the github-pages branch, we will be able to let Travis completely handle them for us; we will no longer need to run the build locally or mess around with editing the json versions manually.

[2017-04-14 01:08] #948 closed, assigned to hawkrives

[2017-04-18 03:10] #806 closed, assigned to hawkrives

[2017-04-18 03:17] hawkrives commented on #935
We should solve https://github.com/StoDevX/AAO-React-Native/issues/908 as part of 2.2

[2017-04-18 05:10] hawkrives opened #964 "Change Travis to publish to codepush instead of Hockey"
By which I mean, disable the notifications for new Hockey builds, and make @drewvolz and I dogfood the codepush builds for a bit.

[2017-04-18 19:45] drewvolz opened #966 "Call codePush.sync in the root component"
In order to achieve the workflow we desire, we need to specify the deployment key we want the current user to synchronize with when calling the codePush method. When specified, this key will override the "default" one that was provided in the app's Info.plist (iOS) or MainActivity.java (Android) files. This allows us to produce a build for staging or production, that is also capable of being dynam

[2017-04-18 22:50] hawkrives commented on #966
We could import the key from the package.json file, since we store them in there.

[2017-04-20 03:08] hawkrives opened #978 "Disable the Courses tab"

[2017-04-21 01:52] #966 closed, assigned to nobody

[2017-04-21 01:53] hawkrives commented on #964
Partially done, as of #979. Travis now pushes to Codepush in _addition_ to Hockey. I'll disable the Hockey pushing after this build so we are forced to dogfood the codepush integration.

[2017-04-21 03:26] hawkrives commented on #978
This should be low-haning fruit; you'll just need to comment out https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/sis/index.js#L25-L30 and https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/sis/index.js#L12.

[2017-04-21 03:26] hawkrives commented on #978
(cc @elijahverdoorn, @erichkauffman, @zimmer18)

[2017-04-21 04:58] #908 closed, assigned to nobody

[2017-04-21 12:32] hawkrives commented on #978
As part of this, it'd be nice to comment out the Google Login component in views/settings/index.js, since there's nothing that can use it.

[2017-04-22 16:39] #978 closed, assigned to nobody

[2017-04-22 18:34] hawkrives commented on #964
I don't think that it's properly pushing to ~~hockey~~ codepush.

[2017-04-26 12:55] drewvolz opened #1000 "Pause calendar causes crash"
Replicating it each time I load the pause calendar.

[2017-04-26 13:02] drewvolz opened #1001 "AlphabetListView crashes dictionary search"
Typing quickly into the search bar causes the AlphabetListView to throw an exception and crash.

<img width="287" alt="screen shot 2017-04-16 at 4 30 01 pm" src="https://cloud.githubusercontent.com/assets/5240843/25074336/7f4aac26-22c6-11e7-9ee7-1c965debb4c8.png">

[2017-04-26 13:03] drewvolz commented on #1001
This is an issue on both the sims and physical devices.

[2017-04-26 13:50] drewvolz commented on #1000
[code]

[2017-04-26 14:00] drewvolz commented on #1000
The issue is... there is an event with no `summary` key. That means it will not get a title, but we expect it to have the summary data. We need to check if that key is defined before using it.

[2017-04-26 19:37] hawkrives commented on #1000
@drewvolz Are you handling this?

[2017-04-26 19:39] drewvolz commented on #1000
it's all yours!

[2017-04-26 20:38] #1000 closed, assigned to hawkrives

[2017-04-28 01:31] hawkrives commented on #964
This is now almost working properly. I need to fix fastlane on the JS-builds, and we'll be good to go.

[2017-04-30 23:26] drewvolz commented on #1001
https://github.com/sunnylqm/react-native-alphabetlistview/issues/32

[2017-05-01 00:50] drewvolz opened #1007 "Call button prompts twice"
I am unsure what the result is on Android, but the prompt to make a phone call from the Important Contacts double-prompts the call/cancel options after hitting call the first time.

[2017-05-01 12:38] drewvolz commented on #1007
This is a "note/known issue" with openURL in iOS 10.3

iOS displays a prompt and requires user confirmation before dialing.

[2017-05-03 01:24] hannesmcman opened #1013 "Won't build on mac without /docs folder"
Hey guys, my name is Hannes and I'm new to this, but I'd like to be involved. I followed the steps from the READ-ME file, but I encounter an issue stemming from a missing /docs folder. A bunch of files are supposed to exist in this folder, which causes the build to fail. What am I missing? Thanks!

[2017-05-03 02:20] drewvolz commented on #1013
Hey @hannesmcman, thanks for reaching out. We need to update our readme because we changed the way the docs folder is generated.

In short, run `npm run bundle-data` which will traverse through all of the yaml files that are within the data directory and generate the JSON files that will appear in the docs directory.

Let us know if you run into any other issues. We'll update the readme to include

[2017-05-03 02:41] hannesmcman commented on #1013
Thanks! One more question: How would I go about receiving a Google API key from one of you guys?

[2017-05-03 02:48] hawkrives commented on #1013
You can generate your own! It's a tiny bit complicated:

1. Go to https://console.developers.google.com/
2. Create a new project
3. Go to the Credentials sidebar option
4. Choose "Create credentials", then choose "API key" from the dropdown
5. Copy the key it gives you
6. Copy the `.env.sample.js` file as `.env.js`, and put the key from step 5 into the file

… I think that should work. If it doesn

[2017-05-03 03:43] hannesmcman commented on #1013
Thanks! I realized the first time I did that I typed the key in wrong..after changing it I had to delete the folder, re-download it, re-enter the key and it worked!

[2017-05-03 03:57] hawkrives commented on #1013
👍👍👍👍👍

[2017-05-03 04:16] hawkrives commented on #1013
We'll keep this open until @drewvolz updates the README with the instructions about `npm run bundle-data`.

[2017-05-06 00:13] #934 closed, assigned to hawkrives

[2017-05-06 00:14] hawkrives commented on #964
This now works.

[2017-05-06 00:14] #964 closed, assigned to hawkrives

[2017-05-06 00:14] hawkrives commented on #935
There are no issues that I know of blocking the release of v2.2.

[2017-05-06 03:02] drewvolz commented on #935
How should we approach search crashing the AlphabetListView? It seems like an issue for 2.2

[2017-05-06 14:50] hawkrives commented on #935
Have you tried lodash's debounce method yet?

[2017-05-06 16:03] drewvolz commented on #935
Not yet. Good reminder.

[2017-05-06 17:22] hawkrives commented on #935
I added #1001 to the tracking list and the milestone.

[2017-05-06 17:27] #1013 closed, assigned to nobody

[2017-05-06 17:27] hawkrives commented on #1013
@hannesmcman Let us know if you have any other questions or issues! We'd love to help out.

[2017-05-06 17:52] hawkrives opened #1027 "Auto-login for St. Olaf Login isn't working"
It should automatically refresh your login every time the app opens.

[2017-05-06 17:53] hawkrives commented on #1027
Also, something something St. Olaf shares credentials and there's an SSO portal somewhere that I should use for the actual login process. Except that checkBalance doesn't use that sso code… yet! So this message is completely irrelevant.

[2017-05-06 20:24] hawkrives commented on #1027
I've fixed this locally. It was running the login check between when the network is initialized (with no network access) and when the network realizes that it's connected.

[2017-05-06 20:29] hawkrives commented on #1001
So… debouncing it _at all_, even with a debounce of 0, solves the issue. Something something microtask queue? Idk.

I'll make a quick PR to resolve this.

[2017-05-06 21:22] #1001 closed, assigned to nobody

[2017-05-06 22:13] hawkrives commented on #401
Closing this, since we've worked around it in `master`.

[2017-05-06 22:13] #401 closed, assigned to nobody

[2017-05-06 22:13] hawkrives commented on #534
I have a local branch with this.

[2017-05-06 22:14] hawkrives commented on #1007
… so it's an os bug, no?

[2017-05-06 23:07] hawkrives opened #1030 "Add a "beta" label to the beta channel's icon"
Fastlane has an action to edit the icon to add a label stripe across one corner.

We should just use that.

[2017-05-07 00:21] #1027 closed, assigned to hawkrives

[2017-05-07 00:23] hawkrives commented on #935
There are no more blocking issues that I know of.

Drew and I will test the app thoroughly after tonight's beta.

[2017-05-07 00:25] hawkrives commented on #534
Gah. I forgot to clear the keychain.

[2017-05-07 02:32] drewvolz commented on #1007
Seems to be.

[2017-05-07 03:59] hawkrives opened #1031 "Beta 2599 crashes on launch"
We need to figure out why before we start the release process for v2.2.

[2017-05-07 03:59] hawkrives commented on #1031
@elijahverdoorn, this is a release blocker. You don't need to worry about making a beta until we solve this.

[2017-05-08 02:06] hawkrives commented on #1030
I think it's as simple as adding

[code]

to the "beta" lane.

(Note: working from memory here.)

[2017-05-08 02:21] drewvolz commented on #1030
Found the docs. https://docs.fastlane.tools/actions/#badge

[code]

[2017-05-08 02:26] hawkrives commented on #1030
Found the external place where it's from: https://github.com/HazAT/badge

<img width="384" alt="screen shot 2017-05-07 at 9 25 48 pm" src="https://cloud.githubusercontent.com/assets/464441/25788031/c50e384e-336b-11e7-8917-ba4443653eeb.png">

[2017-05-08 02:27] hawkrives commented on #1030
… so we can literally do

[code]

[2017-05-08 16:17] hawkrives commented on #1007
So do we want to do anything about it?

[2017-05-08 16:20] drewvolz commented on #1007
We could hide our custom prompting and use the official prompt as-is? If Apple changes the behavior, then we can switch back? I'm wondering if this is simply a beta issue that will resolve itself, or if the protocol is changing in favor of always prompting. Let's keep platform independence in mind.

[2017-05-08 16:21] hawkrives commented on #1007
We could just check for platform === iOS, but that doesn't help with iOS < 10.3.

[2017-05-08 16:37] #1031 closed, assigned to nobody

[2017-05-08 16:38] hawkrives commented on #935
Said beta had some big issues. I've reverted the change that caused them.

[2017-05-08 17:21] hawkrives commented on #935
I have begun deploying v2.2-beta.2 (and v2.2-beta.1, but I forgot to let travis build the tag so I made a new tag.)

Drew and I will test this on iOS today.

@elijahverdoorn, can you/your team start poking at it on Android? (or @drewvolz, didn't you get an android phone?)

Also @elijahverdoorn – what's your timeline now that the weekend is past?

[2017-05-08 18:18] drewvolz commented on #1030
Closed by #1041

[2017-05-08 18:18] #1030 closed, assigned to nobody

[2017-05-08 20:51] hawkrives opened #1044 "Thoughts about Releases and Branches and Processes in a Codepush World"
With Codepush, we'll need to figure out a new scheme for doing release version numbers.

I found this on Twitter:

![image 2017-05-08 15 16 45](https://cloud.githubusercontent.com/assets/464441/25823328/5fb3eca0-3401-11e7-9eeb-9767f2c4dfc5.jpg)

I like that.

Here are some things that I think we need to be able to do:

- We'll need to be able to roll out bug fixes to multiple minor versions at onc

[2017-05-08 20:56] hawkrives commented on #1044
Keep in mind that almost all of that proposal would be implemented in travis, automatically.

The biggest differences for us would be in remembering to tag new betas from master.

(and backporting bugfixes, but that’s an entirely new process anyway.)

[2017-05-08 23:22] hawkrives opened #1046 "ios build fails because of missing ImageMagick"
Need to install it with brew

[2017-05-09 01:05] #1046 closed, assigned to nobody

[2017-05-09 01:08] hawkrives commented on #1044
I've disabled the nightly cron job for now, at least. Until 2.2 is released, I think we're good to just do tagged betas regardless of if we want to go all the way with this idea.

[2017-05-09 01:23] hawkrives commented on #935
@elijahverdoorn I just noticed that you mentioned incorrect building hours in https://github.com/StoDevX/AAO-React-Native/issues/935#issuecomment-293356732 – have you had a chance to look into that?

[2017-05-09 01:23] hawkrives commented on #853
… I should have written a note to myself about how to fix this.

[2017-05-09 02:07] hawkrives commented on #935
2.2.0 Beta 5 is now entering testing. I'm trying to make sure codepush deployments are working.

[2017-05-09 02:50] hawkrives commented on #935
Now attempting beta 6, to see if Codepush will properly deploy a new release this time. (https://github.com/StoDevX/AAO-React-Native/pull/1048 was _an_ issue, but let's see if it was the _only_ problem.)

[2017-05-09 03:20] hawkrives opened #1049 "Investigate CodePush's targetBinaryVersion implementation"
I don't think it properly handles `-beta.`, or -alpha, or -rc, specifiers.

I'll need to investigate how their implementation actually works.

[2017-05-09 12:48] hawkrives opened #1050 "Making a scrolling gesture while swiping back from any WebView continues to scroll"
You shouldn't be able to scroll the detail view while you're swiping backwards.

[2017-05-09 12:49] hawkrives commented on #1050
(This problem has been around as long as News has. I'm only now filing it.)

[2017-05-09 12:55] hawkrives opened #1051 "Cancelling the "open KSTO" prompt reports an error to us"
We probably don't care to receive a bug report every time someone cancels that button tap.

[2017-05-09 12:55] hawkrives opened #1052 "Reset Everything remembered my username/password"
I think this is because those are stored in the keychain and I forgot to wipe our keychain data.

[2017-05-09 13:12] drewvolz commented on #1050
To clarify, this happens on the news detail view rather than the list of stories. Depending on how many touches you're willing to make, it's possible to perform this on the safari webviews with two fingers, too. We should look into disabling scrolling when the component will unmount.

[2017-05-09 13:35] hawkrives commented on #1050
Yes, but that's only if you've already started scrolling. I definitely prefer that. (the way that SFWebView works, instead of our own WebViews.)

[2017-05-09 15:15] #1052 closed, assigned to hawkrives

[2017-05-09 15:21] hawkrives commented on #1050
I haven't even found anyone complaining about this yet. I do know that RN's ability to disable scrolling on a webview is limited to iOS.

[2017-05-09 15:55] #1051 closed, assigned to nobody

[2017-05-09 16:09] hawkrives commented on #1049
https://github.com/Microsoft/code-push/tree/master/cli#target-binary-version-parameter

They say they handle it, and they use the node-semver library to parse the semver expressions, which is what npm uses as well, so I guess it should work and I'm at fault.

Probably.

[2017-05-09 16:16] hawkrives commented on #1049
Yep. My fault. https://runkit.com/hawkrives/semver-test

[code]

returns `false`

[2017-05-09 16:20] hawkrives commented on #1049
… er. PEBCAK. 2.0.0 is not 2.2.0…

bad Hawken test.

[2017-05-09 16:22] hawkrives commented on #1049
[code]

[2017-05-09 17:19] hawkrives commented on #935
I'm going to release beta 7, primarily to incorporate #1053, but also to make sure it doesn't crash with #1055.

[2017-05-10 13:35] drewvolz commented on #1044
This all sounds great to me.

[2017-05-10 15:41] hawkrives commented on #1044
Given that `nightly` is pretty much going to be incompatible with the release channels, I don’t think we can promote from nightly to anything else.

So my suggestion is more along the lines of, `nightly` is incompatible with `release`, but we still want to be able to test releases before everyone gets them. So, whenever we commit to a release branch, that commit is sent to the staging channel with

[2017-05-10 16:32] elijahverdoorn commented on #935
@hawkrives Haven't had a chance yet, I'll get it out over codepush... I want to get this release done so that I can FINALLY stop holding you and @drewvolz up.

[2017-05-10 16:34] elijahverdoorn commented on #1044
Love it.

[2017-05-10 16:37] hawkrives commented on #935
Alrighty!

Beta 7 is stable, fyi.

[2017-05-11 13:52] hawkrives commented on #622
I've enclosed below some thoughts around this bug that have been languishing in my chat archives for many moons.

---

#### Hawken Rives, [Jan 25, 2017, 10:19 AM]:
I am reasonably sure that we'll need to observe the entire list of schedules for a building in order to fix this, instead of the current one-schedule-at-a-time method…

… of course, then you still have the issue of between weeks, so I'd

[2017-05-17 20:32] hawkrives commented on #935
I'm going to kick off a v2.2.1 build and submit to testflight.

@elijahverdoorn, I still need the Google Play login info :-)

[2017-05-18 16:27] hawkrives commented on #935
I'm going to keep this open until 2.2 is fully released.

[2017-05-18 16:27] hawkrives commented on #716
I think this was just a temporary bug.

[2017-05-18 16:27] #716 closed, assigned to nobody

[2017-05-18 20:13] hawkrives commented on #612
@zimmer18 / @elijahverdoorn / @erichkauffman  When it says "Telecom", is that the Switchboard?

[2017-05-18 20:18] hawkrives commented on #714
this is actually done lol

[2017-05-18 20:18] #714 closed, assigned to nobody

[2017-05-18 20:19] hawkrives commented on #112
I think this is now completed – I just checked off SIS/Courses, because we disabled it, and I checked off Oleville, because it's been merged with News.

[2017-05-18 20:20] hawkrives commented on #112
@drewvolz I'll let you close it / provide an update if we're not done with this.

[2017-05-18 20:51] drewvolz commented on #112
Looks good to me.

[2017-05-18 20:51] #112 closed, assigned to hawkrives

[2017-05-18 21:03] hawkrives commented on #612
Also, for BonApp, do we want the Catering Office, the management office, or both?

[2017-05-18 21:06] hawkrives commented on #612
The GSC has no posted hours on their office, nor their website.

[2017-05-18 22:14] hawkrives commented on #534
Done in v2.2

[2017-05-18 22:14] #534 closed, assigned to hawkrives

[2017-05-18 22:14] hawkrives commented on #534
Closed by #1053

[2017-05-18 22:17] hawkrives commented on #935
We had an app rejection from Apple because we mentioned "Android" in our release notes.

- I removed all mentions of Android from the release notes
- I will go update the wiki page on release notes to support separate iOS/Android sections
- I have re-submitted the app

[2017-05-18 22:26] hawkrives commented on #853
@drewvolz: https://github.com/StoDevX/AAO-React-Native/issues/853#issuecomment-286102686

Given that the skipped hour is from 12:59am to 2:00am, we should attempt to figure out how to continue showing "2:00am" as the close label, as the offices will _technically_ close an hour before they normally do (if you measure by the duration they were open).

[2017-05-18 22:42] hawkrives commented on #1007
@drewvolz I'm going to close this, and if the "known issue" makes its way into a released version of iOS then we'll revisit?

[2017-05-18 22:42] #1007 closed, assigned to nobody

[2017-05-19 23:48] hawkrives opened #1092 "Add data bundling to the gradle build process"
I moved the `npm run bundle-data` command into the Xcode build process in https://github.com/StoDevX/AAO-React-Native/commit/1ec3ff9c5a0046d6a6d7512163e9ee213f5e9379.

It'd be really nice to do that for Android.

@elijahverdoorn, if you want to tackle calling `npm run bundle-data` from somewhere in gradle, that'd be grand.

[2017-05-20 05:40] hawkrives commented on #1044
@elijahverdoorn had a good heuristic for when to release new binaries:

[2017-05-20 05:40] #1049 closed, assigned to nobody

[2017-05-20 05:41] hawkrives commented on #935
I'm going to close this, as v2.2 is now out for iOS, and android is just waiting for a few more people to make sure it works properly!

[2017-05-20 05:41] #935 closed, assigned to nobody

[2017-05-21 21:08] hawkrives opened #1100 "Update Rølvaag hours"
![5e6bb75e-3e3f-11e7-88d4-080f6f3dadaa](https://cloud.githubusercontent.com/assets/464441/26288047/2f7c7906-3e4e-11e7-826e-a5632530d269.JPG)

[2017-05-21 21:09] hawkrives opened #1101 "Add y/m/d overrides to the hours schedules"

[2017-05-21 23:53] #932 closed, assigned to nobody

[2017-05-22 16:16] elijahverdoorn opened #1105 "Add Right Swipe for main screen"
Idea:
Let's keep track of a user's most-used view, and if on the main (home) screen the user swipes right, that view should be started. It's a small feature, but for those that only really use one view, it would be a faster way to get to it. Alternatively, we could have a "favorite" view that the user could set (in the edit screen? options?) so that they can set the "swipe right" screen. The swipe

[2017-05-22 18:02] elijahverdoorn opened #1106 "Building Hours ICS"
Let's transition building hours to parsing ICS files or querying an external calendar solution.

@elijahverdoorn: Idea: Google calendar. have the user make a "building hours" calendar, and just take the data that we need from that. We'd query for at most one week's worth of data at a time, and most weeks would be the same. We could even write a bot to do it and just have our own Gcal -> json pipel

[2017-05-28 02:06] hawkrives commented on #183
https://github.com/facebook/react/issues/2787#issuecomment-304485634

[2017-06-02 14:44] drewvolz opened #1131 "Remove codepush"
@hawkrives has a few thoughts on this:

[2017-06-02 17:53] elijahverdoorn commented on #1131
I think that removing it is a mistake. We should have a conversation about how we plan to use it, and should set some standards for notifying users that we're using it, but I think that the ability to correct our mistakes is too powerful to ignore.

[2017-06-02 19:50] hawkrives commented on #1131
On the one hand, there's a need to correct our mistakes immediately; on the other, Apple's app review is now close to 24 hours, so we'd still be able to fix bugs in ~one day.

[2017-06-02 20:48] elijahverdoorn commented on #1131
I think that because people use the app to plan their day, we have an ethical concern here - what's worse: changing an app installed on someone's device without telling them about it, or having someone rely on our app to make important decisions when that information is false? I'm really not sure.

[2017-06-02 20:55] hawkrives commented on #1131
Continuing with that train of thought, most of the "data" in the app is only sourced from the app _bundle_ in offline situations, so people checking building hours, calendar, or news will receive the latest data.

Bus schedules don't update from the network, however, but that's not a technical limitation.

[2017-06-03 03:07] drewvolz commented on #1131
@hawkrives and I absolutely agree with you @elijahverdoorn that users should be notified of any changes. But as far as the ability to correct our mistakes, we still have that ability. I feel that codepush is neat, but it's a headache.

I have a huge issue with the betas reverting back to the previous codepush bundle when I am trying to test the app. But with TestFlight, we can update beta builds e

[2017-06-03 03:14] hawkrives commented on #1131
^ about @drewvolz's specific issue with testflight+codepush: it's not an insurmountable issue, but it's more work that needs to happen, and … there's just too much magic in codepush for my liking.

I don't trust us (read: me) to not mess up (our codepush setup / the app keys / the build process)…

(I don't want to implement my proposal, either.)

I just … I originally wanted codepush so that we co

[2017-06-03 15:39] drewvolz opened #1135 "Refresh app after reset"
We need to add a way to refresh the app state after hitting "restart".

We currently do this with codepush ([source/lib/refresh.js:9](https://github.com/StoDevX/AAO-React-Native/blob/master/source/lib/refresh.js#L9)), but since #1134 is thinking about removing it, we will need to find another way.

Maybe using [react-native-restart](https://github.com/avishayil/react-native-restart)?

[2017-06-03 15:41] drewvolz opened #1136 "Remove app version moniker in Settings"
Remove the moniker from the app version. The production builds of the app currently say "[beta]".

[code]

[2017-06-05 05:19] #1131 closed, assigned to nobody

[2017-06-05 12:44] drewvolz opened #1141 "[iOS] Fix keyboard showing up over Orgs detail"
The keyboard consistently appears over the detail view of a student org with these steps:

1. Open student orgs list
2. Search for org with website in detail (Agnes A Cappella, GLOW, etc)
3. Tap on result and go to detail
4. Tap link to open browser
5. Go back, notice the keyboard on the detail view

Something something resign first responder.

[2017-06-05 13:03] #1135 closed, assigned to hawkrives

[2017-06-05 13:25] #1136 closed, assigned to hawkrives

[2017-06-07 03:29] hawkrives opened #1145 "Upgrade past React-Native v42"
The blocker to upgrading is that rn@43+ uses React@16, which is still in Alpha.

It's mostly stable; all of facebook.com is running on react@16.

However, we have various dependencies that require react@15:

- [ ] enzyme
- [ ] react-native-mock
- [ ] react-native-maps

We use Enzyme in a few tests; it lets us render a partial tree of react components and make assertions about that tree. (see the e

[2017-06-07 03:38] hawkrives opened #1146 "Move to react-navigation"
From the release notes for https://github.com/facebook/react-native/releases/tag/v0.44.3:

I have a local branch that I'll push soon that starts us down this road. It accidentally grew into a "let's rework News to use redux" branch too, so I'll try to remove that and just make a "replace Navigator with React Navigation" branch. (pushed at [`react-navigation`](https://github.com/StoDevX/AAO-React-N

[2017-06-07 03:49] hawkrives commented on #1146
Other benefits of react-navigation: drop shadows when wiping back on iOS, better platform defaults, text size in the navbar isn't affected by accessibility customizations (which is what the native apps do).

So by changing to React Navigation, we'll be able to close https://github.com/StoDevX/AAO-React-Native/issues/590.

[2017-06-10 03:26] hawkrives opened #1155 "Add Northfield Lines schedule + real-time bus support"
They both can come from their official bus tracker: http://northfieldlines.com/metro-express/real-time-express-locator/

I think there are two main endpoints we'll want to use:

<details>
<summary><a href="https://services.saucontds.com/service-schedule-server/public-key/customerMapData?publicKey=f6158a5f-943d-596e-bf8d-16c9dd03919c&mapId=1299"><code>/customerMapData</code></a></summary>

[code]

[2017-06-10 03:29] hawkrives opened #1156 "Add map view of Northfield Express bus + colored routes"
We already have coordinates for the express in our data (https://github.com/StoDevX/AAO-React-Native/blob/master/data/bus-times/express.yaml).

The other two don't, but it wouldn't be too much extra work to collect the data points.

I envision a UITableCell / android list equivalent at the top/bottom of the times list that opens the map view.

Thoughts?

---

- [x] Northfield Express
- [ ] Red Rou

[2017-06-10 17:31] elijahverdoorn commented on #1146
this sounds awesome.

[2017-06-10 17:34] elijahverdoorn commented on #1155
Looks good - I do want to be careful to put a disclaimer on the page that live-updates (and we should probably add one to the existing transportation section) that says something to the effect of "this could be totally wrong". We don't have to show it every time, maybe just on first launch of the view, but I think it would make me feel better.

[2017-06-10 17:36] elijahverdoorn commented on #1155
Just looked and they don't seem to have an app that does this yet - that was another concern that came to mind (I don't think it's right for us to compete with them).

[2017-06-10 19:54] hawkrives opened #1158 "Add “report a problem” button / functionality to BuildingHours"
So that we can crowdsource the info.

---

- [ ] styling (namely the colors of the day picker buttons) (#1509)
- [x] moving the "submit a problem" button to the bottom of the detail view
- [x] ~~implementing Github PR abilities~~ removed
- [x] implementing serialize-to-nice-YAML ability

[2017-06-10 20:30] hawkrives opened #1159 "Transportation view headers should be sticky"
This is visible on a 5s-sized screen.

[2017-06-10 20:31] hawkrives commented on #1159
<img width="327" alt="6" src="https://user-images.githubusercontent.com/464441/27006100-c3324e8e-4df1-11e7-963d-50021fc8d4d9.PNG">

[2017-06-11 03:54] #1044 closed, assigned to nobody

[2017-06-11 15:16] drewvolz commented on #1155
I don't see that as competing. This would be a free way to expose already-public information listed on their website in a mobile format.

[2017-06-12 15:39] hawkrives commented on #612
@elijahverdoorn I don't think we need the BonApp office. (Also they don't post any hours anywhere.)

The telecom switchboard is no more.

That leaves us with the GSC, who should be adding hours to their website soon.

[2017-06-12 15:39] hawkrives commented on #1159
meh.

[2017-06-12 15:39] #1159 closed, assigned to nobody

[2017-06-12 15:39] hawkrives commented on #1159
i don't care enough to restructure BusView to use a ListView.

[2017-06-13 03:32] #1100 closed, assigned to nobody

[2017-06-13 03:32] #1101 closed, assigned to nobody

[2017-06-13 03:36] drewvolz commented on #1156
Thought: to make the map view more discoverable, we could also add a button to the navigation bar.

[2017-06-13 03:38] hawkrives commented on #1156
I would like for the button in the navbar to replace the row at the bottom.

[2017-06-15 01:13] #506 closed, assigned to nobody

[2017-06-15 01:13] #578 closed, assigned to nobody

[2017-06-15 01:13] #590 closed, assigned to nobody

[2017-06-15 01:13] #1146 closed, assigned to nobody

[2017-06-15 01:29] rye commented on #590
😍

[2017-06-15 03:24] hawkrives opened #1186 "LaunchScreen's status bar coverage is iPhone-width on iPad"
I'll try to get a screenshot later.

The toolbar goes the full width, but the status bar is less than half the width of my iPad's screen.

[2017-06-15 03:25] hawkrives opened #1187 "Bus map sometimes opens completely zoomed out"
I thought I'd fixed it, but I'm seeing it on my iPad at least.

Screenshot to come later.

![img_0003](https://user-images.githubusercontent.com/464441/27164436-ee624afa-5152-11e7-849e-a53032f716cb.PNG)

[2017-06-15 03:36] hawkrives opened #1188 "Report Hours Issue screen "welcome" text is not padded"
yeah yeah. I can't believe I didn't fix it before I merged it.

![img_0004](https://user-images.githubusercontent.com/464441/27164443-fb9fa758-5152-11e7-82b6-9dde3803428d.PNG)

[2017-06-15 03:38] hawkrives opened #1189 "Report Hours screen doesn't actually submit anything"
I'm envisioning it directly submitting a PR to our repo, by way of a github token embedded in the app.

To do this, we'll need to be able to format YAML in a way that we like from a data structure, and we'll need to hook up the PRing bit too.

[2017-06-15 03:38] hawkrives opened #1190 "Report Hours screen's Delete Schedule buttons have no top border and a double bottom border"
as it says in the title

![img_0004](https://user-images.githubusercontent.com/464441/27164443-fb9fa758-5152-11e7-82b6-9dde3803428d.PNG)

[2017-06-15 03:39] hawkrives opened #1191 "React Navigation's screen background colors clash with ours/tableview-simple's"
We'll need to find a way to adjust one or the other.

![img_0004](https://user-images.githubusercontent.com/464441/27164443-fb9fa758-5152-11e7-82b6-9dde3803428d.PNG)

(at the bottom)

[2017-06-15 03:40] hawkrives commented on #1050
This still happens with React Navigation.

Not that I was expecting it to be fixed; just noting it.

[2017-06-15 03:59] hawkrives commented on #1186
<img width="576" alt="screen shot 2017-06-14 at 10 58 51 pm" src="https://user-images.githubusercontent.com/464441/27164769-1bbbfaee-5155-11e7-93cb-0f81c6ecba20.png">

[2017-06-15 05:33] hawkrives opened #1192 "Calendar detail view's description should be multi line"
It's currently restricted to a single line.

![image](https://user-images.githubusercontent.com/464441/27166703-307d1e24-5162-11e7-810c-cdb2c6fff90d.png)

[2017-06-15 05:37] hawkrives opened #1193 "Use appropriate image sizes for the device's screen"
We're currently using 1440w images.

My iPad mini 1, non retina though it may be, shows me jpeg compression artifacts on some of the images.

I can only imagine how bad it would be on a retina iPad.

[2017-06-15 05:37] hawkrives commented on #1193
I think we have a partial collection of 2048w images.

[2017-06-15 05:40] hawkrives opened #1194 "Substitute "12am" and "12pm" with "midnight" and "noon" in Building Hours?"
Idk. Might be worth checking out.

[2017-06-15 10:44] drewvolz opened #1195 "Settings crashes from old navigation calls"
Need to replace the last of the  `this.props.navigation.push` calls with `this.props.navigation.navigate`. Found rows that push new views in Settings that are still referencing the old navigator calls which causes the app to hang and crash in the beta.

[2017-06-15 10:58] drewvolz commented on #1188
This one isn’t on you entirely. You mentioned that I should poke at this before it was merged. I’ll see what I can do.

[2017-06-15 11:00] drewvolz commented on #1190
The divider oddly enough shows up on a “new” instance of those schedules from the “Add new schedule” button.

[2017-06-15 11:01] drewvolz commented on #1186
Wow. Good catch.

[2017-06-15 12:03] hawkrives opened #1196 "Vendor the datepicker package into our repo"
It’s pretty much just a wrapper around them, but I don’t need a ton of code to just switch between the two based on platform.

Hopefully switching away from that package will also fix the picker-shows-times-in-GMT issue.

[2017-06-15 12:04] hawkrives opened #1197 "Date picker in Report Hours Problem view shows times in GMT"
And I’m not sure why.

[2017-06-15 12:08] hawkrives opened #1198 "Calendar’s Detail view should extract links like Student Orgs does"
See title

[2017-06-15 12:09] hawkrives commented on #1186
It helps that my iPad is really slow :)
I get to see the launchscreen for a few seconds.

[2017-06-15 12:10] hawkrives commented on #1188
That was just because I was feeling too lazy to do it ;)

Don’t we have this somewhere else in the app? Worst case, you can probably pull the padding numbers from, say, Credits.

[2017-06-15 12:10] hawkrives commented on #1195
Which rows? I swear I got them all…

[2017-06-15 12:11] hawkrives commented on #1195
(Or just fix them and show me that way :))

[2017-06-15 12:11] drewvolz commented on #1188
Does wifi reporting have it? I’m not incredibly concerned about replicating something but if we do have something we like, we’ll use it.

[2017-06-15 12:13] hawkrives commented on #1190
Bizarre.

Usually when tableview-simple does a double border, it’s because we have a `null` in the Section (since the borders are controlled by Section, not Cell.)

However, I looked here and couldn’t find any null cells. So I’m not sure what’s going on.

[2017-06-15 12:13] hawkrives commented on #1188
… I think Wifi reporting uses the card from Important Contacts.

[2017-06-15 12:13] drewvolz commented on #1195
FAQ, credits, privacy, and legal.

[2017-06-15 12:13] hawkrives commented on #1195
Dang. Thanks.

[2017-06-15 12:14] hawkrives commented on #1195
Bad flow. You should catch these things lol.

[2017-06-15 12:16] drewvolz opened #1199 "Adapt split view for iPad home view"
One handed usage was mentioned. I was thinking that a drawer was the right answer for iPad: the two-column SplitViewController. This would move the home buttons to the side of the view allowing for accessible navigation. This frees up the rest the view for content.

![image](https://user-images.githubusercontent.com/5240843/27180806-fb9da6f6-51a2-11e7-90d8-266682b0a00f.jpg)

[2017-06-15 12:17] hawkrives opened #1200 "iPad views should use a split screen approach"
See title

[2017-06-15 12:18] hawkrives commented on #1200
Closed in favor of #1199.

[2017-06-15 12:18] #1200 closed, assigned to nobody

[2017-06-15 12:42] hawkrives opened #1201 "ListViews with disclosure indicators need more padding"
Namely on the right side.

Screenshots incoming in a bit.

[2017-06-15 12:44] hawkrives commented on #1190
The no-top-border appears to come from the positioning in the list; if you add a new Schedule, you never get the border under the third set of hours.

Screenshots incoming.

[2017-06-15 22:27] rye commented on #1146
FWIW, this (and #1160) improved the UI a lot for me. Here's a peek at it on my device. Pretty!

![screenshot_20170615-172140](https://user-images.githubusercontent.com/1566689/27204224-80779d90-51ef-11e7-9f0f-6e94fdafea0a.png)

[2017-06-15 22:29] hawkrives commented on #1146
@rye Woot!

[2017-06-15 22:39] hawkrives commented on #1196
The React Native standard library includes DatePickerIOS/Android, and TimePickerAndroid. We'll just need to use those.

[2017-06-15 22:52] hawkrives opened #1204 "Builds are currently failing because React seems to have unpublished a package"
See https://github.com/facebook/react/issues/9981.

[2017-06-15 23:09] hawkrives commented on #1204
npm is currently having some issues, I think:

[code]

[2017-06-15 23:09] hawkrives commented on #1204
I'll just retry any failed builds in the morning.

[2017-06-16 15:43] #1191 closed, assigned to nobody

[2017-06-16 15:43] #1195 closed, assigned to nobody

[2017-06-16 19:04] hawkrives commented on #1204
It's all working again.

[2017-06-16 19:04] #1204 closed, assigned to nobody

[2017-06-16 19:20] drewvolz commented on #1187
I would have never known what continent I was on if it hadn't been for this bug.

[2017-06-17 00:38] hawkrives opened #1211 "Create an "Add Event to [Device] Calendar" button"
It would show on the event detail view, and add the event to your device's calendar.

[2017-06-17 03:52] #1192 closed, assigned to nobody

[2017-06-17 03:53] hawkrives opened #1214 "Figure out how to provide changelogs for Testflight builds"
I feel less of a need to provide them for Android builds, as they can happen automatically, but the TestFlight ones would benefit from a list of the commits that went into the release or something.

[2017-06-17 14:55] hawkrives opened #1217 "Add "Powered By …" text to each remote data source's list's detail view"
Like the calendar, Student Orgs, dictionary, building hours.

Ideally with a link so the user can at least have some inkling of who’s responsible for each kind of data.

- [x] Building Hours detail
- [x] Important Contacts detail
- [x] Bus routes list
- [x] Student Orgs detail
- [ ] Calendar detail
- [x] Dictionary
- [ ] Student Work detail
- [x] "Other Modes" list

---

-  ~~Streaming~~
-  ~~Menu

[2017-06-17 21:28] drewvolz commented on #1156
This would be useful if we didn't have to know the exact route: https://medium.com/@ali_oguzhan/react-native-maps-with-google-directions-api-bc716ed7a366

[2017-06-18 00:43] #1198 closed, assigned to nobody

[2017-06-18 21:10] drewvolz commented on #155
- Can confirm that rapidly tapping edit or settings pushes multiple views
- Can confirm that sequentially tapping edit and settings pushes multiple views
- Can confirm that sequentially tapping any of the home buttons pushes multiple views

[2017-06-18 21:35] elijahverdoorn commented on #1217
Like as the last item in the list? I'd be down for that.

[2017-06-18 21:37] elijahverdoorn commented on #1189
I still think that we should run a backend server for this stuff instead of directing things to Github, but if something was built to direct this information to GitHub, it would be better than nothing.

[2017-06-18 22:17] hawkrives commented on #1189
I still don’t see what a server gets us over static files in github. We’d still need to verify submissions before accepting them, which PRs give us for free. We’d have to _host_ the server and maintain uptime, which github gives us for free.

What else is there?

Kinda a moot point, since I haven’t built the PRing function yet, but I’m curious.

[2017-06-18 22:17] hawkrives commented on #155
@elijahverdoorn Can you replicate this?

[2017-06-18 22:20] hawkrives commented on #155
Fine, I can replicate.

We are doing better than we did before, though; pushing multiple views doesn’t let you go back to a blank screen anymore.

[2017-06-18 22:21] hawkrives commented on #155
@drewvolz Yes, the branch was deleted, because nothing was happening and master had changed drastically.

[2017-06-19 02:07] hawkrives commented on #1189
<details><summary>data</summary>

[code]

</details>

[code]

[code]

hey this might actually work

[2017-06-19 02:19] hawkrives commented on #1189
[code]

[code]

[2017-06-19 04:45] stodevx-hours-bot opened #1228 "Testing"
Testing api access

[2017-06-19 04:46] hawkrives commented on #1228
hey cool, it works.

[2017-06-19 04:47] hawkrives commented on #1228
now bedtime.

[2017-06-19 04:48] #1228 closed, assigned to nobody

[2017-06-19 12:44] #1186 closed, assigned to nobody

[2017-06-20 13:38] drewvolz opened #1232 "Shared Calendar event lacks date"
The localized date/time used gets a readable time while sacrificing the day the event happens.

[2017-06-20 13:39] drewvolz opened #1233 "Calendar event detail view lacks date"
The localized time is shown but the date is not shown.

[2017-06-20 13:43] drewvolz opened #1234 "Building hours edit capitalization"
A nice tweak would be to provide an autocapitalized default for the title and notes editor when editing a buildings hours schedule.

[2017-06-20 17:47] drewvolz opened #1235 "Detail view text needs to agree on a size"
Detail views for student work, student orgs, and calendar should agree on a text size. This is partly my fault.

- [ ] Student Work
- [ ] Student Orgs
- [ ] Calendar

Student Work | Student Orgs | Calendar
--- | --- | ---
<img width="272" alt="screen shot 2018-01-14 at 9 32 20 pm" src="https://user-images.githubusercontent.com/464441/34926017-75f0e400-f972-11e7-863f-31913f1d631d.png"> |  <img widt

[2017-06-22 01:52] hawkrives commented on #1188
Closed by #1220

[2017-06-22 01:52] hawkrives commented on #1188
Letting Drew close this

[2017-06-22 01:52] drewvolz commented on #1188
Closing!

[2017-06-22 01:52] #1188 closed, assigned to nobody

[2017-06-22 01:53] #1234 closed, assigned to nobody

[2017-06-22 15:24] #853 closed, assigned to nobody

[2017-06-26 19:38] hawkrives opened #1248 "Android CustomTabs lib is broken"
Yaaay.

@rye's app (beta 9) crashes whenever he tries to open a "custom tab" thing.

See: https://app.bugsnag.com/gobbldygook/all-about-olaf-1/errors/59430a54c25f9000187952fe?filters%5Bevent.since%5D%5B%5D=30d&filters%5Berror.status%5D%5B%5D=open

[2017-06-26 19:40] hawkrives commented on #1248
I'm apparently behind by one patch release in our code. I'll update that.

[2017-06-28 12:02] hawkrives commented on #214
https://news.ycombinator.com/item?id=14651734 - someone made an IPA pronouncer for Wikipedia. That might have some useful stuff for this effort.

[2017-06-28 13:06] drewvolz commented on #214
What about recording the pronunciations ourselves? The IPA pronouncer seems to have a base of an English TTS library. Maybe it wouldn’t be too difficult to get them into a github repo of our own.

[2017-07-14 20:21] hawkrives commented on #1248
Closed by https://github.com/StoDevX/AAO-React-Native/pull/911

[2017-07-14 20:21] #1248 closed, assigned to nobody

[2017-07-17 13:17] hawkrives opened #1294 "Do we use the Important Contacts images in the app anywhere?"
Wondering.

[2017-07-17 13:51] drewvolz commented on #1294
We don’t use them from what I can see.

[2017-07-17 13:53] drewvolz commented on #1294
I’m wanting this view to transition into having less walls of text in favor of a more navigable directory.

[2017-07-19 02:41] elijahverdoorn commented on #1294
Currently I don't think we use them.

If I'm correct, this is the only view that has survived since 2.0 without major changes to the UI, so it's probably due for a change. 😄

[2017-07-19 03:12] hawkrives opened #1297 "Important Contacts should hyperlink hyperlinks"
![image](https://user-images.githubusercontent.com/464441/28349058-247ff24a-6c06-11e7-839f-f550f6ffe592.png)

[2017-07-19 04:41] rye opened #1299 "Transportation "Open Map" is broken (Android, 2.4β11)"
See [the error in BugSnag](https://app.bugsnag.com/gobbldygook/all-about-olaf-1/errors/596edfe4a83b40001b21319b) for crash logs.  Seems to be something up with `react-native-maps`.

[2017-07-19 12:49] hawkrives commented on #1299
![img_0408](https://user-images.githubusercontent.com/464441/28367497-ccfced56-6c56-11e7-8acc-d0ad79519abc.PNG)

Another view of the error.

[2017-07-19 14:12] drewvolz commented on #1299
Something something update google play services in `build.gradle`?

https://github.com/airbnb/react-native-maps/issues/1051
https://github.com/airbnb/react-native-maps/issues/1408
https://github.com/airbnb/react-native-maps/issues/1028

[2017-07-19 16:07] drewvolz opened #1301 "Webcams view funkiness"
The layout for the webcams view decided it would resize the camera preview buttons after yesterday's react-native upgrade, #1298.

<img width="400" src="https://user-images.githubusercontent.com/464441/28387195-c50a3490-6c93-11e7-8779-38b38d17127a.png" />

[2017-07-21 00:19] hawkrives commented on #1145
… this has been done

[2017-07-21 00:19] #1145 closed, assigned to nobody

[2017-07-22 01:58] #1189 closed, assigned to nobody

[2017-07-22 13:45] hawkrives opened #1308 "Building hours update for Stav Hall"
Before:
[code]

  After:
[code]

---

Ok, something weird is going on here.

[2017-07-22 13:46] hawkrives commented on #1308
The email lost all indentation, but the link included it, and it's present in the source of the above message correctly, but the code blocks aren't showing it - the `hours` keys do in fact have indentation.

[2017-07-22 13:47] hawkrives commented on #1308
As seen here:

![img_0412](https://user-images.githubusercontent.com/464441/28491637-4dd76338-6eba-11e7-8cc6-1eccd18a1239.PNG)

[2017-07-22 13:49] hawkrives commented on #1308
Ah, wait, here's something - the "Before/After" titles and the starts of the code blocks are also indented for some reason, and when I decent the start of one of the code blocks, it properly indents the "hours" keys.

So we just need to figure out why most of the link is getting indented by two spaces.

[2017-07-22 13:50] hawkrives commented on #1308
I think I'd also like to remove the trailing newline on the code blocks.

I bet the spaces are coming from my "dedent" call - I indented the body further than the closing backtick, which explains it.

[2017-07-23 02:24] hawkrives opened #1310 "Building hours update for Stav Hall"
## Before:

[code]

## After:

[code]

[2017-07-23 02:24] #1308 closed, assigned to nobody

[2017-07-23 02:26] hawkrives commented on #1310
The only thing that would be nicer would be to have it automatically diff them in this body... but I'd rather not bring in another runtime dep just for that, so how's this look?

Cc @rye @elijahverdoorn @drewvolz

[2017-07-23 06:36] elijahverdoorn commented on #1310
Yeah, I think that's good. Is there a way to auto-label them as "User Submission" or something so that we can filter?

[2017-07-23 13:52] hawkrives commented on #1310
Well, it should have automatically labeled this one as data/hours, so... it'd probably be easiest to just edit the title.

[2017-07-23 13:52] hawkrives commented on #1310
The current title is auto-generated - "Building hours update for $building"

[2017-07-23 17:05] hawkrives commented on #1310
Ah wait, it's still not indenting properly. See the things under the breakSchedules key? I'll have to look into it again.

[2017-07-24 02:34] hawkrives opened #1313 "Don't release new nightlies if nothing has changed"
Travis currently is releasing new nightly builds every night, even if we haven't committed that day.

I would like to figure out how to avoid that.

I'm not sure if we can, though; on hockey, I did this via the changelogs, but I don't think I have access to old TestFlight changelogs.

[2017-07-25 06:33] drewvolz commented on #1310
@hawkrives I think you solved this with #1312 ?

[2017-07-25 11:48] hawkrives commented on #1310
I think so. Let me update to the new build and I'll check.

[2017-07-25 11:51] hawkrives opened #1318 "Building hours update for Stav Hall"
## Before:

[code]

## After:

[code]

[2017-07-25 11:51] hawkrives commented on #1310
Yep. Closed by #1312.

[2017-07-25 11:51] #1310 closed, assigned to nobody

[2017-07-25 12:22] hawkrives commented on #1318
I would really like to get a diff view in here as well… hmm. For our purposes, I could probably write a really simple one, since we don't need a fancy algorithm.

[2017-07-25 12:29] #1301 closed, assigned to nobody

[2017-07-26 05:05] elijahverdoorn commented on #1318
It really only needs to diff the stuff inside the `[]`. Is there an API for this that we could hit with a built-in link in the email? Could we spin our own API and just hit that to keep the package size down?

[2017-07-26 12:23] hawkrives commented on #1318
I think I can make one in about +-50 lines. I'd rather not make a network call, and I haven't found any npm packages that work that do what i want.

[2017-07-28 12:04] hawkrives opened #1322 "Show app analytics in-app somewhere"
It'd be really cool.

I also don't entirely know if it's possible with stock GA, but it'd be really cool.

I'm going to close this for Drew, but we can discuss while it's closed and reopen it when someone starts working on it.

[2017-07-28 12:04] #1322 closed, assigned to nobody

[2017-07-28 12:07] hawkrives commented on #1318
Rather than a diff in here (also I don't remember the default maximum GET query size, but I'd rather now nearly double our current size), what if we just copied the thing from here into a PR and studied the diff there?

That would also get us the within-line diffs, which the normal mark-block-as-diff doesn't get us.

[2017-07-28 12:08] hawkrives commented on #1318
(@elijahverdoorn)

[2017-07-29 06:49] elijahverdoorn commented on #1318
We'd have to do that anyway if we were going to merge the change, so that makes sense, @hawkrives.

[2017-07-29 06:53] elijahverdoorn commented on #1322
I think that there are potential privacy issues with this. Most users have a reasonable expectation that data about them is being collected, which I'm not taking issue with, rather I think that as a user I'd be a little off-put if that same data were handed out without permission. If we get user permission, I'm fine with some general data going out, but otherwise I'm against this idea.

Other than

[2017-07-29 13:40] hawkrives commented on #1322
I was actually thinking that it would go the other way - i've been seeing this as compensation for us having google analytics track them

I will admit that i've been thinking that it would be prettt limited; no real-time information, for instance, and … ok, I guess I haven't thought past just showing essentially the "users over time" graph?

[2017-07-29 13:41] hawkrives commented on #1318
Alright, I'm going to close _this_ issue - I've got some other cleanup stuff I want to do to the view before the school year starts and we release v2.4, but that'll be tracked in some other issues.

[2017-07-29 13:41] #1318 closed, assigned to nobody

[2017-07-29 23:04] elijahverdoorn commented on #1322
It's a good thought. I'll keep it in mind and report back if I come up with something that this could be used for.

[2017-08-02 15:19] hawkrives opened #1334 "Hide flow problems in node_modules/"
From #1330:

<details><summary>So I wrote a little script to hide the node_modules errors from our flow output.</summary>

[code]

</details>

<br>

If we pipe the flow output through that, then we'll just see the errors that start in our own code.

It'll go from

<details><summary>before</summary>

[code]

</details>

<br>to<br>

<details><summary>after</summary>

[code]

</details>

<br>

I thin

[2017-08-02 15:31] drewvolz commented on #1334
I'm okay with this.

[2017-08-02 16:49] hawkrives opened #1335 "[idea] Use different app ids for release/beta/nightly builds"
Fastlane has an action to do this for us on iOS:

[code]
[code]
[code]

On Android, I'm sure it's possible but I'm not positive how.

I'd like to do this for nightly vs. beta/release, at least; I haven't decided where I sit on wanting a third app ID for beta.

---

This would allow us to have multiple copies of the app installed on our phones, instead of having to reinstall the app whenever we nee

[2017-08-02 16:54] hawkrives commented on #1313
My current idea for this is to check the git log to see if any commits were made in the 24 hours prior to the build's start time. We can get the start time with the travis API, https://docs.travis-ci.com/api#builds

[code]
[code]

[2017-08-03 18:36] hawkrives opened #1342 "[notice] I fixed the prettier-on-prs warnings; apologies"
https://github.com/StoDevX/AAO-React-Native/commit/b4716e59365f35111fd372433f27169ea02c04c3 fixes the current "prettier" warnings on the PRs.

[2017-08-03 18:36] #1342 closed, assigned to nobody

[2017-08-03 19:41] drewvolz opened #1343 "Prevent duplicate sections in student work list"
We need to group items into case-agnostic sections. So we either need to toUpper or toLower the data and the section header comparison. This is currently visible in the student work list with one item which has a lowercase header.

The problem is illustrated below:

**o**n-campus non-work study
**O**n-campus non-work study

This would create two different sections for the same group.

[2017-08-03 20:47] hawkrives commented on #1343
so we actually do that

[`views/student-orgs/list.js#L104`](https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/student-orgs/list.js#L104):
[code]

https://lodash.com/docs/#startCase

[2017-08-03 20:48] hawkrives commented on #1343
but good catch

[2017-08-03 20:49] drewvolz commented on #1343
You are referencing Student Orgs, and I am referencing Student Work.

[2017-08-03 22:00] hawkrives commented on #1343
oops

[2017-08-03 22:16] hawkrives commented on #78
Hawken Rives, [Aug 3, 2017, 5:09 PM]:
omg I found a papercut rest api

and it's enabled

https://papercut.stolaf.edu:9192/rpc/api/rest/internal/mobilerelease/api/all-printers?username=rives

(on-campus only)

(and it's internal/undocumented, but we really only upgrade papercut once/twice a year, so … I want to keep it at least until it breaks once)

… hmm. my … command line explorations … which ha

[2017-08-04 12:15] #1343 closed, assigned to nobody

[2017-08-04 13:50] drewvolz opened #1345 "Webcams and Radio are offline"
Backend switchover means we need to update the URLs. Here’s an example.

https://cdn.stobcm.com/webcams/himom.stream/master.m3u8

[2017-08-04 13:52] drewvolz opened #1346 "Add to known issues that radio and webcams are down"
See #1345 and add a known issue to our docs

[2017-08-04 14:45] #1346 closed, assigned to nobody

[2017-08-04 15:31] #1345 closed, assigned to nobody

[2017-08-05 05:07] hawkrives commented on #1297
Work on this is happening in the `linkify-urls` branch.

![image 2017-08-05 00 06 59](https://user-images.githubusercontent.com/464441/28993058-015fc99c-7972-11e7-8247-39d1caa95ee4.jpg)

[2017-08-06 00:56] hawkrives commented on #1211
https://github.com/wmcmahan/react-native-calendar-events looks like exactly what we'd want.

[2017-08-06 12:19] hawkrives commented on #1197
This probably will be resolved as part of #1196.

[2017-08-06 12:20] hawkrives commented on #1217
This will be much easier once the SectionList/FlatList PRs are merged.

[2017-08-07 01:02] #1194 closed, assigned to hawkrives

[2017-08-07 01:16] hawkrives opened #1375 "Building Hours on Android dies after a few screens"
Reported by @drewvolz in https://github.com/StoDevX/AAO-React-Native/pull/1363:

---

Android is witnessing a red screen, iOS is okay.

1. Open Hours list
2. Select "Stav Hall", "Convenience Store", "Reference Desk" ... (some do function correctly)
3. Error

<img src="https://user-images.githubusercontent.com/5240843/29008226-1e4a6114-7ae1-11e7-8504-05f091713606.png" height="610" />

[2017-08-07 01:42] #1232 closed, assigned to drewvolz

[2017-08-07 01:42] #1233 closed, assigned to drewvolz

[2017-08-07 02:34] hawkrives commented on #1211
I linked it to our project in [`origin/add-to-device-calendar`](https://github.com/StoDevX/AAO-React-Native/tree/add-to-device-calendar)

[2017-08-07 03:24] hawkrives opened #1376 "KSTO view crashes on iOS"
To reproduce: open the Ksto view on iOS, wait about 10 seconds.

Something in here is requesting data over the network, as I can see the network spinner spinning.

[2017-08-07 03:26] drewvolz commented on #1376
I'd say the network request is a correlation... just because we ripped out the uplink checking. I'm clueless as to what else could be causing the crash... something in `react-native-video`?

[2017-08-07 14:26] drewvolz commented on #1297
Closed by #1358

[2017-08-07 14:28] drewvolz commented on #1190
We’ve made progress on finding out how the divider gets drawn. Tracking the issue over at https://github.com/Purii/react-native-tableview-simple/issues/32

[2017-08-07 18:17] hawkrives opened #1383 "Organize data files by API version"
We should copy all the current api files into a `data/v1` folder, so we can make backwards-incompatible data changes in the future if we need to.

[2017-08-08 00:11] drewvolz opened #1386 "Landscape home screen edit needs work"
Need to adjust width of the view after each rotation

![edit-home-landscape](https://user-images.githubusercontent.com/5240843/29050785-47edad98-7bac-11e7-9cfe-d89205473210.jpg)

[2017-08-08 00:12] drewvolz opened #1387 "KSTO needs a scrollview"
Needs a scrollview.

![image 2017-08-06 19 48 28](https://user-images.githubusercontent.com/5240843/29050862-abea7402-7bac-11e7-817a-27bf71ca7d08.jpg)

[2017-08-08 00:16] drewvolz opened #1388 "Render org member email if the name is missing"
We should try to render the email address _if_ the position and name are blank.

What we render are member names and positions. It is possible to have members with no names and positions, but their email address is listed... so we end up with blank rows.

<img src="https://user-images.githubusercontent.com/5240843/29050894-cec88a2c-7bac-11e7-9c07-8270e0053583.jpg" height="550">

[2017-08-08 00:41] hawkrives commented on #1386
This issue also shows up on iPad: not on rotate, but when you open the app in split view or slide over. It also affect the home screen on iPad.

I believe the root cause is our checking of the viewport width once and caching it. I think that we will need to move that viewport check into the render function and provide the width of items as a dynamic style prop.

[2017-08-08 00:44] hawkrives opened #1390 "Allow landscape on iOS?"
Why not?

[2017-08-08 01:26] elijahverdoorn commented on #1390
No reason not to. PR approved.

[2017-08-08 01:29] elijahverdoorn commented on #1383
Should we semantically version these, so that each release gets a new folder name? I picture a global function `getDataFolder()` or similar so that we don't have to keep track of the mapping between app version and data api version.

[2017-08-08 01:29] drewvolz commented on #1390
Into the rabbit hole we go...

[2017-08-08 01:29] #1390 closed, assigned to nobody

[2017-08-08 01:30] hawkrives commented on #1383
I mean, I don't see a need for anything other than major versions in an api contract

[2017-08-08 01:33] hawkrives commented on #1383
But yes, breaking changes would be a new major version increment in the api version

[2017-08-08 01:39] hawkrives commented on #1187
If I can't figure something out about this by ship time, I will disable the entry point.

[2017-08-08 02:22] drewvolz commented on #1187
https://github.com/airbnb/react-native-maps/issues/919

[2017-08-08 02:25] drewvolz commented on #1187
https://github.com/airbnb/react-native-maps/issues/964#issuecomment-272701240
https://github.com/airbnb/react-native-maps/issues/964#issuecomment-320142430

[2017-08-08 02:27] drewvolz commented on #1187
~I'm thinking we should try changing `onRegionChange` to `onRegionChangeComplete`~ this simply resets the view _back_ to what it was originally...

[2017-08-08 03:46] drewvolz opened #1393 "Landscape alphabetlistview is cut off"
I think we were thinking about replacing this component.

<hr>

**Orgs alphabet list**

<img src="https://user-images.githubusercontent.com/5240843/29055374-26ce64cc-7bca-11e7-81ce-cc81a042cc39.PNG" />

**Dictionary alphabet list**

<img src="https://user-images.githubusercontent.com/5240843/29055375-26cedf9c-7bca-11e7-82c6-446d8b693001.PNG" />

[2017-08-08 03:48] drewvolz opened #1394 "Landscape report building hours missing borders"
The day boxes are missing their borders

<img src="https://user-images.githubusercontent.com/5240843/29055487-c9458316-7bca-11e7-976a-3e80ad1cc039.PNG" />

[2017-08-08 03:51] drewvolz opened #1395 "Landscape building hours images are not wide enough"
They do not expand to the full width of the view. Calculation bug with the parallax view?

<img src="https://user-images.githubusercontent.com/5240843/29055563-239d6b1c-7bcb-11e7-84bc-a679bdf64ec7.PNG" />

[2017-08-08 03:54] hawkrives commented on #1393
What does Apple do here? I think they start skipping every second letter or something when there's not enough space.

[2017-08-08 03:57] hawkrives commented on #1394
What
How

That makes no sense

[2017-08-08 03:58] hawkrives commented on #1395
It's probably caching the width of the device at startup time… that's going to be my go-to explanation for a while I think.

[2017-08-08 04:02] hawkrives opened #1396 "Upgrade ruby on Travis to 2.4.1"
We were using 2.3.1 because it was preinstalled on the JS builds, which saved us around 30 seconds per run.

The js builds now have 2.3.4 and 2.4.1 installed; fast,and runs on both, so imo we might as well go to 2.4.1.

This lives in … before_install? Or maybe this lives inside the .travis.yml config, I'm not sure.

[2017-08-08 04:02] hawkrives commented on #1396
This will shave 30-ish seconds of the js build, and probably some time off the other two as well.

[2017-08-08 12:17] hawkrives opened #1398 "Update Travis caching rules for android builds"
https://docs.travis-ci.com/user/languages/android/#Caching

[2017-08-08 14:28] #1396 closed, assigned to hawkrives

[2017-08-08 14:28] #1398 closed, assigned to hawkrives

[2017-08-08 14:58] #1187 closed, assigned to nobody

[2017-08-08 22:24] hawkrives opened #1404 "Transportation bus schedules are slow to use, sometimes"
Especially on slow phones.

I want to speed them up.

[2017-08-08 22:31] hawkrives commented on #1404
This needs to be profiled and sped up by doing less work, I think.

[2017-08-09 03:02] hawkrives commented on #1214
Closed by #1373

[2017-08-09 03:02] #1214 closed, assigned to nobody

[2017-08-09 22:44] hawkrives commented on #1297
Closed by #1357 / #1356

[2017-08-09 22:44] #1297 closed, assigned to nobody

[2017-08-10 22:27] #1387 closed, assigned to nobody

[2017-08-17 12:21] drewvolz opened #1436 "No bundle URL present in build 3752"
2.4.0 (3752) crashes from launch.

[2017-08-17 12:26] hawkrives commented on #1436
I guess step one is to do a fresh build of master locally. [3752](https://travis-ci.org/StoDevX/AAO-React-Native/builds/265408087) was built from https://github.com/StoDevX/AAO-React-Native/commit/be61e191b0c2dccea1747d295c0088704d9de5db.

[2017-08-17 13:05] drewvolz commented on #1436
I've now successfully built  [3752](https://travis-ci.org/StoDevX/AAO-React-Native/builds/265408087) from https://github.com/StoDevX/AAO-React-Native/commit/be61e191b0c2dccea1747d295c0088704d9de5db for iOS 10.3 on both Release and Development locally.

[2017-08-17 15:29] hawkrives commented on #1436
My next step would be to check the Travis logs for 3752.3 and see if there's anything weird in it.

Because there were no substantive changes from https://github.com/StoDevX/AAO-React-Native/compare/9679c0d8ee4cfa7030e83d9e47dcbab1ff615e67...be61e191b0c2dccea1747d295c0088704d9de5db.

[2017-08-18 16:29] #1388 closed, assigned to nobody

[2017-08-18 16:32] drewvolz opened #1439 "Danger has errored"
@hawkrives
https://github.com/StoDevX/AAO-React-Native/pull/1426#issuecomment-323221883
[code]

[2017-08-19 00:58] drewvolz commented on #1190
Closed by #1441

[2017-08-19 00:58] #1190 closed, assigned to nobody

[2017-08-21 00:13] hawkrives opened #1448 "RN v0.47/0.48 blockers"
Thanks to a Flow upgrade, we need for react-navigation to update.

They're starting to get back on top of things, but there's no hint of a new release date yet.

That's the only dep I know of that needs to update.

[2017-08-21 01:44] hawkrives commented on #1436
Here's a clue:

This is a [build log for CARLS](https://travis-ci.org/carls-app/carls/jobs/266580604#L3275-L3282) (I truly believe this is the exact same problem that AAO is having).

Take a look at the timestamps:

[code]

If we look at an excerpt of a [working build from AAO](https://travis-ci.org/StoDevX/AAO-React-Native/jobs/262071592#L3759-L3766), we see a much longer time period between "tra

[2017-08-21 02:26] hawkrives commented on #1436
On my new [test CARLS build](https://travis-ci.org/carls-app/carls/jobs/266654627#L3279-L3286), I'm back to 3 minutes for the bundling:

[code]

[2017-08-21 03:39] hawkrives commented on #1436
This has been fixed by #1449. If it comes back, we'll reopen.

[2017-08-21 03:39] #1436 closed, assigned to nobody

[2017-08-22 22:48] drewvolz commented on #1155
Known endpoints from [client.js](https://services.saucontds.com/northfield-lines/scripts/clientmap.js) (which the [webmap](http://northfieldlines.com/metro-express/real-time-express-locator/) includes)

- [customerMapInitializationData](https://services.saucontds.com/service-schedule-server/public-key/customerMapInitializationData?publicKey=f6158a5f-943d-596e-bf8d-16c9dd03919c&companyLocationId=10

[2017-08-23 00:25] hawkrives commented on #1155
(and this, boys and girls, is why we have the maxim "never trust the client".)

[2017-08-25 00:54] drewvolz opened #1460 "Landscape homeview funkiness"
Odd behavior if the app is launched in landscape. I'd expect for the views to be the 2:3 column layout instead of the 1:2 column layout.

~ | Portrait | Landscape
--|--|--
Start Portrait (expected) |  ![d0363b38-f484-4bee-b840-133e960240d5](https://user-images.githubusercontent.com/5240843/29694898-7786b784-890d-11e7-8aef-988e7eabe9ce.png) | ![8e70b23a-bd8c-46d5-9ff8-e26a9e93ae8c](https://user-ima

[2017-08-26 16:26] drewvolz opened #1467 "Tapping a ListFooter should open a website"
Eventually make the href in FlatList's ListFooter open a web browser.

[2017-08-26 19:04] drewvolz opened #1470 "Unknown building hours should be obvious"
If we are unsure of building hours, we default to closed. We could be more clear about them by removing the open/closed badge from them.

[2017-08-27 01:20] hawkrives commented on #1470
Or we could just remove them from the list. What use cases do they serve by being there otherwise?

[2017-08-27 01:56] drewvolz commented on #1470
The case where someone who knows them can hit the "edit" button and suggest them.

[2017-08-27 02:28] hawkrives commented on #1470
What about for offices that we don't have an entry for?

I would argue that we should solve that problem, and then remove the unknown building hours.

(Also, what buildings do we have with unknown hours? I thought we got them all?)

[2017-08-27 04:13] drewvolz commented on #1470
There’s quite a few that lack them

[2017-08-27 04:18] hawkrives opened #1471 "Use get-urls in Student Work"
We use the [get-urls](https://github.com/sindresorhus/get-urls) package in the Calendar detail view to extract URLs from descriptions; we should use it in Student Work, as well, instead of our current hand-rolled tool.

https://github.com/StoDevX/AAO-React-Native/blob/eef281196190b1bd2a73bd5dfd4b087a39e10e8a/source/views/sis/student-work/clean-job.js#L53-L59

[2017-08-27 06:44] hawkrives commented on #1376
… can we just embed a WebView that iframes the player? would that work? would it play in the background?

[2017-08-27 18:24] #1471 closed, assigned to nobody

[2017-08-28 03:04] hawkrives opened #1476 "Loading screen's storyboard doesn't landscape"
<img width="667" alt="screen shot 2017-08-27 at 10 02 47 pm" src="https://user-images.githubusercontent.com/464441/29757727-9e5e378e-8b73-11e7-930b-ec26bcd9839b.png">

[2017-08-28 03:19] drewvolz commented on #1476
I’ve seen that before but didn’t attribute it to the loading screen. Good catch.

[2017-08-28 03:29] hawkrives opened #1477 "iOS Navbar should shrink in landscape"
Us | iOS
--- | ---
<img width="667" alt="screen shot 2017-08-27 at 10 28 28 pm" src="https://user-images.githubusercontent.com/464441/29758190-20b2f5d2-8b77-11e7-8241-ef195fc30ac8.png"> | <img width="667" alt="screen shot 2017-08-27 at 10 28 19 pm" src="https://user-images.githubusercontent.com/464441/29758187-1b6a4d96-8b77-11e7-858e-7bd6c71f374d.png">

We should do this in order to maintain parit

[2017-08-28 03:34] hawkrives commented on #1476
This also exhibits itself when you reload the app, but I believe that they are separate causes.

[2017-09-01 12:03] drewvolz opened #1493 "Remote news css is not applying"
Introduced in #1490, a remote stylesheet is supposed to be injected from github pages.

[2017-09-01 12:16] drewvolz commented on #1493
The link to the styles is incorrect. It expects a CSS file, but I’ve produced a JSON file. The current data is https://stodevx.github.io/AAO-React-Native/news-styles.json.

[2017-09-01 13:05] hawkrives commented on #1493
Oh, riiiight. We'll want to generate two files from the single input file - a css file, for remote loading, and a json file, for local inclusion.

[2017-09-02 21:36] #1493 closed, assigned to nobody

[2017-09-04 16:45] hawkrives commented on #1196
It's pretty much, copy this file into our repo and edit to remove the options we aren't going to use.

https://github.com/xgfe/react-native-datepicker/blob/master/index.js

[2017-09-04 16:48] hawkrives opened #1502 "Disable Bus Map View"
It's not ready yet.

[2017-09-04 21:38] hawkrives opened #1508 "Store bus route colors in bus route files"
instead of separately, in the interface itself.

This would warrant a change to the schema, as well.

[2017-09-04 21:57] #127 closed, assigned to zimmer18

[2017-09-04 22:55] #1502 closed, assigned to nobody

[2017-09-05 02:17] #1158 closed, assigned to nobody

[2017-09-05 12:52] #1394 closed, assigned to nobody

[2017-09-05 21:41] drewvolz opened #1514 "Add Northfield News"
Sadly it is not `https`

**Site:**
http://www.southernminn.com/northfield_news/

**Feed:**
http://www.southernminn.com/search/?f=json&t=article&c=northfield_news&l=50&s=start_time&sd=desc

[2017-09-06 16:46] hawkrives opened #1516 "Add "closed" support to building hours"
It'd be nice to be able to say "This building is closed on this day".

`{days: [Sa], closed: true}` or something.

[2017-09-06 16:48] hawkrives opened #1517 "Add "Building hours subject to change without notice" to detail screens"
I'm just envisioning it in the footer, like the footer text on the list views.

We should put this here, in part because we're usually late with the updating of the hours, and in part because the college puts this notice on most of the printed hours sheets that it has.

I'd like this to make 2.4, so that it's out in the wild sooner.

[2017-09-06 16:51] hawkrives commented on #1516
We'll have to be careful, though, as old versions of the app won't know to look for the Closed key.

[2017-09-06 18:24] drewvolz commented on #1516
Hmm. That's true, it will not be backwards compatible.

[2017-09-06 18:25] drewvolz commented on #1517
Do you feel that covers the issue of break hours?

[2017-09-06 18:26] drewvolz commented on #1517
https://github.com/StoDevX/AAO-React-Native/pull/1505#pullrequestreview-60466311

[2017-09-06 18:37] drewvolz commented on #1514
On the fence with this. It has _some_ good stories... finding out the Reub is closing, a new clinic is opening, etc. I dunno. Thoughts? I thought it would be an interesting parallel because we include a northfield calendar, so why not a northfield news.

[2017-09-06 18:39] hawkrives commented on #1517
No, I do not.

[2017-09-06 18:40] hawkrives commented on #1514
I will note that they appear to sell subscriptions with a "10 article per period" limit, so…

[2017-09-06 18:43] drewvolz commented on #1514
It seems we can request 3,093 entries from their JSON feed, and anywhere from 1 - 100 articles at a time before pagination.

[2017-09-06 18:46] hawkrives commented on #1514
I'm talking about philosophical/ethical objections, not technical, here.

![screen shot 2017-09-06 at 1 46 05 pm](https://user-images.githubusercontent.com/464441/30128865-bef388d0-9309-11e7-8d09-252b427bd92c.png)

[2017-09-06 18:48] drewvolz commented on #1514
Abstaining.

[2017-09-06 18:48] #1514 closed, assigned to nobody

[2017-09-06 18:55] hawkrives commented on #1514
Perhaps we should reach out to them and see about integrating their site into the app – either free for all (last 10 articles or something) or allowing the user to log in.

In the future, of course.

[2017-09-06 22:53] #1470 closed, assigned to nobody

[2017-09-07 01:20] drewvolz commented on #1376
`react-native-video` merged the fix for this a minute ago. Let's hope for a version bump, or else we'll fork it until then.

[2017-09-07 01:22] drewvolz commented on #1197
Where I'm at it's showing times in Eastern. We should make sure to show times in Central

[2017-09-07 02:34] hawkrives commented on #1197
I believe this will be solved during the implementation of #1196

[2017-09-07 13:11] hawkrives opened #1520 "Enable Pause menu"
They open today

[2017-09-07 13:13] hawkrives opened #1521 "Idea: allow crowdsourcing of the Pause menu?"
Seems useful.

I think we'd need to enable the detail views first… and I'm not sure how to handle adding a new item to the menu… anyway, things to think about.

This does not need to be done for 2.4.

[2017-09-07 13:20] hawkrives opened #1522 "Remove the menus filterbar and add a "Filter" button to the toolbar"
The toolbar began life because we couldn't add buttons to the toolbar easily.

Now, we can!

So it should go away.

[2017-09-07 14:04] drewvolz commented on #1522
Right. And we discussed that information the toolbar displays (date, menu) can be moved underneath the current title. I think this is a good compromise to cut down on the amount of toolbars.

[2017-09-07 20:56] hawkrives commented on #1522
Right, so I'm envisioning something like Telegram does, where we'd move the information from the toolbar into a second line beneath the title.

[2017-09-08 02:34] #1211 closed, assigned to nobody

[2017-09-08 12:50] hawkrives commented on #1520
Closed by #1523

[2017-09-08 12:50] #1520 closed, assigned to nobody

[2017-09-08 13:49] hawkrives opened #1526 "Event detail view's title is "See more details""
![e9020deb-b15e-4cbc-92d4-fdfce419969f](https://user-images.githubusercontent.com/464441/30214554-893b3408-9472-11e7-9421-a173ca337d16.png)

[2017-09-08 14:14] drewvolz commented on #1526
The fix for this is to _not_ use `event.summary` and instead use `event.title`.

[2017-09-08 14:29] drewvolz opened #1529 "iOS "add to calendar" button prompts twice on denied perms"
This _looks_ like a bug, but it is not. I would like feedback, please.

**Do we care that it prompts twice on denial the very first time iOS users deny the app calendar permissions?**

The first time an iOS user adds an item to their calendar, they will be prompted for device calendar permissions. When they deny the app those permissions, we prompt with a _second_ alert that mirrors the first aler

[2017-09-08 14:51] hawkrives commented on #1529
We only want to show one or the other, even on the first request.

I think we can do this by checking for more than just "!authorized" in here:

https://github.com/StoDevX/AAO-React-Native/blob/77f4027d4b58896d2efb6e54219f986fedb3ee11/source/views/calendar/calendar-util.js#L66-L79

The return values are [`denied`, `restricted`, `authorized`, or `undetermined`][1] which correspond to the EventKit c

[2017-09-09 17:15] #1526 closed, assigned to nobody

[2017-09-09 18:00] hawkrives commented on #1334
See also https://github.com/react-community/react-navigation/issues/2215#issuecomment-328289312:

- https://github.com/Palisand/flow-error-suppressor
- https://github.com/jbreckel/flow-result-checker

[2017-09-10 02:05] drewvolz opened #1534 "Building hours list not refreshing"
The list of hours is not updating the open/closed and number of minutes. The detail view seems to be working.

[2017-09-10 03:45] hawkrives opened #1535 "Building Hours submit view: unacceptable kind of an object to dump [object Undefined]"
According to https://github.com/crucialfelix/supercolliderjs/issues/17, something something we can't serialize undefined values.

@drewvolz is going to try to remember what building he was on to trigger this.

[2017-09-10 18:41] rye opened #1538 "Express Bus schedule for Sunday is incorrect"
For reference, this is the proper schedule linked on the website as of 2017-09-10: ![[Bus Schedule]](https://wp.stolaf.edu/sa/wp-content/blogs.dir/78/files/2012/08/Express-Bus-2016.jpg)

[data/bus-times/express.yaml](https://github.com/StoDevX/AAO-React-Native/blob/a1a9776a3847a0c46464f1431376f35497e9efe8/data/bus-times/express.yaml) is the file affected.  It appears that the times shifted forward

[2017-09-10 18:47] hawkrives commented on #1538
Wow, they sure did! Thanks!

[2017-09-10 18:47] rye commented on #1538
PR is up in #1539.

[2017-09-10 18:47] hawkrives opened #1540 "Load bus data from github"
Currently, the bus data is still bundled with the app. We should pull it from github.

[2017-09-10 18:50] drewvolz commented on #1538
Great catch @rye

[2017-09-10 18:50] hawkrives opened #1541 "Add footnote about "bus schedules may change without notice" to bus view"
Similar to #1517

[2017-09-10 19:00] hawkrives commented on #1375
On my android phone, with today's nightly (generated by https://travis-ci.org/StoDevX/AAO-React-Native/builds/273767889), Building Hours crashes as soon as I try to open Stav Hall. Repeatably.

[2017-09-10 19:03] rye commented on #1541
This is probably a good idea.  Insofar as we have humans poking data files, which is how things will be, something's bound to go wrong or get missed.

[2017-09-10 19:27] #1538 closed, assigned to nobody

[2017-09-11 14:06] drewvolz opened #1548 "Add time to streaming events list items"
Currently the only way to see the time an event is streaming is by loading the detail.

[2017-09-11 14:12] drewvolz opened #1549 "Filter bar view lacks view title"
The view for filtering has a blank title on menus

[2017-09-11 14:30] drewvolz opened #1550 "Change streaming tab order?"
I’m thinking webcams or streaming events should appear before KSTO.

1. - Webcams
    - Streaming
    - KSTO
2. - Streaming
    - Webcams
    - KSTO

[2017-09-11 14:35] hawkrives commented on #1549
It's probably, add `navigationOptions` to https://github.com/StoDevX/AAO-React-Native/edit/master/source/views/components/filter/filter-view.js, then add a new "title" option or something to the `.push` in fancy-menu.js

https://github.com/StoDevX/AAO-React-Native/blob/3eb588c8a6cc616d038bbd55828a2056636979ce/source/views/menus/components/fancy-menu.js#L73-L78

Then edit the navigationOptions in f

[2017-09-11 17:37] drewvolz commented on #1550
Thoughts? @hawkrives @rye @elijahverdoorn @mattk410 @erichkauffman

[2017-09-11 17:38] drewvolz commented on #1549
Thanks for the hints, @hawkrives

[2017-09-11 17:55] drewvolz opened #1554 "iOS Heroku onboarding link broken"
https://boarding-aao.herokuapp.com/

An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

[2017-09-11 18:36] rye commented on #1550
Since "streaming" actual events seems like it might be one of the more important things to users, that'd be my guess, so option 2 (Streaming, Webcams, KSTO) seems the best option to me personally.

[2017-09-11 18:58] hawkrives commented on #1554
Fixed.

It had the old iTC credentials, and I wound up with a new iTC user just for that app, as I can't use my credentials – `boarding` doesn't support 2fa currently.

and it's arguably better to have a separate user anyway.

[2017-09-11 18:58] #1554 closed, assigned to nobody

[2017-09-11 18:59] hawkrives commented on #1550
I'll second @rye's opinion.

[2017-09-11 19:17] elijahverdoorn commented on #1550
Agreed.

[2017-09-11 19:57] #1540 closed, assigned to hawkrives

[2017-09-11 20:56] #1550 closed, assigned to nobody

[2017-09-11 21:23] rye opened #1556 "Document release process in CONTRIBUTING?"
Currently, I don't think the release process is documented—to my understanding, @hawkrives is the one who does this the most.  I've sat through the release process (which seems as simple as bumping the version and making a new GH release) but I'm curious if we can quantify it in the CONTRIBUTING file.

I'd like to collect as much information as possible in this issue so that I can document the gen

[2017-09-11 22:06] hawkrives commented on #1556
1. The current release process is as follows:
  - Update the version in `package.json`
  - Add a new tag to a commit
  - Push the new tag to GitHub

You can accomplish the first two steps with the command `npm version v2.4.0-beta.12` if at a computer (it makes a tag for you), or you can commit the new version on GitHub and then create a "release" pointing to that commit.

Don't forget to `git push

[2017-09-11 22:06] hawkrives commented on #1556
I would like to say, "let's make a beta every week", without adding milestones for it – what happens in a beta, will happen in the beta, and if they're weekly then we don't need to make a judgement call about "is this big enough to make a new beta"; we'll just make one.

By having the train of betas, I think it'll result in mostly smaller betas, which is a good thing, and it'll drive us to keep `m

[2017-09-11 22:07] hawkrives commented on #1556
Whenever a new version is tagged, it should have release notes added.

I like to start the GitHub notes with a "compare" link, to make it easy to see _all_ the changes since the last thing we released.

- A new alpha or beta should have the changes since the last release, alpha, or beta, whichever is most recent
- A new release should have the changes since the last release

I like to make changel

[2017-09-11 22:07] hawkrives commented on #1556
Um. Miscellany:

- I think there's something on Travis that I'll have to refresh roughly once a month? `FASTLANE_SESSION`? Once it expires, I just set up a new apple ID that doesn't have 2fa enabled, so I'll switch over to that. We'll know when it expires because the nightly process will start failing on iOS.
- The iOS and Android release processes are powered by [Fastlane](https://fastlane.tools)

[2017-09-11 22:07] hawkrives commented on #1556
For both iOS and Android, _all_ builds wind up going through Testflight / Google Play, even the final releases. We'll just "promote" the build artifacts to Release mode from their web interfaces.

Before you make an actual app release, you'll need to make sure that you have written the changelog for the release, and included it in the release notes field.

[2017-09-11 22:07] hawkrives commented on #1556
Something else misc: `bundle exec fastlane ios refresh-dsyms` will upload the new debugging files from iTunes Connect to Bugsnag, for stack traces in native code. We can't do this in the CI, because the dSYMs aren't generated for an unspecified amount of time after the build has completed processing.

[2017-09-11 22:07] hawkrives commented on #1556
`package-lock.json` _should_ be updated by Travis, but it's not, and I haven't had time to dig into why. See `greenkeeper-lock-update` for the package that should be updating it. As a workaround, I update the lockfile about once a week manually and make a PR for it.

[2017-09-11 22:07] hawkrives commented on #1556
The Google Play account that controls the Android app is controlled by SGA, through the email `sgawebmaster@stolaf.edu`. (I think.) I also have full access to this account, through my own Google account.

The iOS app is associated with my iTunes Connect account, so that SGA doesn't have to pay the annual fee. I will add the new SGA team members upon request, but I'll only add them individually, in

[2017-09-11 22:07] hawkrives commented on #1556
There. I think that's everything.

I posted these as separate comments for easier linking.

[2017-09-11 22:08] #1517 closed, assigned to nobody

[2017-09-11 22:24] #1541 closed, assigned to nobody

[2017-09-11 23:49] #1549 closed, assigned to nobody

[2017-09-12 00:41] #1534 closed, assigned to nobody

[2017-09-12 01:21] hawkrives commented on #1217
I added a checklist to the OP

[2017-09-12 03:44] hawkrives opened #1561 "Filter views use the lower-case menu name"
![8d69dca3-d3fc-4462-8edd-e2c481f7eefc](https://user-images.githubusercontent.com/464441/30307275-96e021b8-9742-11e7-8fd5-3df3dc2395b6.png)

It should use the name shown in the filter toolbar, instead. I don't recall off the top of my head what that's called.

[2017-09-12 03:46] hawkrives opened #1562 "Pull Important Contacts from github"
They're one of the last remaining views that doesn't pull.

[2017-09-12 13:35] drewvolz opened #1563 "Bus list UI not auto refreshing"
The bus lists are not updating the UI automatically.

[2017-09-12 13:48] hawkrives commented on #1563
Define "not updating the UI". Just times, just the dot, anything?

[2017-09-12 13:50] hawkrives commented on #1563
Well, darn. it's really not updating anything.

I did confirm last night that the building hours list does work.

[2017-09-12 13:52] hawkrives commented on #1563
I think it's that I set the `setInterval` back to 5000 accidentally, instead of 1000.

https://github.com/StoDevX/AAO-React-Native/blob/cd024d356ae855d2c242891a6b58aa778594b267/source/views/transportation/bus/bus-view.js#L36

[2017-09-12 21:47] drewvolz opened #1568 "Metadata and contact info"
I think metadata and contact info within the app needs to be updated. I think I found them all, but someone should double-check.

1. Information related to @elijahverdoorn needs to be switched to @hawkrives
2. Information related to `sgawebmaster@stolaf.edu` needs to be switched to @hawkrives or `allaboutolaf@stolaf.edu`
3. Information related to `odt@stolaf.edu` needs to be switched to `allabouto

[2017-09-12 21:52] hawkrives commented on #1568
Can't remove the - SGA from the app name.

I think the release notes are for the already published release notes, so we won't change those.

[2017-09-12 21:52] hawkrives commented on #1568
A lot of the others would be fixed if I could figure out how to pull them down again.

[2017-09-12 21:52] hawkrives commented on #1568
`Appfile` already references me.

[2017-09-12 21:52] drewvolz commented on #1568
A copy-paste might cause that again, so that's why I noted it.

[2017-09-12 21:54] hawkrives commented on #1568
Speaking of the NoticeView… we should probably make that markdown-enabled so we can have clickable links in it. But that could come later.

[2017-09-12 21:56] drewvolz commented on #1568
Please read my comment again.

[code]

[2017-09-12 22:07] drewvolz commented on #1568
You can. It is the "localizable" name that is updated on each new version of the app. It is set each time the app updates, and that is why I linked to the place we're setting it inside of [fastlane/metadata/en-US/**name.txt**](https://github.com/StoDevX/AAO-React-Native/blob/master/fastlane/metadata/en-US/name.txt).

[2017-09-12 22:21] rye opened #1569 "Skoglund Pool Hours are Wrong"
https://wp.stolaf.edu/recreation/facility-hours/ is correct as of today.  It appears that they made some changes to this.

[2017-09-12 22:34] hawkrives commented on #1568
Sorry, I misread the email you linked as "sgawebmaster", which I did remove when I took over the account.

[2017-09-12 23:21] hawkrives commented on #1569
… man, that page needs some formatting love.

[2017-09-12 23:48] #1569 closed, assigned to rye

[2017-09-13 00:16] hawkrives commented on #1548
or

[2017-09-13 01:45] #1548 closed, assigned to nobody

[2017-09-13 03:01] #1561 closed, assigned to nobody

[2017-09-13 04:37] #1375 closed, assigned to nobody

[2017-09-13 12:05] drewvolz commented on #1563
Changing the interval did not fix this issue.

[2017-09-13 14:50] hawkrives commented on #1563
Sigh.

[2017-09-13 15:12] hawkrives opened #1575 "Use Jest mocks in open-url test to prevent loading react-native external packages"
Because the open-url tests don't test the safari-view or custom-tabs packages, but it still loads them and that generates console warnings.

This is just a reminder for me, primarily, but I'm not taking it on – I'll assign it to myself when/if I wind up actually working on it.

[2017-09-13 15:50] #1395 closed, assigned to hawkrives

[2017-09-13 18:20] drewvolz commented on #1563
I believe the problem is within the return. Setting it to `true` fixes the UI update issue @hawkrives

https://github.com/StoDevX/AAO-React-Native/blob/cd024d356ae855d2c242891a6b58aa778594b267/source/views/transportation/bus/bus-line.js#L103-L113

[2017-09-13 18:46] hawkrives commented on #1563
Oh. Yes.

[2017-09-13 18:47] hawkrives commented on #1563
Lets play a game - can you find the bug of what's not changing there?

[2017-09-13 20:18] drewvolz commented on #1563
All three comparisons are constantly returning false, so I'm going to blame something in `nextProps` or `nextState`.

[2017-09-13 22:18] hawkrives commented on #1563
`currentMoments` is the list of time strings. When the minutes change, the list of times won't always change – it'll only change when an iteration of the bus' route is complete.

I'll add another check to the busLine shouldComponentUpdate.

[2017-09-14 00:43] #1563 closed, assigned to nobody

[2017-09-14 12:54] hawkrives opened #1585 "Pull Dictionary data from Github"
It's one of the last screens that's not pulled from github.

[2017-09-14 12:54] hawkrives opened #1586 "Pull webcam list from github"
It's one of the last screens not loaded from github.

[2017-09-14 13:00] hawkrives commented on #1386
I'm going to try to solve this by using flexbox to make RN's layout system apply the width the the list items; that way the layout happens independently of the render calls, and I don't have to get the window size at all.

[2017-09-14 13:57] hawkrives opened #1588 "Discussion: Think about how to pull more URLs from Github"
After the last three main views go to being pulled from github (see #1562, #1585, and #1586), our next challenge will be to pull even more stuff from Github.

Stuff like:
- the URLs that we use in the tabbed views (think News' feed URLs, or calendar)
- the cafe ids used in the Menus view
- the URLs for the link-type homescreen buttons

---

Before any of that happens, though, I'm going to insist t

[2017-09-14 13:57] drewvolz commented on #1586
We should be wary of backwards compatibility. If we pull a webcam down, we better be sure the thumbnail for it doesn’t need to be bundled.

[2017-09-14 13:58] hawkrives commented on #1586
Good point; we should make it pull the thumbnails from Github, as well.

[2017-09-14 14:00] drewvolz commented on #1588
Yes!

[2017-09-14 23:11] hawkrives opened #1593 "Add the Flaten Art Museum?"
https://wp.stolaf.edu/flaten/visit/

[2017-09-15 00:34] hawkrives opened #1595 "Add Bus Lines detail view to show all times at a stop"
I think it'd be helpful.

[2017-09-15 00:36] hawkrives opened #1596 "Remove info footers from list views, in favor of detail views"
(Except for the Bus Lines, as they have no detail views.)

- It's easier to see the info on the detail view, as it's a shorter view
- The gray footers look weird at the end of the white lists on iOS
- Um… anything else?

---

- [x] Building Hours
- [x] Calendar
- [x] Dictionary
- [x] Important Contacts
- [x] Student Orgs
- [x] Student Work

[2017-09-15 00:44] hawkrives commented on #1596
See also https://github.com/StoDevX/AAO-React-Native/issues/1217

[2017-09-15 04:47] hawkrives commented on #167
This has been implemented-ish.

Enough that I'm going to close it.

[2017-09-15 04:47] #167 closed, assigned to drewvolz

[2017-09-15 04:48] hawkrives opened #1597 "Request iOS Background Audio permission"
for playing KSTO in the background

Or we should ensure that we can play it in the background.

[2017-09-15 13:21] #1386 closed, assigned to hawkrives

[2017-09-15 13:21] #1460 closed, assigned to hawkrives

[2017-09-15 15:05] hawkrives opened #1600 "Fix KSTO logo sizing on rotation"
I forgot to fix up KSTO.

Open in landscape, rotate to portrait:

<img width="431" alt="screen shot 2017-09-15 at 10 04 27 am" src="https://user-images.githubusercontent.com/464441/30489615-4aa3332c-99fd-11e7-9813-3af46132c267.png">

[2017-09-15 15:17] drewvolz opened #1601 "Fix rotate on android edit home"
Finish up the very last issue that #1474 tackled.

Starting Android in portrait and rotating to landscape in "Edit Home".

![android-after](https://user-images.githubusercontent.com/5240843/30467161-cbaee04e-99b0-11e7-9eac-9c730aed6fca.png)

[2017-09-15 15:19] drewvolz commented on #1593
Sure

[2017-09-15 15:20] hawkrives commented on #1601
thx

[2017-09-15 15:30] hawkrives opened #1602 "Allow disabling homescreen buttons"
<img width="431" alt="screen shot 2017-09-15 at 10 28 25 am" src="https://user-images.githubusercontent.com/464441/30490779-9f069bea-9a00-11e7-9af1-6197bae5ba39.png">

[code]

---

We'd need to store the enabled state in our asyncstorage, and provide it to the Row as appropriate, and listen to the onValueChange callback to set it.

We'd also have to update HomeView to hide buttons as requested.

[2017-09-15 15:34] hawkrives opened #1604 "Add a prop to NewsList to force opening news articles in SFViewController/CustomTabs"
Needed for https://github.com/carls-app/carls/issues/68, because Carleton's RSS feeds are truncated.

[2017-09-16 15:49] hawkrives opened #1609 "Create a Menu Item detail screen"
Bigger title, the description, and the _nutritional information_ (and the dietary icons with labels, ofc.)

BonApp's API gives us back nutritional information:

https://github.com/StoDevX/AAO-React-Native/blob/3aaa0016509c8a195d5d28ef4080b3db4d823694/source/views/menus/types.js#L22-L28

[2017-09-16 15:49] hawkrives commented on #1609
I should note that I don't remember how many items actually have that info, but surely some do?

[2017-09-16 16:51] #1600 closed, assigned to nobody

[2017-09-16 18:47] #1376 closed, assigned to nobody

[2017-09-16 19:14] hawkrives commented on #131
I'm going to close this, as there's nothing actionable here. Future discussion should go in a new issue.

[2017-09-16 19:14] #131 closed, assigned to nobody

[2017-09-16 19:15] hawkrives commented on #612
GSO has posted office hours: https://wp.stolaf.edu/gso/staff/

[2017-09-16 21:06] #1562 closed, assigned to nobody

[2017-09-16 21:06] #1585 closed, assigned to nobody

[2017-09-16 21:12] #700 closed, assigned to nobody

[2017-09-16 21:38] drewvolz opened #1616 "KSTO reports "offline" when it is online"
I am checking on the `chunklist` data and we seem to have data, so I'm unsure why the promise would timeout.

[code]

Debugging a little, I can see we're ending up in the `catch` of the promise
https://github.com/StoDevX/AAO-React-Native/blob/a418b0b0df130a149e37844d036a3e306c708e48/source/lib/promise-timeout.js#L18-L21

Landscape | Portrait
---|---
<img width="707" alt="screen shot 2017-09-16 at

[2017-09-16 21:59] hawkrives opened #1617 "Document analyze-gym script"
Added in https://github.com/StoDevX/AAO-React-Native/pull/1406

[code]

I often run it with `-s 20`, fwiw.

It uses python3 and no external dependencies.

[2017-09-16 22:00] hawkrives commented on #1617
Should docs for this go into the repo or on the wiki?

[2017-09-16 22:49] #1586 closed, assigned to nobody

[2017-09-16 22:50] #1217 closed, assigned to drewvolz

[2017-09-16 22:50] #1596 closed, assigned to nobody

[2017-09-16 23:46] hawkrives opened #1619 "Important Contacts header doesn't line up with the items"
Android | iOS
--- | ---
<img width=420 src="https://user-images.githubusercontent.com/464441/30516808-dabef718-9b0e-11e7-97ce-a6ebce12cfea.png"> | <img width="487" alt="screen shot 2017-09-16 at 6 42 36 pm" src="https://user-images.githubusercontent.com/464441/30516807-dabb64c2-9b0e-11e7-88fa-a5c116966b4a.png">

The text in the headers should line up with the text in the rows.

[2017-09-17 00:09] hawkrives commented on #1616
@drewvolz I cannot reproduce this.

[2017-09-17 00:09] hawkrives commented on #1616
… uh. I switched back to the sim after writing that comment…

<img width="375" alt="screen shot 2017-09-16 at 7 09 17 pm" src="https://user-images.githubusercontent.com/464441/30516919-8ddc0c70-9b12-11e7-8349-2604b6dac39c.png">

[2017-09-17 01:57] hawkrives commented on #1616
I'm tired of `react-native-video`. I have now made a solution that doesn't use it. PR coming shortly.

[2017-09-17 03:04] #1619 closed, assigned to nobody

[2017-09-17 03:05] hawkrives opened #1624 "FlatListed WebCams have broken layout on Android"
Fallout from https://github.com/StoDevX/AAO-React-Native/pull/1611

To fix, we'll just want to go back to the Columns implementation that said PR removed.

<img width=320 src=https://user-images.githubusercontent.com/464441/30517622-2151b76c-9b2b-11e7-8c84-40ff255ce33a.png>

[2017-09-17 03:42] hawkrives commented on #1601
I think this is a React Native bug.

- It only happens if you _start_ in Portrait, then rotate to landscape; if you start in landscape, you can't trigger this, no matter how many times you rotate
- The view hierarchy has the correct widths for the rows

![screenshot_1505619716](https://user-images.githubusercontent.com/464441/30517806-43f05288-9b30-11e7-910b-9e7ec1459560.png)

As such, I'm going t

[2017-09-17 03:43] hawkrives commented on #1597
Apparently … we don't need this.  At least, I get audio (well, white noise) in the background on iOS, both with rn-video and WebViews.

[2017-09-17 03:43] #1597 closed, assigned to nobody

[2017-09-17 04:29] hawkrives opened #1626 "Show media information in Control Center"
If we do https://github.com/StoDevX/AAO-React-Native/pull/1623, we'll want to say "KSTO Radio" or something in Control Center.

https://www.npmjs.com/package/react-native-music-control looks to be very useful.

I think it also does android?

[2017-09-17 05:35] #1624 closed, assigned to nobody

[2017-09-17 06:57] hawkrives commented on #1393
This isn't going to make 2.4.

[2017-09-17 07:37] hawkrives opened #1628 "Make the Building Hours editor look nice on Android"
… let's just say that it could use some work.

foo | bar
--- | ---
![screenshot_1505633764](https://user-images.githubusercontent.com/464441/30518958-056c4c12-9b51-11e7-9ecc-7d6643a314dc.png) | ![screenshot_1505633777](https://user-images.githubusercontent.com/464441/30518959-05731024-9b51-11e7-908c-27aa3bee0645.png) |
![screenshot_1505633761](https://user-images.githubusercontent.com/464441/30518

[2017-09-17 08:06] hawkrives commented on #1628
It's a tiny bit better now:
<img width=320 src=https://user-images.githubusercontent.com/464441/30519183-0ad7f81e-9b55-11e7-96be-ba1cb2d9ca0c.png>

[2017-09-17 14:25] hawkrives opened #1630 "iTunes connect is erorring"
https://travis-ci.org/StoDevX/AAO-React-Native/jobs/276431417#L3890

ERROR ITMS-90682: "Invalid Bundle. Submitting asset catalogs targeting iOS 8.3 or iOS 8.4 is currently unsupported. You'll either need to change the deployment target back to iOS 8.2 (or lower), or move it forward to iOS 9.0 or later."

[2017-09-17 14:28] hawkrives commented on #1630
I think this is because of Xcode 9.

[2017-09-17 14:30] hawkrives commented on #1630
React Native says "Supported operating systems are >= Android 4.1 (API 16) and >= iOS 8.0.", so we could just lower the deployment target to 8.2.

Or we could drop 8.x entirely.

[2017-09-17 14:32] hawkrives commented on #1630
According to GA, we've had 7 users on 8.3 since we launched analytics.

![29252980-fb55-44ef-b54e-a6ca8807a1ca](https://user-images.githubusercontent.com/464441/30521803-10eed016-9b8b-11e7-97a7-0a2e5645703f.png)

[2017-09-17 14:43] hawkrives commented on #1630
I just don't like dropping support.

[2017-09-17 14:43] hawkrives commented on #1630
I'll do a ipa size comparison for both approaches.

[2017-09-17 16:38] hawkrives commented on #1597
we already had it

thanks @drewvolz

https://github.com/StoDevX/AAO-React-Native/commit/a78938ea433bb39cfeaf7e5814742d1cb49dadfa

which was part of https://github.com/StoDevX/AAO-React-Native/pull/1285

[2017-09-17 16:41] drewvolz commented on #1597
Thanks for checking.

[2017-09-17 16:54] hawkrives commented on #1630
I've attached two zip files of the generated apps – there's a negligible difference, so I vote to just go for 8.2.

[AllAboutOlaf-8.2.zip](https://github.com/StoDevX/AAO-React-Native/files/1309220/AllAboutOlaf-8.2.zip)
[AllAboutOlaf-9.0.zip](https://github.com/StoDevX/AAO-React-Native/files/1309221/AllAboutOlaf-9.0.zip)

---

I also found https://stackoverflow.com/questions/39619119/itms-90682-inv

[2017-09-17 17:26] hawkrives opened #1633 "Balances view always reports "not logged in""
I changed the "are you logged in" check in https://github.com/StoDevX/AAO-React-Native/pull/1613 and forgot to update the Balances view.

[2017-09-17 17:47] #1630 closed, assigned to nobody

[2017-09-17 17:48] hawkrives opened #1635 "Colors accessibility audit"
I doubt that our white-on-gold is very accessible.

Much less the lighter-gold-on-white of the iOS tab bars.

[2017-09-17 18:12] #1633 closed, assigned to hawkrives

[2017-09-17 18:15] hawkrives commented on #1616
I'm going to declare this closed by way of https://github.com/StoDevX/AAO-React-Native/pull/1623

[2017-09-17 18:15] #1616 closed, assigned to nobody

[2017-09-17 18:33] hawkrives opened #1637 "Danger: Post bundle sizes to builds"
I think it'd be fun to watch and see if/how they change over time.

For reference:

https://github.com/ReactiveX/rxjs/blob/7bb8280181bf1d5b0a2d3338ede8bea5e30f64c7/dangerfile.js#L98-L102

[2017-09-17 19:54] hawkrives opened #1638 "Draft final 2.4 release notes"
I've been taking notes per each beta in the Releases tab.

[2017-09-17 20:00] hawkrives opened #1639 "Add 1024px "marketing image" for iTC"

[2017-09-17 20:29] rye opened #1641 "Can't scroll on home edit screen"
Since there's more tiles to sort through than just one screen's worth, I'd like to be able to scroll through the list in the Home Edit view and move tiles at the bottom of the list.  But, it seems like the tile grab happens if you touch _anywhere on the tile_, not just on the location where I'd expect to grab on the right-hand side.  Since the touch event gets stolen by the tile mover, the view is

[2017-09-17 20:39] hawkrives commented on #1641
… you used to be able to scroll unless you long-pressed. I'll investigate later today.

[2017-09-17 20:41] rye commented on #1641
Oh, you still can.  Now that you mention it, I can scroll if I flick the screen.  Can we increase the timeout on the long press?  It doesn't feel long enough to me. (>1 second is what I would expect)

[2017-09-17 20:43] rye commented on #1641
Poking it further, it seems like sometimes I neither scroll nor move a tile, too.  (After a successful scroll down I have to try multiple times to get it to scroll up.)

[2017-09-18 01:03] hawkrives opened #1642 "Release Train Idea: one release per break"
Release at the end of:
- Summer break
- Fall break
- Thanksgiving
- Christmas
- Interim
- Spring

Advantages:
- students get back on campus and get a new version of the app
- advantages of release trains (predictable releases for new features, etc)

Disadvantages:
- ???

Thoughts (on trains in general, or on this specific proposal)?

[2017-09-18 01:17] hawkrives opened #1643 "KSTO view is auto-playing"
as of beta 14

[2017-09-18 01:24] drewvolz commented on #1641
I'm sure we could adjust what is considered flick vs grab target territory...

[2017-09-18 01:36] rye commented on #1642
I like this idea, and here are some comments/additional ideas:

My only concern is that some breaks are closer together than others.  So, not many new features would fit nicely between Thanksgiving and Christmas.  It's still possible, but could get hairy.  (The Christmas release might just be a small one, too, that's fine.)

This train scheme would generally be nice because it also gives developer

[2017-09-18 01:49] #1643 closed, assigned to nobody

[2017-09-18 02:09] hawkrives opened #1645 "Android homescreen has different-sized buttons"
Actual | Extected
--- | ---
![image 2017-09-17 20 59 41](https://user-images.githubusercontent.com/464441/30527158-2437c6fe-9beb-11e7-8d0c-fcae9a7bc745.jpg) | ![image 2017-09-17 20 59 44](https://user-images.githubusercontent.com/464441/30527159-25e3d768-9beb-11e7-9012-2d4cb3c1957c.jpg)

I believe that this is caused by the two-column layout I implemented recently, combined with the now odd-number

[2017-09-18 13:58] #1645 closed, assigned to hawkrives

[2017-09-18 14:11] hawkrives opened #1647 "Sharing a calendar event does not use the event title"
[code]

should be

[code]

[2017-09-18 14:11] hawkrives commented on #1647
https://github.com/StoDevX/AAO-React-Native/blob/fcea798ad288d0dc859d3788849d721cf4263f27/source/views/calendar/event-detail.ios.js#L23-L31

1. This should not be duplicated in both files
2. There's no point in these ternaries; either the code should be reworked to actually change the output, or they should be removed
3. The function should `return Share.[…]` so that something else could use the p

[2017-09-18 20:24] drewvolz opened #1648 "Webcam tiles show box on highlight"
On press, the webcam thumbnails show a box around the rounded images. This is most likely from moving the padding and border-radius to the image instead of the touchable? Probably fallout from some [recent refactoring](https://github.com/StoDevX/AAO-React-Native/commit/5da0c36c1702741ee4fabfa1d8c679f7cda1b44d).

[2017-09-18 20:58] hawkrives opened #1650 "Add remote-powered "Notices" to the top of the homescreen"
I'm thinking something like

---

A future idea is to fetch this from GitHub, so that if the app ever dies we can note that it's unmaintained.

[2017-09-18 21:07] drewvolz commented on #1650
I get where you're coming from. However, we specify this in quite a few places as it is:

1. App description as the _first_ thing you read about the [App Store](https://itunes.apple.com/us/app/all-about-olaf-sga/id938588319?mt=8) and [Google Play](https://play.google.com/store/apps/details?id=com.allaboutolaf&hl=en) apps.

2. [Legal view](https://github.com/StoDevX/AAO-React-Native/blob/master/dat

[2017-09-18 21:22] hawkrives commented on #1650
I think that it should be on the homescreen, where it's visible and remotely updated so that when the apps finally die, we can do one last thing to let everyone know that they're unmaintained. That's why I want it at the top level.

[2017-09-18 21:31] drewvolz commented on #1650
Just trigger a view or alert once you update that remote data. It's the same concept... all that is changing is that the app is checking `maintained = false` which would do [anything else] other than what it does normally.

Displaying the 39 word / 212 character message all the time is something I have never seen an app do. It's odd to display the support status on the first screen constantly. Tha

[2017-09-18 21:32] hawkrives commented on #1650
Most apps that you use are also the official app of whatever service you use; I feel like we're in a bit of a special place here.

[2017-09-18 21:32] hawkrives commented on #1650
Being used by so many people and yet not supported by the organizations.

[2017-09-18 21:33] drewvolz commented on #1650
Special circumstances can warrant a change, sure. But I'd prefer to leave the homescreen alone?

[2017-09-18 21:36] hawkrives commented on #1650
I'll just adopt the new global alert system from the Olaf website, then? 😛

![screen shot 2017-09-18 at 4 36 33 pm](https://user-images.githubusercontent.com/464441/30565896-8bec15f8-9c8f-11e7-8a09-7440b882f566.png)

[2017-09-18 21:39] drewvolz commented on #1650
I would like to hear from @rye @elijahverdoorn @mattk410 @erichkauffman on this

[2017-09-18 22:29] hawkrives opened #1651 "Home screen has less padding beneath the buttons than on the sides"
I’ll attach a screenshot in a bit.

[2017-09-18 22:31] hawkrives opened #1652 "Markdown list items’ bullets aren’t centered vertically"
Screenshot to follow.

[2017-09-18 22:46] hawkrives opened #1653 "Parse orgs descriptions for emails, in addition to links"
Example screenshot incoming.

[2017-09-18 22:48] drewvolz commented on #1653
Might as well do that in student work openings, too.

[2017-09-19 03:38] rye commented on #1650
I think that promoting a notice like this (especially one of such length) to the _Home_ screen is a bit excessive.  I'd be totally fine with putting it in at the bottom of the Settings view, though.

As far as putting in a dead-man's-switch of sorts—I'd totally be fine with doing _something_ like that, but I don't think that we should have this be always-displayed info.  It's totally fine by me to

[2017-09-19 04:28] hawkrives commented on #1650
I actually have a follow up proposal after thinking about this some more:

What if we added a triggerable alert view at the top of the homescreen, between then navigation and the icons?

It could conceivably be used for everything from "elections are today" (maybe) to "campus lockdown" to "app is no longer maintained", powered by the presence of a json file on github pages - probably looking like

[2017-09-19 04:35] rye commented on #1650
I like this idea, and it's a deeper take on the original idea, providing some flexibility.  Check out [react-native-dropdownalert](https://www.npmjs.com/package/react-native-dropdownalert) which looks like a well-designed implementation of a dropdown alert-y thingy.

Also, something something push notifications?

[2017-09-19 04:39] hawkrives commented on #1650
I'll make a branch for a prototype after we cut 2.4, I think. Thanks for the discussion!

[2017-09-19 05:12] elijahverdoorn commented on #1650
Good thoughts all around. I like the drop down alert ideas, this whole discussion reminds me to look at push notifications again....

[2017-09-20 20:38] drewvolz commented on #1652
@hawkrives can we see a screenshot, please?

[2017-09-20 20:39] drewvolz commented on #1653
@hawkrives can we see a screenshot, please?

[2017-09-20 20:39] drewvolz commented on #1651
@hawkrives can we see a screenshot, please?

[2017-09-20 22:42] hawkrives commented on #1651
<img src="https://user-images.githubusercontent.com/464441/30671157-1ad3e646-9e2b-11e7-8fda-0e3293a37b6b.jpeg" width=400>

[2017-09-20 22:43] hawkrives commented on #1653
<img src="https://user-images.githubusercontent.com/464441/30671168-2614e06e-9e2b-11e7-8a9b-9a676a49a73d.jpeg" width=400>

[2017-09-20 22:43] hawkrives commented on #1652
<img src="https://user-images.githubusercontent.com/464441/30671175-2f9312f0-9e2b-11e7-9e7e-b2cfe0914ede.jpeg" width=400>

[2017-09-21 02:10] #1647 closed, assigned to nobody

[2017-09-21 05:07] #1628 closed, assigned to nobody

[2017-09-22 20:09] hawkrives opened #1667 "Fetch balances when the view opens"
I believe that the Balances tab currently only fetches data when you pull-to-refresh, when the app opens, and when the user logs in.

We should also make the view refresh the data in `componentWillMount`.

[2017-09-24 13:36] drewvolz opened #1672 "Menu should not save/reload selected meal in the filter"
Menu should not save the Meal selected (breakfast, lunch, dinner, late nite, etc)

[2017-09-24 16:01] drewvolz commented on #1626
@hawkrives does the new implementation of the invisible audio player allow for any sort of HLS ID3 tag subscriptions?

[2017-09-24 16:24] drewvolz commented on #1439
@hawkrives is this still a concern?

[2017-09-24 17:24] #1105 closed, assigned to nobody

[2017-09-24 17:25] drewvolz commented on #1106
@hawkrives

[2017-09-24 17:38] #214 closed, assigned to erichkauffman

[2017-09-24 20:23] rye opened #1681 "CodeClimate's ESLint pass is complaining about undefined flowtype-related rules"
This is a strange quirk.  I want to mark these issues as Wontfix, but I'd rather figure out what the root of the problem is.  I've self-assigned as a way of keeping track of this.

[2017-09-24 20:25] rye commented on #1681
From my cursory look at the ESLint engine for CodeClimate, I've found that [channel/eslint-4](https://github.com/codeclimate/codeclimate-eslint/tree/d35014a653cb73bf8b3958e7f6099233fda6cc0f#temporarily-unavailable-plugins-and-configs) currently has `eslint-plugin-flowtype` turned off.  We're using ESLint 4 in our project, so we're using this unstable channel for ESLint, but it must not have the fl

[2017-09-24 21:20] hawkrives commented on #1626
Dunno. If you can find a way to do that with JS on the web, then yes.

[2017-09-24 21:20] hawkrives commented on #1439
Meh. No.

[2017-09-24 21:20] #1439 closed, assigned to hawkrives

[2017-09-24 21:28] #1593 closed, assigned to nobody

[2017-09-24 22:33] #612 closed, assigned to hawkrives

[2017-09-24 22:48] #1294 closed, assigned to nobody

[2017-09-25 01:16] hawkrives opened #1683 "Rename and update Green Bikes to Ole Bikes"
🚲

[2017-09-25 01:35] rye commented on #1681
I have submitted an issue in `codeclimate-eslint` about this. (EDIT: [codeclimate/codeclimate-eslint#336](https://github.com/codeclimate/codeclimate-eslint/issues/336))

[2017-09-25 01:38] rye commented on #1683
I can take this one if nobody else has started on it.

[2017-09-25 02:12] hawkrives commented on #1683
Go ahead!

[2017-09-25 12:29] hawkrives opened #1686 "Make use of eslint-plugin-flowtype's case exhaustion in switch statements"
https://github.com/mkscrg/eslint-plugin-flowtype/blob/768e7910b68eea8dbc6129862d6e6fbc0ebe03c6/.README/rules/no-unused-expressions.md

Essentially, anywhere a switch statement has an enum of the allowed types, we should typecast the expression as (empty), which is a special flow type which assures us that there are no more cases to be had.

[2017-09-25 13:27] drewvolz opened #1687 "FAQ issues"
I can’t see new FAQs on the beta/nightly. But after I downloaded the store copy, the FAQs rendered in plain text rather than as formatted markdown.

[2017-09-25 15:36] drewvolz commented on #1687
I am able to see new FAQs on my simulator when disabling the `development` check. I want `pull-to-refresh` on this view now. We seem to have an issue with silently failing and falling back when new data cannot be loaded.

[2017-09-25 15:56] rye commented on #1683
[The "Green Bikes" page](https://wp.stolaf.edu/sa/transportation/greenbikes/) should probably get updated to reflect the change in naming?  In any event, I'm working on this right now.

[2017-09-25 16:48] hawkrives commented on #1683
@rye It probably should.

[2017-09-25 17:03] drewvolz commented on #1683
It also shouldn't instruct to "search The Bridge” over on bridge.carleton.edu

[2017-09-25 21:43] #1683 closed, assigned to rye

[2017-09-26 12:23] hawkrives opened #1692 "Add disclaimer to SIS balances screen about the app not being the source of truth"

[2017-09-26 12:25] hawkrives commented on #1641
I've got a new suggestion: what if, for the sake of expediency, we replaced the drag and drop behavior on Android with up/down buttons per row?

@rye / @elijahverdoorn how bad of an idea is that? I know it's not terribly consistent with the platform, but it'd be simple to do, and we don't know what's going on with the current implementation.

[2017-09-26 12:33] hawkrives opened #1693 "Enzyme 3 for React 16 is out - integrate it and use it in tests"
- https://github.com/airbnb/enzyme
- https://www.npmjs.com/package/jest-enzyme
- react-native-mock

[2017-09-26 12:33] rye opened #1694 "Building Hours text background is not transparent"
This behavior is not the same on other views, just this one.  Tapping and holding causes the container for the white text background to be shown in contrast with the darkened background.

| ~ | ~ |
|---|---|
| ![screenshot_20170926-072810](https://user-images.githubusercontent.com/1566689/30860395-9924fec6-a28c-11e7-9ceb-9ebb275f8712.png) | ![screenshot_20170926-072819](https://user-images.githubu

[2017-09-26 12:36] hawkrives opened #1695 "Remove the nested navigator from the Carleton menus screen"
- Having a nested stacknavigator within a tabnavigator results in confusing back-button names on iOS
- also there's a problem with the view titles, maybe?

We should just let a tap on a Carleton row push a new view as normal, instead of trying to keep it within the tabnavigator.

[2017-09-26 12:38] hawkrives commented on #1694
I _think_ that reverting https://github.com/StoDevX/AAO-React-Native/commit/9e7d0070c98af5bd9d7af47a4f0afe6faf31e8af should fix this.

We don't need it anymore, either; I only needed the list to not have a background when there was a footer, but the footer is gone now.

[2017-09-26 12:40] drewvolz commented on #1692
I want a disclaimer in the form of an Alert. Should also have a navigation button item to trigger the Alert.

[2017-09-26 12:44] drewvolz commented on #1695
We could change the titles to say the menu name. That would be a welcomed change on all of the menus, calendars, news feeds, etc.

The back button is a problem, tho, as it says “Home” when it will not take you back home. That’s where the nested navigator is an issue.

[2017-09-26 12:49] hawkrives commented on #1692
Why? What does an alert get us over a small ListFooter at the bottom of the screen?

[2017-09-26 12:50] hawkrives commented on #1695
The titles should change when you change tabs, yes, but that is a separate issue to be filed.

[2017-09-26 13:21] drewvolz commented on #1692
I think it makes a world of difference. I don’t want to treat this like a “Terms of Use” section that people don’t read. I want to be clear as can be to let people know this might not be correct info and any academic office is not to be blamed or contacted for it.

[2017-09-26 13:27] hawkrives commented on #1692
I strongly believe than a button you have to push to show an alert will be read less than a constantly present short notice.

[2017-09-26 13:52] drewvolz commented on #1692
An alert should appear the first time, regardless of text being in the footer or presentable from the nav bar.

[2017-09-26 14:26] drewvolz commented on #1692
You can’t guarantee someone will even make it to the bottom of a list. It’s only present if someone even makes it to the end. That is not a fair assessment against the navigationbar button.

[2017-09-26 14:27] hawkrives commented on #1692
I'm talking about the Balances screen – the only device that it lets you scroll on is a 4s.

I'll agree with an alert the first time.

[2017-09-26 14:29] hawkrives commented on #1692
(New idea: use ARKit/ARCore to present a 3d alert dialog over a live camera feed in the background of the view.)

[2017-09-26 15:45] rye commented on #1694
Unfortunately, I haven't been able to get a simulator up and running, so I can't verify if this is the case, but I could branch to do this.

[2017-09-26 16:04] hawkrives commented on #1694
I've tested; that does fix it. Pushing branch now.

I can't quite get a screenshot, though, so no screenshots.

[2017-09-26 16:09] #1667 closed, assigned to nobody

[2017-09-26 17:19] #1694 closed, assigned to nobody

[2017-09-26 18:22] rye commented on #1692
For SIS balances, I feel like having a disclaimer at the bottom similar to the building hours is a good idea.  But there should probably be a one-time alert when users first open that view after the update, to let people know what's up with their SIS balances?  I'd forego the alert if, post-#1696, we no longer have data de-sync problems.

[2017-09-26 23:29] hawkrives opened #1704 "Contacts should not have trackScreenView when you tap the buttons"
https://github.com/StoDevX/AAO-React-Native/blob/5496a67445f8cde5b1e706126f175731de416746/source/views/contacts/contact-detail.js#L66

[2017-09-26 23:33] hawkrives commented on #1704
Or maybe it should. I don't know how to attribute them in GA. I think I wrote the current code, anyway.

[2017-09-27 00:02] hawkrives commented on #1638
First draft

---

Hi Oles! Wow, it's been a while.

First off, we haven't fixed the SIS balances yet – we're working together with the college to make sure it's correct before it turns on again.

NEW FEATURES
- Building Hours editor! If you see some hours that are wrong, let us know!
- Full size iPad app! It's really just the iPhone one, stretched out, but it's a lot nicer.
- A calendar detail vie

[2017-09-27 04:52] #1196 closed, assigned to nobody

[2017-09-27 04:52] #1197 closed, assigned to nobody

[2017-09-27 05:33] elijahverdoorn commented on #1641
@hawkrives It would be better than broken functionality, but *really* inconsistent with the rest of what the platform expects. We should find another package to replace it, or find a more permanent solution quickly.

This page describes what material design says about list controls: https://material.io/guidelines/components/lists-controls.html#lists-controls-types-of-list-controls

[2017-09-27 12:05] hawkrives commented on #1641
@elijahverdoorn I knoooooow…

The only other reputable-ish package that I've found is that one that @drewvolz PR'd a few days ago and recommended that we not use.

I'm only suggesting up/down buttons because I don't know what else to do…

[2017-09-27 13:39] drewvolz commented on #1687
It’s updating now. I can’t explain why it did not work before, or why it is working now.

[2017-09-27 13:49] rye commented on #1641
Do we really have to ditch it for something else?  If only I could get the app to build on my laptop, maybe I could troubleshoot...

See, [react-native-sortable-list](https://www.npmjs.com/package/react-native-sortable-list) (which is what we use for the Sortable List on the HomeEditView) has a `rowActivationTime`. (which defaults to 200 ms)  My guess is that this is all some issue with this param

[2017-09-27 14:01] rye commented on #1641
It's also worth noting that [react-native-sortable-listview](https://www.npmjs.com/package/react-native-sortable-listview) which is the other major option available to us, has less overall parameters available.  I'd much rather work with the existing solution—if necessary, I could try forking and PRing upstream.

[2017-09-27 16:07] elijahverdoorn commented on #1641
Forking the current package would be an ideal solution, @rye.

@hawkrives I agree, you asked what I thought as an Android person. I understand the realities of our situation, it's not a very highly-used feature so I'm not *super* concerned about it.

[2017-09-27 16:10] hawkrives commented on #1641
@rye We actually use a fork of the package, currently – I guess you could also try upstream again, but IIRC whenever we try upstream, even more things break. Things like scrolling. On both platforms.

[2017-09-27 18:50] rye commented on #1638
@hawkrives, do you prefer people to edit the draft?  Or copy/paste a new version?  Is there someplace better?  (E.g. Wiki?, or are we able to see other people's draft release notes?)

[2017-09-27 18:51] drewvolz commented on #1638
Sometimes we use [the wiki](https://github.com/StoDevX/AAO-React-Native/wiki/Release-Notes)...

[2017-09-27 19:39] rye commented on #1641
Um... Yeah, looks like we're using [hawkrives/react-native-sortable-list](/hawkrives/react-native-sortable-list).  Which is... 76 commits behind upstream?

Looks like you just added `prop-types`-related stuff, right, @hawkrives?  If so, should that get PR'd upstream?  Or can we PR upstream into your fork?  Something so we have the latest version of `react-native-sortable-list` in the wild, with pe

[2017-09-27 20:08] drewvolz commented on #1641
@rye something something we've had a bad experience using the latest version of that component, so we forked and left it in a "stable" state. The last I checked, there was an issue when moving items around. Items would be shuttled downwards/upwards when pressing and holding on a row. We felt the issue was big enough to pin the repo to our forked version. _Even if that thing was "resolved", I think

[2017-09-27 21:22] drewvolz opened #1710 "Remove refresh spinners on load for a few views"
@hawkrives made a distinction between things that are seen as "static" data -- views that you should not have to think about refreshing. A few views should not show the loading spinner above the list of content when they appear.

- [ ] Dictionary list
- [ ] Express, Red, and Blue bus lines

[2017-09-27 21:23] drewvolz opened #1711 "Student orgs uses LoadingView for the refresh spinner"
Should be a one-line change.

[2017-09-27 21:23] hawkrives commented on #1711
Orgs should, because there's no local data.

[2017-09-27 21:24] drewvolz commented on #1711
I'm saying `LoadingView` ... the whole view that says "Loading..." is being used as the refresh indicator Does that make sense?

[2017-09-27 21:26] hawkrives commented on #1711
There is no refresh indicator; the view uses the LoadingView to handle both "loading" and "refreshing" states.

Yes? That is a bug.

[2017-09-27 21:26] hawkrives commented on #1638
Wiki is fine

[2017-09-27 21:27] hawkrives commented on #1710
Balances should show the spinner, because it's not static data.

[2017-09-27 21:28] drewvolz opened #1712 "Remove pull-to-refresh spinner from Important Contacts"
Thoughts?

[2017-09-27 21:28] hawkrives commented on #1712
Remove it

[2017-09-27 21:55] rye commented on #1681
Filed [`codeclimate/codeclimate-eslint#338`](https://github.com/codeclimate/codeclimate-eslint/pull/338), which was merged earlier today.

[2017-09-28 04:08] #1710 closed, assigned to drewvolz

[2017-09-28 04:08] #1711 closed, assigned to drewvolz

[2017-09-28 04:08] #1712 closed, assigned to drewvolz

[2017-09-28 04:09] #1681 closed, assigned to rye

[2017-09-29 03:16] #1687 closed, assigned to nobody

[2017-09-29 22:51] #1648 closed, assigned to nobody

[2017-09-30 03:04] drewvolz commented on #1641
Here's what happens on the latest `react-native-sortable-list` when it's not pinned to 76 commits behind upstream.

<img height=700 src="https://user-images.githubusercontent.com/5240843/31041871-6bc65516-a56a-11e7-8726-47999e522e61.gif" />

[2017-09-30 18:40] drewvolz opened #1727 "Use TextInput in place of Text"
I don’t see a downside yet, but we can apply a set of datadetectors to our text.

http://facebook.github.io/react-native/releases/0.48/docs/textinput.html#datadetectortypes

'link'
'address'
'calendarEvent'
'none'
'all'

[2017-10-01 16:17] drewvolz opened #1730 "Reset everything on Android does not restart the app"
Found thanks to https://github.com/StoDevX/AAO-React-Native/pull/1728/ when trying to see the SIS disclaimer. Not sure what's going on but iOS does not need to be refreshed.

[2017-10-01 17:32] #1692 closed, assigned to nobody

[2017-10-01 17:39] hawkrives commented on #1730
To be clear – Pressing "Refresh App" in settings won't clear the Redux state on Android.

You can replicate this by refreshing the app, properly (just quit it and relaunch it), then approving the SIS ack, then refreshing the app again (just with the button this time) and see that the SIS message thinks its still approved.

The Refresh App button still clears AsyncStorage and the keychain / keystor

[2017-10-01 19:09] #1641 closed, assigned to nobody

[2017-10-01 19:09] #1695 closed, assigned to nobody

[2017-10-02 00:06] rye opened #1735 "Minify data files"
This would have two key benefits:
- Resource requests would end up faster, which would make us and users happier.
- Network requests for our resources would take less data, which makes everyone involved in networking happier, not to mention costing our users less money.

I think this is a thing that definitely needs to get done, especially as we rely more and more upon network requests to update t

[2017-10-02 00:20] hawkrives commented on #1735
What point is there in keeping the un-minimized json? Why wouldn't we just generate minified json, so that all the app versions can take advantage of it right away?

[2017-10-02 00:24] rye commented on #1735
@hawkrives this is a good idea, and as I look into implementing this it seems more and more like it's better just to generate minified. (3 line change vs many more than that)

[2017-10-02 00:34] rye commented on #1735
Since this was such an easy change, I can put this in v2.4 instead.

[2017-10-02 12:25] #1735 closed, assigned to rye

[2017-10-02 12:30] hawkrives commented on #1404
This was not solved by #1542.

It's still really horrendously slow. To the point of me restarting the app.

This really needs some profiling - probably in Android Studio?

I also want to look at making the android tabs only render the views on either side of the active one, instead of keeping all the views you've opened in memory - I think our old tabs wrapper did that, and it should be possible t

[2017-10-02 12:58] #1638 closed, assigned to nobody

[2017-10-02 18:03] rye commented on #1404
I can troll around and run some profiles to see if I can come up with a cause.  It could just be janky code, who knows?

[2017-10-02 18:07] rye commented on #1404
It seems that the animation is slow and so is the loading. (Though it was sped up quite a bit by the space reductions afforded by #1736.)

[2017-10-04 12:51] hawkrives opened #1748 "Building hours update for Tostrud Climbing Wall"
## Before:

[code]

## After:

[code]

[2017-10-04 12:53] rye commented on #1748
Below is what is on the site.

![screen shot 2017-10-04 at 7 53 12 am](https://user-images.githubusercontent.com/1566689/31176629-2268cca6-a8d9-11e7-90de-55afcfd090f9.png)

[2017-10-04 13:37] #1748 closed, assigned to nobody

[2017-10-04 20:33] hawkrives opened #1750 "Building hours update for Skoglund"
## Before:

[code]

## After:

[code]

[2017-10-04 21:58] #1750 closed, assigned to nobody

[2017-10-05 20:29] drewvolz commented on #1597
The current implementation is not backgrounding audio. Probably because we're not using a native streaming library?

[2017-10-06 00:10] hawkrives commented on #1597
That should be filed as a new issue; the fade-out at the end of the music makes me believe that it's a problem with how we handle the webview, not an inherent limitation of the approach.

[2017-10-06 00:10] hawkrives opened #1754 "KSTO finally playing; music does not play in background"
Investigating from this [comment](https://github.com/StoDevX/AAO-React-Native/issues/1597#issuecomment-334582863)

[2017-10-06 12:49] hawkrives commented on #1686
Also use https://github.com/gajus/eslint-plugin-flowtype/issues/236 (no-mutable-array)

[2017-10-06 15:04] rye opened #1757 "Set our own custom User-Agent string"
We should do this.  This is a good way of telling what versions our users are using, among many other things.

[2017-10-06 16:07] hawkrives commented on #1757
I'd like to set it to `AllAboutOlaf/2.4.0 (Darwin; iOS 11.0.2; Build/4381)`, I think.

`AllAboutOlaf/{version} ({kernel}; {platform} {plat_ver}; Build/{build})`

I took that from the string "Mozilla/5.0 (Linux; Android 5.1.1; LGL44VL Build/LMY47V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.116 Mobile Safari/537.36".

[2017-10-06 16:40] rye commented on #1757
How about something more like:
[code]

Couple of differences here:

- [RFC 7231 (HTTP) § 5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3) says:

  - So, when we do build nightlies and betas, I'd say that the `+{build}` number should be put together with the version number; the stuff in the parentheses is then just platform data.
- As a corollary, `+{build}` should only be appended for pre

[2017-10-06 16:41] hawkrives commented on #1757
that's actually easier to do, as the build number is appended and saved in the bundled package.json – so we've got one easy source for that info.

[2017-10-12 03:35] drewvolz opened #1774 "Incorrect "Powered By" message on Oleville & Northfield calendars"
The "powered by" message on Oleville and Northfield calendars says it is provided by the St. Olaf Calendar. These two sources do not come from that calendar. I think we need to pass a prop into the calendar views to set that message.

[2017-10-12 11:51] hawkrives commented on #1774
lol. Whoops.

[2017-10-12 11:52] hawkrives commented on #1774
I agree with Drew's assessment.

[2017-10-12 15:59] rye commented on #1757
React-Native doesn't give us much access to Platform information besides which version and what it is, but I'll have a PR soonish for this.

[2017-10-12 16:15] hawkrives commented on #1757
We probably don't need kernel anyway lol

[2017-10-13 04:32] #1757 closed, assigned to rye

[2017-10-15 01:35] drewvolz opened #1780 "Red/Blue lines run on weekend"
PR #1771 removed Saturday and Sunday from the Red/Blue lines. I think that is incorrect according to every schedule I can find for those routes.

[2017-10-15 03:36] hawkrives commented on #1780
@hannesmcman Thoughts?

[2017-10-15 04:20] drewvolz commented on #1780
I am unsure if it runs by request on Saturday/Sunday, or not at all.

[2017-10-15 04:21] hawkrives commented on #1780
You can't request the red and blue lines.

[2017-10-15 20:19] drewvolz commented on #1780
Alright, I’m wrong.

[2017-10-15 20:19] #1780 closed, assigned to nobody

[2017-10-15 22:56] hawkrives commented on #1780
Looking at http://threeriverscap.org/transportation/hiawathaland-transit, it says that the Northfield routes are "Monday - Friday, 6:00 am - 6:00 pm". I'd agree that the routes are M-F.

[2017-10-17 00:38] #1730 closed, assigned to nobody

[2017-10-17 14:59] hawkrives opened #1788 "ExampleException in home#example"
## Test error in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://app.bugsnag.com/errors/example/events/example?i=gh&m=te)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://app.bugsnag.com/er

[2017-10-17 14:59] #1788 closed, assigned to nobody

[2017-10-17 15:00] hawkrives opened #1789 "SIGABRT in TCPIOConnection::_tlsProcessValidateServerCertificates(nw_tls_context*)"
## Error in all-about-olaf

**SIGABRT** in **TCPIOConnection::_tlsProcessValidateServerCertificates(nw_tls_context*)**

[View on Bugsnag](https://app.bugsnag.com/gobbldygook/all-about-olaf-1/errors/59e6145737450d0017104ff1?event_id=59e6145737450d0017104ff0&i=gh&m=ci)

## Stacktrace

    /usr/lib/system/libsystem_kernel.dylib:0 - ___pthread_kill

[View full stacktrace](https://app.bugsnag.com/gobbl

[2017-10-17 15:00] hawkrives commented on #1789
Oh, thank you, Bugsnag, for that useful stack trace.

If any of you can't log in, let me know and I'll send you the login info.

[2017-10-17 15:01] hawkrives commented on #1789
This happened on 2.4.0, btw.

[2017-10-17 16:12] rye commented on #1789
I'm thinking this is an internal network-related TLS issue?  We probably should handle these kinds of exceptions, I suppose, if not just with a retry.

[2017-10-17 16:47] hawkrives opened #1792 "New OleCard balances data fetching API"
I just made a JSON endpoint for the OleCard check balances screen.

No longer will we suffer under the tyrrany of parsing HTML on it!

*cough*

Anyway.

Hitting https://www.stolaf.edu/apps/olecard/checkbalance/, logging in, and then `GET`ing https://www.stolaf.edu/apps/olecard/checkbalance/api.cfm will return a response that matches the following typedef:

[code]

As an example, here is what I get

[2017-10-17 16:48] hawkrives commented on #1792
I'd really like to get this in to 2.next, but I'll completely understand if we want to push it to 2.next+1.

If someone wants to do this this afternoon, I can cut an RC this evening, we can test, and then we can submit the build later tonight and hopefully have it approved tomorrow.

[2017-10-17 17:07] drewvolz commented on #1789
There have been major changes to the TLS subsystem in iOS 11. I wouldn't sweat it on our end.

[2017-10-17 19:01] hawkrives commented on #1789
Okay.

[2017-10-17 19:01] #1789 closed, assigned to nobody

[2017-10-17 19:31] drewvolz commented on #1727
@hawkrives tested this out on the [data-detectors](https://github.com/StoDevX/AAO-React-Native/tree/data-detectors) branch. Weird things happened. Scrollviews where we wouldn't expect them. I would much prefer to use [react-native-hyperlink](https://github.com/obipawan/react-native-hyperlink).

[2017-10-17 20:34] rye commented on #1792
I feel like this could go to 2.5 or 2.6, seems suitable.  Along with platform changes like RN upgrades, this'll give us a hearty amount of stuff to do.  But yeah, a JSON API beats HTML parsing any day.

[2017-10-18 13:46] hawkrives opened #1795 "Update `() => {}` types to `() => mixed`"
According to the flow docs (https://flow.org/en/docs/types/functions/#toc-function-type),

I've been writing `() => {}` instead; we should update them over time.

[2017-10-18 13:46] hawkrives commented on #1795
I guess I've been writing `() => any`, as well.

https://github.com/StoDevX/AAO-React-Native/blob/6ca0eecb7227dbd79fe9bc05d5f78e630a65c352/source/views/sis/balances.js#L40

[2017-10-18 18:34] #1792 closed, assigned to nobody

[2017-10-18 21:27] hawkrives opened #1799 "Catch "cannot open mailto: urls" errors and alert the user"
## Error in all-about-olaf

**Error** in **main.jsbundle:17**
Unable to open URL: mailto:***@stolaf.edu

[View on Bugsnag](https://app.bugsnag.com/gobbldygook/all-about-olaf-1/errors/59e7c555be71a6001a70fef1?event_id=59e7c5af29fa37001a743db9&i=gh&m=ci)

## Stacktrace

    main.jsbundle:17 - l

[View full stacktrace](https://app.bugsnag.com/gobbldygook/all-about-olaf-1/errors/59e7c555be71a6001a70fe

[2017-10-18 21:27] hawkrives commented on #1799
where ***@stolaf.edu == "rives@stolaf.edu", for example

This in on 2.4.0 as well.

[2017-10-18 21:28] hawkrives opened #1800 "Send screen navigations to BugSnag as "breadcrumbs"?"
Because our breadcrumb trail looks a little empty most of the time right now.

[2017-10-19 19:37] drewvolz commented on #1609
`macaroni whole grain cooked`, or `5290840` is an item we can query to find more detailed info

http://legacy.cafebonappetit.com/api/2/items?item=5290840

<details>
<summary>Expand to see all of the nutrition info</summary>

5290840  |  
-- | --
id | "5290840"
label | "macaroni whole grain cooked"
description | ""
zero_entree | "0"
cor_icon | Object
price | ""
sizes |

nutrition_summary  |  
-- |

[2017-10-19 19:39] hawkrives commented on #1609
<details><summary>As json</summary>

[code]

</details>

[2017-10-20 14:23] drewvolz opened #1805 "KSTO for Android is stuck while starting the stream"
It does not go past the button message of "Starting". Works on iOS.

[2017-10-20 14:23] drewvolz commented on #1805
@hawkrives

[2017-10-21 19:34] #1754 closed, assigned to nobody

[2017-10-23 15:25] drewvolz commented on #1727
@hawkrives I think we should close this issue.

[2017-10-23 15:56] #1727 closed, assigned to nobody

[2017-10-26 14:28] rye opened #1817 "Greenkeeper still not updating lockfile"
I'm suspicious of our decision to only build PR's and not Branches.  It makes sense, but it seems like it might be causing problems.  Here's why:

On the most recent Greenkeeper PR, #1816, which was built on [Travis:4556](https://travis-ci.org/StoDevX/AAO-React-Native/builds/293062277), the [.1 (JS-only)](https://travis-ci.org/StoDevX/AAO-React-Native/jobs/293062278) build passed, but [the relevan

[2017-10-26 14:53] hawkrives commented on #1817
You are correct that greenkeeper-lockfile checks for "not a PR build":

https://github.com/greenkeeperio/greenkeeper-lockfile/blob/94c544afa5546ba09735fb6ad15c5b57295a761a/ci-services/travis.js#L14

[2017-10-26 14:54] rye commented on #1817
Sure enough, I think that's what led me to believe that I should do #1818.

[2017-10-26 16:37] #1817 closed, assigned to rye

[2017-10-26 17:03] rye opened #1819 "Leverage Build Stages to Pipeline the build"
Our CI build times are friggin' long.™

Not only are we at the whims and mercy of Travis' build infrastructure stability, (wherein a short outage can cause hours of slowdown) but MacOS build queue lengths are a serious problem across the platform, and the MacOS backlog regularly grows to ~800 builds during the day, so it takes at least a little while to build our app.  Meanwhile, Travis' Linux bac

[2017-10-26 17:11] rye commented on #1819
One con of this is that JS has to run before Android and iOS take off, but the pro to counter that is that Android and iOS _won't run unless JS passes_, which can save a lot of time in less certain circumstances.

[2017-10-26 22:13] hawkrives commented on #1819
Closed by #1820

[2017-10-26 22:13] #1819 closed, assigned to hawkrives, rye

[2017-10-28 03:05] hawkrives commented on #1642
I think this can be closed; we managed to get a new release out after Fall Break, and this issue remaining open isn't going to get one out after Thanksgiving by itself.

[2017-10-28 03:05] #1642 closed, assigned to nobody

[2017-10-31 04:21] rye opened #1830 "Missing nightly builds"
As of the recent transition to build stages, we no longer get the cron-triggered nightly builds.

I propose that we remove this variable from `.travis.yml` and bake it directly into the Fastlane util.  Or, we figure out why `run_deploy` isn't getting properly found all of a sudden.

[2017-11-01 12:29] #1830 closed, assigned to nobody

[2017-11-01 13:56] rye commented on #889
This would be nice to have.  I know there exists some RN packages that let us do dynamic icons for iOS, but this would be nice to have on Android.

* * *

To me, it makes sense to store an SVG in this repository and then to render to .png or .jpg at whatever resolution and compression level we desire, presumably in an npm script that can be called in CI when we are finally building the thing.

Thi

[2017-11-01 15:02] hawkrives commented on #889
@rye If you can get an svg of the icon, I'd love to not store the ~36 copies of the icon that we currently do.

If we want to generate them for beta, we'd need to add some more logic to differentiate between "here's an alpha/beta/rc" and "here's a release" (probably just by looking at the package.json version) so that we don't add a badge to the release bundles.

[2017-11-02 05:25] hawkrives opened #1835 "Tests aren't updated for DST yet"
[code]

https://github.com/StoDevX/AAO-React-Native/blob/cbd7a85c373bebd91ec5ec502784dad8ac8f9590/source/views/building-hours/lib/__tests__/parse-hours.test.js#L47-L53

---

DST changes between now and Sat, so we've got a few days to figure it out again (it changes on the 5th I think).

[2017-11-02 05:26] hawkrives commented on #1835
(I said "yet" because I tried to update them once)

https://github.com/StoDevX/AAO-React-Native/blob/cbd7a85c373bebd91ec5ec502784dad8ac8f9590/source/views/building-hours/lib/__tests__/parse-hours.test.js#L56-L79

(It obviously didn't work right)

[2017-11-08 14:48] rye commented on #1800
This would be nice.  In general, logging navigations properly to analytics might also be nice.

[2017-11-08 14:52] rye commented on #1800
Seems like we can just do something like `bugsnag.leaveBreadcrumb`.  Read [here](https://docs.bugsnag.com/platforms/react-native/#logging-breadcrumbs) and [here](https://docs.bugsnag.com/platforms/react-native/customizing-error-reports/#adding-detailed-breadcrumbs).

[2017-11-08 17:08] hawkrives opened #1854 "Update LaunchImage storyboard for iPhone X"
The one that the system renders before the app loads.

![image](https://user-images.githubusercontent.com/464441/32562747-0ec9416e-c475-11e7-96a5-142d15da1aa8.png)

[2017-11-08 18:33] #1800 closed, assigned to rye

[2017-11-10 01:54] rye opened #1861 "App keeps crashing on Android"
Not sure what is causing this.  Happens on my phone and in an emulator, both on the latest available versions.

<details>
<summary>Crash logs from emulator</summary>
<pre>
11-10 01:51:57.143  1508  2974 I ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=com.allaboutolaf/.MainActivity bnds=[437,1207][644,1485]} from uid 10020
11-10

[2017-11-10 01:57] rye commented on #1861
I'm gonna venture that it has something to do with:

<details>
<summary>Specific <code>AndroidRuntime</code> crash trace.</summary>
<pre>
11-10 01:51:57.539  5114  5134 E AndroidRuntime: FATAL EXCEPTION: Thread-2
11-10 01:51:57.539  5114  5134 E AndroidRuntime: Process: com.allaboutolaf, PID: 5114
11-10 01:51:57.539  5114  5134 E AndroidRuntime: java.lang.NoClassDefFoundError: Failed resolution of

[2017-11-10 02:01] hawkrives commented on #1861
Just to be clear, 2.4.1 is crashing? Or 2.4.2-beta.1?

[2017-11-10 02:02] rye commented on #1861
`2.4.2-pre` is.

[2017-11-10 02:23] hawkrives opened #1864 "Upload JS source maps to Bugsnag when releasing"
This would help us to debug some of the stuff.

https://docs.bugsnag.com/platforms/react-native/showing-full-stacktraces/#uploading-source-maps is a doc about this.

I think that we should add another machine to the "build + deploy" stage to bundle these, as it takes ~3 minutes to bundle on Travis IIRC. It should bundle both Android and iOS in release mode, as that's the only type that we upload t

[2017-11-10 03:52] rye commented on #1861
<details>
<summary>Results of <code>git bisect</code></summary>
<pre>
kristofer@maero ~/G/G/S/AAO-React-Native ((f1c9cd62…)|BISECTING)> git bisect bad
f1c9cd621619b975f46047923fff28d607b7e7f7 is the first bad commit
commit f1c9cd621619b975f46047923fff28d607b7e7f7
Author: greenkeeper[bot] <greenkeeper[bot]@users.noreply.github.com>
Date:   Tue Nov 7 16:37:05 2017 +0000

    fix(package): update bug

[2017-11-10 03:59] rye commented on #1861
Confirmed that this was a result of #1850—builds on top of `master` with those three commits reverted.

[2017-11-10 04:16] rye commented on #1861
It seems as though this has something to do with adding Google's Gradle repository.  I confirmed that downgrading back to `v2.5.1` works fine, even with the work done on `master`.

See also [this comment](https://github.com/bugsnag/bugsnag-react-native/issues/177#issuecomment-342747562) on an issue that was created regarding doing this upgrade without adding Google's Maven repository.

[2017-11-10 04:20] hawkrives commented on #1861
<details><summary><code>./gradlew :app:dependencies</code></summary>

[code]

</details>

[2017-11-10 04:29] hawkrives commented on #1861
<details><summary><code>./gradlew :app:dependencies</code></summary>

[code]

</details>

[2017-11-10 04:30] rye commented on #1861
PR incoming to fix the broken Android app.  We should open another issue for this `bugsnag-react-native` upgrade trouble.

[2017-11-10 04:33] hawkrives commented on #1861
Red is with the maven repo and bugsnag 2.6; green is without and with bugsnag 2.5.1.

[code]

[2017-11-10 04:35] rye commented on #1861
That diff is going in reverse direction, but it is interesting.  It could be due to play-services stuff?

[2017-11-10 04:40] #1864 closed, assigned to hawkrives

[2017-11-10 04:56] #1861 closed, assigned to nobody

[2017-11-10 05:05] rye opened #1867 "Update bugsnag-react-native to v2.6"
See #1861 for the problems (on Android) that our first pass at this caused.

Note that in that stack trace I see a lot of complaining about maps.  I wondered if this could be solved by running
- `react-native unlink react-native-maps`, then
- `react-native unlink bugsnag-react-native`

and then re-linking them in reverse order via
- `react-native link bugsnag-react-native`, then
- `react-native li

[2017-11-11 18:40] hawkrives opened #1873 "Test out react-markdown v3's release candidate"
See https://github.com/rexxars/react-markdown/issues/96 for a summary, and https://github.com/rexxars/react-markdown/blob/v3/README.md for the new documentation.

[2017-11-11 18:43] hawkrives opened #1874 "Don't ask for notification permissions until we need them"
It reduces the number of dialogs that someone has to tap through to use the app (from 1 to 0), and will help in running automated tests on the app in the future since I don't think there's an automated way to accept the dialog.

[2017-11-12 17:30] #1704 closed, assigned to hawkrives

[2017-11-12 19:50] #1508 closed, assigned to nobody

[2017-11-13 00:14] hawkrives opened #1884 "Handle unexpected HTML when requesting menus from BonApp"
I don't know what HTML it's returning, but `JSON Parse error: Unrecognized token '<'` means that we're getting HTML instead of JSON.

We've gotten 233 of these errors in the last week, fwiw, across both wifi and cell connections.

[2017-11-13 13:26] hawkrives opened #1885 "Add commonmark to dependencies"
We just need to add commonmark to our list of dependencies.

[2017-11-13 15:10] hawkrives commented on #1885
Scratch that, `commonmark-react-renderer` is needed by `react-markdown`, and `react-markdown` does require commonmark@0.24…

Furthermore, I cannot replicate that warning on my system. I saw it go by on today's iOS travis build (https://travis-ci.org/StoDevX/AAO-React-Native/jobs/301228626#L514).

[2017-11-13 15:10] #1885 closed, assigned to nobody

[2017-11-14 13:44] hawkrives opened #1893 "Building hours update for Holland Hall"
## Before:

[code]

## After:

[code]

[2017-11-14 16:53] #1893 closed, assigned to nobody

[2017-11-16 15:40] hawkrives opened #1896 "Fix Webcams thumbnails"
As of #1892, webcams are broken.

"Error: the <Image> component cannot contain children. If you want to render content on top of the image, consider using absolute positioning." (facebook/react-native@c55fae1)

[2017-11-17 19:32] hawkrives opened #1898 "Building hours update for The Cage"
## Before:

[code]

## After:

[code]

[2017-11-17 21:44] #1898 closed, assigned to nobody

[2017-11-18 21:51] #1896 closed, assigned to hawkrives

[2017-11-18 21:52] #1874 closed, assigned to nobody

[2017-11-18 22:27] hawkrives commented on #1686
Meh

[2017-11-18 22:27] #1686 closed, assigned to nobody

[2017-11-19 00:05] #1774 closed, assigned to nobody

[2017-11-19 07:50] drewvolz opened #1905 "Webcam tiles show highlight on touch (again)"
Another introduction of #1648 reintroduced by #1901.

On press, the webcam thumbnails show a box around the rounded images. This is most likely from moving the padding and border-radius to the image instead of the touchable? Most likely fallout from some recent refactoring.

<img src="https://user-images.githubusercontent.com/5240843/32988824-680ef3d4-ccc9-11e7-95b6-b86a8767b89d.gif" width=350>

[2017-11-19 08:01] drewvolz opened #1906 "Oleville news story has image parsing issue"
<img src="https://user-images.githubusercontent.com/5240843/32988745-81868522-ccc7-11e7-9085-d25b5b9f56b6.png" height=450>

[2017-11-19 08:11] drewvolz opened #1907 "SIS login does not provide login feedback"
It appears to be stuck on “Logging in to St. Olaf” with incorrect credentials, not that I can test with anything other than that.

<img src="https://user-images.githubusercontent.com/5240843/32988762-f447a9ba-ccc7-11e7-926f-8bc510838a0c.jpeg" height=250>

[2017-11-19 08:17] drewvolz opened #1908 "Navigation and status bar clobber each other when app starts in landscape"
If the app is started in landscape, every view displays the status bar and the navigation bar. I am attaching the home view as an example.

![65dfb93b-cbdc-49cc-9306-e7c70dcd01ba](https://user-images.githubusercontent.com/5240843/32988737-66a9654e-ccc7-11e7-87ef-909ba61b6953.png)

[2017-11-19 08:35] drewvolz opened #1909 "News detail not respecting viewport"
Looks zoomed out. Maybe the viewport is being ignored? Happens to more than just this screenshot.

<img src="https://user-images.githubusercontent.com/5240843/32988854-f99e281a-ccc9-11e7-811e-4152d3561f7d.png" width=350>

[2017-11-19 08:53] drewvolz opened #1910 "Open jobs is blank if no network"
I’d expect an error message or some sort of NoticeView text.

<img src ="https://user-images.githubusercontent.com/5240843/32988953-3e0d2468-cccc-11e7-9c4e-039cb5a06af8.png" width=450>

[2017-11-19 18:10] hawkrives commented on #1909
For me, it fixed itself when I opened another news story. I haven't figured it out yet.

[2017-11-19 18:14] hawkrives commented on #1905
The padding isn't on the image though. The only margin/padding is on the touchable.

[2017-11-19 18:32] drewvolz commented on #1909
It seems to work 40-50% of the time?

[2017-11-19 19:17] #1884 closed, assigned to nobody

[2017-11-19 19:27] #1910 closed, assigned to nobody

[2017-11-19 19:55] #1906 closed, assigned to nobody

[2017-11-19 20:17] #1905 closed, assigned to hawkrives

[2017-11-20 13:26] #1448 closed, assigned to nobody

[2017-11-21 17:43] hawkrives commented on #1805
still an issue for Android

[2017-11-22 17:53] rye commented on #1805
With the ringer switch on silent, stream is "playing" (button says "pause") but with the ringer switch set to play audio, stream is stuck in "starting."

[2017-11-26 21:09] drewvolz commented on #1568
Bump?

[2017-11-26 21:12] drewvolz opened #1931 "Other modes transportation showing markdown in list"
Markdown is appearing in the other modes list items. I can see it on the“Van-GO!” description. We should be using a secondary markdown-free field for these descriptions.

[2017-11-26 23:58] hawkrives commented on #1568
You can PR the text files, @drewvolz :p

[2017-11-27 00:30] #1931 closed, assigned to nobody

[2017-11-27 17:03] hawkrives opened #1936 "Utilize new feature in eslint-plugin-react-native"
After https://github.com/StoDevX/AAO-React-Native/pull/1925 is merged:

We should switch from enabling both the `node` and `browser` globals to just enabling this one: https://github.com/Intellicode/eslint-plugin-react-native/commit/f4694e1e7ca3ab1fb61c7efb838557cba36a785c

[2017-11-27 17:20] hawkrives opened #1938 "Enable the react/jsx-sort-props rule"
<table>
  <thead>
    <tr>
      <th width="50"></th>
      <th width="100%" data-danger-table="true">Messages</th>
    </tr>
  </thead>
  <tbody><tr>
      <td>:book:</td>
      <td>

<details>
  <summary>Eslint had a thing to say!</summary>

[code]

</details>
  </td>
    </tr>
  </tbody>
</table>

The rule has been enabled since https://github.com/StoDevX/AAO-React-Native/commit/46051acf380c630

[2017-11-27 23:29] #1938 closed, assigned to hawkrives

[2017-11-29 03:25] #1092 closed, assigned to elijahverdoorn

[2017-11-29 19:08] hawkrives opened #1951 "Express Bus Route Change"
The Express Bus is picking up at the Pump House during Christmasfest (30th-3rd). It will not approach Buntrock.

[2017-11-30 14:36] hawkrives opened #1955 "Investigate an Android "Instant App""
Something something they load faster?

Anyway, it sounds like there's no inherent incompatibility between RN and Instant Apps: https://github.com/facebook/react-native/issues/14197

[2017-11-30 15:12] #1951 closed, assigned to nobody

[2017-12-04 00:15] rye opened #1960 "Add Favorites for Building Hours"
This would be a nice feature to have, and has been requested by a user.  This could just be a button on the detail view.  Such a button would mark a building as a favorite, and such favorited buildings would be shown at the top of the building hours list view.

[2017-12-28 22:07] #1960 closed, assigned to nobody

[2017-12-29 00:02] #1936 closed, assigned to hawkrives

[2017-12-29 00:32] rye opened #2016 "Use Commit Statuses to communicate CI job/component statuses"
This is an idea that I came up with: rather than getting a blind "push/pr passed or failed in Travis" bit of information, we could potentially tell Danger or some custom scripts to `POST /repos/StoDevX/AAO-React-Native/statuses/${COMMIT_SHA}`. (See the endpoint documentation at [this place](https://developer.github.com/v3/repos/statuses/#create-a-status))

This kind of behavior **_really does not

[2017-12-29 00:38] hawkrives commented on #2016
Seems like this might as well go into Danger, since the logs are generated explicitly for Danger… we'd just add a function that we call after we send the log to Github with `fileLog` (in the dangerfile we have now).

Not saying something couldn't be more generalized, but I've already got some logic in Danger-land for determining if a log file needs to be reported or not, so it seems easiest / futu

[2017-12-29 00:46] rye commented on #2016
My big gripe is that we only run Danger once currently.  I'm planning on putting together a Proof-of-Concept so we can look at, stylistically, what it will do, which I will just run manually in Travis.  We can always port over.  (It'll be in JS, so it'll be easy to do.)

Ideally, I'd like to run this both before we run the business part of a job and after we finish that.  That way, we get a pendin

[2017-12-30 06:15] hannesmcman commented on #1907
Closed by #2019

[2017-12-30 06:15] #1907 closed, assigned to nobody

[2018-01-01 20:13] hawkrives commented on #1604
I've come around on this… what do you all think about always opening the site in a browser, and just forgoing the embedded RSS views entirely?

It'd fix https://github.com/StoDevX/AAO-React-Native/issues/1909, for one.

/cc @StoDevX/all-about-olaf

[2018-01-01 22:45] drewvolz commented on #1604
Mixed feelings.

I judge apps that don't have native views for these things. Because we have the data and we should be responsible for rendering it because we fetched it already.

Are we writing off things that are issues by eliminating features we've developed? Not to say that I'm trying to hold onto a mistake because we've spent a lot of time making it. But I'm not sure if we're excusing _not_ f

[2018-01-01 22:49] hawkrives commented on #1604
Except we don't always have the data.

And when we do, there are lots of edge cases - Videos, iframes, audio. Pdf embeds. Web views not respecting the screen width of the device.

I've just switched to thinking that _not_ doing our own thing is superior. I used to think the other way.

[2018-01-01 22:50] hawkrives commented on #1604
I guess I don't have a reason to not enable reader mode by default, except that it's inconsistent if you open a page that safari doesn't detect an article on (it won't enable reader mode then.)

Also I tend to force reader mode on for reader-hostile sites, which I don't think we have any of here (except maybe Oleville, since it's not responsive.)

[2018-01-02 20:04] #1050 closed, assigned to nobody

[2018-01-02 20:04] #1604 closed, assigned to nobody

[2018-01-02 20:04] #1909 closed, assigned to nobody

[2018-01-03 20:38] hannesmcman opened #2029 "Add TES Tab to SIS View"
I saw that there was talk about adding a TES view, but there were worries about getting permission from IT before implementing it. I think in the meantime it would be useful to add the TES to the homescreen as a url view, similar to the moodle, campus map views. Thoughts?

[2018-01-03 21:41] hawkrives commented on #2029
I'll be blunt: I don't want to add a TES view that's not resized for phone screens. The only place we link to that's not responsive or mobile optimized is Oleville in the News section, and I'd like for them to be responsive.

I will say that TES won't be responsive at least through the rest of this academic year, and I can't say anything about beyond that because the summer is always an unknown.

[2018-01-03 21:44] hannesmcman commented on #2029
Oh okay. That makes sense!

[2018-01-04 02:10] hawkrives opened #2034 "Add "canonical reference" key to all building hours files"
I don't think we need to expose them in the UI, but it'd be nice if we had a way to remember where we normally go to check the times for a given building.

It doesn't need to be on every building, if we can't find one for a given building for example.

[code]

or something

Thoughts?

[2018-01-04 02:22] rye commented on #2034
This sounds like a good idea.  One question is: does this need to go in metadata that gets loaded on the app, or could it just be put at the top of the YAML source file?  (In a comment?  That's what they're for.  Or perhaps in a `%`-directive, but that's rather silly, and prone to break if a non-spec-compliant processor doesn't know what it's doing.)

Of course I'm fine with downloading it on the

[2018-01-04 02:30] hawkrives commented on #2034
We can strip it out of the JSON bundle, especially when I'm done with my versioning data branch that's local only right now. I'd rather have it as a key in the data… for whatever reason.

[2018-01-04 14:09] hawkrives commented on #2029
Actually, didn't I optimized the main entry screen for mobile last year?

If you log in, does it fit itself to your phone screen? If it does, I can just fix the login screen and we can think about adding a button again. (Although I feel like this belongs under a renamed SIS tab, almost.)

[2018-01-05 02:19] hawkrives commented on #1854
Closing this because as far as I can tell, there's no way to change the rendering only for the X, without using precomposed images.

[2018-01-05 02:19] #1854 closed, assigned to nobody

[2018-01-05 07:09] drewvolz opened #2039 "Pressing keyboard "search" button on orgs / dictionary crashes app"
I was able to crash the latest beta on iOS

1. Open up student orgs or dictionary
2. Type something into the search bar
3. Hit the “search” button on the keyboard (notice keyboard doesn’t hide?)
4. Either swipe to dismiss keyboard or tap a search result
5. App crashes

[2018-01-05 12:42] hawkrives commented on #2039
Wonderful.

[2018-01-05 12:43] hawkrives commented on #2039
I need to update my fork of the package: https://github.com/umhan35/react-native-search-bar/commits/master

[2018-01-05 14:44] #1602 closed, assigned to nobody

[2018-01-05 20:35] hawkrives commented on #1873
Closing because v3 has been released

[2018-01-05 20:35] #1873 closed, assigned to nobody

[2018-01-05 20:36] hawkrives commented on #1908
@drewvolz Does this still happen with today's beta? I ask because we've had two react-navigation updates recently, and my gut says this is a problem in that lib.

[2018-01-05 20:37] hawkrives commented on #1908
We can probably also work around this in `<App/>`'s componentDidMount, with a combination of knowing our orientation and using the `StatusBar.setHidden(true)` method (https://facebook.github.io/react-native/docs/statusbar.html#docsNav)

I'm leaving this in the 2.5 milestone because I think there's a workaround.

[2018-01-05 20:39] hawkrives commented on #1299
The maps are disabled, yeah? (Yeah.)

I'm going to push this back to v2.6; it's a bug, but I'm fine shipping without fixing it since there's no way to trigger it that I know of.

[2018-01-05 20:40] hawkrives commented on #1476
meh. Bug, but "just" graphical; I'm going to push it back, but I'd accept a fix into 2.5.

[2018-01-05 20:40] drewvolz commented on #1908
I believe this is fixed.

[2018-01-05 20:41] hawkrives commented on #1908
I also cannot reproduce. Closing.

[2018-01-05 20:41] #1908 closed, assigned to nobody

[2018-01-05 20:42] drewvolz commented on #1476
I don't see this as an issue any longer. The bar is taller than what gets rendered, but I no longer see what was in the screenshot above.

[2018-01-05 20:42] hawkrives commented on #1476
I can no longer reproduce this. @drewvolz, can you?

[2018-01-05 20:42] drewvolz commented on #1476
Closing.

[2018-01-05 20:42] #1476 closed, assigned to nobody

[2018-01-05 20:46] hawkrives opened #2043 "App does not remember login success after relaunch"
If you force-close the app and relaunch it, it presents you the "please sign in to st. olaf" message in Settings / SIS.

IIRC, it _should_ be attempting to log in when the app launches and updating the state from that knowledge.

This has been happening since before #2019; said PR did not cause this bug.

[2018-01-05 20:47] drewvolz commented on #155
@hawkrives can we close this? I think we agreed that opening things multiple times is FAD.

[2018-01-05 20:49] hawkrives opened #2044 "App content does not respect SafeAreaLayout on iPhone X"
<details><summary>screenshot</summary>

<img width="852" alt="screen shot 2018-01-11 at 9 09 48 pm" src="https://user-images.githubusercontent.com/464441/34858070-cdaa9f6c-f713-11e7-9f76-e9f1b207987c.png">
</details>

None of our views – except the webviews – are aware of the iPhone X's notch.

To mitigate this, I believe that we need to use RN's SafeAreaView; hopefully we can just insert it somew

[2018-01-05 20:50] hawkrives commented on #155
fear, anticipation, and doubt?

[2018-01-05 20:50] drewvolz commented on #155
Functions As Designed

[2018-01-05 20:51] hawkrives commented on #155
ah.

Yes.

I've only managed to trigger it twice out of the last ~18 tries, and that's me tapping as quickly as I can attempting to trigger this.

I don't think it's worth the effort to fix, I suppose. I am in favor of closing.

[2018-01-05 20:51] #155 closed, assigned to hawkrives

[2018-01-05 20:55] drewvolz commented on #2044
https://medium.com/react-native-training/react-native-iphonex-92ff511282af

Here's their example. Looks like we can just wrap `App` with it.

[code]

[2018-01-05 20:57] hawkrives commented on #2044
I don't necessarily want to apply it above react-navigation; I'm nervous about having two of them in the component tree. And react-navigation applies theirs successfully, as you can see in the fact that the settings gear / edit button are inset properly.

[2018-01-05 21:07] drewvolz commented on #2044
You're right, it would cause conflict.

[2018-01-05 21:07] drewvolz commented on #2044
I paged thru 4-5 issues in the repo to find one that was not a dup or incorrectly filed. There is a solution I think might work for us in there? https://github.com/react-navigation/react-navigation/issues/3072

[2018-01-05 21:11] hawkrives commented on #1799
I think we should add a try/catch somewhere (in openUrl, I guess) to check for these errors and ignore mailto:-caused errors.

[2018-01-05 21:12] drewvolz commented on #1799
Does the action happen, or does the app crash? What is the outcome of a failed `openURL` with a `mailto`?

[2018-01-05 21:15] rye opened #2045 "Add analytics for various actions throughout the app"
Specifically, we discussed analytics for #2032, but I'm thinking having little bits of reporting sprinkled about elsewhere might be another good idea.

I will come up with a list of stuff we don't seem to have that we should have at some point.

## Things

- [x] Login state (logged in, logged out, emphatically _not_ username)
- [x] ~~App resume vs. launch (#2211)~~
- [x] Disabled homescreen button

[2018-01-05 21:17] hawkrives commented on #2045
https://github.com/StoDevX/AAO-React-Native/blob/dedae1e6864d347f6944edbda7e1ce0f5542a0fa/source/flux/parts/homescreen.js#L99-L117

for #2032 in particular

[2018-01-05 21:25] rye commented on #1799
To me, it seems like this is something that we don't need to worry about; a failed `openURL` would result in the user not... getting any result from their action?  We could throw an alert in the UI.

It seems as though the result is a crash:

[code]

My guess is that this crash is just because this exception bubbles up and ends up unhandled.

[2018-01-05 21:37] hawkrives commented on #1799
We should handle it and alert that the mailto link couldn't be opened, IMHO

[2018-01-05 21:38] hawkrives opened #2046 "Building hours update for Stav Hall"
## Before:

[code]

## After:

[code]

[2018-01-05 22:33] hannesmcman opened #2048 "Add map of campus printer locations"
This could either come in the shape of a homescreen button similar to campus map, or could go somewhere else, but I was basically imagining it as a simple image view containing the IT printer map (shown below). Thoughts?
![image](https://user-images.githubusercontent.com/24640726/34631456-1257b2ae-f236-11e7-8257-75b78f6e472f.png)

[2018-01-05 22:48] #2046 closed, assigned to nobody

[2018-01-05 23:03] hawkrives commented on #2048
@hannesmcman You might be interested in this branch: https://github.com/StoDevX/AAO-React-Native/tree/stoprint-take-2. I've been doing all the work I've shown off later in this thread on this branch.

[2018-01-05 23:11] rye commented on #2048
Part of the issue is that (a) this map is old (see: Dittman), and (b) this map doesn't have Holland.  We did a quick check of two people in IT and it doesn't seem that we have an updated map, yet?  Not sure, we'd have to look into this.

This might be a good thing to road-map with v3, which we hope might include mobile print release.

[2018-01-05 23:18] drewvolz commented on #2048
I'm not suggesting we go with this way, but we could try to collect some sort of structured data from the webpage's JSON [source](https://wp.stolaf.edu/it/wp-json/wp/v2/pages/3707).

[2018-01-05 23:22] hawkrives commented on #2048
Or we could just pull it from Papercut's JSON endpoints, https://papercut.stolaf.edu/client and such 😉

[2018-01-05 23:23] drewvolz commented on #2048
That's a much better idea.

[2018-01-06 05:01] hawkrives commented on #2048
<img width="375" alt="screen shot 2018-01-05 at 11 00 52 pm" src="https://user-images.githubusercontent.com/464441/34636657-59f1df96-f26c-11e7-9957-b2f66db144e4.png">

Progress!

[2018-01-06 05:07] hawkrives commented on #2048
My plan is to have the user flow be something like…

- StoPrint button opens the list of pending print jobs.
- The user can tap a print job to be taken to a list of printers, sorted by popularity (Papercut tells us this, I believe)
- The user can tap a printer to be alerted by a print confirmation dialog w/costs
- The user can confirm to release the print job on the chosen printer

I have two ques

[2018-01-06 05:38] hawkrives commented on #2048
Note: If you want to test that branch, you must first log in to papercut's website, at https://papercut.stolaf.edu/client/. Only then will the app let you in.

Reasons why are still undergoing investigation.

[2018-01-06 15:11] drewvolz commented on #2048
Your initial proposal sounds like a better flow. They will most likely be in the StoPrint tab if they are trying to release a print job, so showing jobs first sounds ideal. If there are no jobs to be released, we could show a graphic and a message on a `<NoticeView />`.

On another note, we might receive a request to list "favorite" printers. So perhaps we can add that the same way @hannesmcman ad

[2018-01-06 15:14] hawkrives commented on #2048
I think we can also do "recent printers", fwiw. I'm a-ok with favorites, too.

[2018-01-06 15:40] hawkrives opened #2052 "KSTO schedule should be "powered by KSTO""

[2018-01-06 15:43] hawkrives opened #2053 "Ensure app doesn't crash when location is denied / after 5 seconds delay"
in the WiFi Reporting screen

[2018-01-06 15:45] drewvolz commented on #2053
I just ran it and did not see it crash after letting the prompt sit on my screen.

[2018-01-06 15:47] hawkrives commented on #2053
I just denied the app permission to have my location and it didn't crash.

I'll close this.

[2018-01-06 15:47] #2053 closed, assigned to nobody

[2018-01-06 15:51] rye commented on #2053
Side note, @hawkrives, we/you should clear out the DB prior to the launch of this feature.

[2018-01-06 15:55] hawkrives opened #2054 ""Report a Problem" screen tweaks"
- rename to "Help"?
- add two more cards – maybe how to report something to the helpdesk, and to facilities?
- visual tweakses

suggestions welcome

[2018-01-06 15:55] hawkrives commented on #2053
once the darn thing gives me access again, yeah

[2018-01-06 15:56] hawkrives commented on #2053
Your heatmap will also want to exclude things reported from prerelease versions (anything with a `-` in the version) as well as anything reported off-campus. Idle thoughts.

[2018-01-06 16:15] drewvolz opened #2055 "[Android] disable home screen buttons throws an error"
The error I saw depended upon if remote debugging was on or off.

Off | On
--|--
<img width="441" alt="screen shot 2018-01-06 at 8 42 33 am" src="https://user-images.githubusercontent.com/5240843/34641193-9107251c-f2bd-11e7-878e-dd241c821182.png"> | <img width="441" alt="screen shot 2018-01-06 at 9 11 26 am" src="https://user-images.githubusercontent.com/5240843/34641446-be2822b8-f2c1-11e7-859f-10

[2018-01-06 16:50] #2055 closed, assigned to nobody

[2018-01-06 16:59] drewvolz opened #2059 "iOS EditHomeView rows can hide themselves"
There seems to be issues when moving around the rows on EditHome for iOS.

- The row can land in an "active" state (which looks strange)
- The row can hide beneath other rows (which is just not right)

This screenshot hopes to demonstrate both issues. This all takes place after having interacted with the screen — no finger is touching the screen in the image below.

<img src="https://user-images.g

[2018-01-06 17:07] drewvolz commented on #2052
I forgot this shows up on the detail view and not the bottom of the list. This is working already, sorry!

[2018-01-06 17:07] #2052 closed, assigned to nobody

[2018-01-06 17:15] drewvolz opened #2060 "Android edit home issue with changing order of views"
Trying to move the Android views up/down the list.

<img width="441" alt="screen shot 2018-01-06 at 10 15 57 am" src="https://user-images.githubusercontent.com/5240843/34642069-a2177494-f2ca-11e7-9c39-349548c7b208.png">

[2018-01-06 17:19] drewvolz commented on #1805
Should we hide the KSTO view from Android if we can't fix it?

[2018-01-06 17:21] hawkrives commented on #2059
The "row hiding underneath another row" is not fixable by us in our timeframe; it's a problem with the underlying library.

The "toggle acts as drag handle" we should be able to fix.

[2018-01-06 17:31] hawkrives commented on #1805
_If_ we can't fix it, we should make the Play button open the website, I think

[2018-01-06 18:24] rye commented on #2054
Sounds good.

Maybe we could also put text on the card, above the button?  A short description of what we're doing, why we need location access, etc.?

[2018-01-06 18:26] drewvolz commented on #2054
I'm addressing some of those things in a PR. One sec.

[2018-01-06 18:29] drewvolz commented on #2054
Feel free to add-on to that PR or suggest changes.

[2018-01-07 15:34] drewvolz opened #2068 "App reset does not reset app icon preference"
The app icon does not flip back to what is served up from the App Store. It remains instead as the preferred alternative icon. We currently do not store this as a setting in redux because the OS handled the switch.

Should we keep or change this behavior?

[2018-01-07 15:47] hawkrives commented on #2068
We should call the use default icon function as part of the reset process.

[2018-01-07 16:29] hawkrives opened #2071 "App modules should take on the dominant color of the homescreen icon"
That is, when I open the Menus view, the nav bar and tab bar should become teal like the button.

Not necessarily part of 2.5.

[2018-01-07 16:50] hawkrives opened #2072 "Add fallback for manitou messenger news feed"
I need to do something to it so that the app tries a Wordpress feed before falling back to the rss of the current site, because the new site will likely launch between 2.5 and 2.5.1.

[2018-01-07 17:35] drewvolz commented on #2071
Could this be considered part of theming?

[2018-01-07 17:52] hawkrives commented on #2071
Maybe.

I'm calling it something different because I'm only wanting to change two colors at compile time, not provide app-wide differences at runtime (much less a "dark" theme, which would require font and type changes too).

If that makes sense.

[2018-01-08 02:40] hawkrives commented on #2072
I don't actually need to do this. Wordpress defaults to serving an RSS feed at `/feed/`, which is where the app currently looks for a feed.

We'll want to switch to the `wp-json` method at some point, probably, but there's no rush any longer.

[2018-01-08 02:40] #2072 closed, assigned to hawkrives

[2018-01-08 02:46] #2068 closed, assigned to nobody

[2018-01-08 03:16] hawkrives commented on #1635
Tools: https://webaim.org/resources/contrastchecker/

[2018-01-08 13:19] hawkrives opened #2079 "Bump minimum required iOS version to 8.3"
I'm okay with doing this because we've never had an 8.2 device show up in analytics.

At some point, we'll drop 8.x support entirely, but that day has not yet come.

[2018-01-08 13:23] hawkrives opened #2080 "Set fastlane variables to disable things on CI"
Namely FASTLANE_SKIP_UPDATE_CHECK and FASTLANE_DISABLE_ANIMATION.

[2018-01-08 14:28] hawkrives opened #2081 "Forcibly set a fixed version of yarn on all Circle and Travis builds"
I don't like this:

[code]

That hash should be the configuration of the machine (which can't change during execution) combined with the hash of the `yarn.lock` file (which should not change when we run `yarn`.)

I have a hunch that we're encountering that `github:vm2` change that Greenkeeper / local yarn like to fight over, so I think / hope that if we update `yarn` they'll all agree.

---

I'd l

[2018-01-10 15:33] hawkrives opened #2093 "react-navigation broke lazy tab loading on iOS and Android"
@drewvolz:

Going thru all of the tabs this morning, I get a strange feeling that News and Calendar (and maybe others) are loading all of their data for every tab once the component is pushed onto the stack.

v1.0.0-beta.23 has a breaking change noted: “Drop the lazy option for TabNavigator” https://github.com/react-navigation/react-navigation/pull/3064

[2018-01-10 15:37] drewvolz opened #2094 "Prevent selected icon from resetting"
We should find a way to prevent the currently checkmarked row from resetting its icon if it’s already that icon. Pass this.state.iconType and see if it’s a checkmark like we do for accessory.

https://github.com/StoDevX/AAO-React-Native/blob/master/source/views/settings/icon.js

[2018-01-10 15:38] drewvolz commented on #2093
@hawkrives mentioned that if there is an error in one tab, it could crash the app. That is not ideal if the user has not pressed the tab causing the error.

[2018-01-10 15:54] drewvolz commented on #2093
Do we risk crashing without lazy loading, or should we roll back to the previous version of this package?

[2018-01-10 16:17] hawkrives commented on #2094
I'd just not call this.setIcon if we're on the active icon.

[2018-01-10 16:18] hawkrives commented on #2093
Er. My mention was on _this_ version of react-navigation.

[2018-01-10 16:25] drewvolz commented on #2093
Yes. Should we go back a version to regain lazy load?

[2018-01-10 16:29] rye commented on #2093
From [that PR](https://github.com/react-navigation/react-navigation/pull/3064):

Grumble grumble... [insert something Linus Torvalds-y about breaking userspace]

It sounds like they haven't... added an alternative for us to use?  So... yeah.  Downgrade sounds like the likely solution until they figure it out.

[2018-01-10 17:00] rye commented on #2093
[react-navigation@v1.0.0-beta.22](https://github.com/react-navigation/react-navigation/tree/v1.0.0-beta.22) does not have this issue.  It sounds like they plan on adding the feature later, but they went ahead and released this beta to drop it.

PR incoming to downgrade.

[2018-01-10 20:25] #2093 closed, assigned to nobody

[2018-01-10 23:22] #2094 closed, assigned to nobody

[2018-01-11 16:46] drewvolz commented on #2054
Would we consider what was done in #2061, #2063, and #2065 satisfactory? I think @rye was playing around with cards for helpdesk and facilities.

[2018-01-11 16:53] hawkrives commented on #2054
I'm working on those, as well as as remotely disabling / configuring the tools.

[2018-01-12 02:53] hawkrives commented on #2016
@rye Do you mind if I close this, since the associated PR was closed, and Circle gets us most of this now?

[2018-01-12 03:06] hawkrives commented on #2044
<img width="852" alt="screen shot 2018-01-11 at 9 06 23 pm" src="https://user-images.githubusercontent.com/464441/34857964-49c68382-f713-11e7-8623-fc72b6a12618.png">

Took a stab at wrapping a view in SafeAreaView… let's just say that it's a little _too_ safe for this spot.

[2018-01-12 03:15] hawkrives commented on #2044
<img width="852" alt="screen shot 2018-01-11 at 9 14 38 pm" src="https://user-images.githubusercontent.com/464441/34858199-7babbc36-f714-11e7-82df-f689bb2cda16.png">

If I put the SafeAreaView _inside_ the ScrollView, it works! I'm on to other views now.

[2018-01-12 03:51] #2016 closed, assigned to rye

[2018-01-12 04:01] hawkrives commented on #2044
I've pushed to the `safelayoutview` branch, which fixes the homescreen, but I would like to find a better solution than adding SafeAreaView to each spot individually.

[2018-01-12 04:27] hawkrives commented on #1799
I believe that our next step is to create a "sendEmail" function like our "openUrl" function; it should handle our common use cases (namely, a single author), and provide a central place to handle errors (such as showing an alert when the user can't handle `mailto:` URLs, or copying the email address to the clipboard, or something.)

Here are the places where we call the `email` function of `react

[2018-01-13 04:53] hawkrives opened #2115 "Use send_build_to_bugsnag in fastlane beta/nightly lanes"
`send_build_to_bugsnag` was introduced by #2112.

I don't know where they want us to use it, or how to use it, or what it does, yet.

[2018-01-13 04:56] hawkrives opened #2116 "Run "fastlane ios refresh_dsyms" as part of the nightly cron job"
It won't (usually) get _that_ day's dSYMs, but it'll get the previous day's, and if we ever need the current day's dSYMs we can just run it manually.

[2018-01-13 04:58] hawkrives commented on #2081
Both versions of `yarn` used on the Circle infrastructure (v1.3.2 and v1.1.0) appear to handle the `vm2` problem properly. I'm going to close this.

[2018-01-13 04:58] #2081 closed, assigned to hawkrives

[2018-01-13 04:59] hawkrives opened #2117 "Pass --frozen-lockfile to "yarn install" on Circle"
From #2081, by me:

[2018-01-13 05:00] #2039 closed, assigned to nobody

[2018-01-13 05:08] #2080 closed, assigned to nobody

[2018-01-13 05:34] hawkrives opened #2120 "Create non-2fa user for iTC access"
as seen in https://docs.fastlane.tools/best-practices/continuous-integration/

and give it the longest password that iTunes Connect will let us use

[2018-01-13 05:34] #2117 closed, assigned to hawkrives