[2015-03-04 21:36] hawkrives opened #2 "Load SIS data in the background when the app launches"
or when the user taps on the SIS page, or...

[2015-03-06 01:16] hawkrives opened #6 "Schedules details screens should show "minutes until close""

[2015-03-08 14:50] hawkrives opened #7 "Schedule details screens should highlight the current day of the week"
Main use case: last night, I kept thinking that it was Sunday, when it was actually Saturday.

If "Saturday" had been highlighted on the TableView, I would have been saved from my own silliness.

![IMG_0295.PNG](http://southerly-uploads.s3.amazonaws.com/dfebe0089db4a43b62219da0e730fc60a8e073e6.png)

[2016-07-13 11:26] drewvolz commented on #7
See PR #6 for ideas and thoughts related to hosting of JSON/image files.

[2016-07-13 11:26] drewvolz commented on #6
You might want to consider hosting the images back on github and then accessing them through GitHub'a raw URL. That way it is much less likely that it would disappear at the hands of a new Oleville web developer as folders are moved and purged, and it would be easier to track changes to the files to have an audit of the images rather than the URL names. Makes changing them much easier overtime, to

[2016-07-15 02:12] elijahverdoorn commented on #6
@drewvolz Thanks for the comment.

I'll be looking to make another pass at all the major views before I publish, so the "closing soon" idea can be hit then. I am looking to get the first version out rather quickly, then iterate after it's published, so if not for the first release then for a version soon after that.

As for hosting, I'm still making decisions on where the content should come from.

[2016-07-15 21:50] hawkrives commented on #6
@elijahverdoorn Out of curiosity: are you publishing this as an update to AAO or as a new app?

[2016-07-17 20:14] elijahverdoorn commented on #6
@hawkrives I'm looking at publishing it as a new app. I think that the two versions are sufficiently different, and with the publication of the Android version I'd rather just make a distinction between the two.

[2016-08-01 03:14] hawkrives opened #9 "Streaming Media"
It is, but the webcams at least are also available as a raw MP4 stream, IIRC. I'll look around for the URL again.

This is being developed in the [streaming-media](https://github.com/StoDevX/AAO-React-Native/tree/streaming-media) branch.

[2016-08-01 03:17] hawkrives commented on #9
Here we go: from `https://www.stolaf.edu/multimedia/webcams/webcams.js`,

[code]

So each camera feed lives at `http://stolaf-flash.streamguys.net/webcams/$cam.stream/playlist.m3u8`.

`.m3u8` is an mp4 playlist file. IIRC most things can read them and load the implied media automatically.

It might be worth seeing how easy it would be to use these.

[2016-08-01 03:18] hawkrives commented on #9
Camera names:

[code]

[2016-08-01 03:20] hawkrives commented on #9
so one example URL would be `http://stolaf-flash.streamguys.net/webcams/himom.stream/playlist.m3u8`.

In VLC:

![image](https://cloud.githubusercontent.com/assets/464441/17282582/4ba20d42-57e2-11e6-89cb-abbc334b0261.png)

[2016-08-01 03:26] hawkrives opened #10 "Copy in-progress documentation to issues?"
@elijahverdoorn: Would you mind if I copied/moved the documentation on what's in-progress to individual issues, rather than living in the README?

[2016-08-01 03:27] elijahverdoorn commented on #9
I dug into this earlier in the summer, and I found the same thing, but VLC wouldn't open them for me. (and if VLC doesn't open it, I assume that nothing can!) Given that, feel like coding something basic up?

[2016-08-01 03:31] elijahverdoorn commented on #10
@hawkrives Let's open an issue for each item, move the details for that into the issue, but keep the highest-level stuff in the README (at least until v1 launches).

[2016-08-01 03:31] hawkrives commented on #10
✅

[2016-08-01 03:38] hawkrives opened #11 "Campus Map"
- The iOS version of this is easy, there is a built-in component
- Android version could be harder, find an existing component?

---

IIRC, when I last looked at this, I came to the conclusion that we'd need to get a Google Maps API key for Android, at least.

[2016-08-01 03:38] elijahverdoorn opened #12 "Campus Map"
Build the Campus map part of the app.
- The iOS version of this is easy, there is a built-in component
- Android version could be harder, find an existing component?

[2016-08-01 03:39] hawkrives commented on #12
lol

[2016-08-01 03:39] hawkrives commented on #12
see #11 - beat you by 1 second

[2016-08-01 03:39] elijahverdoorn commented on #12
Mark duplicate? lol

[2016-08-01 03:39] hawkrives opened #13 "SIS"
- ~~Course searching~~ (v2)
- [x] Browsing of current enrolled courses
- [x] Card balances
  - [x] Flex dollars
  - [x] Ole dollars
  - [x] Copy/print
- [ ] Meal Plan
  - [ ] Daily meals left
  - [ ] Weekly Meals Left

[2016-08-01 03:40] hawkrives opened #14 "Oleville"

[2016-08-01 03:40] hawkrives opened #15 "Transportation"

[2016-08-01 03:41] hawkrives opened #16 "News"

[2016-08-01 03:41] hawkrives opened #17 "Campus Dictionary"

[2016-08-01 03:42] #12 closed, assigned to nobody

[2016-08-01 03:42] elijahverdoorn commented on #11
I have a google maps key that I registered for as a student, so I get 500,000 requests per day for free. We could use that? It's under the same account as the key that I'm using for the calendar API, so that'd keep things consistent.

[2016-08-01 03:43] elijahverdoorn commented on #14
I'm taking care of this one.

[2016-08-01 03:43] hawkrives opened #18 "Building Hours"
- [x] Move the label for what the location is inside the picture
- [x] Change the border color to Yellow when the building will close in 20 min.
- [x] Add the rest of the images
  - [x] @elijahverdoorn is going to Campus on 8/5 and will get them at that time.

[2016-08-01 03:43] hawkrives opened #19 "Calendar"

[2016-08-01 03:44] hawkrives opened #20 "Cage Menu"
@elijahverdoorn, IIRC the problem with the Cage menu it that it's never updated. Essentially ever.

[2016-08-01 03:44] elijahverdoorn commented on #13
I'm looking to @hawkrives or @drewvolz for this one, since they are the ones that started it and might have some experience? Guessing here, but I know that I know nothing about it.

[2016-08-01 03:45] hawkrives commented on #10
Alright, I think I've got everything.

I added a new "help requested" label for people to add if they're stuck and want someone to help out.

Of course, there's also the slack channel.

[2016-08-01 03:46] hawkrives commented on #11
Sounds good to me!

[2016-08-01 03:46] elijahverdoorn commented on #20
@hawkrives Yeah, I think that the best move is to just do it manually. I'm going to get a list from Randy Clay, then just put that into JSON. My development team will manage updating that JSON file manually (unless we can find something better). Since it rarely updates, I don't anticipate much work here.

[2016-08-01 03:47] hawkrives commented on #13
~whee

(just fyi - leaving it to us is kinda dangerous. you never know what we'll come up with around the SIS. you might want up one morning to find Gobbldygook shoved in there 😉)

Sure, we've got it.

[2016-08-01 03:48] elijahverdoorn commented on #10
@hawkrives Slack Channel? I have used slack in my internship this summer, but haven't head about a St. Olaf slack channel! What's the info?

[2016-08-01 03:49] elijahverdoorn commented on #13
If this becomes the deployment platform for Gobbldygook, I'd be honored.

[2016-08-01 03:50] hawkrives commented on #20
… can I request that you please put the json file on github somewhere? I know there were many times that I've wanted to update data in AAO in the past, especially around building hours over breaks, but couldn't because it was all hard-coded.

and while it's great to move it to Oleville, … idk. I'm just always really nervous about things that live in Oleville. And it's harder for the wider communit

[2016-08-01 03:51] hawkrives commented on #13
I've thought about it. I could at least integrate it with GB's course data tools, and GB also has a lot of the parsing stuff for SIS's course views… perhaps it's time to break that stuff out so other projects can use it.

Hmm.

If I do decide to go forward with that, I'll file an issue here first, or at least talk about it in Slack.

[2016-08-01 03:52] hawkrives commented on #10
… you have an account, dude. [aibohphobia.slack.com](https://aibohphobia.slack.com)

That explains why you haven't been active recently 😆

Edit: It looks like you signed up with your personal Gmail account, if that helps.

[2016-08-01 03:57] #10 closed, assigned to nobody

[2016-08-01 03:58] elijahverdoorn commented on #20
Yeah, I'm thinking that Github will be ok for the JSON files. I like the idea of fast contributing and updating. I think that having a fallover file that is stored locally so that if a user has no internet connection they can see SOMETHING. even if it is slightly outdated. We can put a disclaimer in there for if there is no internet that the data might not be totally accurate. I'm going to keep de

[2016-08-01 03:59] hawkrives commented on #10
Regarding the Slack channel: It started as Gobbldygook-only, then @drewvolz and I expanded it to be CS-students. I'm hoping that teams and classes can come together to work together, help each other, collaborate, and share resources with it.

It's also been pretty handy for chatting about various extra-curricular projects, like everything under @StoDevX.

[2016-08-01 04:00] hawkrives commented on #20
If you put the JSON files in a folder here, and have it load them from that folder, I'll submit a PR to add the updating-ffrom-github-with-fallback behavior.

[2016-08-01 04:01] elijahverdoorn commented on #20
All the data that I currently pull is in the /data folder, and will continue with that pattern. (unless you set a new pattern, then I can follow that.)

[2016-08-01 04:02] hawkrives commented on #20
nope, sounds good to me!

[2016-08-01 04:02] hawkrives commented on #20
My current plan is to use either https://rawgit.com/ or Github directly to serve the JSON files, so any change that's made to them is mirrored to the app.

[2016-08-02 05:30] elijahverdoorn commented on #18
See PR 21

[2016-08-02 05:45] hawkrives commented on #13
Questions (@drewvolz @elijahverdoorn):
- [ ] Do we want course searching? I can do at least as much as https://stolaf.edu/sis/public-aclasslab.cfm can.
- [x] We want enrolled courses for at least the past year (feature parity)
  - [x] Enrolled courses since college enrollment?

(Looking for thoughts for / reasons not to do these things.)

[2016-08-02 05:49] elijahverdoorn commented on #13
Course searching is a must have.
Past year is a must have.
Since college enrollment is something that I'd consider to be targeted for
version 2, I'd prefer to put time into other areas.

On Aug 2, 2016 12:45 AM, "Hawken Rives" notifications@github.com wrote:

[2016-08-02 05:54] hawkrives commented on #13
I will begin thinking about how to do a mobile search interface then.

[2016-08-02 22:21] drewvolz commented on #13
I think we will need some form of persistent local storage equivalent of Objective-C's NSUserDefaults for storing user information securely. OBJ-C AAO stored the user's username, password, student id, their 'logged-in/out' status, and financial data (ole/flex/print) in that storage. We will also need to think about where to save the user's other important data -- their term courses (as JSON or som

[2016-08-02 22:34] drewvolz commented on #18
Hustad Science Library could be potentially disappearing soon. It is rumored to become the new Nursing department. But that really does not change anything right now as that is listed in the modifiable JSON. Yet another location added to the AAO space-hours graveyard. The current count is 2 (norway valley cafe in regents, and the old poetry spot in the bottom of Larson).

[2016-08-02 23:29] hawkrives commented on #18
Wait, what happened to the International Coffee House?

[2016-08-02 23:30] hawkrives commented on #13
We'll probably want to start with keychain. Adding AsyncStorage for other app settings wouldn't be bad though

[2016-08-03 01:03] drewvolz commented on #18
If that was something, I was unaware of it. I'm referring to something that stopped before our freshman year that I discovered through the Ole Dictionary that failed to exist.

[2016-08-03 01:22] elijahverdoorn commented on #18
Yeah, I heard about Sci Lib maybe going away, but as you said it makes no difference for this JS work.

[2016-08-03 01:40] hawkrives commented on #18
The blue room in the bottom of Larson has a little sign over it's door that says "International Coffee House".

Apparently, it once actually sold coffee, kinda like Norway Valley. I have no idea when it closed down.

[2016-08-03 11:10] drewvolz opened #23 "Settings"
Working on a basic settings view. It will have a spot for system-wide credentials (username/password for SIS and off-campus directory). An about page and licensing info can be stored here as well.
- [x] Credentials
- [x] Contact
- [x] Legal
- [x] Credits
- [x] Privacy

[2016-08-03 11:12] drewvolz commented on #23
Could make use of this if we wanted [react-native-settings-list](https://github.com/evetstech/react-native-settings-list/blob/master/README.md)

[2016-08-04 01:09] hawkrives commented on #11
OH OH OH OH OH

@elijahverdoorn if you haven't seen the new campus map

look at https://www.myatlascms.com/map/index.php?id=294#!ct/14990,14877,15145,15789,14884,14882,14874,14889,15142?ce/14889

[2016-08-04 01:16] elijahverdoorn commented on #11
Let's use that!

[2016-08-04 01:38] hawkrives commented on #11
I will point out that we have a url for it in https://github.com/StoDevX/AAO-React-Native/blob/master/data/map.json, and coordinates for various houses and buildings (probably useless now) in https://github.com/StoDevX/AAO-React-Native/blob/master/data/map-coordinates.json.

Just go ahead and `import` the json files for now; we'll figure out how to load and cache them later.

[2016-08-04 03:11] drewvolz commented on #11
I'm torn on whether we should make use of the web view map or overlay the coordinates.

[2016-08-04 04:35] elijahverdoorn commented on #17
pull request #24

[2016-08-04 04:35] #17 closed, assigned to elijahverdoorn

[2016-08-04 04:40] elijahverdoorn commented on #23
I like the settings idea, and have a sketch of what I want on the about page. I'd be curious about how the package that you linked would function on Android. If it works and looks ok I say use it, if not I'd find another way.

[2016-08-04 05:01] hawkrives commented on #23
We're not going to find identical packages for Andoid/iOS – at least, not according to my experience earlier this summer. That might at least let us only build one custom screen, and might inform us building the android screen.

[2016-08-04 05:02] hawkrives commented on #23
also – post mockups! Maybe we need a #mockup label.

[2016-08-04 05:10] elijahverdoorn commented on #23
My mockup at this point is really just the text... Not worth posting, I'll just make changes to the code. As for the package, I'm ok with using it assuming that we can replicate the patterns on Android. I like the idea of keeping the app feeling native, but I prioritize features over look and feel, so spending too much time re-implementing feels counter-productive to me.

[2016-08-04 08:13] hawkrives commented on #11
I vote to start with the webview version

[2016-08-04 12:47] drewvolz commented on #11
Okay. I also remember you had a working native map implemented. I am agreeing that we can use the web view for the accessibility, searching, and extreme detail that it provides, but it would put me at ease to have a backup switch in place.

And here is why that would make me comfortable -- when I put up the web view of SIS that was not publicized (at mobile.stolaf.edu - now defunct), IT noticed in

[2016-08-05 00:31] hawkrives commented on #11
If I recall correctly, I never did get a good map working on Android.

Also, I can't get my copy of the project to build if I include the native maps component, so I'm in favor of taking that out 👐

But that's a good point about them taking things down. Grumble.

[2016-08-05 02:13] drewvolz commented on #11
Alright that's fair

[2016-08-05 03:20] elijahverdoorn commented on #11
I also tried to build an Android native maps view, and couldn't get it. I
vote the Web view.

On Aug 4, 2016 9:13 PM, "Drew Volz" notifications@github.com wrote:

[2016-08-05 03:48] hawkrives commented on #11
Great. I'll probably submit a PR for it tonight my time.

[2016-08-05 12:50] drewvolz commented on #23
The settings view should hopefully not be too complicated to design, so perhaps it does not need "react-native-settings-list" as I suggested.

[2016-08-05 12:52] hawkrives commented on #23
If it looks that much like a UITableView, I want to use it everywhere!

I've had so much trouble reproducing normal list views.

[2016-08-05 12:52] hawkrives commented on #23
Or maybe there's something else that just does nice lists.

[2016-08-05 12:55] drewvolz commented on #23
These, maybe? I know there are a plethora of options out there already. How do we pick the best one is the problem. I like what @elijahverdoorn  implemented for the Contacts view.
- [listview](https://facebook.github.io/react-native/docs/listview.html)
- [tableview](https://github.com/aksonov/react-native-tableview)

[2016-08-05 12:55] hawkrives commented on #23
https://github.com/APSL/react-native-item-cell maybe

[2016-08-05 12:57] hawkrives commented on #23
Tableview maybe. List view just gives you the list behavior. I've been struggling with the iOS styles (see: dictionary)

[2016-08-05 12:58] drewvolz commented on #23
Nothing I have found can capture the flexibility that Obj-c/Swift offered with tableviews. This needs more research.

[2016-08-05 12:59] drewvolz commented on #9
From only a minute of research, I have not found anything that can stream the `m3u8` streams in React Native. Needs more research?

[2016-08-05 12:59] hawkrives commented on #23
Drew, was it you that was telling me about how the iOS Mail.app dev didn't like the search box he'd built?

Because https://github.com/umhan35/react-native-search-bar still looks cool.

[2016-08-05 13:00] drewvolz commented on #23
That sounds like something I would say. I like the `react-native-search-bar` a lot, and it could find its way into the app.

[2016-08-05 13:01] hawkrives commented on #23
react-native-tableview looks like what we need for some things.

[2016-08-05 13:02] hawkrives commented on #9
Hmm. Lemme try some things.

[2016-08-05 13:04] hawkrives commented on #9
I'm going to try https://github.com/react-native-community/react-native-video first. It's in my history as something I've visited before.

[2016-08-05 13:12] #11 closed, assigned to elijahverdoorn

[2016-08-05 13:15] drewvolz commented on #9
[Check out the issues](https://github.com/react-native-community/react-native-video/issues?utf8=%E2%9C%93&q=m3u8) related to the keyword `m3u8` on that one. It might work as is?

Otherwise, see [this particular thread](https://github.com/react-native-community/react-native-video/issues/122).

[2016-08-05 13:20] hawkrives commented on #9
yeah, it's just not doing much of anything for me at the moment. thanks for the links!

[2016-08-05 13:44] hawkrives commented on #9
So. Current status:
- You can play the video by opening the m3u8 URL directly in Safari on both iOS and macOS.

<img src='https://cloud.githubusercontent.com/assets/464441/17438398/9427c5ce-5b5d-11e6-80a1-fb49e9a90c5f.jpg' width='400px' />
<img src='https://cloud.githubusercontent.com/assets/464441/17438403/972712ac-5b5d-11e6-81d8-b40cbfdc6b00.jpg' width='400px' />
- but loading the URL directly i

[2016-08-05 13:46] drewvolz commented on #9
Nice work! Webviews seem to handle it well (from what I can see)

[2016-08-05 14:20] hawkrives commented on #9
Current status: ![830932941_7088475972866689906](https://cloud.githubusercontent.com/assets/464441/17439424/fef1faf0-5b62-11e6-9f25-55628a73f992.jpg)

Problems: um, they all load at once. Do we want a list of the webcams and then push on a new screen just for the video? (neé AAO 1.0)

[2016-08-05 14:21] hawkrives commented on #9
https://github.com/StoDevX/AAO-React-Native/tree/streaming-media

[2016-08-05 14:21] hawkrives commented on #9
Or we could load a static thumbnail of each video from the feed and show that in the list.

[2016-08-05 14:22] hawkrives commented on #9
It's bedtime for me now. 😴

[2016-08-05 14:23] drewvolz commented on #9
Is it possible to display them all on this screen, full width and normal height, and then allow rotation to put it in full screen? Or tapping?

[2016-08-05 14:33] hawkrives commented on #9
Maybe. I was tired of fighting the layout system 😂

[2016-08-05 14:51] hawkrives commented on #13
passcode https://github.com/naoufal/react-native-passcode-auth
touchid: https://github.com/naoufal/react-native-touch-id
1password: https://github.com/DriveWealth/react-native-onepassword

keychain: https://github.com/oblador/react-native-keychain

storage:
- https://github.com/wkh237/react-native-fetch-blob
- https://github.com/tradle/react-native-level-fs
- https://github.com/lwansbrough/react-n

[2016-08-05 14:53] drewvolz commented on #13
With your handy list of things that we should implement, I never realized how many components make up that module until now.

Cool list!

[2016-08-05 15:33] drewvolz commented on #13
Was the [third link](https://github.com/lwansbrough/react-native-multipeer) under `storage` meant to be a package for chatting? App-wide chat would be neat, though.

[2016-08-06 03:50] elijahverdoorn commented on #23
I used react-native-card-view for the contacts view. It was super easy and pretty flexible.
I'm not against the idea of a tableview component.

[2016-08-06 20:06] elijahverdoorn opened #27 "Map not loading on Android"
On my android phone, the map view is not loading. It shows this:
<img src="https://cloud.githubusercontent.com/assets/12042702/17458859/59c1c80a-5be7-11e6-80f1-19cd023450dc.jpg" width="320">

Any ideas? @hawkrives I think that this was your code.

[2016-08-07 02:01] elijahverdoorn commented on #18
Merged PR.

[2016-08-07 02:01] #18 closed, assigned to elijahverdoorn

[2016-08-07 02:48] hawkrives commented on #27
It is. I'll fire it up and take a look at it in a bit.

[2016-08-07 02:58] elijahverdoorn commented on #20
Got the data for this when I was on campus, so I'm building the json.

[2016-08-07 03:03] hawkrives opened #29 "Convert key loading to read from a .env file"
I'm looking at using https://www.npmjs.com/package/react-native-config.

I'll make a `.env.example`, which has the key names and some instructions, but it'll read from a `.env` file in the root directory. `.env` itself will also be ignored by git.

[2016-08-07 14:07] drewvolz commented on #23
Starting to make use of [react-native-tableview-simple](https://www.npmjs.com/package/react-native-tableview-simple) as it provides the styling of iOS tableviews. Trying to work EditableText into it at the moment, but it looks beautiful. Hoping it will work.

![settings](https://cloud.githubusercontent.com/assets/5240843/17463961/4cc572e0-5ca1-11e6-8462-9aa6d2822c0d.png)

[2016-08-07 21:14] drewvolz commented on #16
Instead of parsing the XML RSS news feed [www.wp.stolaf.edu/feed](www.wp.stolaf.edu/feed), what about using Google to do the heavy-lifting? I noticed that the Calendar @elijahverdoorn implemented handles JSON very nicely.

@hawkrives @elijahverdoorn thoughts about using Google to parse the XML into JSON? [https://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=-1&q=https://wp.stolaf.edu/feed

[2016-08-07 22:36] elijahverdoorn commented on #16
I'd love to avoid doing anything in XML - JSON works so much better with JS. This seems like a great idea.

[2016-08-07 23:30] elijahverdoorn opened #32 "App Icon"
This seems to be an easy tool to resize the icon:
https://makeappicon.com/

[2016-08-08 01:55] hawkrives commented on #16
I guess it wouldn't be any more work to transition away from something like that to XML parsing if google decides to sunset that tool later. Sure, why not.

[2016-08-08 02:28] hawkrives commented on #32
Are we planning to re-use the existing icon, or go with something Oleville-related?

[2016-08-08 03:11] elijahverdoorn commented on #32
We're going with this one:
![oleville-logo](https://cloud.githubusercontent.com/assets/12042702/17468267/f17a9df2-5ceb-11e6-8cd1-2de1b8989345.png)

[2016-08-08 03:31] hawkrives commented on #32
It's round ⭕

[2016-08-08 04:37] elijahverdoorn commented on #32
True, but I think that having a bit of a white border on the iOS version is ok. It matches the trend set by apps like messenger, groupme, Twitter. The tool that I posted above will make the whitespace for us.

[2016-08-08 10:58] drewvolz commented on #32
Yeah, our current set of iOS icons were made by that toaster. It's a cool site. I have a CLI tool for taking a high quality app icon and creating all of the other icon sizes. If I find that, I'll send it your way. It does look good after running it through `makeappicon`. I had to see it on the full device before I could make a comment.. Neat icon, nevertheless.

[2016-08-09 00:19] elijahverdoorn commented on #20
PR #33

[2016-08-09 00:21] elijahverdoorn commented on #32
@drewvolz If you find that tool, I'd like a copy. I'll eventually get around to adding it to the project so that we can all look at it and voice opinions.

[2016-08-09 14:37] drewvolz commented on #23
This is a pretty "out-there" idea, but what would prevent us from finding the user's SIS profile photo once they are signed-in? It would make a nice icon at the top of settings, maybe? Definitely not a feature for immediate release.

[2016-08-09 15:38] drewvolz commented on #23
Another change -- I want to replace the way that the username and password are saved. Currently they are both saved when the keyboard's `Done` button is pushed on the password text. That is not ideal, as the username could have updated and not the password. What I am imagining as the fix is a `Save` button the width of the screen below the two inputs on the settings view, so that we do not rely on

[2016-08-10 00:17] hawkrives commented on #23
Shouldn't we add a login button to the screen? So we can check thet they're valid?

[2016-08-10 01:26] drewvolz commented on #23
That's exactly what I'm referring to.

[2016-08-11 00:07] drewvolz commented on #32
I remembered incorrect -- it was for screenshots, which we do not have to worry about anymore. Apple recently sent out an email saying they now allow you to upload your highest quality screenshot (that fits their standards) and they will slice-n-dice as needed to fit the smaller screenshot sizes. So, never mind.

[2016-08-11 02:11] drewvolz commented on #23
I added a login button to the view in my last commit to the `settings` branch.

[2016-08-11 02:20] drewvolz opened #36 "Contacts view funkiness"
![contacts](https://cloud.githubusercontent.com/assets/5240843/17577194/dcb10028-5f48-11e6-8ee1-61b802433837.png)

[2016-08-11 02:39] drewvolz commented on #36
And `react-native-card-view` did not push an update recently.

[2016-08-11 03:01] elijahverdoorn commented on #36
I'm seeing the same on android. I can look into it later tonight.

[2016-08-11 10:10] hawkrives opened #37 "5s-sized screen has line wrapping on "Important Contacts""
<img width="432" alt="screen shot 2016-08-11 at 7 09 35 pm" src="https://cloud.githubusercontent.com/assets/464441/17585502/2707b424-5ff7-11e6-8574-0a8a698e6cea.png">

Haven't looked at it any further yet. We might just be able to shrink the left-right-padding on the buttons.

[2016-08-11 11:02] hawkrives commented on #32
@elijahverdoorn, mind if I take a stab at adding the icons to the build? I ran them through the tool you linked (I attached the output.)

[logo copy.zip](https://github.com/StoDevX/AAO-React-Native/files/413008/logo.copy.zip)

[2016-08-11 13:51] drewvolz commented on #37
As an alternative approach, could we attack this with font resizing based upon screen size?

[2016-08-11 17:42] elijahverdoorn commented on #32
Go for it.

On Aug 11, 2016 6:02 AM, "Hawken Rives" notifications@github.com wrote:

[2016-08-12 05:26] hawkrives commented on #32
Done with 8bbf925493a7fcb4477c736ae484856b7db6f7bd.

[2016-08-12 05:30] hawkrives opened #40 "Use the app icons"
Ass a followup to #32, it'd be nice if we actually used the app icons to, you know, show the app.
- [x] Android
- [x] iOS

Need to do research to figure out how to do this. Are we supposed to just do thorough Xcode for iOS?

[2016-08-12 05:59] hawkrives commented on #27
![screen shot 2016-08-12 at 2 58 33 pm](https://cloud.githubusercontent.com/assets/464441/17613954/418816c6-609d-11e6-9481-40da3ec47243.png)

There appears to be a JS error in their code somewhere, although the map works in the stock browser.

[2016-08-12 06:09] hawkrives commented on #27
Or not. I haven't been able to reproduce that error yet.

Next up, I'm going to compare the inspectors from the native browser and the webview. But I need to put this away for now.

[2016-08-12 11:22] drewvolz commented on #40
If you would like, I could help do this? I have added images for both iOS and Android apps before. I believe [this is a good guide](http://stackoverflow.com/a/34333915) on how to do it.

[2016-08-12 11:30] hawkrives commented on #40
Sounds good to me!

[2016-08-13 02:59] elijahverdoorn opened #44 "Notifications on iOS"
I need to get my developer credentials set up before I can do this one, this is mostly a reminder to myself.

[2016-08-13 03:40] #29 closed, assigned to hawkrives

[2016-08-14 10:14] hawkrives opened #45 "Android OneSignal Notification Package breaks build"
@elijahverdoorn: The build is failing with ([context](https://ci.appveyor.com/project/hawkrives/aao-react-native/build/1.0.43#L2646))

[code]

on Android on both OS X and Windows. Did you ever see that error while you were building notifications or have any idea what it's talking about?

[2016-08-14 12:42] hawkrives commented on #45
Found it. We hadn't added `react-native-onesignal` to the package.json.

[2016-08-14 12:42] #45 closed, assigned to elijahverdoorn

[2016-08-14 16:21] drewvolz opened #48 "Dictionary flex property"
Similarly to the [menu issue](https://github.com/StoDevX/AAO-React-Native/commit/3daf29c9f6336e6abab31f56463ed1a1dea5069a) the dictionary is not rendering properly.

[2016-08-14 21:16] elijahverdoorn commented on #45
Thanks for the fix.

[2016-08-14 23:06] elijahverdoorn opened #49 "Building Hours not rendering"
The building hours view is totally empty when I load it on android.

[2016-08-14 23:08] drewvolz commented on #49
It might also be empty on iOS. I was about to log an issue.

[2016-08-14 23:42] elijahverdoorn commented on #49
I'm looking into the contact card issue, then this one. If anyone figures it out, make a PR.

[2016-08-15 00:45] hawkrives commented on #49
<img width="487" alt="screen shot 2016-08-15 at 9 45 16 am" src="https://cloud.githubusercontent.com/assets/464441/17653237/fb5c5b6c-62cc-11e6-8dcd-61e2d2f2995d.png">

It's not … totally empty on iOS, at least

[2016-08-15 01:10] elijahverdoorn commented on #49
Hmmm... Wonder if this has something to do with the OneSignal integration on Android? That's the only difference that I can think of between the two that might cause this.

[2016-08-15 01:38] elijahverdoorn commented on #36
It has to do with the amount of text in the card. If I shorten the text in the card, it renders fine. I'm not really impressed with that, so I'm just going to make something similar myself. :(

[2016-08-15 01:50] hawkrives commented on #49
<img width="644" alt="screen shot 2016-08-15 at 10 50 39 am" src="https://cloud.githubusercontent.com/assets/464441/17653826/1d8661d4-62d6-11e6-9e98-30794be55060.png">

Hmm.

[2016-08-15 01:59] elijahverdoorn commented on #49
It's not loading at all for me... I hate this kind of bug...

[2016-08-15 02:30] elijahverdoorn commented on #20
This is done.

[2016-08-15 02:30] #20 closed, assigned to elijahverdoorn

[2016-08-15 04:22] hawkrives opened #51 "Hawken's Goals This Week"
- [x] Make everything pass eslint and run it automatically (#53)
- [x] Extract a reusable, simpler wrapper for the tabview screens
- [x] Use Drew's list view in the calendar
- [x] fix calendar loading on android (#89)
- [x] figure out the map on android bug (#27)
- [x] SIS financials view (part of #13)
- [x] SIS courses-by-term lists (other part of #13)
- [ ] Fix local building images on Android (

[2016-08-15 04:23] elijahverdoorn commented on #51
Talk to me before doing the transportation view, I have some updated data relevant to that. (or I'm happy to do it myself)

[2016-08-15 04:25] hawkrives commented on #51
If you put the data in the `transportation.json` file, I'll gladly use it 😉

[2016-08-15 04:30] elijahverdoorn commented on #51
Ok. I intentionally want this view to be really simple, since we can't possibly cover all the modes of transport and we don't want to cover others. The biggest thing is the bus schedule and VanGo. We're not adding the Northfield Lines schedule, since they are not St. Olaf affiliated. Same for the rental cars and any kind of taxi.

[2016-08-15 05:10] hawkrives opened #52 "Using local BuildingImages on Android doesn't work"
Current error:

[code]

[2016-08-15 05:11] hawkrives commented on #15
@elijahverdoorn:

[2016-08-15 05:16] hawkrives opened #53 "Standardize style with Eslint"
- [x] Install eslint
- [x] Add .eslintrc
- [x] Merge the outstanding PRs
- [x] Make everything currently in the repo pass Eslint
- [x] Add pre-commit hook to enforce eslint passing
- [x] Add eslint checks to CI

[2016-08-15 06:22] elijahverdoorn commented on #36
Finished.

[2016-08-15 06:22] #36 closed, assigned to elijahverdoorn

[2016-08-15 06:25] elijahverdoorn commented on #15
See the transportation branch's JSON for the latest bus data. I'm thinking that if we displayed a list of the transportation options, as in the transportation.json file, and the next bus at all locations (as found in bus-times.json) we'd be good for v1.

[2016-08-15 13:33] #53 closed, assigned to hawkrives

[2016-08-15 22:37] drewvolz commented on #48
This is caused by `collapsibleRow.js` line 19, where a similarly named `container` styling has `flex: 1`. Removing this line does fix the problem, but I am unsure if that is the solution.

[2016-08-16 06:30] hawkrives commented on #19
I just committed some cleanups on `master`:
- I copied over the styles from Drew's ListView in News.
- I removed an extra View that just wrapped the ListView.
- I remove a view that wrapped the EventView, and let EventView take a set of styles.
- I turned EventView into a function component and removed all use of state
- I hid the time and location when they weren't available

[2016-08-16 06:31] hawkrives commented on #48
Fixed. That was the problem.

The `container`s from collapsibleRow are inserted into the listview as direct children, so when `flex` goes to split up the available space evenly, it doesn't take into account the collapsed nature of some of them – the available space went up, so they all get a little bigger.

[2016-08-16 06:31] hawkrives commented on #48
Fixed by 400034574038d1c18484177e41b3fc69c9ab53b0

[2016-08-16 06:31] #48 closed, assigned to nobody

[2016-08-16 06:33] #49 closed, assigned to nobody

[2016-08-16 13:28] hawkrives opened #65 "Display native menu screen for Caf?"
BonApp publishes "menus" online for both the Caf and the Cage. The cage's is … never right, but the caf's is in sync with the web menu.

I would like to, for a future version, build a native Caf menu screen that took advantage of the menu data for the Caf to render locally, instead of loading the giant webpage in a webview.

Caf JSON Menu: http://legacy.cafebonappetit.com/api/2/menus?cafe=261
Cage

[2016-08-16 13:28] hawkrives commented on #65
Here's a sample menu file:

[code]

[2016-08-16 17:05] drewvolz commented on #65
A few suggestions I have found and believe we could tweak
- [menu_fetcher](https://github.com/virmani/twoffice_menu_service/blob/master/menu_fetcher.js)
- [menuParser](https://github.com/mweisz/sap-menus-backend/blob/master/menuParser.js)
- [BonApp](https://github.com/StoDevX/BonApp-Widget/blob/master/BonApp.js)

[2016-08-16 17:10] drewvolz commented on #51
Information on Green Bikes at the very least, since they are a St. Olaf group?

[2016-08-16 17:44] drewvolz commented on #15
And as far as the transportation view for buses, I was thinking that the bus schedule data could be represented in a "tube" schedule progress view? If either of you have ideas that differ, let me know. But I envisioned a progress bar status with stops along the way and a blinking rectangular bar indicating what percentage of the way the bus is supposedly at between the two points. Just the first i

[2016-08-16 17:47] drewvolz commented on #13
Check this [campus-guide](https://github.com/joseph-roque/campus-guide) out. might be useful for SIS-related functionality? As well as the [UCSD](https://github.com/UCSD/now-mobile) one for the sake of  react-native campus apps

[2016-08-16 21:00] drewvolz commented on #65
I also want to raise the question of do we really want to provide the Stav Hall menu if it is full of inaccurate data every day? Having followed it for the past few years, I have been misled by dietary labels (vegetarian/vegan/gluten-free) being misplaced, missing, or flat out incorrect. I also have anticipated food listed on this menu only to discover it was not part of the actual menu more times

[2016-08-17 00:47] elijahverdoorn commented on #65
I want to keep the capabilities in there. I like the thinking that @drewvolz is presenting, and lobbying bonapp for a more up-to-date menu is something that SGA easily has the power to do, especially if there is a strong user base that we can back up with our own data. In terms of using a native view, I'd support the idea but propose that we handle bigger issues for now, and let one of my team mem

[2016-08-17 00:49] elijahverdoorn commented on #51
Sure, Green bikes are a good idea, but since they stopped loaning them out to students in the spring I'm not sure of the status of the system. I'll investigate once I get back to campus and we can add it if they are loaning them out.

[2016-08-17 00:51] drewvolz commented on #51
Are you sure they officially stopped? I checked one out a few weeks before graduation in May. [Also this](http://stolaf-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/display.do?tabs=detailsTab&ct=display&fn=search&doc=01BRC_CCO_ALMA21287993030002971&indx=1&recIds=01BRC_CCO_ALMA21287993030002971&recIdxs=0&elementId=0&renderMode=poppedOut&displayMode=full&frbrVersion=&frbg=&&dscnt=0&scp

[2016-08-17 01:34] hawkrives commented on #65
I intended to propose this for a future update – v2.1 if you will – although I might have lost that in my editing.

So I'm definitely up for marking this for someone to handle on your team.

[2016-08-17 02:12] elijahverdoorn commented on #51
They may have just been stopped the one time that I tried to check one out last semester. We can include the functionality and remove it if we're wrong, it's a two minute job.

[2016-08-17 02:16] elijahverdoorn commented on #19
That was all I was going to do here for version 1, thanks. Closing.

[2016-08-17 02:16] #19 closed, assigned to elijahverdoorn

[2016-08-17 02:23] hawkrives commented on #19
lookit that progress bar go

[2016-08-17 02:30] hawkrives opened #67 "Inject the full title of the news article into the top of the article view"
Currently, we cut off the title of the news article.

It would be nice if the article displayed the title at the top of the article view.

[2016-08-17 02:32] hawkrives opened #68 "Open links from news articles in an external web browser"
Currently, we disable links from the news article webviews. It would be nice if those links were, instead, loaded in a different view so people could look at them.

There are a few ways this could go:
- (ideal) We could use [SafariViewController](https://www.npmjs.com/package/react-native-safari-view) and [Chrome Custom Tabs](https://www.npmjs.com/package/react-native-custom-tabs) to present it in

[2016-08-17 02:33] hawkrives commented on #16
![image](https://cloud.githubusercontent.com/assets/464441/17722609/66881488-646e-11e6-80ff-7c829f9fc1c6.png)

<img width="487" alt="screen shot 2016-08-17 at 11 33 33 am" src="https://cloud.githubusercontent.com/assets/464441/17722616/718cf6e6-646e-11e6-8163-c4b2e490c805.png">

Current state

[2016-08-17 03:00] hawkrives opened #69 "Change icons for the iOS tab bars"
Each tab needs a different icon. We need to pick them, and figure out how to use them.

Picking them first, I think.

We've been using the icons from entypo.com for the rest of the app, so ideally all the icons would come from there.

If we need special icons for some tabs – maybe logos for the news orgs – then we'll have to figure out how to do those.
## Tabs that need icons
- Menus
  - [ ] Stav

[2016-08-17 03:02] hawkrives opened #70 "Can we add Pause events to the Calendar?"
It should be possible, no? I think they have their own Google Calendar feed with id `stolaf.edu_qkrej5rm8c8582dlnc28nreboc@group.calendar.google.com`.

(pulled from http://oleville.com/pause/calendar/)

[2016-08-17 03:20] elijahverdoorn commented on #70
Totally possible, but I need to talk to the other SGA execs and decide if I want to pull those into the SGA calendar or not. I'm guessing that we'll keep it separate, but let's hold off for now until I come back with a formal decision.

[2016-08-17 03:45] hawkrives commented on #70
We could also just add a third tab. I know the Pause callendar is kinda … screwy.

Taiko had a knack for hittting the bumps in their calendar.

[2016-08-17 04:50] drewvolz commented on #15
In light of doing something with simplicity in mind, [this one](https://github.com/marcin-mazurek/pocketable) strikes me as pretty close to ideal.

[2016-08-17 05:03] elijahverdoorn commented on #15
I agree that simple is good, but I am a little afraid of using a component that seems inactive. For now, if it's not hard, let's go with it, we can redo later if we have to. (Also - how would that look on iOS?)

[2016-08-17 05:56] #16 closed, assigned to drewvolz

[2016-08-17 06:05] drewvolz commented on #65
We have tried adding the following URLs to the URL exception list (URLs that are not accessed via `https` yet the menu ceases to load new URLs that we do not cover. At any moment, this view could hit an App Transport Security error most likely resulting from a fresh URL being used on that page. Other WebViews are prone to this flaw, too as they include other URLs from outside of our known sources.

[2016-08-17 06:35] elijahverdoorn opened #74 "TES View"
Given that we are already storing user's usernames and passwords, can we make it easy for students to input their hours into TES?

[2016-08-17 06:45] hawkrives commented on #74
Whoo boy.

See https://www.stolaf.edu/people/rives/cgi-bin/get-tes.py/, when it's working, and https://github.com/StoDevX/sto-tes-calculator

I've actually built this once, in Pythonista for iOS.

It's doable.

[2016-08-17 06:56] hawkrives commented on #74
I'd like to split this into two phases: one, taken from my TES calculator, that shows you
- your jobs
- you pick your work award
- the amount you've earned overall
- the number of hours you've worked overall
- the number of hours you can still work
- the number of weeks until work ends
- the number of hours you need to work per week to make your award

and then, phase 2, which lets you edit and su

[2016-08-17 07:49] hawkrives commented on #74
Actually, as soon as I finish the SIS view (mainly the networking) I'll be able to do part 1 of this view.

I've built it twice before, once in react and once as a server-side python cgi script.

[2016-08-17 09:34] hawkrives opened #75 "ci-based release generation [way-future idea]"
https://www.objc.io/issues/6-build-tools/travis-ci/

[2016-08-17 13:31] hawkrives commented on #51
ok people, take it to #15 lol

[2016-08-17 16:00] drewvolz commented on #15
Currently cannot get it to build, so I will see what I can do to extract the view components into our own app.

[2016-08-17 23:57] elijahverdoorn commented on #74
Cool, but that's not going in v1. We don't have time to test that the way that I'd want to, not to mention the fact that I don't have a timecard to fill out, since it's summer. We can look to 1.1 for that feature, when I'll have a timecard to do.

[2016-08-18 00:47] hawkrives commented on #74
I have a timecard actually!

[2016-08-18 02:42] hawkrives opened #78 "Add webview for Mobile PrintRelease website"
https://papercut.stolaf.edu:9192 (only available on-campus)

[2016-08-18 03:47] drewvolz commented on #13
Following up here with an update... I have tabs in-place, and a few views on the Balances screen in place. This is in the spirit of [Hawken's mockup](https://github.com/StoDevX/AAO-React-Native/pull/30#issuecomment-238126633).
<img width="375" alt="sis" src="https://cloud.githubusercontent.com/assets/5240843/17761420/fd5a2a70-64d4-11e6-8b3a-415c24649308.png">

[2016-08-18 05:30] elijahverdoorn commented on #14
Development happening on branch [oleville-view](https://github.com/StoDevX/AAO-React-Native/tree/oleville-view)

[2016-08-18 05:59] elijahverdoorn opened #84 "Set Up CodePush"
This seems to be the way that the cool kids are deploying these days. Let's do it too.

https://microsoft.github.io/code-push/

[2016-08-18 19:30] drewvolz commented on #74
I had an interesting idea for this. To prevent timecards from being filled out at the end of each month (we are probably all guilty of this), what if we approached this with the mindset of: filling out the time card is a hassle. How can we make this more convenient?

We could _eventually_ develop a timer that would keep track of time worked. You open the TES portion of the app, and the view that g

[2016-08-19 02:08] hawkrives opened #86 "Text inputs in Settings cannot smoothly flow from one to the next"
What should happen?
- Focus the Username field
- Tap the Password field
- The password field is now focused

What happens?
- Focus the Username field
- Tap the Password field
- The password field is **not** focused. Nothing is focused, and the keyboard is dismissed.

This happens on both iOS and Android.

[2016-08-19 02:17] hawkrives opened #88 "Home screen editing idea"
Currently, there is no way to edit the icons on the home screen. I would _love_ the ability to rearrange and disable some options there, especially as we add new sections.

Here's my proposal:
- We make the Edit button pull up a screen with two lists.
- You can drag items between the lists, and rearrange them within the top list. (The bottom list is always alphabetical.)
- Items in the bottom list

[2016-08-19 04:17] elijahverdoorn commented on #88
Removing first change, I think that this wouldn't be easy for my team members on their first go. It's a great idea otherwise.

[2016-08-19 05:20] elijahverdoorn opened #89 "Calendar won't load on android"
The loading screen never goes away, both tabs.

[2016-08-19 05:39] hawkrives commented on #89
frick. i'll look at it.

[2016-08-19 05:40] hawkrives commented on #88
Good point 😆 It's probably about at our level right now, I guess.

[2016-08-19 07:33] elijahverdoorn commented on #23
I started working on adding the legal, credits, and privacy views. They should be really simple and pull from JSON data. PR coming sometime today.

[2016-08-19 07:47] hawkrives commented on #13
We're working on loading financial data into the view in the [`moar-sis`](https://github.com/StoDevX/AAO-React-Native/tree/moar-sis) branch. That part's almost ready.

Then we'll move on to meal plans, and finally enrolled courses. It's coming along!

[2016-08-19 12:02] hawkrives commented on #89
<img width="543" alt="screen shot 2016-08-19 at 9 02 40 pm" src="https://cloud.githubusercontent.com/assets/464441/17809259/4723600a-6650-11e6-9cbc-892816b80139.png">

Latest `master` for me. I love these issues.

[2016-08-19 12:30] hawkrives commented on #27
Current analysis says that they've got some code that resizes the canvas they draw to, and that code is setting said canvas to `0` height in our webview.

[2016-08-19 14:11] elijahverdoorn commented on #27
Would injecting our own resize code fix the issue?

On Aug 19, 2016 7:30 AM, "Hawken Rives" notifications@github.com wrote:

[2016-08-19 14:14] elijahverdoorn commented on #89
I'll add some debugging log calls and get more information tonight. It's possible that I just didn't wait long enough, but even if that's the case we should have some sort of message to the user that says "we're not broken, the request is just taking a while". Maybe turning the loading screen into the spinning thing would communicate that? Implement that for v1.next?

[2016-08-19 14:35] drewvolz commented on #89
A good one for your team _after that_ is the loading spinner  2.0 -- which could be the Ole The Lion SVG!

[2016-08-19 14:41] hawkrives commented on #27
Maybe, but I can't figure out where their stuff is getting called.

Actually. You gave me an idea.

If I trigger a layout with `document.body.style.height = "500px"`, I get this:

<img width="543" alt="screen shot 2016-08-19 at 11 41 13 pm" src="https://cloud.githubusercontent.com/assets/464441/17813464/6d7951a4-6666-11e6-816e-34dba917af0e.png">

Which gets us part of the way there.

[2016-08-19 14:42] drewvolz commented on #13
If we are really ambitious, we could refresh the data with [tween animations](https://www.npmjs.com/package/react-native-tween-animation)

[2016-08-19 14:44] hawkrives commented on #27
<img width="543" alt="screen shot 2016-08-19 at 11 43 42 pm" src="https://cloud.githubusercontent.com/assets/464441/17813559/c86b5580-6666-11e6-868a-a5529912b93d.png">

Well hmm.

`document.querySelector('#map-size').style.height = '500px'`

[2016-08-19 14:45] hawkrives commented on #27
oh god. they're drawing _multiple `<canvas>`s_

![screen shot 2016-08-19 at 11 45 52 pm](https://cloud.githubusercontent.com/assets/464441/17813632/1691797e-6667-11e6-850c-48cebffeb484.png)

[2016-08-19 14:47] hawkrives commented on #27
slash multiple image tiles

![screen shot 2016-08-19 at 11 47 14 pm](https://cloud.githubusercontent.com/assets/464441/17813690/4659931c-6667-11e6-8468-2f6ff780fa47.png)

[2016-08-19 14:48] drewvolz opened #90 "Map location tracking data"
Is anyone familiar with the life cycle of permissions in regards to location data and WebViews? We are using a WebView which has requested specific permission to track our location. Do we know if it ever stops tracking, if it requests every time we open the app -> view, etc. We should look into this one... it could be a battery killer at some point?

**Update**
It appears that the location is requ

[2016-08-19 14:50] drewvolz commented on #27
Is there a need for multiple canvases? Can we remove one with WebView javascript injection?

[2016-08-19 14:57] hawkrives commented on #27
Each canvas is one tile in size

The bigger problem, and the reason that map is so short, is that it's only rendering one row of tiles

[2016-08-19 14:57] hawkrives commented on #27
I've established that they use NewRelic for analytics. This is not useful information.

[2016-08-19 15:15] hawkrives commented on #90
I know that once you grant it permission, the web view asks for permission …

which makes me think that, as long as the web view isn't using it, neither are we.

[2016-08-19 15:16] hawkrives commented on #89
We could also actually make the "error" state change something, so you know when it's error – at least for us

[2016-08-19 15:17] hawkrives commented on #13
ⓝⓞ

good idea though

[2016-08-19 15:52] drewvolz commented on #13
<img width="375" height="690" alt="sis-bad" src="https://cloud.githubusercontent.com/assets/5240843/17829527/60df469c-667f-11e6-89cb-4139afd750d8.png">

[2016-08-19 16:14] drewvolz opened #91 "Dictionary v1.1"
[Enhanced dictionary list rendering](https://medium.com/@spencer_carli/react-native-basics-how-to-use-the-listview-component-a0ec44cf1fe8#.der6qokx5)
- [ ] Search
- [ ] Alphabetical section headers

[2016-08-19 16:18] drewvolz commented on #88
- [react-native-sortable-listview](https://www.npmjs.com/package/react-native-sortable-listview)
- [react-native-SortableList](https://github.com/hayeah/react-native-SortableList)

[2016-08-19 16:22] hawkrives commented on #91
Section headers shouldn't be hard if we just use a normal listview

[2016-08-19 18:22] drewvolz commented on #9
I recognize we are getting closer to having these display in a Webview. If we do ever decide to render these another way, here are a couple possibilities.
- [rnwbnr](https://github.com/rogozhnikoff/rnwbnr/blob/3470f9b5835a4df56a37c766b66360cda0122267/src/view/components/viewer.js)
- [videoPlayer](https://github.com/xiDaiDai/Practice_in_ReactNative/blob/c755cb59d961b0b093c9a9c933cadd4bd8716ebe/src/

[2016-08-20 01:22] elijahverdoorn commented on #91
All our views will need an update at some point, I like that article. Adding good first change.

[2016-08-20 01:23] elijahverdoorn commented on #89
I like both ideas.

[2016-08-20 08:58] hawkrives commented on #37
This is fixed.

[2016-08-20 08:58] #37 closed, assigned to nobody

[2016-08-20 09:17] #13 closed, assigned to hawkrives, drewvolz

[2016-08-20 12:10] hawkrives commented on #15
Speaking of Pocketable, should I contribute a TravisCI config?

[2016-08-20 12:22] hawkrives commented on #14
Closed by #96.

[2016-08-20 12:22] #14 closed, assigned to elijahverdoorn

[2016-08-20 12:22] hawkrives commented on #23
I want to see if I can make these read from text files, instead of JSON. JSON's kinda … not great for multi-line data, as you can see.

[2016-08-20 13:56] hawkrives commented on #52
<img width="518" alt="screen shot 2016-08-20 at 10 55 53 pm" src="https://cloud.githubusercontent.com/assets/464441/17831647/50b63d2a-6729-11e6-8887-c95c46432d11.png">

[2016-08-20 18:32] drewvolz opened #107 "Settings version"
Need to pull in the version of the app into the settings view

[2016-08-20 18:32] drewvolz opened #108 "Oleville story titles need decoding"
HTML in titles needs decoding

[2016-08-20 18:33] drewvolz opened #109 "Contact buttons are cut off"
The buttons do not render all corners. Depends upon how you're scrolling.

<img width="254" alt="screen shot 2016-08-20 at 2 33 10 pm" src="https://cloud.githubusercontent.com/assets/5240843/17833160/0ba2994a-66e3-11e6-9377-23e74bde05a6.png">

[2016-08-20 18:34] drewvolz opened #110 "SIS double room listings"
Double room listing needs alignment adjustment. It is understood that multiple room listings appear, but we must have a way to present it without hiding overflow.
<img width="360" alt="screen shot 2016-08-20 at 2 34 19 pm" src="https://cloud.githubusercontent.com/assets/5240843/17833166/367ffed2-66e3-11e6-8812-26dacef2a476.png">

[2016-08-20 18:36] drewvolz opened #111 "Calendar row size and html"
- [x] HTML in rows needs decoding
- [x] Need a min height on the row (see labor day)

<img width="277" alt="screen shot 2016-08-20 at 2 36 12 pm" src="https://cloud.githubusercontent.com/assets/5240843/17833172/76d6c740-66e3-11e6-8a2c-4247329ac8e5.png">

[2016-08-20 18:40] drewvolz opened #112 "ListViews need a fallback"
If we do not render anything, we should provide text and/or an image to provide context.

## A List of ListViews:

- [x] ~~Hours~~ (static data source)
- [x] ~~Webcams~~ (static data source)
- [x] Calendar (https://github.com/StoDevX/AAO-React-Native/blob/master/views/calendar/calendar.js#L169-L171)
- [x] Menus (https://github.com/StoDevX/AAO-React-Native/blob/master/views/menus/components/menu.js

[2016-08-20 18:53] drewvolz commented on #108
This is fixed by #113

[2016-08-20 19:03] drewvolz commented on #109
This is fixed by #114.

[2016-08-20 19:34] drewvolz commented on #111
This is fixed by #115.

[2016-08-21 01:07] hawkrives commented on #112
I'll take this one.

[2016-08-21 01:35] hawkrives commented on #107
If we use the version from package.json, this is simple: `require('../package.json').version`

[2016-08-21 01:44] hawkrives commented on #110
I've actually accounted for that in the current design. The problem is that my current parsing strips out the `<br>` tag they they use to separate multiple times / locations.

I'll fix that today.

[2016-08-21 06:10] #111 closed, assigned to nobody

[2016-08-21 06:10] #109 closed, assigned to nobody

[2016-08-21 06:10] #108 closed, assigned to nobody

[2016-08-21 06:31] hawkrives commented on #110
Fixed locally.

[2016-08-21 06:31] hawkrives commented on #107
Fixed locally.

[2016-08-21 09:49] hawkrives commented on #23
Nope. Not doing that for v1.

[2016-08-21 10:21] hawkrives opened #122 "Add logged-in check to SIS view"
Currently it just kinda crashes.

[2016-08-21 14:44] #107 closed, assigned to nobody

[2016-08-21 14:49] drewvolz commented on #40
This is fixed by #117

[2016-08-21 14:49] #40 closed, assigned to elijahverdoorn

[2016-08-21 14:59] #110 closed, assigned to nobody

[2016-08-21 15:00] drewvolz commented on #32
This is solved with #117

[2016-08-21 15:02] drewvolz commented on #110
This is closed by #121

[2016-08-21 17:30] drewvolz commented on #9
With our current implementation of separate webviews, one can play the stream multiple times if they pinch out of a stream instead of hitting the "Done" button. That's not entirely ideal, so we should most likely move forward with passing the stream url onwards to a separate view... and be sure that the "Done" button on the stream does not prevent us from opening the view again.

Also, rotation on

[2016-08-21 17:31] drewvolz commented on #69
This was fixed in #105

[2016-08-21 17:31] #69 closed, assigned to nobody

[2016-08-21 17:34] drewvolz opened #123 "Webcam issues"
- [ ] Rotation on iOS physical device (have not tested Android)
- [ ] Stream is only playable once if "done" is hit on video view
- [ ] Stream is playable many times if pinch out of video view
- [ ] Preview images for streams

[2016-08-21 17:41] drewvolz opened #124 "Call buttons work but do not prompt"
3 out of 4 of the Contact resources are fairly important numbers that we don't want to spam with accidental dials, so I believe we should add a confirm (yes/no) modal popup alert that asks if they really want to dial the number.

I am speaking from experience -- I have received a lot of blank support emails because it does not ask if you want to send the email or not -- it simply sends. Let me kno

[2016-08-21 18:31] drewvolz commented on #124
This is fixed by #125.

[2016-08-21 19:40] drewvolz opened #126 "Navigation bar buttons too small"
@hawkrives and I agree that we need to adjust the sizes of the navigation buttons, both icons and text. The target is too small to hit perfectly every time.
- [x] Adjust size of navbar buttons and icons
- [x] Align navbar buttons and icons

---

testing auto-checking of issues
- [ ] Android (#151)
- [ ] iOS (#148)

[2016-08-21 19:52] elijahverdoorn commented on #23
It's fine, JSON multi-line editing isn't that bad in vim.

[2016-08-21 20:25] drewvolz commented on #9
Another thought for Streaming media is the potential to provide access [(with rss/json)](https://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=-1&q=https://www.stolaf.edu/multimedia/streams/rss/rss.cfm) to the events via [the streams up on multimedia](https://www.stolaf.edu/multimedia/)

[2016-08-21 21:20] elijahverdoorn commented on #9
That's a good plan, something for another version. Maybe make an issue to track it?

[2016-08-21 21:20] elijahverdoorn commented on #9
oops

[2016-08-21 21:25] drewvolz opened #127 "Streaming events view"
It would be neat to have the feeds from [https://www.stolaf.edu/multimedia/](https://www.stolaf.edu/multimedia/) show up in the app. Luckily, there is an [RSS feed that we can make JSON](https://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=-1&q=https://www.stolaf.edu/multimedia/streams/rss/rss.cfm). Providing a list of these events which would load a view of the stream might make for a ne

[2016-08-21 21:26] drewvolz commented on #9
Sure. That child story now lives at #127.

[2016-08-21 21:54] elijahverdoorn commented on #89
This is still happening to me, even with a reinstall of the app from master. Maybe it's just me, or it could be my calendar key?

[2016-08-22 02:52] elijahverdoorn commented on #44
Development in ios-notifications.

Currently hitting an issue: I followed the instructions in this guide: https://documentation.onesignal.com/v2.0/docs/generating-an-ios-push-certificate
Then this one: https://documentation.onesignal.com/docs/installing-the-onesignal-ios-sdk using the manual instructions since I don't have cocoapods set up.
Running on the iOS simulator produces an error at runtime

[2016-08-22 02:53] elijahverdoorn commented on #44
The error, for reference:

[code]

[2016-08-22 03:12] hawkrives commented on #44
The error `unrecognized selector sent to instance` means that one/more of the arguments is invalid, usually…

Make sure that none of the arguments are `nil` and that any strings are (probably) NSString instances (prefixed with @, like `@""`)?

I can try later today.

[2016-08-22 03:15] hawkrives commented on #89
Shouldn't be your key – I'm using your key too

[2016-08-22 03:16] hawkrives commented on #127
Ooh, that is a nice idea.

[2016-08-22 03:36] elijahverdoorn commented on #15
I'm going to work on this while I wait for advice on the push notifications.

[2016-08-22 03:37] elijahverdoorn commented on #44
I think that all the strings are prefixed properly, I copied the code that was listed in the guides (and I don't know ObjC, so that's kinda all I'm good for in this context).

[2016-08-22 04:40] hawkrives commented on #15
Sounds good.

[2016-08-22 04:40] elijahverdoorn commented on #27
Suggestion/Note To Self: Use the `Linking` interface of react-native to open it in an external browser (since it works there for some reason) on android.

See: https://facebook.github.io/react-native/releases/0.21/docs/linking.html

[2016-08-22 08:10] #15 closed, assigned to elijahverdoorn

[2016-08-22 08:11] hawkrives commented on #23
I don't think we have anything else to do for v1 in Settings? Specifically.

I do want to make the icon to get into it bigger.

[2016-08-22 08:11] #23 closed, assigned to drewvolz

[2016-08-22 08:33] elijahverdoorn commented on #124
Closing as fixed. Thanks @drewvolz.

[2016-08-22 08:33] #124 closed, assigned to nobody

[2016-08-22 08:33] elijahverdoorn commented on #126
Agreed, especially the alignment part. This is important enough for me to add to v1.

[2016-08-22 08:36] elijahverdoorn commented on #51
One week later... Let's close this now that we have the milestones set up and can just assign current work, and talk about it in slack.

[2016-08-22 08:36] hawkrives opened #131 "Catch network errors when loading data"
Currently, network errors just kinda bring the whole app to a halt. We should catch the errors and either return cached data, or switch to an offline view, depending on the data.

[2016-08-22 08:37] #51 closed, assigned to hawkrives

[2016-08-22 08:39] hawkrives commented on #131
I'm also thinking about adding caching functionality to the news and calendar views. It's not hard, and it'd speed them up.

[2016-08-22 08:53] hawkrives commented on #91
We should also use the renderSeparator prop in our other ListViews, instead of the current borderBottom method.

[2016-08-22 08:55] hawkrives opened #134 "Build for production"
This looks like a useful resource for building for production (note: haven't read it yet)

https://medium.com/android-news/preparing-a-reach-native-android-app-for-production-f063413d5633

Also, the actually useful official docs: http://facebook.github.io/react-native/docs/signed-apk-android.html

and for iOS: http://facebook.github.io/react-native/docs/running-on-device-ios.html#building-your-app

[2016-08-22 09:03] hawkrives commented on #134
ok so building for iOS boils down to "build Release, not Debug".

[2016-08-22 16:37] drewvolz opened #135 "Open job postings"
I am not completely sure if this would fit into the spectrum of functionality we would like to provide, but I know finding student job opportunities can be a bit of pain. What if we made that easier, too?

I am imagining we could add a `student work` component to the app with two tabs. The first tab would be the Time Entry System that is being discussed in #74, and the second tab could be an optim

[2016-08-22 16:41] drewvolz commented on #131
Excellent idea. Any way to make it a component that can be included in every view that fetches data? Some universal way to display a notification that we have had network errors without interrupting the flow of the app?

[2016-08-23 00:12] hawkrives commented on #135
I don't know if it would be used enough to be a full-fledged tab component, but we could possibly … ooh.

What if the TES view started out with a list of jobs, and said list included an option for, like, "find a new job" or something - which would then open this view.

[2016-08-23 00:15] hawkrives commented on #131
… Maybe. I don't think there's a NetworkError type, but I'll look around for something.

I've been thinking that it'd just go in the "catch" clauses of the data fetching functions, which I'm trying to pull out of the components anyway.

See the SIS fetching stuff.

[2016-08-23 02:29] elijahverdoorn commented on #9
Closing this one, see #137

[2016-08-23 02:29] #9 closed, assigned to hawkrives

[2016-08-23 02:30] elijahverdoorn commented on #44
Tracking this issue, related, thanks to @drewvolz https://github.com/geektimecoil/react-native-onesignal/pull/73

[2016-08-23 02:34] hawkrives opened #141 "Weekly Movie Info"
Pull it + display it.

[2016-08-23 02:35] hawkrives opened #142 "Fix the webcams view"
- [ ] Use static, embedded screenshots of the webcams
- [ ] Tap one to open the live view
- [ ] Enable device rotation for the webcams only

[2016-08-23 02:35] hawkrives commented on #9
We still need Weekly Movie info (#141) and a non-silly webcams view (#142).

[2016-08-23 02:51] elijahverdoorn commented on #141
Moving this one back to a later version. If it makes this version, great, but it's not a priority.

[2016-08-23 02:52] elijahverdoorn commented on #126
I'll look at this one.

[2016-08-23 03:33] hawkrives commented on #126
Good luck!

[2016-08-23 04:43] elijahverdoorn commented on #126
Aannnddd.... I give. I'm terrible at CSS on the web, RN layout is no different. I'd love if someone better gave it a try. I did not, however, try importing something like this: https://github.com/react-native-community/react-native-navbar, which might be a good idea.

[2016-08-23 04:45] hawkrives commented on #126
I'll … put some time into it tonight. It's frustrated me for long enough. Please expect it to be fixed tomorrow.

[2016-08-23 04:46] hawkrives commented on #126
actually I really like that component. I may well end up using it / something similar. Thanks for finding it!

[2016-08-23 05:00] elijahverdoorn commented on #126
If that's the solution that we want to use, I can do that if you'd rather put time in elsewhere.

[2016-08-23 05:06] elijahverdoorn opened #143 "Add dropdown of building hours"
It might be good to show the dropdown of the hours when clicking on the items, so that we can help with the "I missed it, when is it open next?" problem.

[2016-08-23 05:42] elijahverdoorn commented on #89
Not reproducible, I re-copied my key and it works fine. Closing.

[2016-08-23 05:42] #89 closed, assigned to nobody

[2016-08-23 06:08] hawkrives commented on #126
nah, I'll just fix things there tonight. There are some other small improvements I want to make to the navigation at the same time – like having "Back" say where it will go, instead of always saying Back. Shouldn't take too long.

ex.
in any of the sections, "< Back" becomes "< Home".
in News, "< Back" becomes "< News".

[2016-08-23 11:42] drewvolz commented on #131
I get that. I meant a visual component on our end to consistently display a view or notification as a result of the catch.

[2016-08-23 12:26] drewvolz commented on #141
Where would we "pull" the data from? Oleville API? Static JSON url updated on github in our `data` folder?

[2016-08-23 12:32] drewvolz opened #145 "SIS username/password labels"
Need dynamic positioning of these. This was my bad way of doing it.

<img width="349" alt="screen shot 2016-08-23 at 8 30 18 am" src="https://cloud.githubusercontent.com/assets/5240843/17891817/1ef9e522-690c-11e6-9816-d07d6bdf3a5d.png">

[2016-08-23 12:36] drewvolz opened #146 "Strange keychain bug"
I would expect the keychain to not fail. This came from entering an incorrect username/password into the Settings login, submitting, and then changing to correct credentials and trying to login.

<img width="361" alt="screen shot 2016-08-23 at 8 34 41 am" src="https://cloud.githubusercontent.com/assets/5240843/17891939/a814ae14-690c-11e6-82c8-96200be1a9f0.png">

[2016-08-23 13:17] drewvolz commented on #146
After downloading iOS 9.3 and adding a new simulator, I can confirm this is only reproducible on iOS 10.0. Thanks @hawkrives for the idea.

This does not make sense, as we can run it on the physical device running iOS 10.0 but the simulator cannot?

[2016-08-23 15:50] elijahverdoorn commented on #141
There is usually a post on Oleville about the movie, that post will show up in the Oleville view. As for pulling it separately, I guess I could do some stuff with categories and tags on the server, then pull from that.

[2016-08-23 15:53] drewvolz commented on #141
Right -- the latter answer is what I was going for. Figuring out a method to query Oleville for the data.

[2016-08-23 16:59] drewvolz opened #147 "Strange padding with ListView and TabbarIOS"
- [ ] Transportation/Transit
- [ ] Webcams

We've noticed that our solution of bumping up the margin/padding on the ListView seems to backfire in two known-instances. The scrollbar and content do not agree.

We thought we could fix it using [this explanation](url) which suggests using this to fix the ListView

`<ListView
  contentInset={{bottom:49}}
  automaticallyAdjustContentInsets={false}
`

Bu

[2016-08-23 19:10] drewvolz opened #150 "Manual dictionary differ"
Need a simple script to notify AAO developers/support that words have been modified on the following pages. This way we can keep our dictionary data up-to-date without spending time on it.
- [A-G](http://wp.stolaf.edu/sa/a-g/)
- [H-O](http://wp.stolaf.edu/sa/h-o/)
- [P-Z](http://wp.stolaf.edu/sa/p-z/)

[2016-08-24 04:12] hawkrives opened #153 "News story detail views load `undefined`"
Part of the refactoring yesterday.

I need to update how props are passed.

[2016-08-24 04:14] elijahverdoorn opened #154 "Add Drawer to Android version"
Follow material design, as a result of the discussion in #151.

[2016-08-24 04:14] hawkrives opened #155 "Settings button can be pushed multiple times"
I'm thinking … disable the settings button after a tap?

But why does it take so long to open?

Hmm.

(oh lol drew suggested disabling the button too. it's a stopgap fix, at least.)

[2016-08-24 04:16] hawkrives opened #156 "Add exception for KSTO website to Info.plist"
Otherwise ATS blocks it.

[2016-08-24 04:17] hawkrives opened #157 "Dictionary view stutters when opening"
Hmm.

[2016-08-24 04:18] hawkrives opened #158 "Text in Important Contacts should be centered"
like in Transportation.

[2016-08-24 04:19] hawkrives commented on #146
We're going to have to figure this one out for v2, since iOS 10's due for release in Sept.

[2016-08-24 04:19] hawkrives commented on #145
Closed by 2e6938d. (github will auto-close when #148 lands)

**Update:** Or maybe it won't.

[2016-08-24 04:31] elijahverdoorn commented on #158
Would we rather do that, or left justify the text in transportation? I think that it's easier to read if it's left justified.

[2016-08-24 04:32] elijahverdoorn commented on #158
We also have the expandable lists in Dictionary left justified, I'd rather keep them all the same.

[2016-08-24 04:33] elijahverdoorn commented on #126
This should be closed by #151 and #148

[2016-08-24 04:39] hawkrives commented on #158
Ok. I'll revert the change in Transportation.

[2016-08-24 04:40] hawkrives commented on #158
I'll do that on `master` after #148 is merged.

[2016-08-24 04:43] hawkrives commented on #153
Fixed by 9e79b0d.

[2016-08-24 04:43] elijahverdoorn commented on #158
Thank you.

[2016-08-24 05:01] hawkrives commented on #153
Drat. I was hoping that would close this issue.

[2016-08-24 05:01] #153 closed, assigned to hawkrives

[2016-08-24 05:02] #145 closed, assigned to hawkrives

[2016-08-24 05:02] elijahverdoorn commented on #126
Done!

[2016-08-24 05:02] #126 closed, assigned to elijahverdoorn

[2016-08-24 05:09] hawkrives commented on #86
Closed by 6feabba.

[2016-08-24 05:09] #86 closed, assigned to nobody

[2016-08-24 05:23] elijahverdoorn commented on #156
Closed by #160

[2016-08-24 05:24] elijahverdoorn commented on #27
This has been fixed for the moment. More can be done on it, but we can close this specific issue.

[2016-08-24 05:24] #27 closed, assigned to hawkrives

[2016-08-24 05:29] #156 closed, assigned to nobody

[2016-08-24 05:33] hawkrives commented on #150
Happening in https://github.com/StoDevX/stolaf-dictionary-definitions.

[2016-08-24 06:11] hawkrives commented on #150
mwahahaha https://github.com/StoDevX/stolaf-dictionary-definitions/pull/1

[2016-08-24 06:20] hawkrives commented on #150
(that's an automated update.)

The thing is done. It will run once a day and look for updates to the html. If it finds any, it'll submit a PR to github.com/StoDevX/stolaf-dictionary-definitions with the changes.

[2016-08-24 06:20] #150 closed, assigned to hawkrives

[2016-08-24 08:53] #158 closed, assigned to hawkrives

[2016-08-24 12:11] drewvolz opened #162 "KSTO streaming not working over http"
Loading the `https` version of the KSTO streaming service does _not_ work. It loads over `http`.

[2016-08-24 12:26] hawkrives commented on #162
Oh for the love of… Fix it! 😜

[2016-08-24 12:27] hawkrives commented on #162
(Because you're the old webmaster.)

[2016-08-24 14:21] drewvolz commented on #162
Okay, I fixed it by logging into KSTO and changing the link to request the `https` resource.

As a followup, perhaps we would want to load _just_ the stream from [https://www.stolaf.edu/multimedia/play/embed/ksto.html](https://www.stolaf.edu/multimedia/play/embed/ksto.html). It loads better into a responsive view for the time being. I was tasked to provide a new theme to KSTO, but the media plugin

[2016-08-24 14:22] drewvolz commented on #150
Thank you @hawkrives !

[2016-08-25 00:31] elijahverdoorn commented on #67
@hawkrives did this in #148

[2016-08-25 00:32] elijahverdoorn commented on #67
I misunderstood, upon reading again I don't think that we're done with it.

[2016-08-25 00:48] hawkrives commented on #67
Nope. Not done.

[2016-08-25 01:28] drewvolz commented on #162
Also, should we talk with KSTO before including this in here?

[2016-08-25 02:32] hawkrives commented on #162
… It uses flash, doesn't it.

[2016-08-25 02:33] hawkrives commented on #162
I would like to load as small a page as possible.

[2016-08-25 02:34] hawkrives commented on #162
Which links are on www.stolaf.edu?

[2016-08-25 02:35] drewvolz commented on #162
The one I listed that we switch to. https://www.stolaf.edu/multimedia/play/embed/ksto.html

[2016-08-25 02:35] hawkrives commented on #162
oh. Does that play anything on your computer at the moment?

[2016-08-25 02:36] drewvolz commented on #162
The station is currently silent. No shows are happening at this moment and the computer DJ isn't playing.

[2016-08-25 02:36] hawkrives commented on #162
ok

[2016-08-25 04:05] #52 closed, assigned to hawkrives

[2016-08-25 04:41] hawkrives opened #167 "Implement Native KSTO view"
Instead of loading the KSTO website, we should implement something along the lines of the KSTO app inside this view. (Because interacting with webviews kinda sucks, and it really _kills_ our memory usage.)

I don't think it'll take much to make a native view, but I want to push it back from v2. Either v2.1 or v2.2. I'd be willing to either take this, with Drew, or your team could build up their sk

[2016-08-25 05:04] hawkrives commented on #147
Closed by #168.

[2016-08-25 05:04] #147 closed, assigned to nobody

[2016-08-25 05:16] elijahverdoorn commented on #167
I'm going to talk to KSTO about what they want from their app, and if they would be interested in coming under the AAO banner. I had some meetings with SGA leadership and they're interested in that idea. We have some sway since SGA funds KSTO. For the mean time, I like the above plan, but would also be ok with the current webview... (even though it kinda sucks.)

[2016-08-25 05:20] hawkrives commented on #167
I would _very much prefer_ to not have the webview. If Drew and I can't get it working without, we'll ship with the webview. We'll won't put this ahead of fixing the other outstanding issues, but we'll work on it on the side.

[2016-08-25 07:01] drewvolz opened #170 "Settings keyboard dismissal"
The keyboard for logging in to SIS does not dismiss if the Login button is tapped instead of the Done button on the keyboard.

<img width="361" alt="screen shot 2016-08-23 at 8 34 41 am" src="http://i.imgur.com/LFXqEWc.jpg">

[2016-08-26 17:25] elijahverdoorn commented on #44
Closing as implemented.

[2016-08-26 17:25] #44 closed, assigned to elijahverdoorn

[2016-08-26 17:26] elijahverdoorn commented on #122
Closing as implemented.

[2016-08-26 17:26] #122 closed, assigned to hawkrives

[2016-08-26 17:27] #162 closed, assigned to drewvolz

[2016-08-27 00:54] elijahverdoorn commented on #167
A little bit of this is done in #176, mostly as a holdover in place of the webview.

[2016-08-27 05:11] elijahverdoorn opened #177 "Release 2.0.0"
For every release, in addition to the notes that I will write in the release section of GitHub, I will be creating a release issue. I will post updates here on the status of the release, to be closed when the release  publication process is complete.

Release Branch: ~~v2.0.0-RC1~~ v2.0.0-RC2
Target Submission Date: ~~8/29/16~~ ~~Night of 8/30/16~~ 8/31/16
Publication Deadline: 9/2/16

[2016-08-27 20:46] elijahverdoorn opened #179 "Android Tab Layouts Crashing"
Every time I switch to the second or third tab of a view on Android, the app crashes.
_This is a urgent fix needed for 2.0.0._

[2016-08-27 20:48] elijahverdoorn commented on #179
Can someone reproduce this issue? I have tried it on two separate emulators, same issue, but need to reconfigure my physical device so that I can test it on there.

[2016-08-28 03:08] hawkrives commented on #179
I will attempt to reproduce.

[2016-08-28 18:43] elijahverdoorn commented on #179
I have now reproduced this issue on all my possible testing devices. Investigating.

[2016-08-28 18:53] elijahverdoorn commented on #179
I also deleted `node_modules` ran `npm i` and rebuilt the entire project, same result.

[2016-08-29 00:46] elijahverdoorn commented on #179
@hawkrives Were you able to reproduce this?

[2016-08-29 01:22] hawkrives commented on #179
My android phone was hiding all weekend. I just found it. (One would think that I would have learned to look in my backpack for missing things, but I digress.)

I'm at work right now, so I won't be able to try it until tonight.

[2016-08-29 01:45] elijahverdoorn commented on #179
@hawkrives Alright, thanks for the update.

[2016-08-29 02:56] elijahverdoorn commented on #177
Android Status: ~~#179 blocking release~~ ~~#182 blocking release~~ Testing Passed
iOS: ~~Testing Passed~~ ~~#182 blocking release~~ Testing Passed

[2016-08-29 03:20] elijahverdoorn commented on #179
I've done some digging with logcat and other android tools, came across an issue in the interaction between the tab-layout component and the react system. On a hunch I reverted out commit 2b85dc03725077157482af8d3bcc3b39ba1a1304, the merge of #171, deleted `node_modules`, ran `npm i` and rebuilt the project. It works for me now. I'm thinking that for v2.0.0 we should keep that revert, fix it on ma

[2016-08-29 03:27] hawkrives commented on #179
Seems like it's that, or rework every screen to only have two tabs.

I guess we should file an issue on his repo and see if we can help fix it, too.

We should also try installing an RC on our devices and using it for a few days. My iPhone seems to have a tendency to not want to open the app after a few days.

[2016-08-29 03:32] elijahverdoorn commented on #179
The second tab also crashes the app for me on the current version of RC here on github. I'll push the revert for us to test as well.

I agree that we can help him fix it.

I've been using it on a ipad for a few days now, no issues here thusfar, but I agree that testing it is super important. I _have_ to have a version up by Wednesday.

[2016-08-29 03:42] hawkrives commented on #179
don't forget about app store review times: http://appreviewtimes.com/

[2016-08-29 03:45] elijahverdoorn commented on #179
Nice site! I'm hoping that we can all test and be on board for a release sometime tomorrow, but I marked the submission deadline on #177 to account for the review times.

[2016-08-29 17:25] drewvolz opened #182 "SIS switched to Google OAuth"
SIS login is broken, we cannot login at the moment with OAuth being the authentication method. This is a shipping issue for the SIS functionality. #177

How do we make sure the user can login with OAuth?
- [The link that contains the link below](https://www.stolaf.edu/sis/login.cfm)
- https://accounts.google.com/ServiceLogin?continue=https%3A%2F%2Faccounts.google.com%2Fo%2Foauth2%2Fauth%3Fas%3Da97

[2016-08-29 21:23] drewvolz opened #183 ""You called setState() on an unmounted component.""
Loading a module of the app and then pressing back before the data loads causes this warning.

<img width="361" alt="screen shot 2016-08-23 at 8 34 41 am" src="http://i.imgur.com/9GSXIoL.jpg">

[2016-08-29 23:43] hawkrives commented on #183
Whee.

I'm honestly not sure how to deal with this. Just putting an isMounted check would still be subject to race conditions, and you can't cancel a promise.

I'll do some research today.

[2016-08-30 04:26] hawkrives commented on #183
btw this is why an `isMounted` check isn't enough: https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

[2016-08-30 04:31] hawkrives commented on #183
this is probably what I'll end up using – bluebird's promise cancellation and some code to cancel promises in `componentWillUnmount` – http://bluebirdjs.com/docs/api/cancellation.html

I'll take a stab at this after the SIS Oauth stuff

[2016-08-31 05:02] elijahverdoorn commented on #182
See #184

[2016-08-31 05:52] hawkrives commented on #182
#184 is almost all of this. We still need two things:
1. [ ] The SIS view needs to handle the case where the token is revoked between requests. All invalid token errors (we know because we'll get the login page again) should result in the user being shown the Login screen again.
2. [ ] We need to investigate how long it the token lasts for. It's a `session` cookie, but I don't know what `session`

[2016-08-31 05:53] hawkrives commented on #182
Ideally, we could get an OAuth token for the SIS itself (ish), which wouldn't expire until the user changed their password or revoked the token, but that's going to need to wait until we (Elijah) talks to IT.

[2016-08-31 18:18] elijahverdoorn opened #186 "Calendar Returns "Bad Request" on Android"
In some instances of the limited number of devices that I have tested on thus far, the calendar returns the text "bad request" every time it is loaded on both tabs.

[2016-08-31 18:20] elijahverdoorn opened #187 "News Tabs don't change content on Android"
In some of the limited tests that I have done, the news tabs don't change what content is shown in the list on android. It just stays at the first tab's content.

[2016-08-31 18:20] elijahverdoorn commented on #177
Android Status: Released. https://play.google.com/store/apps/details?id=com.allaboutolaf
iOS Status: In Review.

[2016-08-31 18:24] drewvolz commented on #186
https://developers.google.com/google-apps/calendar/v3/errors#400_bad_request

[2016-08-31 18:41] elijahverdoorn opened #188 "Forgot to update version number"
I forgot to update the version number in the settings menu, it still says "beta"

[2016-08-31 18:44] drewvolz commented on #188
Speaking of versioning, the Android version on Google Play reports a version of 1.0. That's okay, right?

![image](https://cloud.githubusercontent.com/assets/5240843/18141941/70a3707c-6f89-11e6-9c10-5ec1caf8ea8f.png)

[2016-08-31 18:56] drewvolz commented on #123
Closing. Duplicate has better description in #142

[2016-08-31 18:56] #123 closed, assigned to nobody

[2016-08-31 19:02] elijahverdoorn commented on #188
I'll have to change that too - that's in `AndroidManifest.xml`

[2016-09-01 01:39] hawkrives commented on #188
I'm going to tag this as #134, although it should be fixed separately. Are you keeping notes of how you're building and releasing these? I'm still interested in automating the release process as much as possible.

[2016-09-01 01:59] hawkrives opened #190 "Automate New Releases"
Not to the extent of #whatever, but to the point of "Eli can run a single terminal command to submit new builds to the Play Store and the App Store" would be wonderful.

We'd want two commands:
- [ ] submit a new _release_ to the Play Store / App Store
- [ ] submit a new _beta_ to the Play Store / Testflight

The scripts should:
- ask for a new version number / type: `new version (major|minor|beta

[2016-09-01 02:00] hawkrives commented on #190
Helpful resources for accomplishing this:
- [playup](https://github.com/jeduan/playup) is a npm package for uploading `apk` packages to the Play Store

[2016-09-01 02:08] hawkrives commented on #78
(this could also be done with a native view the just scrapes the webview, because the webview is s-l-o-w.)

[the native view could also be a subsequent addition, after the webview.]

[2016-09-01 02:52] hawkrives commented on #190
OH MY GOD

We need to use https://fastlane.tools

Like, yesterday.

[2016-09-01 21:51] elijahverdoorn commented on #188
@hawkrives Yes, I have a few notes about the process. It's not hard, but there are a bunch of steps, I'm interested in the release automation as well.

[2016-09-01 22:01] elijahverdoorn commented on #190
Things to consider here:
- Code signing - we need the keys for both iOS and Android
- Zipalign - This needs to be done and VERIFIED for Android only.

I'm sure that there are more things that I'll think of.

[2016-09-02 03:40] drewvolz opened #195 "Pause Online Ordering"
This is a giant app within itself and a stretch/long term goal according to @elijahverdoorn.

Something along the lines of React Native would probably be the right way to go. An online ordering experience that is closely tied or fully integrated with All About Olaf that provides a way to order items off of the Pause menu and place orders without calling or walking to the Pause first.

Need to chec

[2016-09-02 03:46] drewvolz opened #196 "Pause Online Ordering"
This is a giant app within itself and a stretch/long term goal according to @elijahverdoorn.

Something along the lines of React Native would probably be the right way to go. An online ordering experience that is closely tied or fully integrated with All About Olaf that provides a way to order items off of the Pause menu and place orders without calling or walking to the Pause first.

Need to chec

[2016-09-02 03:47] hawkrives commented on #196
Dup of #195.

[2016-09-02 03:47] #196 closed, assigned to nobody

[2016-09-03 00:26] elijahverdoorn commented on #195
I had a good conversation with Tanner and Julia (pause co-coordinators) about this today, they are interested. The (rough) plan is to examine the pause workflow, get some infrastructure set up for them to start managing orders digitally with the same at-the-window process, then make plans for the online ordering. That means that this will not start for a few months at best.

[2016-09-03 00:29] elijahverdoorn opened #198 "Mess Articles only showing preview"
The mess tab of the new section only shows a part of the article, not the whole thing. If possible, we want to show the entire article, if that's not possible we should have a way to view the full story, either in a `webview` or using `linking` to open the whole thing.

[2016-09-03 00:30] drewvolz commented on #198
We've asked Omar to provide the whole content.

[2016-09-03 00:31] elijahverdoorn opened #199 "Add Express bus routes"
The bus times that are currently shown do not account for the express bus, which runs to a limited number of stops. We should find a way to display the express bus data, either in another tab or just another list on the bus tab of the transportation section.

[2016-09-03 00:32] elijahverdoorn commented on #182
I have had users report the crash that we are working to fix. Just posting that here so that we know that users are noticing.

[2016-09-03 02:43] drewvolz commented on #182
Hah yeah. They're definitely all going to notice because their cookie expires and then the SIS tab crashes

[2016-09-03 10:38] hawkrives commented on #182
I'm reasonably sure that #192 is complete and working now.

[2016-09-03 10:39] hawkrives commented on #198
Do we have any confirmation that Omar saw our message, @drewvolz?

[2016-09-03 13:36] drewvolz commented on #198
Not that I can think of. I may have seen him online at the time we asked... so we need to ask again.

[2016-09-03 14:19] drewvolz commented on #182
I will defer my judgement to @elijahverdoorn if we would like to test this secondhand before integration. I'm currently without computer for the Labor Day weekend.

[2016-09-04 03:03] elijahverdoorn commented on #198
Mentioning @OmarShehata

[2016-09-04 12:31] hawkrives commented on #170
No longer an issue, now that we're getting rid of the login fields entirely.

[2016-09-05 18:48] elijahverdoorn commented on #177
Release Complete.

[2016-09-05 18:48] #177 closed, assigned to elijahverdoorn

[2016-09-06 04:19] #199 closed, assigned to nobody

[2016-09-06 04:20] #170 closed, assigned to nobody

[2016-09-06 04:20] #182 closed, assigned to nobody

[2016-09-06 14:26] drewvolz opened #214 "Dictionary pronunciation guides"
@hawkrives had a nice thought. We should include pronunciation guides as a third item to dictionary entries that are formal nouns, or flat-out hard to pronounce. Some of our entries already include the pronunciation in the definition, but a lot of these words could still be difficult words to figure out.

[2016-09-06 14:50] #91 closed, assigned to nobody

[2016-09-06 14:57] #90 closed, assigned to nobody

[2016-09-06 15:34] #157 closed, assigned to nobody

[2016-09-06 16:29] drewvolz opened #215 "SIS refreshing issue"
After being logged in for a few hours, I tried to pull down and refresh the financials view.

<img width="361" alt="" src="https://cloud.githubusercontent.com/assets/5240843/18282078/73ed1b22-742d-11e6-9a28-bb17bf9dfdf8.PNG">
<img width="361" alt="" src="https://cloud.githubusercontent.com/assets/5240843/18282080/7424142e-742d-11e6-86a5-acb4ac75961c.PNG">
<img width="361" alt="" src="https://cloud

[2016-09-06 16:41] drewvolz opened #216 "Student org database"
Thoughts on either importing the existing student organization database hosted on Oleville (not sure if that is up-to-date), or creating a mirrored copy of [St. Olaf's student org list](https://www.stolaf.edu/orgs/list/index.cfm) and descriptions?

I am thinking if Student Orgs are incorporated into the app, we might be able to get away with creating another scraper (akin to the dictionary scraper

[2016-09-06 17:30] drewvolz opened #217 "Week One (new student orientation)"
Thinking far into the future, we should consider a Week One portion to the app.

Something I have discussed in-depth with Chris George, Dean of Admissions and Financial Aid, is the need to provide specific and targeted information for new students. Admissions wanted a designated app to serve up this information, so they made use of Guidebook, an app that provides a simple way to develop an app for

[2016-09-06 18:41] elijahverdoorn commented on #216
We are in the process of converting org management to http://www.checkimhere.com/, after that the student org database will be retired. I'm currently talking to IT about getting access to the checkimhere API so that we can use the data.

[2016-09-06 20:14] drewvolz commented on #215
I may have old code. This may or may not be a problem.

[2016-09-06 23:49] hawkrives commented on #215
That's a sign that the token has expired.

Are you using the stuff from fix-sis, which is merged into master?

[2016-09-07 17:38] drewvolz commented on #215
Pulling the PR once again into a clean branch, I noticed the error still. However, after signing out and back in, I cannot get the error to resurface. So it's still a bug, but it's not preventing me from using the view again. **I would call this a shipping issue**

[2016-09-07 17:39] #67 closed, assigned to nobody

[2016-09-07 17:49] drewvolz opened #220 "ErrorView state/view not refreshed unless view is popped in special case"
If you load the Financials and Courses views while the view ErrorView is present, then your view of either the Courses or Financials view is blocked after you log-in with the ErrorView on the stack. The state/view of the screen you are _not_ on does not get refreshed after logging in -- only the view that we log-in on is loaded. The user has to pop the navigator and return back to the SIS view if

[2016-09-07 17:49] drewvolz commented on #215
One additional detail I did notice, though. If you load the Financials and Courses views while the view ErrorView is present, then your view of either the Courses or Financials view is blocked after you log-in by the ErrorView. That state/view never gets refreshed after logging in -- only the view that we log-in on is loaded. The user has to pop the navigator and return back to the SIS view if the

[2016-09-07 17:51] drewvolz commented on #220
Not a shipping bug -- does not cause a crash, or loss of data. Simply an annoyance in an edge case. I say ship our current bug fixes without this one for now.

[2016-09-08 01:20] hawkrives commented on #220
Oh drat. Yes, that's an unintentional side effect of how it's designed.

I'll think about it on the way in.

[2016-09-10 18:10] OmarShehata commented on #198
Oh, I just saw this. (I think Slack would be an easier way to reach me? I've been keeping up with the conversation in Slack but have not seen this at all)

How/where do you need me to provide the full article? Where are you pulling it from?

[2016-09-10 19:41] drewvolz commented on #198
Pulling the RSS from http://manitoumessenger.com/feed

[2016-09-10 19:46] OmarShehata commented on #198
So all I need is to make the `description` tag just contain the full body of the article, and that will work for you guys, is that right?

Or maybe it'd be better to add a new tag for the full content.

[2016-09-10 20:53] OmarShehata commented on #198
I'm kind of having trouble adding a custom RSS field, but I did put the full plain text article body in the description field, if that helps for now.

[2016-09-11 03:15] hawkrives commented on #198
Sure, we'll check it out.

[2016-09-11 03:20] hawkrives commented on #198
It works!

(I didn't even need to change anything 😁 – here's the release version.)

<img width="400" src="https://cloud.githubusercontent.com/assets/464441/18414952/ff21c324-7819-11e6-9afc-99ede64a5fdf.PNG">

[2016-09-11 03:21] hawkrives commented on #198
We can probably close this – if you add HTML instead of plain text, we'll pick that up and use its formatting instead.

Thanks, @OmarShehata!

[2016-09-11 03:22] elijahverdoorn commented on #198
Cool, Thanks @OmarShehata

[2016-09-11 03:22] #198 closed, assigned to nobody

[2016-09-11 19:15] OmarShehata commented on #217
I like this idea a lot. It would make a lot of sense to have the week one inside AAO, to get new students on it during their first week, but then they also have access to all these resources from then on.

I feel like a big part of this is that it would have to be easy for reslife to edit and update the content to get them to switch away from Guidebook. Has the dean expressed any interest in havin

[2016-09-12 01:05] elijahverdoorn commented on #217
They're pretty stuck on guidebook, and honestly I don't really want to get involved with it. They are CONSTANTLY changing information, and the people that are doing the updating are NOT technical people, so we'd have to build a web console for them. Additionally, if there were any problems that would likely spell the end of the institution's support for AAO, which would be really sad. We can think

[2016-09-12 01:10] elijahverdoorn opened #226 "Release 2.0.1"
Release Commit: aee60be35a6b85dfa4964d1d95582f11237a3210

Target Submission Date: 9/12/16

Publication Deadline: None

[2016-09-12 01:11] hawkrives commented on #226
Just tag master this time, instead of branching off? We don't need to make multiple release branches- not big enough for that.

**Edit:** Thanks.

[2016-09-12 01:39] elijahverdoorn commented on #226
Android Status: ~~Testing in progress~~ ~~Testing Passed~~ ~~In Review~~ New APK needed
iOS Status: ~~Testing not started~~ ~~Testing Passed~~ ~~In Review~~ ~~Passed~~ Released

[2016-09-12 13:43] drewvolz opened #227 "Move ideas and enhancements to the GitHub Wiki"
Excluding this issue, @hawkrives raises a good point. Our issues should not be overshadowed by our ideas and improvements. These should live in the Wiki.

~~Moving these to [the wiki](https://github.com/StoDevX/AAO-React-Native/wiki/Ideas-and-Enhancements)~~

[2016-09-12 13:45] drewvolz commented on #217
Sounds good @elijahverdoorn I will close this.

[2016-09-12 13:45] #217 closed, assigned to nobody

[2016-09-12 16:07] #74 closed, assigned to nobody

[2016-09-12 16:13] #78 closed, assigned to nobody

[2016-09-12 16:20] #88 closed, assigned to nobody

[2016-09-12 16:31] #134 closed, assigned to nobody

[2016-09-12 16:36] #135 closed, assigned to nobody

[2016-09-12 16:41] #141 closed, assigned to nobody

[2016-09-12 16:56] #154 closed, assigned to nobody

[2016-09-12 17:01] drewvolz commented on #227
After transferring over 9 issues, @hawkrives had the idea to keep these issues in our notification/discussion zone of issues. They will be closed, but have the `discussion` tag. This way, we can still subscribe to these and keep discussion happening, but clean up what our "open" issues are.

[2016-09-12 17:12] #216 closed, assigned to nobody

[2016-09-12 17:13] #195 closed, assigned to nobody

[2016-09-12 17:13] #190 closed, assigned to nobody

[2016-09-12 17:13] #142 closed, assigned to nobody

[2016-09-12 17:13] #75 closed, assigned to nobody

[2016-09-12 17:14] #65 closed, assigned to nobody

[2016-09-12 17:15] #84 closed, assigned to drewvolz, elijahverdoorn

[2016-09-12 17:16] #227 closed, assigned to nobody

[2016-09-13 03:47] hawkrives commented on #143
Closed by #225

[2016-09-13 03:47] #143 closed, assigned to nobody

[2016-09-15 10:39] hawkrives commented on #74
I'm just going to go ahead and limit this feature: we have no interest in allowing TES _submissions_. This will strictly be a TES _viewer_.

[2016-09-15 10:48] OmarShehata commented on #74
Why do we have no interest in allowing TES submissions @hawkrives ? Do you mean this just for now or forever?

I really like @drewvolz 's idea of thinking of ways to make it more convenient to change the submission behavior. One thought I had reading this is to try to limit the amount of extra work people have to do. So, one other feature could be an integration with google calendars. If you assum

[2016-09-15 12:49] hawkrives commented on #74
If you were going to interest me in TES submission, we'd need to get IT on board with making it an official integration. There are just too many little details about timecards and hours worked that the TES handles – usually – and that HR cares about, that we might miss or break subtly, and wind up with either HR mad at us, or IT, or …

I'd like to experiment with ways to improve the input process,

[2016-09-15 15:59] elijahverdoorn commented on #74
I'm going to agree with @hawkrives that the safer method of just reading the data for now is better. There are a ton of things that could go wrong, and I'm really not in the mood to have a fight with HR/Business Office/IT. If we develop something and can show them verifiable results, I'll bring it to the relevant groups.

[2016-09-16 02:25] OmarShehata commented on #74
Ah, right. I hadn't realized the relevant authorities weren't on board with this yet.

[2016-09-20 12:22] drewvolz commented on #32
@elijahverdoorn the app icon preview on the iOS app store is the icon with a white background, but when downloaded, a black background. Would you be open to a PR in the near future to a white background on the icon?

[2016-09-20 14:16] hawkrives commented on #32
Aka "can we please change the iOS icon to a white background‽"

pretty please?

🎁🍨

[2016-09-20 18:31] elijahverdoorn commented on #32
@hawkrives @drewvolz I was taking a poll around here and people said they like the black, but I personally agree with you that the white would look better. I'd accept a PR for that change.

[2016-09-20 18:37] elijahverdoorn commented on #226
Ok. I've hit release on iOS and it should be out by end of day.

Android, as usual, is a bit more interesting. Google Play is telling me that I need a new binary, so I tried to make one. I go into the Android directory and run `./gradlew assemblerelease`, which returns an error on executing `aatp.exe`. When I get more debugging info, the build system tells me that the issue is duplicate files in t

[2016-09-20 18:39] elijahverdoorn commented on #226
![screen shot 2016-09-20 at 1 39 03 pm](https://cloud.githubusercontent.com/assets/12042702/18683872/a14a541c-7f37-11e6-870e-de775b009ad9.png)

[2016-09-20 19:00] drewvolz opened #237 "Latest cover images"
If an Oleville Latest post does not have an image, can we supplement a graphic as a default in the app? I understand latest stories are supposed to have images, but mistakes happen.

<img width="361" alt="screenshot of Oleville latest" src="http://i.imgur.com/yEDH0HW.jpg">

[2016-09-20 19:03] elijahverdoorn commented on #237
I think this is a good idea.

[2016-09-20 19:08] drewvolz commented on #112
Bump. This has now reached the Oleville calendar.

<img width="361" alt="screenshot of Oleville latest" src="https://cloud.githubusercontent.com/assets/5240843/18684907/f7de49e4-7f43-11e6-9aa5-5c6db4d93616.png">

[2016-09-20 19:34] drewvolz commented on #215
This might still be an issue in 2.0.1. I let my token expire, tried to refresh SIS, and the app crashed.

[2016-09-21 00:45] hawkrives commented on #112
Grumble de grumble grump.

[2016-09-21 02:26] #188 closed, assigned to elijahverdoorn

[2016-09-21 02:27] #146 closed, assigned to nobody

[2016-09-21 02:31] drewvolz opened #239 "ListView auto-refresh spinners are invisible"
In iOS 10, the loading spinner at the top of our refreshable ListViews is invisible, but still works.
- [ ] Calendar
- [ ] News

[2016-09-21 02:40] drewvolz opened #240 "Settings divider disappears on small screen"
@hawkrives noticed that on a smaller device, the divider between the list items disappears.

Smaller screen (gone)

<img width="361" alt="screenshot of Oleville latest" src="http://i.imgur.com/Ed1EQbP.jpg">

Larger screen (not gone)

<img width="361" alt="screenshot of Oleville latest" src="http://i.imgur.com/hJ52NUc.jpg">

[2016-09-21 02:44] drewvolz opened #241 "SIS ListView padding issues"
@hawkrives and I have noticed there seems to be a strange amount of padding at the bottom of the course view.

I thought we fixed this before by explicitly defining the amount of inset to raise the list above the tabs at the bottom...

<img width="361" alt="screenshot of Oleville latest" src="http://i.imgur.com/ToMeRoO.jpg">

[2016-09-21 02:48] drewvolz opened #242 "Calendar description text padding"
@hawkrives and I noticed that the calendar event text would look better if it had a tiny bit of padding so that it did not get as close to the right side of the screen/view.

Smaller screen

<img width="361" src="http://i.imgur.com/DFfRuWd.jpg">

Larger screen

<img width="361" src="http://i.imgur.com/VjwCmdq.jpg">

[2016-09-21 02:49] hawkrives commented on #242
Why did you close this?

[2016-09-21 02:57] drewvolz commented on #242
I guess I had the idea that it worked well, but it was a graphical enhancement that could wait and we weren't waiting to ship on. We can leave it open. That's fine.

[2016-09-21 03:20] hawkrives commented on #215
Can confirm. It's still an issue.

[2016-10-07 04:40] drewvolz commented on #186
Checking in on this one. Did you ever find the root cause?

[2016-10-07 06:07] elijahverdoorn opened #264 "Add Pause menu"
I got @zimmer18 started on adding the pause menu to the app, using the same structure as we have for the cage menu.

Even if we do #195, this will be ready a lot sooner and gives a good start to making changes.

[2016-10-07 06:08] elijahverdoorn commented on #264
See branch [`pause-menu`](https://github.com/StoDevX/AAO-React-Native/tree/pause-menu).

[2016-10-07 06:24] elijahverdoorn commented on #186
No, I haven't, The digging that I've done leads me to believe that it has something to do with usage limits, but that contradicts the fact that all the iOS devices are using it fine. I'm tempted to change keys and see what happens; one solution that I came up with was to use a separate key for iOS and Android, since I think just changing the key _might_ fix the issue?

[2016-10-07 08:12] #242 closed, assigned to nobody

[2016-10-07 13:41] #237 closed, assigned to nobody

[2016-10-11 01:22] zimmer18 commented on #264
Closed by #265

[2016-10-11 01:22] #264 closed, assigned to zimmer18

[2016-10-14 18:20] drewvolz opened #272 "Width of embedded video not constrained"
We format the style of common media types that appear in news articles such as

`img`, `p`, `a`, `div`, `body`

A `video` element appeared in a news story, which we do not have a width override applied to in a style. A fix would be to add CSS styling for videos, but there could be other elements that we did not plan on showing up.

<img width="361" alt="screenshot of newst" src="https://cloud.gith

[2016-10-14 19:05] yongzhihuang commented on #272
You can use a library like http://fitvidsjs.com/ to do it for you, it works for all screen resolutions.

Does that count as a PR  XD

[2016-10-14 19:26] drewvolz commented on #272
Thanks for the suggestion, @yongzhihuang. I think we will aim for a solution that does not make use of JQuery... especially in a React-Native mobile application. It should be simple enough to handle a list of DOM elements.

Although quite a few HTML elements [could appear](https://developer.mozilla.org/en-US/docs/Web/HTML/Element), (`embed`, `object`, `param`, `source`, `canvas`, `table`, `button`

[2016-10-14 19:34] yongzhihuang commented on #272
oh woops, did not realized this was for React Native.  Sorry about that.

[2016-10-14 22:53] hawkrives commented on #272
We could probably just add `* {max-width: 100%}`.

However, you raise a good point about other elements. I'd advocate adding all of the block-level elements to the selector; MDN should have a list.

Also I think that YouTube video is an `<embed>` tag, or maybe an `<iframe>`…

[2016-10-17 18:47] drewvolz commented on #272
@hawkrives you are correct that the video is within an `<iframe>`.

[2016-10-18 12:36] hawkrives commented on #272
MDN does have a list of block-level elements: https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements#Elements

[2016-11-03 21:28] hawkrives commented on #179
This is probably fixed by #294.

[2016-11-04 19:32] #179 closed, assigned to nobody

[2016-11-07 05:18] elijahverdoorn commented on #226
Closing this in favor of releasing a new version soon.

[2016-11-07 05:18] #226 closed, assigned to nobody

[2016-11-07 05:20] elijahverdoorn commented on #167
I talked to KSTO and have confirmed their desire to have this done. Once AAO has feature parity with the KSTO app, we have permission to get rid of the KSTO app entirely and direct people to AAO.

[2016-11-07 18:36] hawkrives opened #303 "Display Meal Plan Information"
IIRC, the meal plan balance info used to live at https://www.stolaf.edu/apps/olecard/checkbalance/index.cfm, but at the end of summer when @drewvolz and I were wrapping stuff up the meal plan info was either missing or disabled temporarily.

We'd need someone else to go re-implement the data fetching.

<hr>

_(edit from @drewvolz -- it is worthy to note that with the info being hidden, it is of gr

[2016-11-07 21:56] elijahverdoorn commented on #303
Confirming that it's still there. I'll throw an implementation together.

[2016-11-07 22:07] hawkrives commented on #303
There's some stuff in https://github.com/StoDevX/AAO-React-Native/blob/master/lib/financials.js#L100, and some stuff in the original version, that might be useful

[2016-11-07 22:08] hawkrives commented on #303
Original AAO implementation: https://github.com/StoDevX/all-about-olaf/blob/f1c372a9e9c4f16f58bda3a994a3fb889c11dbf2/St.%20Olaf/SISTableViewController.m#L575-L643

[2016-11-07 22:50] elijahverdoorn commented on #303
Yeah, I'm just building off what's there. Shouldn't be too hard.

[2016-11-08 01:29] erichkauffman opened #304 "Pause Menu Drop Down"
The drop downs on the pause menu do not open on iOS.

[2016-11-08 01:31] erichkauffman commented on #304
This may be due to new custom collapsable component since none of the other drop downs are working either.

[2016-11-08 01:32] hawkrives commented on #304
Are they using react-native-collapsible or my new collapsible component?

Most likely react-native-collapsible.

Try switching the imports to the collapsible component I made in components/collapsible.js

(cc @Mattt4k)

[2016-11-08 01:34] hawkrives commented on #304
The PR to make things use the new collapsible component hasn't landed yet.

[2016-11-08 01:34] hawkrives commented on #304
I hope to finish that tomorrow or Wednesday.

[2016-11-08 02:14] elijahverdoorn commented on #304
Thanks for the update, @hawkrives. @ekmanzu Will you try this and report back?

[2016-11-08 03:03] drewvolz commented on #304
@hawkrives fix listed above does work, and I've merged it now after testing and fixing up the merge commit. Consider this closed.

[2016-11-08 03:03] #304 closed, assigned to nobody

[2016-11-08 03:04] hawkrives commented on #304
Should be fixed on master. Drew tested the #294 before we merged.

[2016-11-08 03:20] hawkrives commented on #303
:+1:

[2016-11-08 17:08] hawkrives commented on #303
I'm going to quote @drewvolz's extra comment so there's a notification:

[2016-11-08 19:36] elijahverdoorn commented on #303
Agreed, I'll be careful of that.

[2016-11-10 16:49] hawkrives commented on #215
I think that this will be resolved in the next release with some of the stuff I did on fix-things? We should check again.

[2016-11-10 17:22] elijahverdoorn commented on #215
I've closed and opened the app a bunch of times over the last day or so on an iPhone simulator, and I  think we're good!

[2016-11-10 17:24] hawkrives commented on #215
I'm going to close this issue. If any of us see it crop up again (or hear about it), we'll either re-open this or file a new one.

[2016-11-10 17:24] #215 closed, assigned to nobody

[2016-11-10 20:15] hawkrives commented on #187
@elijahverdoorn Is this still a problem, with the new android tab component?

[2016-11-10 20:20] drewvolz commented on #186
If this is a cause of rate limiting, we should approach it via your idea of dual API keys. Otherwise, I feel we can close this issue, unless anyone else feels differently.

[2016-11-10 20:31] hawkrives commented on #241
Is this fixed now?

[2016-11-10 20:34] hawkrives commented on #241
It appears to be solved on my iPhone 7 simulator.

[2016-11-10 20:34] #241 closed, assigned to nobody

[2016-11-10 20:35] hawkrives commented on #220
Has this been avoided by pushing a view over the entire screen from the bottom? I think this is no longer an issue.

[2016-11-10 20:37] hawkrives commented on #220
Nope, still an issue.

[2016-11-10 20:39] drewvolz commented on #241
I hope it is fixed, but I tested this on my physical device (iPhone 6s). If we see it, I guess we can reopen this.

[2016-11-10 20:40] hawkrives commented on #241
I can't test on my phone right now, since stable Xcode + beta iOS don't like each other. Yeah, reopen if you see it.

I know that this used to be kinda intermittent, but I haven't seen it once since the `rn@0.36` upgrade.

[2016-11-11 19:42] #32 closed, assigned to hawkrives

[2016-11-11 19:45] elijahverdoorn commented on #186
It's still an issue, since the calendar is not working. I'll try to fix this one.

[2016-11-11 19:50] hawkrives commented on #186
@elijahverdoorn Does this happen a) on the released build and b) every time you try to use the calendar?

[2016-11-11 20:15] elijahverdoorn commented on #186
@hawkrives Yes to both.

[2016-11-11 20:21] elijahverdoorn commented on #214
@ekmanzu is going to look into this one.

[2016-11-11 20:30] hawkrives commented on #214
What format would we like? I'm partial to [IPA](https://en.wikipedia.org/wiki/International_Phonetic_Alphabet), which is what dictionaries use as well.

We can probably find or write something to automatically pronounce IPA strings, too, since the symbols have a defined sound (see f.ex. [ipachart.com](http://www.ipachart.com)).

[2016-11-11 20:40] hawkrives commented on #186
… so I would have sworn that it was working on my android phone, but I just checked and I can reproduce this, as well.

[2016-11-11 21:01] #272 closed, assigned to erichkauffman

[2016-11-11 21:11] elijahverdoorn commented on #214
I'm ok with whatever. I don't think we need to have it for all of the items, just the hard to pronounce ones (ytterboe, anyone?). Could we do a text-to-speech thing in addition to the pronunciations?

[2016-11-11 21:20] hawkrives commented on #214
Drew and I have been researching this for the past half-hour… what we've found is that there's no good way to automatically pronounce an IPA string.

https://encrypted.google.com/search?hl=en&q=define%20hello has the IPA string underneath the definition, which I think would be all we'd need for the first effort.

Most places don't need a pronunciation, either, but I'm thinking Stav, Christiansen,

[2016-11-11 21:38] elijahverdoorn commented on #214
Sounds good, this is good information.

[2016-11-11 21:40] elijahverdoorn commented on #303
I've got all the fetching done, but the `loadLoginCredentials()` function is returning nulls. Is there a chance that we're not storing this information when the user logs in in the first place? Have we removed that functionality since implementing the OAuth stuff?

[2016-11-11 21:51] hawkrives commented on #303
Yeah, we're not storing it at all currently. When we added OAuth for the SIS, we just made that work™, and shoved other-things-that-use-olaf-credentials to the back burner, so there's currently nothing that receives credentials to store.

I see a few paths forward:
1. Ask for both SIS login and St. Olaf credentials in Settings, and prompt for them at appropriate screens. This is annoying, but they

[2016-11-11 21:54] elijahverdoorn commented on #303
I considered the first option, but didn't think about the second. I'm ok with annoying the user one time, I'm less ok with the second option; unless I hear other ideas or objections soon I'll move forward with the first option.

[2016-11-11 21:57] hawkrives commented on #303
I think that our old login code is still in the repo history from right before OAuth was enabled; that should give you a good start.

Then, tie that screen into a button like we have in the SIS screen, allowing the user easy access to the login form.

You'd need to change the login checking endpoint; maybe `/apps/olecard` or something? It might also be worth asking IT if they have a spot where we

[2016-11-11 22:30] hawkrives commented on #186
@elijahverdoorn What version of android is your phone running? The calendar fails on my Galaxy S3 (android 5), but works properly on the sim (android 6).

I am spinning up an android 5 and android 4.3 simulator now, to test.

[2016-11-11 23:33] hawkrives commented on #186
Ok. Bad news: the 5.1 simulator works correctly.

Continuing to debug.

[2016-11-11 23:44] hawkrives commented on #186
Debugging has finished. Writing up now.

[2016-11-11 23:48] hawkrives commented on #186
It works from `master` on-device. I don't know when it was fixed, or what fixed it – maybe the rn upgrade? – but it works for me now, and the released copy wasn't working on this same hardware. (Apologies for the sideways picture.)

![img_7501](https://cloud.githubusercontent.com/assets/464441/20233588/cf733598-a836-11e6-9487-8b7506fa78ec.JPG)

[2016-11-12 00:10] hawkrives commented on #187
I believe that this has been resolved; see the attached GIF.

![out_small](https://cloud.githubusercontent.com/assets/464441/20233849/e6ba78d0-a839-11e6-9c79-9bfb8340fd38.gif)

[2016-11-14 00:25] elijahverdoorn commented on #186
I'll take it. I haven't put much time into it other than to gen some new keys which I was going to put into a testing build, so nothing much lost. Let's close this one and re-open if it resurfaces?

[2016-11-14 00:30] #186 closed, assigned to nobody

[2016-11-14 00:31] hawkrives commented on #186
Sounds good to me.

[2016-11-14 17:37] elijahverdoorn commented on #187
Yup, this works now. Nice GIF.

[2016-11-14 17:37] #187 closed, assigned to zimmer18

[2016-11-14 17:40] elijahverdoorn opened #320 "Cage menu overridden by new cage menu"
I really like the new menus and think that we should extend it to the cage, but the changes have overridden the standing items on the cage menu. We should re-enable those somehow, I know that people use that section.

[2016-11-14 17:42] hawkrives commented on #320
We're thinking about how best to do that. Most of the data is still in the JSON response from the cage, but the simple way of showing it also renders, like, condiments. So we can't take the easy way out.

I'd like to handle this myself, if you don't mind?

(Our [@drewvolz and I]'s main concern is future maintainability – we would like to let BonApp change their menu and have to do as little work a

[2016-11-14 17:45] drewvolz commented on #320
@elijahverdoorn can you specify what you meant by "standing items"?

Like @hawkrives mentioned, it would be optimal to feed-in a version of the Cage menu in the JSON format that BonApp uses / that we parse for Cage and Stav.

[2016-11-14 17:47] hawkrives commented on #320
(I'm interpreting Standing as "currently existing", as a synonym of the current status quo)

[2016-11-14 17:52] hawkrives opened #321 "ListViews are sometimes blank"
If you open the Transportation view, scroll to the bottom of the list, then go back, and open Important Contacts, it's blank. Part of the time.

Screenshot proof included below.

<img width="361" alt="7512" src="https://cloud.githubusercontent.com/assets/464441/20276076/637a471a-aa60-11e6-9913-25b53ce7a5d1.PNG">

[2016-11-14 17:57] drewvolz opened #322 "Campus map is broken"
Searching as well as tapping on building callouts seems to be broken... and it is a third-party webservice provided by Campusbird/concept3D.

The webpage works directly from my mobile device in a browser but not within the iOS app itself.

[2016-11-14 17:58] hawkrives commented on #322
another one of those? … sigh.

[2016-11-14 18:02] hawkrives commented on #321
Interesting note: I let my iPhone go to sleep, then when it woke up the information showed up a split-second later.

[2016-11-14 18:07] drewvolz commented on #321
I am able to simply tap on the button and reproduce your screenshot (no data visible) without navigating to the transportation view first. This behavior has been around since the advent of the 2.0 refresh of the app. I suspect we are maybe trying to draw the data to the screen at the wrong point in time?

[2016-11-14 18:33] hawkrives commented on #321
Except that … that's the simplest component we have! Take a static list of input, render to screen.

[2016-11-14 18:48] drewvolz commented on #321
https://github.com/facebook/react-native/issues/1831 describes our issue. Supposedly we need to set `initialListSize` or `removeClippedSubviews={false}` ... @hawkrives what do you think?

[2016-11-14 21:08] elijahverdoorn commented on #320
Yeah, @drewvolz: I'm referring to the items that are always there, like coffee. I've gotten feedback from a lot of people that they like being able to see these, since they are not huge fans of the scrolling cage menu screens.

I have yet to examine the JSON that we're now parsing, I'll take a look and see if I have any ideas. I support the idea of reducing future work for us.

[2016-11-14 21:17] hawkrives commented on #320
Here's the Cage menu, for your perusal: https://gist.github.com/hawkrives/f60880cd6e03c6c24ab1e6526cb292cf

[2016-11-14 21:17] hawkrives commented on #320
The work has been happening in the [`fancy-menu`](https://github.com/StoDevX/AAO-React-Native/tree/fancy-menu) branch.

[2016-11-15 01:13] hawkrives commented on #127
👍💯🙏

[2016-11-15 01:16] zimmer18 commented on #127
I'm thinking of a ListView that opens up into a WebView with the video. Here is an image with what I was thinking:
![img_4624](https://cloud.githubusercontent.com/assets/14142305/20289254/792097fc-aa9e-11e6-818f-e057907f3d46.JPG)

[2016-11-15 01:21] hawkrives commented on #127
Great! Maybe include the event description and title in that webview, as well? So there's a little more substance to it than just the video.

Now for the singularly most important decision: icon picking time!

[2016-11-15 01:25] hawkrives commented on #127
We use icons from https://cdn.rawgit.com/driftyco/ionicons/3.0/cheatsheet.html for the tabbars.

Since this is your first entirely new view, I vote that you get to pick the icon!

Icons are never final, except when they are… like when my placeholder "smiley face" icon shipped for the Oleville calendar. So don't worry _too_ much about picking just the right one.

I usually spam Drew with screenshot

[2016-11-15 03:00] zimmer18 commented on #127
I was thinking about doing something similar as the Campus Dictionary. Does this picture make more sense?
![img_4626](https://cloud.githubusercontent.com/assets/14142305/20291656/58231c0a-aaad-11e6-9f22-6106467b53ca.JPG)

[2016-11-15 03:26] hawkrives commented on #127
Yeah! That's pretty much exactly what I was thinking. Any particular reason not to include the video on the detail page? Or is it included in your mockup and I'm just misinterpreting it?

[2016-11-15 03:26] drewvolz commented on #321
The impact is larger than we originally thought.  For instance, I click on news, immeditaly click on a story, then go back. Then the news view is blank.

@hawkrives: "this issue should remain open until we have added the prepared rows prop everywhere"

[2016-11-15 03:28] zimmer18 commented on #127
No it's not included on the detail page. I was thinking that we would have to link to the web page with the video, but we can just embed the video, right?

Also, how does the ion-ios-film icon sound?

[2016-11-15 03:29] drewvolz commented on #239
I do not notice this any longer. I am considering this fixed.

[2016-11-15 03:29] #239 closed, assigned to nobody

[2016-11-15 03:30] hawkrives commented on #239
We think it's fixed on master

[2016-11-15 03:34] hawkrives commented on #127
Do we use that icon anywhere else in the app? I've thus far managed not to reuse any, I think.

[2016-11-15 03:34] hawkrives commented on #127
We should be able to just embed the video, yeah.

[2016-11-15 03:35] hawkrives commented on #127
You might glance at the Webcam views. As hideous as they are, they're using the same backend as the streaming events stuff.

And thus any improvements we figure out for them, we can include in this view in the future too.

[2016-11-15 14:40] zimmer18 commented on #127
No I couldn't find the icon anywhere else on the app. I'll look at how we do the Webcam views and see if there's any improvements that could be made to both.

[2016-11-15 22:36] elijahverdoorn commented on #239
Agreed, thanks for cleaning up.

[2016-11-16 15:45] drewvolz opened #333 "TextView contents cannot be highlighted/selected on iOS"
This is a limitation of ReactNative at the moment. It has been implemented [for Android](https://github.com/facebook/react-native/pull/8028) but not iOS.

Keeping track of this issue:
* [Product Pains](https://productpains.com/post/react-native/support-selecting-text-within-text-elements-for-copypaste-etc)
* [GitHub](https://github.com/facebook/react-native/pull/8028)
* [GitHub again](https://gith

[2016-11-16 21:05] drewvolz opened #337 "Timezone issue in building hours"
I am in the eastern timezone and I realized that the building hours have a small bug on the weekly view. It reports open/close hours correctly, but the weekly hours are off.

@hawkrives has an incoming fix for this :tada: which is in his "redo the building hours" branch. I am logging this so that we know when it is resolved.

<img width="361" alt="building-hours-snaf" src="https://cloud.githubuser

[2016-11-17 04:43] zimmer18 commented on #127
Working in branch [`streaming-events`](https://github.com/StoDevX/AAO-React-Native/tree/streaming-events)

[2016-11-18 21:40] #337 closed, assigned to hawkrives

[2016-11-20 19:29] drewvolz commented on #127
@zimmer18 I think I debugged the `cloneWithRows` issue that prevented the view from loading the data. I pushed a fix and added a test `<Text>` element to display the event titles.

~~@hawkrives and myself would encourage you to construct a similar event view thing to use in streaming media. It can use the `EventView` as the foundation, but it would benefit in terms of flexibility by having its own

[2016-11-20 19:37] drewvolz commented on #127
Updated the last message, which won't send a notification. Commenting here to make that happen.

[2016-11-20 19:48] hawkrives commented on #127
Expounding a little: I think the the EventView is a perfect fit for any lists thy need to make a calendar-like view, such as Calendar or StreamingEvents.

However, since it's currently living in the `calendar/` folder, I'd like to move it to `components/` and give it a more applicable name, like `EventListItem`.

Given that the StreamingMedia view needs to be able to push a new view onto the stack

[2016-11-23 18:32] drewvolz opened #361 "Building hours audit"
We need to audit the building hours to be sure we are not still using summer hours for any location. I think I noticed the post office still using summer hours.

[2016-11-24 11:47] snyk-community opened #363 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
* [Regular Expression Denial of Service](https://snyk.io/vuln/npm:negotiator:20160616?utm_source=gh_issue)
* Affected package: `negotiator`<= 0.6.0

[Here is the test report for this repo](https://snyk.io/test/github/StoDevX/AAO-React-Native?utm_source=gh_issue).
If you’d like to fix this vulnerability, Snyk lets you generate

[2016-11-26 02:26] #322 closed, assigned to nobody

[2016-11-26 17:55] hawkrives commented on #363
I'm pretty sure this doesn't affect the release build. The package in question appears to be used by react-native to provide the local development stuff.

[2016-11-26 17:55] #363 closed, assigned to nobody

[2016-11-26 19:39] drewvolz opened #369 "Add core-spotlight search integration"
https://github.com/jdmunro/react-native-spotlight-search

[2016-11-26 19:39] #369 closed, assigned to nobody

[2016-11-28 15:31] hawkrives commented on #361
Post Office is definitely using Summer Hours.

[2016-11-28 16:52] zimmer18 commented on #127
@hawkrives I like you idea! Do you want to do this or do you want me to?

[2016-11-28 17:32] hawkrives commented on #127
I'd love for you to take a stab at it!

[2016-11-28 18:11] zimmer18 commented on #361
work in branch [building-hours](https://github.com/StoDevX/AAO-React-Native/pull/382)

[2016-12-02 21:37] drewvolz commented on #361
Closed by #382 and #390

[2016-12-02 21:37] #361 closed, assigned to zimmer18

[2016-12-03 03:31] #303 closed, assigned to nobody

[2016-12-03 15:52] drewvolz opened #401 "Nix embedded webviews for OAuth requests"
We must change the webviews we use to authenticate with Google if we would like to continue doing so. We have a few months.

https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

[2016-12-06 20:50] hawkrives commented on #320
In my PR #393, `fancy-menus`, I have taken the position that if something's not available through the Cage API, that needs to be reported to BonApp so that they can update their data.

I believe that to be a per-location service, as Carleton's responses are much fuller than ours – theirs even have prices, for instance.

So this could be an instance for you still at Olaf to apply some pressure on B

[2016-12-10 02:07] elijahverdoorn commented on #401
Is there a reason we can't use Passport for all of this? http://passportjs.org/

Get the login that way? There might be an issue with us using this, so we get the user's Google login, but we fail to get the user's St Olaf login since we don't have the real Google login. Just throwing that out there, I'll do more research and maybe make some kind of test. (may not be able to do much until after fin

[2016-12-10 02:15] elijahverdoorn commented on #320
@hawkrives I'll get in touch with Randy Clay - he just came to Senate last week and had good things to say about SGA, so I'll leverage that. More to come.

[2016-12-22 18:46] #321 closed, assigned to nobody

[2016-12-22 18:46] #240 closed, assigned to nobody

[2016-12-30 03:47] #320 closed, assigned to hawkrives, zimmer18

[2016-12-31 02:34] drewvolz opened #462 "Filter html from item descriptions"
We need to clean up the item descriptions to prevent raw HTML from appearing. I know @hawkrives mentioned possible performance concerns with cleaning up each of those strings.

<hr>

<img width="540" alt="bonappimage" src="https://cloud.githubusercontent.com/assets/5240843/21575356/a49b35a6-ced7-11e6-9bc3-6b2e41c4672a.png">

[2016-12-31 04:45] hawkrives commented on #462
Note: none of our BonApp menus have any HTML, that we've seen. This example was from some other cafe, somewhere else, but it shows us that they _can_ include HTML.

[2017-01-03 18:44] drewvolz commented on #88
Completed in #378

[2017-01-04 15:11] drewvolz commented on #226
@elijahverdoorn will this be an issue for the next release? We have not updated Android as of yet.

[2017-01-04 21:35] drewvolz commented on #333
As of 0.39, we are able to mark `<Text>` as selectable. This means we are now able to do this!

http://facebook.github.io/react-native/releases/0.39/docs/text.html#selectable

[2017-01-04 22:17] elijahverdoorn commented on #226
@drewvolz Not sure really, I've been doing my work on OSX and iOS for the majority of the school year. I'll look into it.

[2017-01-04 22:21] hawkrives opened #486 "Version 2.1.0"
- [x] Collect issues that need to be resolved before shipping
- [x] Agree on a feature freeze date
- [x] Write changelog
- [x] Test aggressively
- [ ] Build binaries
- [ ] Submit to app store / play store
- [ ] Do something about FAQs (either add more or remove it)
---

## Issues / PRs
- [x] #470 – FancyMenus Filtering
- [x] #496 – Wrapper for trimmed text with spaces
- [x] #440 – Android tab-view

[2017-01-04 22:21] hawkrives commented on #486
@elijahverdoorn @drewvolz Seeking comments here.

I'd like to ship sometime this month? Earlier is better than later?

[2017-01-04 22:21] hawkrives commented on #333
What views would we like to make selectable?

[2017-01-04 22:29] elijahverdoorn commented on #486
Yes, let's do that. I'm down for feature freeze whenever you're ready, you're way more up to date on what's in progress and what's done right now. @hawkrives

[2017-01-04 22:37] hawkrives commented on #486
Drew and I will make up the changelog for you, since we, ah, got a little out of control since 2.0.1 in terms of changes. He's been keeping track of closed things in https://github.com/StoDevX/AAO-React-Native/projects/1

[2017-01-04 22:39] hawkrives commented on #70
Given that we're looking at adding some other calendar views (cough #482), I'd like to revisit the idea of the Pause calendar.

@drewvolz and I were also looking at adding a calendar with events provided by the CheckImHere API, which will ideally get more content as clubs start to use it more.

[2017-01-04 22:44] hawkrives commented on #220
I'm taking this – I think it will be resolved by one of my redux branches, when I move login state into a global store, so both screens can access a canonical state.

[2017-01-04 22:54] elijahverdoorn commented on #333
Maybe the event info?

It would be really cool if you could highlight an event, have all the info copied to your clipboard, then got to your texting app (for example) and past the copied data and have a nicely-formatted, clean description of the event to text to friends.

[2017-01-04 22:56] elijahverdoorn commented on #486
@hawkrives I'm happy to help, but I'd welcome your lead since you and @drewvolz clearly are the most active here.

[2017-01-04 23:01] hawkrives commented on #462
So you know how I said our cafes didn't have any HTML

Well

Look at the first item

<img width="375" alt="screen shot 2017-01-04 at 5 00 54 pm" src="https://cloud.githubusercontent.com/assets/464441/21662466/67c71714-d29f-11e6-9215-dc0ac55e4351.png">

[2017-01-04 23:02] hawkrives commented on #462
Also

<img width="373" alt="screen shot 2017-01-04 at 5 02 43 pm" src="https://cloud.githubusercontent.com/assets/464441/21662515/a0f5eb6e-d29f-11e6-92ac-51399ef3457c.png">

[2017-01-05 00:02] drewvolz commented on #333
At that rate, we probably would need to add a share button to each row. But I like where you were headed with that idea.

With selectable text, maybe the dictionary detail, student orgs detail, hours detail...

[2017-01-05 00:12] hawkrives commented on #333
Oh right, good ideas. Dictionary should be easy; Orgs is trickier since it farms out to TableView and Cell.

[2017-01-05 00:52] hawkrives opened #490 "Android icon needs drop shadow"
Turns out that Android launchers (at least Trebuchet and Google Now Launcher) don't add any sort of drop shadow to the icons.

The only icon I could find, besides ours, without a drop shadow was for Instapaper.

Both our icon and their icon look weird without a shadow.

- Instapaper: https://play.google.com/store/apps/details?id=com.instapaper.android
- AAO: https://play.google.com/store/apps/deta

[2017-01-05 00:56] hawkrives commented on #155
This is happening again. I don't know why; the current solution _should_ work – it's global variables, c'mon!

[2017-01-05 01:01] drewvolz commented on #155
Being worked on in [`fix-buttons-again-again`](https://github.com/StoDevX/AAO-React-Native/tree/fix-buttons-again-again)

Edit: this branch got deleted...?

[2017-01-05 16:34] hawkrives commented on #216
This has been resolved in #439, with the addition of the Student Orgs view.

[2017-01-06 19:51] elijahverdoorn commented on #462
Found another example of this:
![screen shot 2017-01-06 at 1 50 01 pm](https://cloud.githubusercontent.com/assets/12042702/21730835/284da71e-d417-11e6-8627-f814933ea656.png)

[2017-01-06 19:52] drewvolz commented on #462
Yep! Thanks for reporting, @elijahverdoorn . I think  #496  will solve this.

[2017-01-06 19:53] elijahverdoorn commented on #462
@drewvolz Just approved that. Thanks for fixing.

[2017-01-06 20:48] elijahverdoorn commented on #490
I did some photoshopping, what do we think of this? Too much?

<img src=https://cloud.githubusercontent.com/assets/12042702/21732455/305e3042-d41f-11e6-88e0-44d24af7ea74.png width=256>

[2017-01-06 20:56] drewvolz commented on #486
I've put a freeze for features in 9 days, so on 1/15. Does that date work for everyone? A halfway point in the month.

[2017-01-06 21:54] hawkrives commented on #490
It seems a tad heavy.

Can you figure out the drop shadow that Camera and Email use in this screenshot?

<img src=https://cloud.githubusercontent.com/assets/464441/21734314/650ba000-d428-11e6-9eae-e16757aa9503.png width=400>

[2017-01-07 12:16] hawkrives opened #500 "Menus should not start with specials filter if there are no specials to show"
See title

[2017-01-07 12:18] hawkrives opened #501 "Ensure that "Sign In"/"Sign Out" labels work correctly"
Sometimes "sign out" appears when the signin process didn't finish successfully. It should still show signin for that case.

[2017-01-07 12:19] hawkrives opened #502 "Fix "Close" button alignment in popup screens"
It's misaligned on iOS; too high up.

[2017-01-07 12:20] hawkrives opened #503 "Pull LeftButton&co out of app.js into their own file"
And ideally figure out how to remove the special cases from them.

But mainly get them out of app.js.

[2017-01-07 12:22] hawkrives opened #504 "Increase NoticeView's paddingHorizontal"
It's too small atm.

See the "do you need to disable specials" notice on a 5s/SE.

[2017-01-07 12:23] hawkrives opened #505 "Add a • group to the top of Orgs list?"
To group all the "new" orgs together?

They'd be duplicated then; both in the top there, and in the alphabetical sections.

[2017-01-07 12:24] hawkrives opened #506 "Back button / screen title sometimes intersect"
See "late night breakfast" on a 5s.

[2017-01-07 12:25] hawkrives opened #507 "Screen title on android is really really short"
See building hours or orgs on Android.

[2017-01-07 12:26] hawkrives opened #508 "[discussion] Add "late night" hours to the Pause hours?"
Should we add "late night" to the pause hours view? Like how the Cage has a separate Late Night set.

[2017-01-07 12:29] hawkrives opened #509 "Add searching/filtering to some ListViews"
Immediate thoughts: menus, ~dictionary~, orgs, hours(?)

Could be integrated with the filter toolbar: `[date icon] [ Search ] [filters]`

[2017-01-07 12:31] hawkrives opened #510 "Add filter support to Calendar and Orgs (and Building Hours?)"
**Calendar**: filter by category (OR, since each event is in one category.)
**Orgs**: filter by category (AND, since `categories` is an array.)
**Hours**: filter by… category or status? Status could be cool.

[2017-01-07 12:33] hawkrives opened #511 "Change campus map URL?"
From the direct link, to "map.stolaf.edu".

[2017-01-07 12:40] hawkrives opened #513 "Add screen to choose between meals for a café"
- [x] The first version can just let you pick between the meals the API gave us for a given date. (We currently auto-select a meal by time of day.)

- [ ] In a future revision, I would like this hypothetical screen to allow you to revisit a historical day's menus, as well.

[2017-01-07 12:44] hawkrives opened #514 "Prevent closing-of-filterviews-by-dragging-downwards"
See https://github.com/facebook/react-native/issues/1014#issuecomment-96233760

[code]

[2017-01-07 17:06] hawkrives commented on #502
![image](https://cloud.githubusercontent.com/assets/464441/21743519/6571f480-d4c9-11e6-8853-d1fa8476b241.jpg)

[2017-01-07 17:07] hawkrives commented on #501
<img width=320 src=https://cloud.githubusercontent.com/assets/464441/21743525/826e3864-d4c9-11e6-9b88-86704493da49.jpg>

[2017-01-07 17:08] hawkrives commented on #504
![image](https://cloud.githubusercontent.com/assets/464441/21743529/9d75f688-d4c9-11e6-9d8e-eb814353523f.jpg)

[2017-01-07 17:10] hawkrives commented on #505
<img width="400" alt="detail" src="https://cloud.githubusercontent.com/assets/464441/21743545/e664fd58-d4c9-11e6-9636-8f906de55648.jpg">

[2017-01-07 17:11] hawkrives commented on #506
<img width="407" alt="randomized" src="https://cloud.githubusercontent.com/assets/464441/21743549/f70351e6-d4c9-11e6-82f8-8a4195e1a7e1.jpg">

[2017-01-07 17:46] drewvolz commented on #508
I would say yes. They have a separate menu for late-night.

[2017-01-07 17:49] drewvolz commented on #514
This needs to apply to all views that have a close button. Settings and Edit Home would fit this.

[2017-01-07 17:52] drewvolz commented on #505
We could remove them from the general list view if they're featured at the top. That is the way we are doing this on the calendar with Ongoing and Today.

[2017-01-07 17:53] hawkrives commented on #505
Not quite. In both of those views, the normal sort order would put the highlighted events at the top anyway – if we pull these out, in Orgs, then you have to look through both the "new" section and the alphabet for the org you want.

IMHO.

[2017-01-07 17:54] hawkrives commented on #508
What are the hours for their late night menu?

[2017-01-07 17:56] drewvolz commented on #505
Fair enough. There's no harm in displaying it in both, then.

[2017-01-07 18:10] hawkrives commented on #514
Alright. I propose that we make a file, `views/components/scene-configs.js`, where we store common and custom configs.

Then we'd make our custom FloatFromBottom config in there, and provide it instead of Navigator.SceneConfigs.FloatFromBottom when calling navigator.push().

That's my proposal.

[2017-01-08 01:59] hawkrives opened #515 "Add phone number validation pattern"
Split from https://github.com/StoDevX/AAO-React-Native/pull/512#issuecomment-271098611: "If the current format is just a string of numbers (e.g., 9185789388?), we could add a piece to the `definitions` in defs.yaml:"

[code]

[2017-01-08 17:24] drewvolz commented on #511
I have no issue with the change. Might be more permanent if they ever switch third-party services.

[2017-01-08 17:45] drewvolz commented on #508
The "late night" menu is offered **Fri - Sat:  9:00pm - 2:00am**

[2017-01-08 17:54] hawkrives commented on #508
Do we want to call it "Late Night", or does "Late Nite" fit better with the Pause?

[2017-01-08 18:01] drewvolz commented on #508
I have only seen it referred to as "late night" --[ here are posts on the FB wal](https://www.facebook.com/thelionspause/posts/360880793964685?match=bGF0ZSBuaWdodA%3D%3D)l for reference.

[2017-01-08 19:48] #508 closed, assigned to nobody

[2017-01-08 19:54] #462 closed, assigned to nobody

[2017-01-08 20:00] drewvolz opened #519 "List pause on-campus pizza delivery hours"
I feel that these hours should be listed on the Pause Hours as a schedule. The Pause lists them on their website as a schedule. Objections?

**On-campus Pizza Delivery**
Sunday – Thursday: 6:00PM – 12:00PM
Friday – Saturday: 8:00PM – 2:00AM

[2017-01-08 20:02] hawkrives commented on #519
I see a benefit of people knowing if they can be lazy and have a pizza delivered easily?

Or that might be an objection. I'm not sure.

[2017-01-08 20:14] drewvolz opened #520 "Cage menu only showing specials"
By default we list the "specials" first as to cut down on the amount of items we render. I am noticing that non-specials will not render on the cage menu, and the cage menu alone.

I made sure to check the JSON that was returned for specials -- they exist. We need to figure out why non-specials will not render.

[2017-01-09 15:36] hawkrives commented on #520
Turns out that the Cage's menu is only _listing_ the specials, as well.

[code]

You'll notice that each station only references one to two items, which lines up with what we see rendered in the menu:

<img width="320" alt="screen shot 2017-01-09 at 9 34 25 am" src="https://cloud.githubusercontent.com/assets/464441/21771888/d20564de-d64e-11e6-82eb-733af023a8d3.png">

So this is a data problem, and

[2017-01-09 15:45] hawkrives opened #521 "Dietary Restrictions filter doesn't disable correctly"
@drewvolz:

Yep. This is a bug.

Each filter has an `enabled` property, which sets whether the filter is enabled or not. I have a bug in the `enabled` setting code for list filters, because I originally didn't distinguish between the AND and OR styles.

In [views/components/filter/section-list.js#L33](https://github.com/StoDevX/AAO-React-Native/blob/2c9a67ae159772ee39f5c319b06bbc1bfd5580ec/views/c

[2017-01-09 15:59] drewvolz commented on #520
Good investigation. Seems we have bad data.

[2017-01-09 16:17] hawkrives commented on #511
This should be as simple as changing [data/map.yaml#L1](https://github.com/StoDevX/AAO-React-Native/blob/master/data/map.yaml#L1):

[code]

---

**Update**: It looks like `map.stolaf.edu` is only available over HTTP, not HTTPS, so we'd either need to add an exception like https://github.com/StoDevX/AAO-React-Native/blob/master/ios/AllAboutOlaf/Info.plist#L96-L100, or wait for it to be available ov

[2017-01-09 16:32] drewvolz commented on #521
Thank you for the detailed explanation :+1:

[2017-01-09 17:15] drewvolz commented on #511
What do we prefer? An exception, or an `https` link?

[2017-01-09 17:20] hawkrives commented on #511
I think it's unlikely that Olaf will change map providers this year; things like that _usually_ seem to happen over summer breaks.

I'd rather not add any more exceptions to our list, since we've already got 12.

[2017-01-09 17:21] drewvolz commented on #511
Should we send a note to ask for `https`?

[2017-01-09 17:23] drewvolz commented on #519
If we do end up including this, we should list that on-campus excludes honor houses.

[2017-01-09 17:26] hawkrives opened #523 "Scrutinize App Transport Security exceptions"
We've got 12 exceptions, and I don't think that we need some of them anymore.

- [unused] `bamco.com`
	- I can't find any uses of this URL in the codebase.
- [unused] `hub.cafebonappetit.com`
	- I can't find any uses of this URL in the codebase.
- [required] `legacy.cafebonappetit.com`
	- Used for the menus
- [required] `localhost`
	- Needed for dev-time react-native reloading
- [required] `manito

[2017-01-09 17:27] drewvolz commented on #523
Refresh my memory. Do exceptions _only_ apply to webviews?

[2017-01-09 17:28] hawkrives commented on #519
There's no support for showing notes on the main list screen, and lazy people aren't going to open the view to read the notes.

IMHO.

[2017-01-09 17:28] drewvolz commented on #523
Ah. I can answer my own question. No, we'd need them outside of webviews.

[2017-01-09 17:28] hawkrives commented on #511
I believe so, yes.

[2017-01-09 17:30] hawkrives commented on #511
_Let me clarify:_ there is a website served over HTTPS, however, the certificate is not valid for `maps.stolaf.edu`.

![image](https://cloud.githubusercontent.com/assets/464441/21776180/e82ca6ea-d65e-11e6-8c73-210252d476d5.png)

Given that it reports being for `*.boisestate.edu`, I believe that this is a misconfiguration on MyAtlasCMS' side.

[2017-01-09 17:30] drewvolz commented on #523
We can probably remove some of the bon appetit ones that we were relying on for `cor icon` diet indicators. I'm not so sure we want to remove the transportation ones (van-go, youarriveontime). Your suspicion of "opening the link in a browser" sounds right. _Which we should probably think about adding._

[2017-01-09 17:32] hawkrives commented on #523
We're currently calling `Linking.openURL` with the URL, so I think we're opening them in a browser? I can't imagine that passing a non-https URL out of your app would require ATS.

[2017-01-09 17:33] hawkrives commented on #523
Yeah. My understanding is that they're applied at the OS' network layer (or, well, the Foundation layer.) So any code that requests data from the network is subject to these restrictions: webviews, fetch, native requests…

[2017-01-09 17:34] drewvolz commented on #523
I think it might be a good idea to add a generic webview component to handle urls within the app.

[2017-01-09 17:35] hawkrives commented on #523
See https://github.com/StoDevX/AAO-React-Native/issues/401; I'd rather use SFWebView / Chrome Custom Tabs than write our own little mini-browser.

We should also catch URLs from News and display them in said embedded browsers.

[2017-01-09 17:38] drewvolz commented on #523
Would the URLs passed to "our own little mini-browser" be subject to App Transport Security exceptions?

[2017-01-09 17:44] hawkrives commented on #523
Yes

[2017-01-09 17:45] drewvolz commented on #523
Maybe that is an argument towards enabling all URLs within the app -- so that we can display all URLs that come from outside content in these browsers.

[2017-01-09 17:48] hawkrives commented on #523
Hence why I want to use SFWebView – it's not subject to ATS, because it embeds Safari in your app.

**Edit**: SFWebView !== "custom mini-browser". RN's WebView would be a "custom mini-browser".

[2017-01-09 17:49] hawkrives commented on #523
Disabling ATS will only be possible for a few more months, most likely, unless you're making a web browser yourself.

[2017-01-09 17:53] drewvolz commented on #523
I think what I asked got lost in translation. If `SFWebView` bypasses the exception list, that would be good enough for me.

[2017-01-09 17:56] hawkrives commented on #401
Links for embedded browsers:

- SFViewController: https://www.npmjs.com/package/react-native-safari-view
- Chrome Custom Tabs: https://www.npmjs.com/package/react-native-custom-tabs

[2017-01-09 18:02] hawkrives opened #524 "Collect licenses from our dependencies"
We should collect and show a list of our dependencies' licenses.

[2017-01-09 18:03] hawkrives commented on #524
I'm thinking it could be a name:licence-name mapping in a yaml file, that's then rendered at the bottom of License:

[code]

[2017-01-09 18:42] elijahverdoorn commented on #511
Has anyone sent a note to IT? If not, I'll do it.

[2017-01-09 18:45] elijahverdoorn commented on #519
Maybe we could list them in the contact card? Seems like the place people will be if they're going to use the app to interact with the pause.

[2017-01-09 18:48] drewvolz commented on #511
I did not.

[2017-01-09 18:58] elijahverdoorn commented on #486
Added note about FAQs

[2017-01-09 18:59] hawkrives commented on #511
I have not. Officially delegating to @elijahverdoorn.

[2017-01-09 19:13] elijahverdoorn commented on #511
Email sent.

[2017-01-09 20:14] hawkrives commented on #524
*Technically* this should be a `shipping-hold`, but I'm… not that concerned over it? As long as we leave this issue open, one of us will eventually get around to it, and it's not like the app itself isn't open source.

Which isn't a good reason not to list the licenses, I get that, but I don't want to build the infrastructure before shipping freeze.

[2017-01-09 20:16] hawkrives opened #528 "Add app analytics?"
Building off of https://github.com/StoDevX/AAO-React-Native/issues/65#issuecomment-240283060, we should add an analytics library to the app, so we know what parts of the app people use.

Service ideas:
- Sentry.io
- Keen.io
- Google Analytics

Thoughts? Yea / nay?

(We should also make it opt-outable, since we're not in the EU and don't have to make it opt-in. Or we could be nice and show a little

[2017-01-09 20:23] elijahverdoorn commented on #490
Another Attempt

<img src=https://cloud.githubusercontent.com/assets/12042702/21781923/1db67fee-d677-11e6-9f49-cebd45e91ff3.png width=256>

[2017-01-09 20:38] hawkrives commented on #490
Nice! I'll try and throw that into my sim later.

[2017-01-09 20:59] hawkrives commented on #490
<img width=400 src=https://cloud.githubusercontent.com/assets/464441/21783264/30c3909a-d67c-11e6-9def-4878b7e63163.png>

It's better! I'm going to try the first option again.

[2017-01-09 21:01] drewvolz commented on #528
I am excited about this idea. I think Google Analytics would work well for our needs. We should brainstorm at some point _what_ we would be interested in tracking. Unique user count? Most used sections? Times when app is used? Most sought out student orgs, dictionary definitions, building hours? Most popular home-view order/layout?

**Update**: versions out in the wild? build numbers? crashes? loc

[2017-01-09 21:03] hawkrives commented on #490
With the first icon, it was definitely a more noticable shadow:

<img width=400 src=https://cloud.githubusercontent.com/assets/464441/21783373/b6031654-d67c-11e6-964c-f855b41e9794.png>

[2017-01-09 21:07] hawkrives commented on #490
Maybe increase the shadow offset on your second icon? And it appears that Android icons commonly have the shadow straight down, rather than off to the right (light source directly north, instead of nw) but you can better judge that.

[2017-01-09 21:33] #519 closed, assigned to nobody

[2017-01-10 00:08] #515 closed, assigned to nobody

[2017-01-10 00:37] drewvolz opened #532 "Divider not behaving on Pause menu"
Divider woes and commented: Only Ole Pizza divider on Specialty Pizza. Only this menu, only this row. Super confused.

[2017-01-10 00:38] drewvolz commented on #532
1
<img width="460" alt="screen shot 2017-01-09 at 8 39 04 pm" src="https://cloud.githubusercontent.com/assets/5240843/21789448/2dd6cd94-d6a3-11e6-99d0-0b6dfafe407d.jpg">

2
<img width="460" alt="screen shot 2017-01-09 at 8 39 04 pm" src="https://cloud.githubusercontent.com/assets/5240843/21790752/6f4cfc22-d6ac-11e6-9f8a-c2fd4aa2e7ce.png">

3
<img width="464" alt="screen shot 2017-01-09 at 8 40 47

[2017-01-10 01:46] drewvolz commented on #532
I created the misaligned separator in (1) by only scrolling.

I was able to create the double separator in (2) and (3) by toggling the filters with a section divider underneath the section header.

[2017-01-10 04:44] drewvolz opened #533 "Display dietary icons in the menu's filter screen"
The icons would be a little more decipherable if they displayed next to their text in the filter selection view.

[2017-01-10 12:28] hawkrives opened #534 "Add button for "reset all data" in Settings"
We don't know what bugs may crop up, and it's better to have a fallback than not.

All this button would need to do is to clear AsyncStorage. Should be simple enough. I think there's an AsyncStorage.clearAll method, even.

I suppose we should probably show a confirmation dialog,  too.

[2017-01-10 14:04] hawkrives commented on #112
We should re-evaluate this issue on current `master` /slash/ the android/common-lists stuff I'm working on.

[2017-01-10 14:51] drewvolz commented on #534
Sounds reasonable. Good thought.

[2017-01-10 15:31] drewvolz commented on #534
We will need to clear stored items from the Keychain, too.

[2017-01-10 15:31] hawkrives commented on #534
Ah yes. Good point.

[2017-01-10 15:32] drewvolz commented on #534
And the CookieManager.

[2017-01-10 15:32] hawkrives commented on #534
Haven't we removed that yet?

[2017-01-10 15:33] hawkrives commented on #534
No we have not. However, I think we can remove it when I move the login auth state into redux.

[2017-01-10 15:46] hawkrives commented on #533
The filter setup currently only allows strings to be passed. I'm not sure how to get the image references into the view at the moment.

[2017-01-10 16:34] hawkrives opened #543 "Add descriptions to remaining dietary tags"
**In Balance**
Contains a balanced portion of whole grains, fresh fruits and vegetables, and lean protein with a minimum amount of healthy fat

**Kosher**
Contains only ingredients prepared in accordance with Jewish Dietary Law

[2017-01-10 16:35] hawkrives commented on #543
they go in https://github.com/StoDevX/AAO-React-Native/blob/master/images/dietary-filters.js

[2017-01-10 16:35] hawkrives commented on #543
Anyone is welcome to do this.

[2017-01-10 17:32] hawkrives opened #544 "Add Offices to hours view"
Probably should, since we've got literally every room around it listed.

What category should it go in?

[code]

* [x] CMIE
* [x] OSA
* [ ] Gender & Sexuality Center
* [x] Conferences, Camps and Events
* [ ] Telecom
* [x] Parking
* [x] Admissions
* [x] Piper Center
* [ ] Bon App office
* [x] Business
* [x] Financial Aid
* [x] SARN
* [x] Pastor's Office
* [x] IT Helpdesk
* [x] Registrar

[2017-01-10 17:39] drewvolz commented on #544
I think it might be the [Center for Multicultural and International Engagement](http://wp.stolaf.edu/cmie/)

[2017-01-10 17:40] drewvolz commented on #544
I could be wrong. Maybe it is the [International Student Life](http://wp.stolaf.edu/buntrock/files/2013/09/MapLevel2_Jul13.pdf) office?

[2017-01-10 18:00] hawkrives commented on #544
Second one, yeah.

[2017-01-10 18:01] hawkrives commented on #544
That is one outdated floorplan, buntrock

[2017-01-10 18:03] hawkrives commented on #544
It might be the CMIE too.

[2017-01-10 18:33] hawkrives commented on #486
We added a draft changelog.

[2017-01-10 18:55] hawkrives opened #545 "Add multiple calendars to Calendar's listview"
Instead of having multiple tabs for the calendars in the Calendar view, we should investigate having multiple calendars integrated into a single list of events, with a filter available so you can restrict the visible calendars.

[2017-01-10 18:55] #545 closed, assigned to nobody

[2017-01-10 22:04] elijahverdoorn commented on #543
Interested in a small change? @ekmanzu? @zimmer18?

[2017-01-10 22:09] #70 closed, assigned to nobody

[2017-01-11 02:59] elijahverdoorn commented on #544
I propose adding an "Office" category with _some of_ the following:

[edit(hawken): moved to OP]

I might have missed some, anyone have suggestions?

_EDIT: Making this the list of offices to add. Feel free to add to the list as you think of things. Not all of these will go under the "offices" category._

[2017-01-11 03:02] elijahverdoorn commented on #528
I support Google Analytics, since that is the analytics solution we use for Oleville, so my team is already familiar with it. I think I'm most interested in the routes - From the home screen, what is the path the user takes through the app? I love graphs like this:
![image](https://cloud.githubusercontent.com/assets/12042702/21833500/3407d28c-d778-11e6-9a30-468a2ba50d9f.png)

Other than that, I th

[2017-01-11 03:35] hawkrives commented on #521
Nope. Still happens, although now when you disable the dietary restrictions it filters out any items with no tags on them…

[2017-01-11 03:38] drewvolz commented on #521
Great...

[2017-01-11 04:21] drewvolz commented on #544
Telecom, Parking, Admissions, Piper Center, Bon App office... to name a few.

[2017-01-11 04:58] drewvolz opened #549 "News views are blank"
I think the Google API we use for news is either down, or rate limiting. Either way, the news lists are blank at the moment.

[2017-01-11 05:16] drewvolz commented on #549
[code]
I think we have to find a different solution. Betting Google killed off their public API.

[2017-01-11 05:18] hawkrives commented on #549
"This API is officially deprecated and will stop working after December 15th, 2016. See our deprecation policy in our Terms of Service for details."

[2017-01-11 05:18] hawkrives commented on #549
From https://developers.google.com/feed/

[2017-01-11 05:21] hawkrives commented on #549
We already have a dependency on `xml2js`, which I've used before to parse xml. It's currently included to parse Stalkernet responses, but it'll work to parse RSS feeds just as well.

Also, Wordpress provides a JSON endpoint that we can make use of, for Oleville, Olaf, and PoliticOle, but we'll need to parse the feed for the Mess.

[2017-01-11 05:36] hawkrives commented on #549
I had a prototype somewhere that used said Wordpress JSON API for our Wordpress sources. I'll see if I can find it later.

[2017-01-11 18:23] elijahverdoorn commented on #549
@hawkrives The Oleville view relies on the wp-json API, I had to configure it myself. If you're looking for an example, that would be a good place to start.

[2017-01-11 18:52] hawkrives commented on #549
I made us a local RSS parser. I still intend to switch the Wordpress sites over to WP-JSON at some point, but that'll be after this release, and I'll certainly reference the Oleville view for that.

I figure I'd still need the RSS parser for the Mess' view, since they're not on Wordpress, so I might as well make "minimal" changes while fixing News.

[2017-01-11 23:46] #549 closed, assigned to nobody

[2017-01-12 00:35] hawkrives commented on #521
I found the bug: I had the logic paths reversed. The should-enable-AND logic was being applied to OR filters and vice-versa.

[2017-01-12 03:08] drewvolz commented on #521
You found it! Thank you!

[2017-01-12 03:13] #521 closed, assigned to nobody

[2017-01-12 03:39] hawkrives opened #555 "Android Building Hours full titles aren't gray"
The extended item titles aren't gray on my android phone. I don't know if they are on the emulator.

This is a visual bug.

[2017-01-12 03:45] drewvolz opened #556 "Production and development google analytics"
@hawkrives: we should use a production id and a development id so that we do not pollute the data with testing.

[2017-01-12 03:47] drewvolz commented on #556
Stemming from https://github.com/StoDevX/AAO-React-Native/pull/554

[2017-01-12 04:36] hawkrives commented on #544
Helpdesk is already in the hours list

[2017-01-12 04:37] hawkrives commented on #544
From Bidit:

[2017-01-12 14:28] hawkrives commented on #556
I added this to #554, in e1b1340.

[2017-01-12 16:42] hawkrives commented on #544
Alright. So, assuming we want the offices category, where do we want that in the sort order?

Currently:

1. Food (4)
2. Supplies and Books (2)
3. Mail and Packages (2)
4. Libraries (4)
5. Help and Support (4)
6. Gym (5)
7. Health and Wellness (3)
8. Acadamia (8)

edit: added section lengths

[2017-01-12 17:10] drewvolz commented on #544
Either above or below academia? What are thoughts about moving academia upwards?

[2017-01-12 17:12] hawkrives commented on #544
Academia's really long already… I added section length to the above comment.

[2017-01-12 17:24] hawkrives commented on #520
@elijahverdoorn What do you think about talking to BonApp about putting more than just specials in their Cage menu?

[2017-01-12 17:25] drewvolz commented on #520
I'll fill out a feedback form to bon app to ask about the Cage menu non-specials

[2017-01-12 17:32] drewvolz commented on #544
We don't know what buildings are important to people, I guess. Length isn't an issue to me.

[2017-01-12 18:35] #556 closed, assigned to hawkrives

[2017-01-12 18:35] hawkrives commented on #544
Yeah, let's put "offices" after Academia. It's not that long on a screen.

[2017-01-12 23:06] #528 closed, assigned to nobody

[2017-01-13 01:03] hawkrives commented on #524
I'm going to look at using https://github.com/davglass/license-checker

[2017-01-13 04:49] drewvolz commented on #523
Did #535 take care of this?

[2017-01-13 04:50] hawkrives commented on #523
#535 got rid of half of this ticket.

The other half is van-go and youarriveontime.com, which will be resolved with the SFViewController/ChromeTabs work. So, yeah. We'll remove the rest later.

[2017-01-13 04:50] #523 closed, assigned to nobody

[2017-01-13 06:09] hawkrives commented on #401
We have a big problem with this: both those options, and every other alternative that Google will support, maintains a separate cookie storage from our code, to prevent exactly what we're trying to do.

[2017-01-13 17:38] elijahverdoorn commented on #511
Here is the response I got:

[2017-01-13 19:25] hawkrives commented on #511
In that case, I'm going to close this issue in favor of leaving it pointing at the myatlascms site.

[2017-01-13 19:25] #511 closed, assigned to elijahverdoorn

[2017-01-13 19:25] hawkrives commented on #511
Thanks for following up, @elijahverdoorn!

[2017-01-13 21:05] drewvolz commented on #511
Thanks, Eli!

[2017-01-13 22:22] hawkrives commented on #524
<details><summary><code>$ license-checker --production --json | jq 'map_values(.licenses)'</code></summary>

[code]

</details>

[2017-01-13 23:12] hawkrives commented on #524
Or we could use dependencyci: https://dependencyci.com/github/sindresorhus/xo/builds/42

[2017-01-13 23:17] hawkrives commented on #524
DependencyCI looks really cool: https://dependencyci.com/github/StoDevX/AAO-React-Native/builds/1

[2017-01-14 00:45] elijahverdoorn commented on #520
I can get some momentum going on this.

[2017-01-14 00:49] hawkrives commented on #520
Thanks @elijahverdoorn!

[2017-01-14 00:53] elijahverdoorn commented on #524
Nice find, @hawkrives!

[2017-01-14 01:15] drewvolz commented on #524
Neat. Looks like a big time saver

[2017-01-14 04:03] hawkrives commented on #555
Closing this because they're gray now. I'll reopen if they aren't on the device.

<img width="617" alt="screen shot 2017-01-13 at 10 02 39 pm" src="https://cloud.githubusercontent.com/assets/464441/21952220/0293c470-d9dc-11e6-9650-369da063e92f.png">

[2017-01-14 04:03] #555 closed, assigned to nobody

[2017-01-14 06:49] #500 closed, assigned to nobody

[2017-01-14 07:04] #505 closed, assigned to nobody

[2017-01-14 07:04] #513 closed, assigned to nobody

[2017-01-14 07:04] #509 closed, assigned to nobody

[2017-01-14 07:04] #510 closed, assigned to nobody

[2017-01-14 16:12] hawkrives opened #578 "NoticeView extends beneath a tab bar"
It's not quite centered:

<img width=480 src=https://cloud.githubusercontent.com/assets/464441/21956229/cdedb7f6-da41-11e6-9c6d-b902ba9bd941.png>

I'm not entirely sure how to fix it. We might just let it lie…

[2017-01-14 17:48] hawkrives commented on #544
@ekmanzu, @elijahverdoorn, @zimmer18 anyone want this?

[2017-01-15 00:00] #503 closed, assigned to nobody

[2017-01-15 00:00] #504 closed, assigned to nobody

[2017-01-15 15:48] hawkrives commented on #533
I have a local branch that solves this.

[2017-01-15 15:49] hawkrives commented on #514
I have a local branch that solves this, which I'll push next time I have Internet on my laptop.

[2017-01-15 15:49] hawkrives commented on #502
I have a local branch that solves this, which I'll push next time I have Internet on my laptop.

[2017-01-15 16:13] hawkrives opened #588 "Courses view is … interesting"
When you fetch the courses list, sometimes it gets … special.

I borrow one of the FYEA's accounts for testing the SIS view, and during my testing for #599 I actually never got the view to load the correct set of courses.

I had everything from

<img src=https://cloud.githubusercontent.com/assets/464441/21964089/4553ef76-db0b-11e6-95cb-d68867cf8d0c.jpg width=320>

to

<img src=https://cloud.github

[2017-01-15 21:38] rye opened #590 "Top Menu Bar Button Alignment Off on Non-Default Font Sizes"
In the attached screenshots, you can see that the button and text in the top menu bar is/are misaligned.  My phone uses the "Small" Android Display font size, and I believe that is what causes this.  Shouldn't this be dynamically centered vertically, or is that not possible/easy?

I'm running version `2.0.0-beta.1`.

<img width=480 src=https://cloud.githubusercontent.com/assets/1566689/21966414/49

[2017-01-15 21:39] hawkrives commented on #590
You would think that it would be easy, wouldn't you? I would have expected that.

I'll take another stab at it and see if I can make the computer center them vertically instead of the current method of tweaking pixel values.

Thanks for reporting! We'll see if we can't get this fixed in the next release.

[2017-01-15 22:14] hawkrives commented on #590
@drewvolz, @elijahverdoorn We should remember to test v2.1 with alternate font sizes.

[2017-01-16 02:07] #533 closed, assigned to nobody

[2017-01-16 02:08] #502 closed, assigned to nobody

[2017-01-16 02:08] #514 closed, assigned to nobody

[2017-01-17 01:29] hawkrives opened #593 "Adjust Privacy Policy for GA collection"
As noted by @drewvolz

[2017-01-17 02:48] drewvolz commented on #501
I can confirm this behavior.

[2017-01-17 21:07] elijahverdoorn commented on #544
I'm going to focus on getting this release done, but I'd encourage @zimmer18 or @ekmanzu to take a look!

[2017-01-17 21:53] hawkrives commented on #486
I am working on a refactoring of the Settings screen to make it use redux, which would solve both #220 and, as a side effect, also solves #501.

It's not quite ready, but I should be able to finish it up tonight /slash/ tomorrow and put it up for review tomorrow afternoon/evening.

I would request that we hold off on shipping until I have a chance to let you all see it? I understand if you'd rathe

[2017-01-17 21:58] hawkrives commented on #593
Although, @drewvolz, Oleville already uses GA on oleville.com, so _theoretically_ it's already covered in the policy?

[2017-01-18 16:47] hawkrives commented on #590
Me, in Slack:

[2017-01-18 19:25] elijahverdoorn commented on #486
@hawkrives I'd consider that a bugfix. I'll hold on shipping.

[2017-01-18 19:36] hawkrives commented on #486
Thanks.

[2017-01-18 19:53] elijahverdoorn commented on #543
I just did this one in #597.

[2017-01-18 20:39] elijahverdoorn commented on #401
I've been poking at this, at least to get some sort of sign-in going on, found [this](https://github.com/devfd/react-native-google-signin) repo, which is out of date and doesn't work with current versions of RN. Additionally, if I understand correctly, we still would have a problem sending this authentication to the SIS server even if we did get it working.

[2017-01-18 20:42] hawkrives commented on #401
That's my understanding, as well.

Did I ever show you the response I got from Craig and Rich, about Oauth stuffs?

[2017-01-18 20:48] elijahverdoorn commented on #401
Yeah, I think I saw that but have since forgotten what it said.

[2017-01-18 20:49] hawkrives commented on #401
Rich:

So, we need to do research on "two-legged oauth" and/or if we can request a token from Google's OAuth for the entire www.stolaf.edu domain, I guess.

[2017-01-18 20:50] elijahverdoorn commented on #401
Alright, down that rabbit hole I go I guess! 🐰

[2017-01-18 20:50] elijahverdoorn commented on #401
oops

[2017-01-18 22:11] hawkrives commented on #401
quick summary of the current auth flow:

1. https://www.stolaf.edu/sis/login.cfm
2. https://accounts.google.com/o/oauth2/auth?client_id=368607578799-f5geh8k6l3km5et1ufbtusikso5sb7rj.apps.googleusercontent.com&redirect_uri=https://www.stolaf.edu/sis/login.cfm&scope=https://www.googleapis.com/auth/userinfo.profile+email&state=&response_type=code&hd=stolaf.edu
3. https://www.stolaf.edu/sis/login.cfm?

[2017-01-19 13:24] hawkrives opened #601 "Analytics is not tracking custom dimensions"
Problem is that in https://github.com/StoDevX/AAO-React-Native/blob/master/analytics.js, we're just calling trackEvent, not trackEventWithCustomDimensions.

I remember that there was a problem somewhere with the custom dimensions, but I don't remember if it was after correctly setting up the custom dimensions on Google's side or not. .

Without fixing this, we won't know how people have arranged t

[2017-01-19 22:12] hawkrives commented on #593
I'd suggest just adding a chunk like

Just a little blurb.

[2017-01-19 22:17] hawkrives opened #604 "Touchable throws an error on Android 4.3"
![image](https://cloud.githubusercontent.com/assets/464441/22127672/944a4652-de62-11e6-8433-d549cb224594.png)

… because TouchableNativeBackground doesn't exist in the Android platform until 5.0, I think, with the advent of Material Design and ripples.

So. Going to go fix that now.

[2017-01-19 22:27] hawkrives commented on #604
![image](https://cloud.githubusercontent.com/assets/464441/22128010/34949684-de64-11e6-8a5a-4ae544f8c3a9.png)

Fixed :)

[2017-01-20 15:27] #601 closed, assigned to nobody

[2017-01-20 15:27] #604 closed, assigned to nobody

[2017-01-20 18:13] hawkrives commented on #506
I've got a simple solution for this, which @drewvolz and I have discussed before: hide the screen title if it's duplicated within the view.

[2017-01-20 18:36] hawkrives commented on #588
So.

I solved this yesterday by requesting the "unofficial transcript" page, which makes a single request to get all the courses.

That was working, yesterday.

Today, it returns … the current term.

I don't understand it. If I had to guess, `fetch(GRADES_PAGE, {method: 'POST', body: buildFormData({stnum: String(stnum), searchyearterm: '0'})})` isn't POSTing (or isn't POSTing the form) to the serv

[2017-01-20 18:43] hawkrives commented on #588
[code]
Form data:
[code]

So.

It POSTs correctly. But the server's not responding correctly…

(More cookies were included; I've removed them for privacy.)

[2017-01-20 18:45] hawkrives commented on #588
I have confirmed that making the request through cURL

[code]

returns the appropriate page.

[2017-01-20 18:47] hawkrives commented on #588
Even manually setting the user-agent to "All%20About%20Olaf/1 CFNetwork/808.2.16 Darwin/16.3.0" is still returning the proper page contents… there go my theories about it being tweaked to break us XD

[2017-01-21 00:49] #593 closed, assigned to nobody

[2017-01-21 00:58] #543 closed, assigned to zimmer18, erichkauffman

[2017-01-21 01:12] hawkrives commented on #590
@rye – I'm sorry, but I don't think this is going to make this release. Hopefully I can figure it out and we can cut another release with it fixed 😕

[2017-01-21 01:13] hawkrives commented on #588
so, another wrinkle – it works properly from the Android app.

<img src=https://cloud.githubusercontent.com/assets/464441/22170541/81f730cc-df44-11e6-99cc-a2e2bf396ec0.png width=320>

[2017-01-21 01:36] zimmer18 commented on #544
Added Registrar to list of offices.

[2017-01-21 02:14] zimmer18 commented on #544
Found hours for the below offices:

- OSA
- Conferences, Camps and Events
- Parking office
- Admissions
- Piper Center
- Business Office
- Registrar
- Financial Aid
- Pastor's Office
- CMIE

and will add these to the building hours

[2017-01-21 02:16] hawkrives commented on #544
I added a checklist to the OP and am checking them off from your list, @zimmer18, so we know what we still need to look for.

EDIT: Done checking things off.

[2017-01-21 02:20] hawkrives commented on #544
Oh, one note @zimmer18 (and @ekmanzu, @elijahverdoorn): you'll notice the numeric prefixes on the building hours files?

That's because the output JSON array is sorted alphabetically by the filename. The first number controls the "group"'s position in the array (making Food go first, for example); the second number is optional, and is only needed if you don't want alphabetical order for that secti

[2017-01-21 02:21] hawkrives commented on #544
I'm in Slack if you need any help with the data stuff.

[2017-01-21 02:21] hawkrives commented on #544
Also, followup question: do we want to pull the Helpdesk into Offices? It's already listed, under Help and Support.

[2017-01-21 02:33] zimmer18 commented on #544
I saw the numbering for the other hours and that all makes sense. Yes I think it makes the most sense for the offices to be organized alphabetically so I'm not adding the second number. I think the Helpdesk should stay where it already is because it makes more sense to look for it under Help and Support than Offices.

[2017-01-21 06:23] zimmer18 opened #609 "Listen to KSTO button error"
I just pressed the listen to KSTO button and this error appeared.

1 | 2
--|--
<img src="https://cloud.githubusercontent.com/assets/14142305/22172553/b311333a-df6f-11e6-9ed0-22b17234be5c.png" width=350 /> | <img src="https://cloud.githubusercontent.com/assets/14142305/22172552/b311040a-df6f-11e6-9ce0-be4ad8c7ad5d.png" width=350 />

[2017-01-21 06:50] drewvolz commented on #609
I think that is a simulator error only? Someone please correct me if I am wrong.

[2017-01-21 07:23] zimmer18 opened #611 "Daily Meals Left Incorrect"
I should have three meals left for the day because I've eaten none for the day. I think you might have your clock wrong because when this screenshot was taken I had eaten two meals for the previous day and it's currently early in the morning of the next.

![screen shot 2017-01-21 at 1 19 45 am](https://cloud.githubusercontent.com/assets/14142305/22172865/b6c1a34a-df77-11e6-8d61-3c6e6fe08092.png)

[2017-01-21 07:35] zimmer18 opened #612 "Missing Building Hours"
These three need to be added to building hours view:

- ~~Gender & Sexuality Center~~
- ~~Telecom~~
- ~~Bon App office~~

[2017-01-21 14:11] hawkrives commented on #611
Could you please check at https://www.stolaf.edu//apps/olecard/checkbalance/index.cfm ?

That's where we get that data from, and I can't see how we'd manage to parse an incorrect number.

Other question: is this on master, my refactoring, or both?

[2017-01-21 14:21] hawkrives commented on #609
It's a simulator error. When I tapped it on my phone, I was taken to the store.

[2017-01-21 16:32] zimmer18 commented on #611
I just checked the website and it's correct. It was incorrect really early this morning around 1am so maybe the site updates later in the morning.

[2017-01-21 17:30] drewvolz commented on #609
I suppose we could add a check to do nothing via the dev/production var.

[2017-01-21 17:32] hawkrives commented on #609
We're actually throwing that error

https://github.com/StoDevX/AAO-React-Native/blob/master/views/streaming/radio.js

If we just switch it to a console.warn, we'll be fine in Dev too.

[2017-01-21 17:33] drewvolz commented on #611
Ah. That would make sense. We have a few "between" times that data doesn't quite make sense. Good catch!

[2017-01-21 17:34] drewvolz commented on #609
👍

[2017-01-21 20:47] hawkrives commented on #544
Moved to #612 for the remaining offices

[2017-01-21 20:47] #544 closed, assigned to nobody

[2017-01-22 03:22] #609 closed, assigned to nobody

[2017-01-23 04:27] drewvolz commented on #611
I think we are able to close this. It is data we cannot control.

[2017-01-23 14:51] rye commented on #590
@hawkrives, there is a chance that this has something to do with the disparity between px, pt, dp, and sp.  If you're using px as your font size unit&mdash;or, if you're not specifying and the default for size measurements is px&mdash;then I think that'll cause this problem.  ([further reading](https://developer.mozilla.org/en-US/docs/Web/CSS/font-size), [more apposite](http://stackoverflow.com/qu

[2017-01-23 15:38] hawkrives commented on #590
Yeah. Problem is, React native uses px implicitly, I believe (or it might be pt on android). Point is, I get to give it a number, and no unit, so I can't control that. (The labels are also positioned with position:absolute, which leads to our title overlap issues on iOS... but they make use of that feature to do the transition animations between screens on iOS. Otherwise, I'd just be be able to do

[2017-01-23 15:42] #220 closed, assigned to hawkrives

[2017-01-23 15:42] #501 closed, assigned to nobody

[2017-01-23 15:58] hawkrives opened #622 "Building Hours are incorrectly marked as "open""
I've added a test to the app:

[code]

I have a branch that improves(?) the situation:

[code]

but, ah, it's not ready for PR yet. I think we might need to rethink how we handle these cases again…

[2017-01-23 15:59] #611 closed, assigned to nobody

[2017-01-23 18:05] elijahverdoorn commented on #590
I agree with @hawkrives about people not really caring about native-feeling apps. I think this is a symptom the comes from most of the developers of RN apps being web developers (with web react) that are making the transition to native, and they'd rather bring their ideas about how to do design with them from the web and skip learning the Material design / iOS design patterns. I think that there's

[2017-01-23 18:12] elijahverdoorn commented on #486
Seeing nothing more in the shipping hold category and not knowing of any outstanding issues, I'd like to make the cut at the current master if people are ok with that. (including #620)

[2017-01-23 18:16] hawkrives commented on #486
The only possible shipping hold I know of is #622. I'm also curious what your tests show for the Courses view, since my only account is special (fifth-year) which might be the source of the problems in #588.

[2017-01-23 19:05] #486 closed, assigned to hawkrives, drewvolz, elijahverdoorn

[2017-01-23 19:35] hawkrives opened #626 "Add Google Analytics opt-out switch"
We need an opt-out so that we are not forcing tracking on anyone.

[2017-01-24 20:16] #2 closed

[2017-01-24 20:16] #6 closed

[2017-01-24 20:16] #7 closed

[2017-01-26 16:48] hawkrives opened #635 "2.1.1 hotfix release"
- ~~#633~~
- ~~#634~~
- ~~#639~~
- ~~#642~~

[2017-01-26 16:53] hawkrives commented on #635
branch: [`v2.1.1`](https://github.com/StoDevX/AAO-React-Native/tree/v2.1.1)

[2017-01-26 16:56] hawkrives commented on #635
@elijahverdoorn I've cherry-picked today's commits onto v2.1.1, as well as the versioning commit.

[2017-01-26 17:07] elijahverdoorn commented on #635
@hawkrives Great. I'll try to build it this afternoon. We should pull the iOS release back and add this code in there too, it's going to be a problem there too and I don't want to have to wait on that review again.

[2017-01-26 17:07] hawkrives commented on #635
Yup, agreed.

[2017-01-26 23:38] drewvolz opened #640 "Add Student Orgs to app description"
Student orgs should be listed under the app description.

[2017-01-26 23:46] drewvolz opened #641 "Format changelog on app store"
Using the changelog from GitHub ended up stripping the formatting. It reads somewhat like a novel at the moment. I will suggest one to use.

---
_[removed b/c hawken did it better]_

[2017-01-26 23:46] drewvolz commented on #641
See hawken's comment below.

[2017-01-26 23:47] hawkrives commented on #641
Or just use this one that's already plain text to copy:

[code]

[2017-01-26 23:48] drewvolz commented on #641
Thank you

[2017-01-28 01:07] elijahverdoorn commented on #641
Here's a problem:
![screen shot 2017-01-27 at 7 04 38 pm](https://cloud.githubusercontent.com/assets/12042702/22392872/cc4ea66c-e4c3-11e6-9fb2-d1582dec1b51.png)

[2017-01-28 01:07] hawkrives commented on #641
oh i love that

[2017-01-28 01:08] hawkrives commented on #641
okay, so no unicode bold for the app store. give me a sec. i'll update when I've removed it.

[2017-01-28 01:10] hawkrives commented on #641
Updated the plain text changelog in https://github.com/StoDevX/AAO-React-Native/releases/tag/untagged-dd9fc6947264eb64002c

[2017-01-28 01:14] elijahverdoorn commented on #640
done this.

[2017-01-28 01:14] #640 closed, assigned to elijahverdoorn

[2017-01-28 01:14] elijahverdoorn commented on #641
We got this figured out.

[2017-01-28 01:14] #641 closed, assigned to elijahverdoorn

[2017-01-28 01:15] elijahverdoorn commented on #635
Uploaded to both platforms.

[2017-01-28 01:15] hawkrives commented on #641
for future reference: • is ok, emoji is 🔥, fancy unicode shenangians are ‼️.

[2017-01-28 01:16] hawkrives commented on #635
Close now or close when both are released?

[2017-01-28 02:21] elijahverdoorn commented on #635
@hawkrives I'll close it when released.

[2017-01-28 15:06] drewvolz opened #648 "rename the repository"
@hawkrives proposal

We would rename the old repo as well... maybe "legacy-all-about-olaf" or "old-all-about-olaf"

Thoughts?

[2017-01-28 15:10] hawkrives commented on #648
I'm for it. I like "old-all-about-olaf" for the old one.

[2017-01-28 15:24] elijahverdoorn commented on #648
Sounds good. @drewvolz rename the old and I'll do this one once that is done?

[2017-01-28 15:57] drewvolz commented on #648
Renamed the old. We're in the clear to rename this one.

[2017-01-28 16:33] elijahverdoorn commented on #648
Done

[2017-01-28 16:33] #648 closed, assigned to nobody

[2017-01-28 16:48] hawkrives commented on #648
[code]

[2017-01-28 16:49] drewvolz commented on #648
You beat me to that comment by half a second!

[2017-01-28 16:50] drewvolz commented on #648
Alternatively, just do a one-liner...

`git remote set-url origin https://github.com/StoDevX/all-about-olaf.git`

[2017-01-28 16:53] hawkrives commented on #648
sure, that works too 😝

[2017-01-29 03:49] drewvolz commented on #578
So... does the challenge arise from knowing on iOS when there is and when there is not a tabbar at the bottom of the view?

[2017-01-29 04:16] hawkrives commented on #578
In this case? It depends on if automaticallyAdjustContentInsets is implemented on View, or on ScrollView.

Although, now that I think about it, we might want to wrap NoticeView in a ScrollView - I like to play with rubber band effects on iOS while I wait.

[2017-01-29 07:58] drewvolz opened #651 "double build number in support email"
We changed the app version to include the build number. Will this also appear this way for production?

<img width="407" alt="before" src="https://cloud.githubusercontent.com/assets/5240843/22402691/d1ac1502-e5ce-11e6-8144-f8d72a81505f.jpg">

[2017-01-29 14:59] hawkrives commented on #651
No. The build number is only in the version in the automatic betas.

[2017-01-29 14:59] #651 closed, assigned to nobody

[2017-01-29 23:00] drewvolz opened #652 "app transport exceptions in oleville"
Hyperlinks need to be disabled within the Oleville section as they can lead to app transport exceptions for http domains that are not white listed within the app.

Is this the appropriate time to think about aggregating Oleville to the news portion of the app?

<img width="417" alt="Oleville ATS" src="https://cloud.githubusercontent.com/assets/5240843/22408777/c27c8f20-e64c-11e6-8fb2-c5c23215ebcf.

[2017-01-29 23:12] drewvolz opened #653 "Ensure analytics are enabled by default"
there's a chunk in init that makes sure they're set to be enabled by default, but I have a feeling it is not working the way we want it. I want to double check that it is indeed toggled true from a fresh download or a version update.

[2017-01-29 23:14] hawkrives commented on #652
Sure.

I'd also like to investigate either catching navigation events from the WebViews and opening them in a browser, or even using HTMLparser2 to avoid webviews entirely.

[2017-01-29 23:14] hawkrives commented on #653
This issue only applies to master. Analytics are permanently enabled on the current release.

[2017-01-29 23:27] drewvolz commented on #652
Absolutely, that is a great idea.

[2017-01-29 23:28] drewvolz commented on #653
Sorry -- meant to clarify that I am referencing the [analytics toggle](https://github.com/StoDevX/AAO-React-Native/pull/649) in beta settings.

[2017-02-01 13:06] hawkrives opened #655 "Rename Christiansen to Christiansen Hall"
It feels weird to have just Christiansen, instead of a multi-word name.

Thoughts?

[2017-02-01 13:32] drewvolz commented on #655
I am okay with the update.

[2017-02-03 15:15] hawkrives commented on #635
Both are now released.

[2017-02-03 15:15] #635 closed, assigned to elijahverdoorn

[2017-02-03 15:16] hawkrives commented on #626
Closed by https://github.com/StoDevX/AAO-React-Native/pull/649

[2017-02-03 15:16] #626 closed, assigned to nobody

[2017-02-03 15:30] hawkrives opened #660 "[RFC] Cage menu is blank (again)"
Over Christmas break, when we were building and finishing `fancy-menus`, the Cage listed all of their normal menu items for us. As soon as we shipped, though, they quit using them! @drewvolz emailed them, and they directed us to their PDF menus if we wanted to see the normal selection of food.

A bit of background: BonApp's menu api returns both a list of all food items used in the requested day r

[2017-02-03 15:42] drewvolz commented on #660
Constructing our own non-specials menu and indicating via a prop is most likely the best choice we have that comes to mind. I am happy with that option.

Dealing with bad hours data is unfortunate. We could try to reason with them directly? Point out dozens of institutions that do it correctly?

[2017-02-06 16:33] elijahverdoorn commented on #660
I can pressure them more from this end too. I agree with the proposed solution to the cage issue, and would like to point out that it currently says `No items to show. Try changing the filters` even though I don't have any filters on.

[2017-02-06 16:34] elijahverdoorn commented on #655
Fine by me.

[2017-02-06 16:40] hawkrives commented on #660
Yes, this is not a situation I expected to happen, so the logic for "no items" is only used after the filters have beeen applied...

[2017-02-06 18:26] hawkrives commented on #655
Anyone is welcome to PR this

[2017-02-06 20:33] #655 closed, assigned to nobody

[2017-02-07 17:13] hawkrives commented on #648
This wound up breaking the gh-pages URLs, which the shipping app relies on, so we reverted the change.

[2017-02-09 11:49] hawkrives opened #677 "Check I'm Here just rebranded to "Checkpoint by Presence""
See http://www.presence.io/blog/check-im-here-is-now-presence for more details.

We need to check the Student Orgs tab and update the URLs it requests. We should also submit an update to the app pretty quickly with the new URLs, because we don't know when the current ones will quit working.

[2017-02-09 13:50] drewvolz commented on #677
Additionally, maybe now is the time to add CodePush and/or centralize where URLs are fetched from so that we don't have to scramble to update the binary when a source changes its endpoint.

[2017-02-09 14:04] hawkrives commented on #677
I still say there's no point to having a list of URLs, as it's just (IMHO) more likely that the college will change providers for a service than that service moves its API endpoint.

[2017-02-09 14:38] drewvolz commented on #677
This is a scenario where it benefits us with a smooth changeover. We've also suffered when trying to rename the repo but could not in one action.

Google RSS to JSON converter bit the dust and we needed to simply change the URL. I understand that one was a code change as well but we can solve half the problem remotely without a new binary push. Not every source change involves an API change.

The

[2017-02-09 14:45] drewvolz commented on #677
CodePush would solve this.

[2017-02-09 15:05] hawkrives commented on #677
I'm good with Codepush. I'm still :-1: on a central list of URLs that we fetch every so often.

I still vote that we ship a 2.1.2 with the presence.io URLs, then focus on implementing Codepush for 2.2.

[2017-02-09 17:17] elijahverdoorn commented on #677
I was just notified of this change in a meeting last night, good catch.

I'm not totally against the idea of a list of URLs, that seems like a simple solution, but we've always intended to do CodePush so it might be time to just do that.

[2017-02-09 18:21] hawkrives opened #680 "Add Presence's Events listing to Calendar"
[code]

[code]

---

I'm thinking it'd be a new tab (do we already have five?), with a new backing component. We'd rename the current one to GoogleCalendarEventList, and make this one, like, PresenceIoEventList or something.

[2017-02-09 18:30] drewvolz commented on #680
There are two listings returned that show past event data.  We will need some parsing if we would like to render _only_ upcoming events.

Today is February 9 and these are dated January 20 and 22.

[code]

[2017-02-09 18:32] hawkrives commented on #680
Luckily, we can just pass those to `moment()` and it'll give us back a moment. Then we can just filter them.

Good catch, though.

[2017-02-09 19:21] elijahverdoorn commented on #680
I think this is a good idea. Since it's not urgent and we have a few good models for how this works, maybe we could mark it as good first change and close it for the time being?

[2017-02-09 19:56] hawkrives commented on #680
or "good first change" and leave it open, so we remember that it's here 😆

[2017-02-09 20:21] elijahverdoorn commented on #680
@hawkrives Fine with me.

[2017-02-11 14:17] hawkrives commented on #677
I'm going to close this, as we've updated the app for presence now.

[2017-02-11 14:17] #677 closed, assigned to nobody

[2017-02-12 23:53] drewvolz opened #695 "Conduct a Moment granularity audit"
**Problem**
 Moments (the thing that we use to compare datetimes) feel as if they're always a minute fast.

**Solution**
We should probably do an audit to make sure it compares by the minute and not anything more granular.

**Impact**
Everything that makes use of Moment for comparisons. Bus schedules, calendars, building hours, etc.

**Example**
6:00:02 pm is 4 minutes away from 6:05:00 pm, but we

[2017-02-13 00:08] drewvolz opened #696 "Cannot delete last character from username login field"
**Problem**
I'm playing with the St. Olaf login form in Settings. I can delete all but the first character of my username or password. Further investigation by @hawkrives reports that no redux action is fired when one tries to remove the last character.

We should investigate why no action is fired when the last character is removed.

**Impact**
Login form in settings

[2017-02-13 00:29] drewvolz commented on #696
In `login-credentials.js` looking at the `LoginField`, I noticed if I remove the first text check I can delete the remaining characters

old:   `onChangeText={text => text && this.props.onChangeUsername(text)}`
new: `onChangeText={text => this.props.onChangeUsername(text)}`

... and the same for password.

[2017-02-13 00:29] hawkrives commented on #696
I'm thinking we might want to investigate moving the test field state into the LoginField component, and out of redux.

And only fire the save whatever action when the fields are submitted / logged out.

[2017-02-13 00:30] hawkrives commented on #696
Wait. Did I actually have that check? Because yes, that would be the entire problem.

It won't fire if the string isnt truthy.

[2017-02-13 00:31] drewvolz commented on #696
Yep that check is there and looks to be the issue.

[2017-02-13 12:10] #696 closed, assigned to nobody

[2017-02-13 12:19] hawkrives commented on #167
@drewvolz found some neat stuff:

[http://stolaf-flash.streamguys.net:8091/radio](http://stolaf-flash.streamguys.net:8091/radio)

---

|status|returned condition|
---|---|
**UP** | `json.uplink` is true && `json.msgrate` > 25
**UP*** | `json.uplink` is true
**DOWN** | `json.uplink` is false
**# of listeners** | `json.counts.total`

[2017-02-13 12:20] hawkrives commented on #167
I guess we'd also want to add the Background Audio permission for iOS at some point.

[2017-02-13 14:49] hawkrives commented on #524
Slack's dependency page: https://slack.com/libs/ios

[2017-02-13 22:06] drewvolz commented on #68
I vote for the "ideal" scenario.

[2017-02-14 16:36] drewvolz opened #700 "Display status message if SIS login fails"
Ideally there would be a message indicated in the form that makes it known that the login info provided from a fresh attempt was incorrect.

Current status:
**Release**: incorrectly reports successful sign in
**Beta**: gives no notice of incorrect login beyond changing back to Sign In
**Ideal**: give notice of incorrect login

[2017-02-19 04:18] hawkrives opened #709 "Menu shows "try disabling filters" when no filters are enabled"
From @elijahverdoorn in #660:

[2017-02-19 18:08] #660 closed, assigned to nobody

[2017-02-20 04:48] hawkrives opened #712 "Pull app version from package.json"
We can't update the embedded app versions with CodePush, but I think we can update package.json, so let's move the app version in Settings from rn-device-info to package.json.

[2017-02-20 05:35] hawkrives opened #714 "Change from nightly betas to tagged-commit betas"

[2017-02-20 05:35] #653 closed, assigned to nobody

[2017-02-20 05:44] hawkrives opened #715 "Only persist login credentials when submitting the login form"
Instead, it should only send the credentials to redux when the form is submitted.

When the form is being edited, the credentials should be local state variables.

This will als fix the bug of you changing the username, but not submitting, leaving the app, and coming back and having the app fail because it's now using the new wrong username.

[2017-02-20 05:44] hawkrives opened #716 "St. Olaf WP-JSON plugin returns "WPDefender" after a few reloads"
I should contact Dan to see if we can change that.

[2017-02-20 05:45] hawkrives commented on #716
To replicate: open the News tab and St. Olaf, then reload a few times quickly.

[2017-02-20 05:46] hawkrives opened #717 "No event is sent for the first tab when opening a tabbed view"
Analytics sends events when people switch tabs, but it doesn't send one for the first tab.

We should fix that.

[2017-02-20 20:32] #652 closed, assigned to nobody

[2017-02-20 20:33] #520 closed, assigned to nobody

[2017-02-20 20:40] hawkrives opened #721 "Allow links in News articles to open in SFWebView/ChromeCustomTabs"
Currently, we disable any hyperlinks in News articles.

I'd prefer to catch navigation events from the NewsDetail WebView, and call the appropriate embedded browser view (SFWebView or Chrome Custom Tabs, as appropriate) so that the user can actually view the links.

I'd like to at least link the libraries before we ship the next version, so that we can enable them later on via CodePush.

[2017-02-20 20:43] #721 closed, assigned to nobody

[2017-02-20 20:43] hawkrives commented on #721
Closed as a duplicate of #68

[2017-02-20 20:43] hawkrives commented on #68
In #721, I said this:

---

Currently, we disable any hyperlinks in News articles.

I'd prefer to catch navigation events from the NewsDetail WebView, and call the appropriate embedded browser view (SFWebView or Chrome Custom Tabs, as appropriate) so that the user can actually view the links.

I'd like to at least link the libraries before we ship the next version, so that we can enable them later

[2017-02-20 20:45] hawkrives commented on #68
Links for embedded browsers:

SFViewController: https://www.npmjs.com/package/react-native-safari-view
Chrome Custom Tabs: https://www.npmjs.com/package/react-native-custom-tabs

[2017-02-20 20:53] hawkrives commented on #68
Looking at the [WebView example](https://facebook.github.io/react-native/docs/webview.html),

[code]

The API for both of the native browser components looks something like

[code]

so my proposal for linking them together is pretty much call `.show(navState.url)`.

I explicitly do not want to replace our current WebView system, only enhance it: we cannot provide custom HTML to either native webvi

[2017-02-20 20:54] hawkrives commented on #68
(We'll also want to use the `.isAvailable()` method on the SFWebView component, as I don't think that SFWebView was around on iOS 8 and I know that we've got … 3 people? still back there.)

[2017-02-23 01:32] #68 closed, assigned to drewvolz

[2017-02-23 01:34] #712 closed, assigned to nobody

[2017-02-23 07:56] drewvolz opened #739 "Scrolling broken on important contacts"
Removing the ScrollView from important contacts in #730 broke scrolling. The ListView does not scroll at this point in time.

[2017-02-23 12:20] hawkrives commented on #739
To clarify: it scrolls, but feels like the scroll container is the size of the screen, as the list always snaps back into place.

[2017-02-23 12:22] #695 closed, assigned to drewvolz

[2017-02-23 12:25] hawkrives opened #741 "Automatic disabling of the "Only Specials" filter doesn't take multiple menus into account"
I think this is fallout of the menu picker PR.

[2017-02-23 12:26] hawkrives opened #742 "Version is reported as "2.1.2" in beta"
It should be 2.1.2.$build

Is the beta process not incrementing the number in package.json?

[2017-02-23 12:27] hawkrives opened #743 "Make all big-blue-buttons use components/button"
- [x] Other Modes
- [x] Android Map
- [x] KSTO